<div class="op-tab-content--container">
  <section data-qa-selector="op-tab-content--tab-section">
    <div *ngIf="(canViewFileLinks$ | async) === true" class="op-tab-content--header">
      <h3 class="op-tab-content--header-text" [textContent]="text.attachments.label"></h3>
    </div>

    <op-attachment-list [resource]="workPackage"></op-attachment-list>

    <op-attachments-upload [resource]="workPackage"></op-attachments-upload>
  </section>

  <section *ngFor="let storage of storages$ | async" data-qa-selector="op-tab-content--tab-section">
    <div class=op-tab-content--header>
      <op-icon icon-classes="icon3 icon-nextcloud-circle op-files-tab--color-blue-deep"></op-icon>
      <h3 class="op-tab-content--header-text" [textContent]="storage.name"></h3>
    </div>

    <op-file-link-list
      [resource]="workPackage"
      [storage]="storage"
    ></op-file-link-list>
  </section>
</div>
