<h3><%= l(:label_deliverable_plural) %></h3>

<%= link_to_if_authorized l(:label_deliverable_new), {:action => 'new', :project_id => @project } %><br />
<%= link_to l(:label_view_all_deliverables), {:action => 'index'} %><br />
