@media screen and (max-width: 679px)
  .op-datepicker-modal
    height: initial
    max-width: 300px
    &--dates-container
      grid-template-columns: 1fr 1fr

    &--date-form
      &:only-child
        grid-column: 1 / 3
