<% if can_users_have_auth_source? %>
  <div class="form--field">
    <% sources = ([[t(:label_internal), ""]] + AuthSource.pluck(:name, :id)) %>
    <%= f.select :auth_source_id, sources, label: :'activerecord.attributes.user.auth_source', container_class: '-middle'  %>
  </div>

  <div class="form--field" id="new_user_login" style="display: none;">
    <%= f.text_field :login, required: true, size: 25, disabled: true %>
  </div>
<% end %>