<% unless @auth_sources.empty? || OpenProject::Configuration.disable_password_login? %>
  <div class="form--field">
    <% sources = ([[t(:label_internal), ""]] + @auth_sources.collect { |a| [a.name, a.id] }) %>
    <%= f.select :auth_source_id, sources, label: :'activerecord.attributes.user.auth_source', container_class: '-middle'  %>
  </div>

  <div class="form--field" id="new_user_login" style="display: none;">
    <%= f.text_field :login, required: true, size: 25, disabled: true %>
  </div>
<% end %>