<span class="inplace-edit--read-value--container">

  <span class="hidden-for-sighted __d__hidden-for-sighted"></span>

  <span class="wp-table--cell-span inplace-edit--read-value--value __d__cell"
        ng-switch="::$ctrl.displayType"
        ng-click="$ctrl.activateIfEditable($event)"
        data-click-on-keypress="[13, 32]"
        focus="$ctrl.shouldFocus()"
        ng-attr-tabindex="{{$ctrl.isEditable() ? '0' : '-1'}}"
        ng-class="{ '-placeholder' : $ctrl.isEmpty }"
        aria-labelledby="{{$ctrl.labelId}}">

    <ng-include src="::$ctrl.field.template"></ng-include>
  </span>
</span>
