<span class="inplace-edit--read-value--container">
  <span class="hidden-for-sighted"
        ng-attr-id="{{$ctrl.labelId}}">
    {{ ::$ctrl.label }} {{ $ctrl.displayText }}
  </span>
  <span class="wp-table--cell-span inplace-edit--read-value--value"
        ng-switch="$ctrl.displayType"
        ng-click="$ctrl.activateIfEditable($event)"
        data-click-on-keypress="[13, 32]"
        focus="$ctrl.shouldFocus()"
        ng-attr-tabindex="{{$ctrl.isEditable() ? '0' : '-1'}}"
        ng-class="{ '-placeholder' : $ctrl.isEmpty }"
        aria-labelledby="{{$ctrl.labelId}}">
    <progress-bar ng-switch-when="Percent"
                  progress="$ctrl.displayText"
                  width="80px">
    </progress-bar>

    <span ng-switch-when="SelfLink" title="{{ $ctrl.displayText }}">
      <a ng-href="{{ $ctrl.displayLink }}">{{ $ctrl.displayText }}</a>
    </span>

    <span
        title="{{ $ctrl.displayText }}"
        class="cell-span--value"
        ng-switch-default >
      <span ng-if="$ctrl.isDisplayAsHtml" ng-bind-html="$ctrl.displayText"></span>
      <span ng-if="!$ctrl.isDisplayAsHtml" ng-bind="$ctrl.displayText"></span>
    </span>
</span>
</span>
