ng-select.wp-inline-create--reference-autocompleter
  border: none

  .ng-clear-wrapper
    display: none
    
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input 
  position: inherit

.ng-dropdown-panel.ng-select-bottom 
  dispalay: inline-table