<h3 class="widget-box--header" cdkDragHandle>
  <span class="grid--area-drag-handle
               icon
               icon-drag-handle"
        cdkDragHandle></span>

  <i class="icon-context icon-calendar" aria-hidden="true"></i>

  <editable-toolbar-title [title]="widgetName"
                          (onSave)="renameWidget($event)"
                          class="widget-box--header-title">
  </editable-toolbar-title>

  <widget-menu
      [resource]="resource">
  </widget-menu>
</h3>

<ng-container wp-isolated-query-space>
  <wp-calendar [static]="true"></wp-calendar>
</ng-container>
