<div data-controller="sort-by-config" data-application-target="dynamic">
  <%= text_field_tag :sortBy, current_orders, data: { "sort-by-config-target" => "sortByField" } %>
  <%= render(Primer::OpenProject::FlexLayout.new(data: { "sort-by-config-target" => "inputRowContainer" })) do |layout| %>
    <% order_limit.times do |i| %>
      <% layout.with_row do %>
        <%= render(Queries::SortByFieldComponent.new(order: query.orders[i], available_orders:, index: i)) %>
      <% end %>
    <% end %>
  <% end %>
</div>
