<div class="inplace-edit--dashboard">
  <div class="inplace-edit--controls">
    <button
      type="button"
      class="inplace-edit--control inplace-edit--control--save"
      [disabled]="(field.required && field.isEmpty()) || undefined"
      [attr.aria-label]="saveTitle"
      (click)="save()"
    >
      <span class="spot-icon spot-icon_checkmark"></span>
    </button>
    <button
      type="button"
      class="inplace-edit--control inplace-edit--control--cancel"
      [attr.aria-label]="cancelTitle"
      (click)="cancel()"
    >
      <span class="spot-icon spot-icon_close"></span>
    </button>
</div>
</div>
