<h1>Buttons</h1>
<button class="spot-button">Default</button>
<button class="spot-button spot-button_main">Main</button>
<button class="spot-button spot-button_accent">Accent</button>
<button class="spot-button spot-button_danger">Danger</button>
<button class="spot-button" disabled>Disabled</button>

<hr>

<button class="spot-button spot-button_outlined">Default</button>
<button class="spot-button spot-button_outlined spot-button_main">Main</button>
<button class="spot-button spot-button_outlined spot-button_accent">Accent</button>
<button class="spot-button spot-button_outlined spot-button_danger">Danger</button>
<button class="spot-button spot-button_outlined" disabled>Disabled</button>

<hr>

<button class="spot-button spot-button_basic">Default</button>
<button class="spot-button spot-button_basic spot-button_main">Main</button>
<button class="spot-button spot-button_basic spot-button_accent">Accent</button>
<button class="spot-button spot-button_basic spot-button_danger">Danger</button>
<button class="spot-button spot-button_basic" disabled>Disabled</button>

<h1>Toggles</h1>

<spot-toggle
  [options]="toggleOptions"
  [(ngModel)]="toggleValue"
></spot-toggle>
Currently selected value is {{ toggleValue }}

<h1>Checkbox</h1>

<label>
  <spot-checkbox></spot-checkbox> Unchecked
</label>

<label>
  <spot-checkbox [checked]="true"></spot-checkbox> Checked
</label>

<label>
  <spot-checkbox [disabled]="true"></spot-checkbox> Disabled
</label>

<label>
  <spot-checkbox
    [checked]="true"
    [disabled]="true"
  ></spot-checkbox> Disabled checked
</label>

<label>
  <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
  Currently {{ checkboxValueString() }}
</label>

<label>
  <spot-checkbox
    [(ngModel)]="checkboxValue"
    [disabled]="true"
  ></spot-checkbox>
  Currently {{ checkboxValueString() }}
</label>

<h1>Lists</h1>

<ul class="spot-list">
  <li class="spot-list--item">
    <label class="spot-list--item-action">
      <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
      <div class="spot-list--item-title">Checkbox item</div>
    </label>
  </li>
  <li class="spot-list--item">
    <label class="spot-list--item-action">
      <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
      <div class="spot-list--item-title">Checkbox item with children</div>
    </label>
    <ul class="spot-list">
      <li class="spot-list--item">
        <label class="spot-list--item-action">
          <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
          <div class="spot-list--item-title">Child checkbox item</div>
        </label>
      </li>
      <li class="spot-list--item">
        <label class="spot-list--item-action">
          <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
          <div class="spot-list--item-title">Second child checkbox item</div>
        </label>
      </li>
    </ul>
  </li>
</ul>

<h1>Filter Chip</h1>

<spot-filter-chip
  title="Default chip"
  (remove)="onRemoveChip()"
></spot-filter-chip>
<spot-filter-chip
  [removable]="false"
  title="Unremovable chip"
></spot-filter-chip>

<h1>Text Field</h1>

<input
  class="spot-text-field"
  placeholder="Placeholder value"
/>

<input
  class="spot-text-field"
  value="Test value"
/>

<spot-text-field
  placeholder="Placeholder value"
  value="Test value"
></spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
></spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="after"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="before"
    class="op-icon icon-bell"
  ></span>
  <span
    slot="after"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="before"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>

<h1>Chip Field</h1>

<spot-chip-field
  placeholder="Type and press enter"
></spot-chip-field>

<h1>Drop Modal</h1>

<select [(ngModel)]="alignment">
  <option>bottom-center</option>
  <option>bottom-left</option>
  <option>bottom-right</option>
  <option>top-center</option>
  <option>top-left</option>
  <option>top-right</option>
</select>

<spot-drop-modal
  [open]="dropModalOpen"
  [alignment]="alignment"
  (closed)="dropModalOpen = false"
>
  <button
    slot="trigger"
    type="button"
    class="spot-button spot-button_main"
    (click)="dropModalOpen = !dropModalOpen"
  >Open Modal</button>
  <ng-container slot="body">
    <h1>Test</h1>
  </ng-container>
</spot-drop-modal>

<h1>Action Bar</h1>

<div class="spot-action-bar">
  <div class="spot-action-bar--left">
    <button class="spot-button spot-button_outlined spot-button_main">
      Independent action
    </button>
  </div>
  <div class="spot-action-bar--right">
    <button class="spot-button spot-button_outlined spot-button_main">
      Some Action
    </button>
    <button class="spot-button spot-button_main">
      Another Action
    </button>
  </div>
</div>
