<h1>Buttons</h1>
<button class="spot-button">Default</button>
<button class="spot-button spot-button_primary">Primary</button>
<button class="spot-button spot-button_secondary">Secondary</button>
<button class="spot-button spot-button_alert">Alert [Not implemented]</button>
<button class="spot-button" disabled>Disabled</button>

<hr>
<button class="spot-button spot-button_outlined">Default</button>
<button class="spot-button spot-button_outlined spot-button_primary">Primary</button>
<button class="spot-button spot-button_outlined spot-button_secondary">Secondary</button>
<button class="spot-button spot-button_outlined spot-button_alert">Alert [Not implemented]</button>
<button class="spot-button spot-button_outlined" disabled>Disabled</button>

<h1>Checkbox</h1>

<label>
  <spot-checkbox></spot-checkbox> Unchecked
</label>

<label>
  <spot-checkbox [checked]="true"></spot-checkbox> Checked
</label>

<label>
  <spot-checkbox [disabled]="true"></spot-checkbox> Disabled
</label>

<label>
  <spot-checkbox [disabled]="true"></spot-checkbox> Disabled checked
</label>

<label>
  <spot-checkbox [(ngModel)]="checkboxValue"></spot-checkbox>
  Currently {{ checkboxValueString() }}
</label>

<label>
  <spot-checkbox
    [(ngModel)]="checkboxValue"
    [disabled]="true"
  ></spot-checkbox>
  Currently {{ checkboxValueString() }}
</label>

<h1>Filter Chip</h1>

<spot-filter-chip
  title="Default chip"
  (remove)="onRemoveChip()"
></spot-filter-chip>
<spot-filter-chip
  [removable]="false"
  title="Unremovable chip"
></spot-filter-chip>

<h1>Text Field</h1>

<input
  class="spot-text-field"
  placeholder="Placeholder value"
/>

<input
  class="spot-text-field"
  value="Test value"
/>

<spot-text-field
  placeholder="Placeholder value"
  value="Test value"
></spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
></spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="after"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="before"
    class="op-icon icon-bell"
  ></span>
  <span
    slot="after"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>

<spot-text-field
  placeholder="Placeholder value"
  [(ngModel)]="textFieldValue"
>
  <span
    slot="before"
    class="op-icon icon-bell"
  ></span>
</spot-text-field>


<h1>Chip Field</h1>

<spot-chip-field
  placeholder="Type and press enter"
></spot-chip-field>
