<% if @license.present? && LicenseService.instance.present? %>
<div class="promote-ee">
  <h4><%= t('admin.licenses.active_license') + ":" %></h4>

  <div class="notification-box">
    <div class="notification-box--content">
      <pre class="license"><%= LicenseService.instance.attributes.to_yaml.gsub(/---\n/,'') %></pre>
    </div>
    <%= link_to l(:button_delete), license_path(@license), data: { confirm: l(:text_are_you_sure) }, method: :delete, remote: true, class: 'icon icon-delete' %>
  </div>
</div>
<% end %>
