<h2><%=l(:label_auth_source_new)%> (<%= @auth_source.auth_method_name %>)</h2>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_create) %>
<%= end_form_tag %>
