<div class="dropdown dropdown-relative dropdown-anchor-right dropdownToolbar" id="settingsDropdown">
  <!-- The hrefs with empty URLs are necessary for IE10 to focus these links
  properly. Thus, don't remove the hrefs or the empty URLs! -->
  <ul class="dropdown-menu" ng-if="loading">
    <li>
      <span class="menu-item">
        {{ text.loading }}
      </span>
    </li>
  </ul>
  <ul class="dropdown-menu" ng-if="!loading">
    <li>
      <a class="menu-item" href="" ng-click="showColumnsModal($event)">
        <op-icon icon-classes="icon-action-menu icon-columns"></op-icon>
        {{ I18n.t('js.toolbar.settings.columns') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="showSortingModal($event)">
      <op-icon icon-classes="icon-action-menu icon-sort-by"></op-icon>
      {{ I18n.t('js.toolbar.settings.sort_by') }}</a></li>
    <li>
       <a class="menu-item"
          href
          ng-attr-title="{{ text.group_by_title() }}"
          ng-click="showGroupingModal($event)">
         <op-icon icon-classes="icon-action-menu icon-group-by"></op-icon>
          {{ I18n.t('js.toolbar.settings.group_by') }}
       </a>
    </li>
    <li>
      <a class="menu-item" href="" ng-click="toggleDisplaySums($event)">
        <op-icon ng-if="displaySums" icon-classes="icon-action-menu icon-checkmark"></op-icon>
        <op-icon ng-if="!displaySums" icon-classes="icon-action-menu no-icon"></op-icon>
        <accessible-element visible-text="I18n.t('js.toolbar.settings.display_sums')"
                            readable-text="displaySumsLabel">
        </accessible-element>
      </a>
    </li>
    <li>
      <a ng-if="displayHierarchies" class="menu-item" href ng-click="toggleHierarchies($event)">
        <op-icon ng-if="displayHierarchies" icon-classes="icon-action-menu icon-hierarchy"></op-icon>
        <span ng-bind="::I18n.t('js.toolbar.settings.hide_hierarchy')"></span>
      </a>
      <a ng-if="!displayHierarchies"
         ng-attr-title="{{ text.hierarchy_title() }}"
         class="menu-item"
         href
         ng-click="toggleHierarchies($event)">
        <op-icon ng-if="!displayHierarchies" icon-classes="icon-action-menu icon-no-hierarchy"></op-icon>
        <span ng-bind="::I18n.t('js.toolbar.settings.display_hierarchy')"></span>
      </a>
    </li>

    <li class="dropdown-divider"></li>

    <li><a class="menu-item" href="" ng-click="saveQuery($event)"
           inaccessible-by-tab="saveQueryInvalid()"
           ng-class="{'inactive': saveQueryInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-save"></op-icon>
      {{ I18n.t('js.toolbar.settings.save') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="showSaveAsModal($event)"
           inaccessible-by-tab="showSaveAsModalInvalid()"
           ng-class="{'inactive': showSaveAsModalInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-save"></op-icon>
      {{ I18n.t('js.toolbar.settings.save_as') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="deleteQuery($event)"
           inaccessible-by-tab="deleteQueryInvalid()"
           ng-class="{'inactive': deleteQueryInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-delete"></op-icon>
      {{ I18n.t('js.toolbar.settings.delete') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="showExportModal($event)"
           inaccessible-by-tab="showExportModalInvalid()"
           ng-class="{'inactive': showExportModalInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-export"></op-icon>
      {{ I18n.t('js.toolbar.settings.export') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="showShareModal($event)"
           inaccessible-by-tab="showShareModalInvalid()"
           ng-class="{'inactive': showShareModalInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-publish"></op-icon>
      {{ I18n.t('js.toolbar.settings.publish') }}</a>
    </li>
    <li><a class="menu-item" href="" ng-click="showSettingsModal($event)"
           inaccessible-by-tab="showSettingsModalInvalid()"
           ng-class="{'inactive': showSettingsModalInvalid()}">
      <op-icon icon-classes="icon-action-menu icon-settings"></op-icon>
      {{ I18n.t('js.toolbar.settings.page_settings') }}</a>
    </li>

    <li class="dropdown-divider" ng-if="queryCustomFields || configureFormLink"></li>

    <li ng-if="queryCustomFields">
      <a class="menu-item" href="{{queryCustomFields.href}}">
        <op-icon icon-classes="icon-action-menu icon-custom-fields"></op-icon>
        {{ queryCustomFields.name }}
      </a>
    </li>
    <li>
      <a class="menu-item"
         href=""
         ng-disabled="!timelinesVisible"
         ng-click="showTimelinesModal($event)">
        <op-icon icon-classes="icon-action-menu icon-view-timeline"></op-icon>
        {{ I18n.t('js.timelines.gantt_chart') }} ...</a>
      </a>
    </li>
  </ul>
</div>
