<div ng-if="$ctrl.workPackage" class="wp-new-top-row">
  <div class="work-packages--status-selector wp-new-top-row--element">
    <wp-edit-field work-package-id="$ctrl.workPackage.id"
                   wrapper-classes="'wp-new-top-row--status -no-label'"
                   field-name="'status'">
    </wp-edit-field>
  </div>
  <div class="work-packages--type-selector wp-new-top-row--element">
    <wp-edit-field work-package-id="$ctrl.workPackage.id"
                   wrapper-classes="'wp-new-top-row--type -no-label'"
                   field-name="'type'">
    </wp-edit-field>
  </div>
</div>
