.members-widget--notification
  font-style: italic
  margin-top: 0.5rem

.grid--widget-footer
  margin-top: 0.5rem

  .button
    margin-bottom: 0

.attributes-map
  padding-bottom: 0.875rem
  line-height: 1.5rem
