<%= error_messages_for 'message' %>

<div class="box">
<!--[form:message]-->
<p><label><%= l(:field_subject) %></label><br />
<%= f.text_field :subject, :required => true, :size => 120 %></p>

<p><%= f.text_area :content, :required => true, :cols => 80, :rows => 15, :class => 'wiki-edit' %></p>
<%= wikitoolbar_for 'message_content' %>
<!--[eoform:message]-->

<span class="tabular">
<%= render :partial => 'attachments/form' %>
</div>
