Issue #<%= @issue.id %> has been updated to "<%= @issue.status.name %>" status.
----------------------------------------
<%= render :file => "_issue", :use_full_path => true, :locals => { :issue => @issue } %>