<op-notifications-settings-toolbar></op-notifications-settings-toolbar>
<form
  [formGroup]="form"
  (ngSubmit)="saveChanges()"
>
  <h2>Notify me immediately</h2>
  <p>These settings apply to all projects. You can create project-specific exceptions below.</p>

  <op-checkbox-field label="I am @Mentioned">
      <input
        disabled
        checked
        type="checkbox"
        slot="input"
      />
      <p slot="description">Receive a notification every time someone mentions me anywhere</p>
  </op-checkbox-field>
  
  <op-checkbox-field
    label="Assigned to me or accountable"
    [control]="form.get('assignedToMeOrAccountable')"
  >
    <input
      slot="input"
      type="checkbox"
      formControlName="assignedToMeOrAccountable"
    />
    <p slot="description">
      Receive notifications for all activities on work packages for which I am assignee or accountable.
    </p>
  </op-checkbox-field>

  <h2>Also notify me for</h2>
  <p>Receive notifications for these activities on work packages in all projects:</p>

  <op-checkbox-field>
      <input
        disabled
        checked
        type="checkbox"
        slot="input"
      />
      <p slot="description">Updates on watched items</p>
  </op-checkbox-field>

  <op-checkbox-field [control]="form.get('newWorkPackages')">
    <input
      slot="input"
      type="checkbox"
      formControlName="newWorkPackages"
    />
    <p slot="description">New work packages</p>
  </op-checkbox-field>

  <op-checkbox-field [control]="form.get('allStatusChanges')">
    <input
      slot="input"
      type="checkbox"
      formControlName="allStatusChanges"
    />
    <p slot="description">All status changes</p>
  </op-checkbox-field>

  <op-checkbox-field [control]="form.get('allDateChanges')">
    <input
      slot="input"
      type="checkbox"
      formControlName="allDateChanges"
    />
    <p slot="description">All date changes</p>
  </op-checkbox-field>

  <op-checkbox-field [control]="form.get('allPriorityChanges')">
    <input
      slot="input"
      type="checkbox"
      formControlName="allPriorityChanges"
    />
    <p slot="description">All priority changes</p>
  </op-checkbox-field>

  <op-checkbox-field [control]="form.get('allNewComments')">
    <input
      slot="input"
      type="checkbox"
      formControlName="allNewComments"
    />
    <p slot="description">All new comments</p>
  </op-checkbox-field>

  <hr />

  <h2>Project-specific notification settings</h2>
  <p>These project-specific settings override default settings above</p>
  
  <op-notification-settings-table
    *ngIf="userId"
    [userId]="userId"
  ></op-notification-settings-table>

  <div class="generic-table--action-buttons">
    <button
      class="button -highlight"
      [textContent]="text.save"
      type="submit"
    ></button>
  </div>
</form>

