.progress-form
  .input--readonly
    background-color: unset !important
    border: none !important
    box-shadow: none !important

  @media screen and (max-width: $breakpoint-sm)
    .FormControl-horizontalGroup
      flex-direction: column
