<h3 class="widget-box--header">
  <%= op_icon("icon-context icon-#{icon} widget-box--header-icon") %>
  <div class="widget-box--header-title title-container">
    <h2 class="editable-toolbar-title--fixed"><%= title %></h2>
  </div>
</h3>
