<h3 class="widget-box--header">
  <%= op_icon('icon-star') %>
  <span class="widget-box--header-title"><%= t(:label_new_features) %></span>
</h3>

<homescreen-new-features-block></homescreen-new-features-block>
