<h3 class="widget-box--header">
  <span class="icon-context icon-cart"></span>
  <span class="widget-box--header-title">Upgrade to Enterprise Edition</span>
</h3>

<%= image_tag "enterprise_edition.png", class: "widget-box--teaser-image" %>

<p>Boost your productivity with the Enterprise Edition</p>

<ul class="widget-box--feature-list">
  <li>
    Additional powerful premium features
  </li>
  <li>
    Professional support from the OpenProject experts
  </li>
</ul>

<div class="widget-box--blocks--buttons">
  <%= link_to "https://www.openproject.org/enterprise?utm_source=ce-homescreen",
        { class: 'button -alt-highlight',
          aria: {label: "More information"},
          title: "More information"} do %>
    <i class="button--icon icon-info2"></i>
    <span class="button--text">More information</span>
  <% end %>
