.color--swatch
  border: 1px solid var(--borderColor-default)
  border-radius: var(--borderRadius-small)
  display: inline-block
  min-height: var(--base-size-12)
  min-width: var(--base-size-12)

  &-with-value
    align-items: center
    display: inline-flex
    gap: var(--base-size-8)
