<div data-controller="filters"
     data-application-target="dynamic"
     data-filters-display-filters-value="false"
     data-filters-output-format-value="params">
  <%= render ::Filter::FilterButtonComponent.new(query: query) %>
  <%= render Projects::ProjectsFiltersComponent.new(query: query) %>
</div>
