<div data-controller="filter--filters-form"
     data-application-target="dynamic"
     data-filter--filters-form-display-filters-value="false"
     data-filter--filters-form-output-format-value="params">
  <%= render ::Filter::FilterButtonComponent.new(query: query) %>
  <%= render Projects::ProjectsFiltersComponent.new(query: query) %>
</div>
