<div class="ng-modal-window columns-modal loading-indicator--location"
     data-indicator-name="modal">
  <div class="ng-modal-inner" tabindex="0">
    <div class="modal-header">
      <a>
        <i
            class="icon-close"
            (click)="closeMe()"
            [attr.title]="text.closePopup">
        </i>
      </a>
    </div>

    <h3 [textContent]="text.columnsLabel"></h3>

    <div class="columns-modal-content select2-modal-content"
        *ngIf="!impaired">

    </div>

    <div
        class="columns-modal-content select2-modal-content"
        *ngIf="impaired">
      <label
          for="selected_columns"
          [textContent]="text.selectedColumns"
          class="hidden-for-sighted">
      </label>

      <div *ngFor="let column of availableColumns; let first = first;">
        <label class="form--label-with-check-box" for="column-{{column.id}}">
          <div class="form--check-box-container">
            <input id="column-{{column.id}}"
                   type="checkbox"
                   title="{{ column.name }}"
                   [(ngModel)]="selectedColumnMap[column.id]"
                   (ngModelChange)="setSelectedColumn(column)"
                   focus="first" />
          </div>
          {{column.name}}
        </label>
      </div>
    </div>
    <div *ngIf="eeShowBanners" class="ee-relation-columns-upsale">
      {{text.upsaleRelationColumns}}
      <a href="https://www.openproject.org/enterprise-edition/?op_edtion=community-edition&op_referrer=wp-list-columns#relations"
         target='blank'
         [textContent]="text.upsaleRelationColumnsLink"></a>
    </div>
    <div>
      <button class="button -highlight"
              [textContent]="text.applyButton"
              (click)="updateSelectedColumns()">
      </button>
      <button class="button"
              [textContent]="text.cancelButton"
              (click)="closeMe()">
      </button>
    </div>
  </div>
</div>
