.grid--container
  display: grid
  grid-column-gap: 20px
  grid-row-gap: 20px

.grid--area
  overflow: hidden

  &.-drop-target, &.-resize-target
    background-color: rgba(10, 10, 10, 0.1)

  &.-resize-target
    z-index: 1000

  &.-widgeted
    z-index: 10

  &.-resizing
    border: 1px solid red
    z-index: 100
