
[uib-typeahead-popup].dropdown-menu
  position: absolute
  margin: 0
  z-index: 100
  list-style: none
  background: white
  border: 1px solid rgba(0,0,0,.15)
  border-radius: 4px
  box-shadow: 0 6px 12px rgba(0,0,0,.175)

  .uib-typeahead-match
    padding: 10px 5px

    &.active
      background: $primary-color-dark

      a
        color: $font-color-on-primary-dark

