$typography-font-small: 0.8125rem
$typography-font-medium: 0.875rem
$typography-font-large: 1rem
$typography-font-xlarge: 1.0625rem
$typography-font-xxlarge: 1.125rem

.font-small
  font-size: $typography-font-small

.font-medium
  font-size: $typography-font-medium

.font-large
  font-size: $typography-font-large

.font-xlarge
  font-size: $typography-font-xlarge

.font-xxlarge
  font-size: $typography-font-xxlarge
