.avatar, .gravatar
  border-radius: $user_avatar_border_radius
  width: $user_avatar_width

.avatar-mini
  border-radius: $user_avatar_mini_border_radius
  width: $user_avatar_mini_width

h1, h2, h3, h4, tr
  .avatar, .avatar-mini
    vertical-align: middle
    margin-right: 7px
