#watchers
  img
    vertical-align: middle
    margin-right: 7px

  .delete
    vertical-align: sub

  li
    list-style-type: none
    margin: 0px 10px 0px 0px
    padding: 0px 0px 0px 0px
    float: left
    line-height: $user_avatar_mini_width
