<div id="detail-panel-watchers"
     cg-busy="vm.loadingPromise">
  <div class="notification-box -error" ng-show="vm.error">
    <div class="notification-box--content">
      <p>{{ ::vm.text.loadingError }}</p>
    </div>
  </div>
  <div ng-hide="vm.error">
    <div class="work-package--watchers work-package--details--long-field"
         ng-class="{'-read-only': !vm.allowedToRemove}">
      <work-package-watcher watcher="watcher"
                            ng-repeat="watcher in vm.watching track by watcher.id"></work-package-watcher>
    </div>
    <work-package-watchers-lookup watchers="vm.available" ng-show="vm.allowedToAdd"></work-package-watchers-lookup>
  </div>
</div>
