<div class="activity-comment" ng-if="canAddComment">
  <form name="commentForm">
    <label for="add-comment-text" class="hidden-for-sighted">
      {{ title }}
    </label>
    <textarea id="add-comment-text"
              class="add-comment-text"
              name="add_comment_text"
              ng-model="activity.comment"
              required
              placeholder="{{ title }}"
              ng-disabled="processingComment">
    </textarea>
    <button class="button"
            ng-click="createComment()"
            ng-disabled="commentForm.$invalid || processingComment">
      <i class="icon-yes icon-left"></i>{{ buttonTitle }}
    </button>
  </form>
</div>
