<div style="float:left">
  <div class="ax_paragraph h2">
    <!-- TODO: where do we get image from? prototype/transparent.gif -->
    <img class="img " src="">
    <!-- Unnamed () -->
    <div class="text">
      <p><span with-dropdown dropdown-id="querySelectDropdown">{{ selectedTitle }}</span></p>
    </div>
  </div>

  <div class="dropdown dropdown-relative dropdown-anchor-right" id="querySelectDropdown">
    <div>
      <input type="search" ng-model="filterBy" ng-change="filterModels(filterBy)" id="title-filter">
    </div>

    <ul class="dropdown-menu" ng-if="group.models" ng-repeat="group in filteredGroups">
      <div class="title-group-header">{{ group.name }}</div>
      <li ng-repeat="model in group.models">
        <a href="" ng-click="reload( model[1], model[0] )">{{ model[0] }}</a>
      </li>
    </ul>
  </div>

</div>
