<p class="pagination">
  <a ng-show="page != 1"
     ng-click="showPage(page - 1)"
     class="previous_page"
     rel="prev start"
     href="">Previous
  </a>

  <span ng-if="pageNumbers.length > 1" ng-repeat="pageNumber in pageNumbers">
    <em ng-if="pageNumber == page" class="current">{{ pageNumber }}</em>
    <a ng-if="pageNumber != page"
       ng-click="showPage(pageNumber)"
       rel="next"
       href="">{{ pageNumber }}</a>
  </span>

  <a ng-show="page != pageNumbers.length"
     ng-click="showPage(page + 1)"
     class="next_page"
     rel="next"
     href="">Next
  </a>

  <span class="range">{{ currentRange }}</span>

  <span class="per_page_options">
    Per page: <span class="current">{{ currentPerPage }}</span>
    <span ng-repeat="perPageOption in perPageOptions">
      <span ng-if="perPageOption != perPage">
      	<a href="" ng-click="selectPerPage(perPageOption)">{{ perPageOption }}</a>
      </span>
      <span ng-if="perPageOption == perPage"
            ng-click="selectPerPage(perPageOption)">{{ perPageOption }}</span>
    </span>
  </span>
</p>