<div>
  <select ng-show="!isMultiselect"
          name="v[{{name}}][]"
          ng-model="values"
          id="values-{{name}}"
          class="select-small"
          style="vertical-align: top;"
          require>
    <option ng-repeat="value in availableFilterValues" value="{{ value[1] }}">{{ value[0] }}</option>
  </select>

  <select multiple
          ng-show="isMultiselect"
          name="v[{{name}}][]"
          ng-model="values"
          id="values-{{name}}"
          class="select-small"
          style="vertical-align: top;"
          require>
    <option ng-repeat="value in availableFilterValues" value="{{ value[1] }}">{{ value[0] }}</option>
  </select>

  <a alt="Toggle multiselect" href="#" style="vertical-align: bottom;" title="Toggle multiselect" ng-click="toggleMultiselect()">
    <img alt="Bullet_toggle_plus" src="/assets/bullet_toggle_plus.png"/>
  </a>
</div>