<div class="relation">
  <h3 ng-click="expand=!expand">
    <i class="icon-pull-content" ng-class="collapseStateIcon(!expand)"></i> {{ title }}
    <span ng-if="!isSingletonRelation">({{ relatedWorkPackages.length }})</span>
  </h3>
  <div class="content" ng-show="expand">
    <div class="workpackages">
      <div ng-if="relatedWorkPackages">
        <table>
          <thead>
            <tr>
              <td>{{ I18n.t('js.work_packages.properties.subject') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.status') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.assignee') }}</td>
            </tr>
          </thead>
          <tbody ng-repeat="workPackage in relatedWorkPackages">
            <tr>
              <td>
                <a href="{{ PathHelper.workPackagePath(workPackage.props.id) }}">
                  {{ WorkPackagesHelper.getFullIdentifier(workPackage) }}
                </a>
              </td>
              <td>{{ workPackage.props.status }}</td>
              <td>
                <a href="{{ PathHelper.userPath(workPackage.embedded.assignee.props.id) }}">
                  {{ workPackage.embedded.assignee.props.name }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!relatedWorkPackages || relatedWorkPackages.length === 0">
        No relation exists
      </div>
    </div>
    <button class="button" title="{{ btnTitle }}" ng-bind-html="btnIcon + ' ' + btnTitle">
    </button>
  </div>
</div>
