<div
    class="work-package--new-state work-packages--show-view toolbar-container"
    ng-if="$ctrl.newWorkPackage">
  <div class="toolbar">
    <div class="title-container">
      <h2>{{ $ctrl.header }}</h2>
    </div>
    <ul class="toolbar-items hide-when-print">
      <li class="toolbar-item hidden-for-mobile">
        <wp-zen-mode-toggle-button>
        </wp-zen-mode-toggle-button>
      </li>
      <li class="toolbar-item hidden-for-mobile">
        <button id="create-wp-menu-button"
                title="{{ I18n.t('js.button_settings') }}"
                class="button last work-packages-settings-button toolbar-icon"
                has-dropdown-menu
                target="CreateWpDropdownMenu"
                locals="query">
          <i class="button--icon icon-show-more"></i>
        </button>
      </li>
    </ul>
  </div>

  <wp-edit-field-group work-package="$ctrl.newWorkPackage"
                       success-state="$ctrl.successState"
                       in-edit-mode="true">
    <wp-subject work-package="$ctrl.newWorkPackage"></wp-subject>
    <wp-single-view work-package="$ctrl.newWorkPackage"></wp-single-view>
    <edit-actions-bar
        on-cancel="$ctrl.cancelAndBackToList()"
    ></edit-actions-bar>
  </wp-edit-field-group>
</div>
