<div class="spot-drop-modal--body spot-container">
  <div class="spot-modal--header">
    <div class="spot-modal--header-title">Progress</div>

    <button
      class="button button_no-margin -transparent spot-modal--header-close-button"
      data-test-selector="op-share-wp-modal--close-icon">
      Close
    </button>
  </div>
  <div class="spot-modal--body spot-modal--body_not-full-screen spot-container">
    <%= render(WorkPackages::Progress::StatusBased::ModalBodyComponent.new(work_package, focused_field:)) %>
  </div>
</div>
