<div class="spot-drop-modal--body spot-container">
  <div class="spot-drop-modal--header">
    <div class="spot-drop-modal--header-title">Progress</div>

    <button
      class="button button_no-margin -transparent spot-drop-modal--header-close-button"
      data-test-selector="op-share-dialog-modal--close-icon">
      <!--
      Since we cannot render Angular components in the lookbook, we render the view_component for the close button here
      <svg x-icon size="small" class="spot-drop-modal--header-close-button-icon"></svg>-->
      <%= render(Primer::Beta::Octicon.new(icon: :x, classes: 'spot-drop-modal--header-close-button-icon')) %>
    </button>
  </div>
  <div class="spot-drop-modal--content">
    <%= render(WorkPackages::Progress::WorkBased::ModalBodyComponent.new(work_package, focused_field:)) %>
  </div>
</div>
