.op-uc-figure
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  float: none !important
  align-self: stretch
  max-width: 100%

  @media print
    display: block
    overflow: hidden
    max-height: unset

  &_align-end
    align-self: flex-end
  &_align-start
    align-self: flex-start
  &_align-center
    align-self: center

  &--content
    flex-basis: 70vh
    flex-grow: 0
    flex-shrink: 1
    overflow: auto
  &--description
    flex-basis: auto
    flex-grow: 1
    flex-shrink: 0
    padding: 0.75rem
    width: 100%
    text-align: center
    background-color: rgb(242, 242, 242)

  &.table
    display: flex !important
