.op-uc-table
  break-inside: avoid
  border-collapse: unset
  border-spacing: 0
  width: 100%
  border: 1px solid rgba(0, 0, 0, 0.1)

  &--row
    &:hover
      background: rgba(26, 103, 163, 0.05)

    &:not(:last-child)
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)

    @at-root .op-uc-container_editing &:hover
      background: unset

  &--thead 
    z-index: 1
    position: sticky
    top: 0
    left: 0

  &--cell
    text-align: left
    padding: 0.75rem

    @media print
      word-break: break-all

    @include user-content-children

    @at-root .op-uc-container_editing &:hover
      background: rgba(26, 103, 163, 0.05)

    &_head
      background: rgb(242, 242, 242)
      background-clip: padding-box
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
