.op-uc-h1,
.op-uc-h2,
.op-uc-h3,
.op-uc-h4,
.op-uc-h5,
.op-uc-h6,
  color: inherit;
  line-height: 1.6em;
  text-transform: none;
  font-weight: bold;
  border-bottom: 0;
  margin: 0;
  padding-bottom: 0.1em;

.op-uc-h1
  font-size: 2.75em;
  border-bottom: 1px solid #bbbbbb;
.op-uc-h2
  font-size: 2.75em * 0.7;
  border-bottom: 1px solid #bbbbbb;
.op-uc-h3
  font-size: 2.75em * 0.6;
.op-uc-h4
  font-size: 2.75em * 0.4;
.op-uc-h5
  font-size: 2.75em * 0.3;
  
.op-uc-p
  margin: 0;
  line-height: 1.6em;
  color: inherit;

.op-uc-blockquote
  border-left: 3px solid #e0e0e0;
  padding: 0.8em 1.2em 0 1.2em;
  overflow: hidden;
  color: #6f6f6f;

  .op-uc-h1,
  .op-uc-h2
    border-bottom: 0;

.op-uc-code-block

.op-uc-code
