.op-uc-h1,
.op-uc-h2,
.op-uc-h3,
.op-uc-h4,
.op-uc-h5,
.op-uc-h6,
  color: inherit
  line-height: 1.6em
  text-transform: none
  font-weight: bold
  border-bottom: 0
  margin: 0
  page-break-before: auto
  page-break-after: avoid
  page-break-inside: avoid

.op-uc-h1
  font-size: 2.75em
.op-uc-h2
  font-size: 2.75em * 0.7
.op-uc-h3
  font-size: 2.75em * 0.6
.op-uc-h4
  font-size: 2.75em * 0.4
.op-uc-h5
  font-size: 2.75em * 0.3
  
.op-uc-p
  margin: 0
  line-height: 1.6em
  color: inherit
  page-break-inside: avoid

.op-uc-blockquote
  display: block
  margin: 0;
  border-left: 3px solid #e0e0e0
  padding: 0.8em 1.2em 0 1.2em
  overflow: hidden
  color: #6f6f6f

  @include user-content-children

.op-uc-code-block
  page-break-inside: avoid

.op-uc-code
