/.sass-cache
/bower_components
/coverage
/node_modules
/npm-debug.log
/public/**/*
/tests/unit/reports
/tests/unit/tests/typescript
/tmp

/tests/openproject-common.js
/tests/openproject-test-bundle.js
/tests/openproject-main.css
/tests/openproject-tests.css

/out-tsc
/generated_typings
/src/app/modules/plugins/linked/
/src/app/modules/plugins/linked-plugins.module.ts
/legacy/app/plugins/*
