<form class="form -bordered">
  <section class="form--section">
    <div class="form--field -required">
      <label class="form--label">Text:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="text" class="form--text-field">
        </div>
      </div>
    </div>
  </section>
  <section class="form--section">
    <h3 class="form--section-title">Advanced information</h3>
    <div class="form--field -required">
      <label class="form--label">More text:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="text" class="form--text-field">
        </div>
      </div>
    </div>
  </section>
  <fieldset class="form--fieldset">
    <legend class="form--fieldset-legend">
      Even more advanced information
    </legend>
    <div class="form--field -required">
      <label class="form--label">Even more text:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="text" class="form--text-field">
        </div>
      </div>
    </div>
  </fieldset>
</form>
