<h2><%= l(:label_meeting_new) %></h2>
<% labelled_tabular_form_for :meeting, @meeting, :url => {:controller => 'meetings', :action => 'create', :project_id => @project}, :html => {:id => 'meeting-form'} do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %> <%= link_to l(:button_cancel), :action => 'index', :project_id => @project %>
<% end if @project %>