<span class="wp-table--cell-span"
      ng-switch="vm.displayType"
      wp-field="vm.workPackage"
      field-name="vm.attribute">
  <progress-bar ng-switch-when="Percent"
                progress="vm.displayText"
                width="80px">
  </progress-bar>

  <span ng-switch-when="SelfLink" title="{{ vm.displayText }}">
    <a ng-href="{{ vm.displayLink }}">{{ vm.displayText }}</a>
  </span>

  <span ng-switch-default
    title="{{ vm.displayText }}">
    {{ vm.displayText }}
  </span>
</span>
