<h2><%= link_to l(:label_custom_field_plural), :controller => 'custom_fields', :action => 'index', :tab => @custom_field.type %>
  &#187; <%=l(:label_custom_field_new)%> (<%=l(@custom_field.type_name)%>)</h2>

<% labelled_tabular_form_for :custom_field, @custom_field, :url => { :action => "new" } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= hidden_field_tag 'type', @custom_field.type %>
<%= submit_tag l(:button_save) %>
<% end %>
