.git
.dockerignore
.bundle
.env*
.buildpacks
.*.yml
*.swp
.*ignore
*.md
*.log
Vagrantfile
Dockerfile
Guardfile
docker-compose.*
browserslist
docs
extra
features
help
log/*.log
spec
spec_legacy
tmp
frontend/node_modules
# travis
vendor/bundle
