.github/
.git
.dockerignore
.gitignore
.bundle
.env*
.buildpacks
.*.yml
*.swp
.*ignore
*.md
*.log
docker/prod/Dockerfile
docker/ci/Dockerfile
Guardfile
docker-compose.*
browserslist

/docs
!/docs/api/apiv3/openapi-spec.yml
!/docs/api/apiv3/paths
!/docs/api/apiv3/tags
!/docs/api/apiv3/components

# Ignore spec/** folders
spec/**
# Allow factories in case we use lookbook
!spec/factories
!spec/factories/**
!spec/support
!spec/support/**

extra
features
help
log/*.log
/tmp
frontend/.angular/cache
frontend/node_modules
node_modules
# travis
vendor/bundle
/public/assets
/config/frontend_assets.manifest.json
