.github/
.git
.dockerignore
.bundle
.env*
.buildpacks
.*.yml
*.swp
.*ignore
*.md
*.log
Vagrantfile
Dockerfile
Guardfile
docker-compose.*
browserslist

docs
!docs/api/apiv3/openapi-spec.yml
!docs/api/apiv3/paths
!docs/api/apiv3/tags
!docs/api/apiv3/components

extra
features
help
log/*.log
spec
spec_legacy
tmp
frontend/node_modules
node_modules
# travis
vendor/bundle
