<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= l(:label_statistics) %></h2>

<p>
  <%= tag("embed", :width => 800,
                   :height => 300,
                   :type => "image/svg+xml",
                   :src => url_for(:controller => '/repositories',
                                   :action => 'graph',
                                   :id => @project,
                                   :graph => "commits_per_month")) %>
</p>
<% if @show_commits_per_author %>
  <p>
    <%= tag("embed", :width => 800,
                     :height => 400,
                     :type => "image/svg+xml",
                     :src => url_for(:controller => '/repositories',
                                     :action => 'graph',
                                     :id => @project,
                                     :graph => "commits_per_author")) %>
  </p>
<% end %>

<p><%= link_to l(:button_back), :action => 'show', :id => @project %></p>

<% html_title(l(:label_repository), l(:label_statistics)) -%>
