<div class="toaster-box -error">
  <div class="toaster-box--content">
    <p>
      <strong><%= t('oauth.authorization_error') %></strong>
      <br/>
      <%= @pre_auth.error_response.body[:error_description] %></pre>
    </p>
  </div>
</div>
