<div id="tabs">
  <ul class="tabrow">
    <li ng-repeat="item in $ctrl.items"
        ng-show="item.show"
        ui-sref="{{ item.route }}"
        ui-sref-active="selected">

      <!--
       The hrefs with empty URLs are necessary for IE10 to focus these links
       properly. Thus, don't remove the hrefs or the empty URLs!
      -->
      <a href=""
         ng-attr-title="{{ (item.route | isState) && item.activeTitle || undefined }}"
         ng-bind="::item.text"></a>
    </li>
  </ul>
</div>
