<div class="work-packages--details-toolbar">
  <wp-watcher-button work-package="workPackage"
                     show-text="true"
                     ng-if="displayWatchButton">
  </wp-watcher-button>

  <button class="button dropdown-relative"
          ng-disabled="!actionsAvailable"
          has-dropdown-menu
          accesskey="7"
          target="DetailsMoreDropdownMenu"
          locals="permittedActions,actionsAvailable,triggerMoreMenuAction">
    <span class="button--text" ng-bind="::I18n.t('js.button_more')"></span>
    <op-icon icon-classes="button--dropdown-indicator"></op-icon>
  </button>
</div>
