<div class="loading-indicator--location"
     data-indicator-name="relationAddChild">
  <div class="v-align wp-relations-create--form wp-relations--add-form">
    <div class="grid-content medium-10">
      <wp-relations-autocomplete-upgraded
          [workPackage]="workPackage"
          (onWorkPackageIdSelected)="updateSelectedId($event)"
          [filterCandidatesFor]="relationType">
      </wp-relations-autocomplete-upgraded>
    </div>
    <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
      <accessible-by-keyboard
          linkClass="wp-create-relation--save"
          [isDisabled]="isDisabled"
          (execute)="addExisting()"
          aria-hidden="false">
        <op-icon icon-classes="icon-checkmark" [icon-title]="text.save"></op-icon>
      </accessible-by-keyboard>
      &nbsp;
      <accessible-by-keyboard
          linkClass="wp-create-relation--cancel"
          (execute)="cancel()"
          aria-hidden="false">
        <op-icon icon-classes="icon-remove" [icon-title]="text.abort"></op-icon>
      </accessible-by-keyboard>
    </div>
  </div>
</div>
