<td
    *ngIf="first"
    rowspan="3"
>
  <span
      *ngIf="setting._links.project.href; else defaultTitle"
      [textContent]="setting._links.project.title"
  ></span>
  <ng-template #defaultTitle>
    <em [textContent]="text.default_all_projects"></em>
  </ng-template>
</td>
<td [textContent]="text.channel(setting.channel)">
</td>
<td>
  <input
      type="checkbox"
      [checked]="setting.involved || setting.all"
      [disabled]="setting.all"
      (change)="update({ involved: $event.target.checked })"
      data-qa-notification-type="involved"
      [attr.aria-label]="text.involved_header"
  />
</td>
<td>
  <input
      type="checkbox"
      [checked]="setting.mentioned || setting.all"
      [disabled]="setting.all"
      (change)="update({ mentioned: $event.target.checked })"
      data-qa-notification-type="mentioned"
      [attr.aria-label]="text.mentioned_header"
  />
</td>
<td>
  <input
      type="checkbox"
      [checked]="setting.watched || setting.all"
      [disabled]="setting.all"
      (change)="update({ watched: $event.target.checked })"
      data-qa-notification-type="watched"
      [attr.aria-label]="text.watched_header"
  />
</td>
<td>
  <input
      type="checkbox"
      [checked]="setting.all"
      (change)="update({ all: $event.target.checked })"
      data-qa-notification-type="all"
      [attr.aria-label]="text.any_event_header"
  />
</td>
<td
    *ngIf="first"
    rowspan="3"
    class="buttons"
>
  <button
      *ngIf="!global"
      class="op-link"
      (click)="remove()"
  >
    <op-icon icon-classes="icon-remove icon-no-color"></op-icon>
  </button>
</td>