<ng-container
  *ngIf="(calendarOptions$ | async) as calendarOptions"
>
  <full-calendar
    #ucCalendar
    *ngIf="calendarOptions"
    [options]="calendarOptions"
  ></full-calendar>
</ng-container>

<ng-template #resourceContent let-resource="resource">
  <op-principal
    *ngIf="resource.extendedProps.principal"
    [principal]="resource.extendedProps.principal"
  ></op-principal>

  <op-tp-add-assignee
    *ngIf="!resource.extendedProps.principal"
    (select)="addAssignee($event)"
    [alreadySelected]="principalIds$ | async"
  ></op-tp-add-assignee>
</ng-template>

<div class="wp-inline-create-button">
  <button
    type="button"
    class="wp-inline-create--add-link"
    (click)="showAssigneeAddRow()"
  >
    <op-icon icon-classes="icon-context icon-add"></op-icon>
    <span [textContent]="text.add_assignee"></span>
  </button>
</div>
