<ng-container
  *ngIf="(calendarOptions$ | async) as calendarOptions"
>
  <full-calendar
    #ucCalendar
    *ngIf="calendarOptions"
    [options]="calendarOptions"
  ></full-calendar>
  <div
    *ngIf="static"
    [textContent]="calendar.tooManyResultsText"
    class="op-wp-calendar--notification"></div>
</ng-container>

<ng-template #resourceContent let-resource="resource">
  <div
    *ngIf="resource.extendedProps.principal"
    class="tp-assignee"
  >
    <op-principal
      [principal]="resource.extendedProps.principal"
      class="tp-assignee--principal"
    ></op-principal>
    <button
      type="button"
      class="tp-assignee--remove"
      (click)="removeAssignee(resource.id)"
      [aria-label]="text.remove_assignee"
    >
      <op-icon icon-classes="icon-context icon-remove"></op-icon>
    </button>
  </div>

  <op-tp-add-assignee
    *ngIf="!resource.extendedProps.principal"
    (select)="addAssignee($event)"
    [alreadySelected]="principalIds$ | async"
  ></op-tp-add-assignee>
</ng-template>

<div class="wp-inline-create-button">
  <button
    type="button"
    class="wp-inline-create--add-link tp-assignee-add"
    (click)="showAssigneeAddRow()"
  >
    <op-icon icon-classes="icon-context icon-add"></op-icon>
    <span [textContent]="text.add_assignee"></span>
  </button>
</div>
