@import "helpers"

\:host
  display: block
  height: 100%
  overflow: auto
  // Avoid empty space on the right since the styled scrollbar would only be visible on hover.
  @include no-visible-scroll-bar

.tp-assignee-add-button
  margin-top: 1rem

.op-team-planner
  &--no-data
    height: 250px
    background-color: lightgray
    display: flex
    justify-content: center
    align-items: center
