// -------------------------- GENERIC --------------------------
.ifc-model-viewer--toolbar-container
  position: absolute
  width: 100%
  padding: 0px 6px
  pointer-events: none

  button
    pointer-events: all
    outline: none

  // Use our own icon font instead of including Xeokit's FontAwesome
  button[class^="fa-"],
  button[class*=" fa-"]
    &::before
      font-family: "openproject-icon-font" !important
  .fa-home::before
    @include icon-mixin-home
  .fa-crop::before
    @include icon-mixin-zoom-auto
  .fa-male::before
    @include icon-mixin-user
  .fa-info-circle::before
    @include icon-mixin-info2
  .fa-cut::before
    @include icon-mixin-cut
  .fa-cube::before
    @include icon-mixin-modules
  .fa-eraser::before
    @include icon-mixin-rubber
  .fa-mouse-pointer::before
    @include icon-mixin-cursor
  .fa-th::before
    @include icon-mixin-menu

// -------------------------- XEOKIT Section tool ----------------------
.xeokit-section-counter
  opacity: 1.0
  color: black
  padding: 1px
  margin: 0
  margin-left: 10px
  width: 20px
  height: 16px
  float: right

  &.disabled
    color: #99A4AD

  &.active
    color: #fff
    border-color: #ebebeb

  &:hover
    color: #477dca

  &.active:hover
    color: white

  &.disabled:hover
    color: #99A4AD

.xeokit-section-menu-button
  opacity: 1.0
  border-radius: 5px
  border: 0
  color: black
  padding: 1px
  margin: 0
  margin-left: 10px
  width: 20px
  height: 16px
  float: right

  &.disabled
    color: #99A4AD
    border: 0

  &.active
    color: #fff
    border-color: #ebebeb

  &:hover
    color: #477dca

  &.active:hover
    color: white

  &.disabled:hover
    color: #99A4AD

.xeokit-arrow-up
  width: 0
  height: 0
  display: inline-block
  vertical-align: middle
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-bottom: 6px solid black !important

  &.disabled
    border-bottom: 6px solid #99A4AD !important

  &.active
    border-bottom: 6px solid white !important

  &:hover
    border-bottom: 6px solid #477dca !important

  &.active:hover
    border-bottom: 6px solid white !important

  &.disabled:hover
    border-bottom: 6px solid #99A4AD !important

.xeokit-arrow-down
  width: 0
  height: 0
  display: inline-block
  vertical-align: middle
  border-style: solid
  border-width: 6px 6px 0 6px
  border-color: black transparent transparent transparent  !important

  &.disabled
    color: #99A4AD !important

  &.active
    color: white !important
    border-color: white transparent transparent transparent !important

  &:hover
    color: white !important
    border-color: #477dca transparent transparent transparent !important

  &.active:hover
    color: white !important
    border-color: white transparent transparent transparent !important

  &.disabled:hover
    border-color: #99A4AD transparent transparent transparent !important


// -------------------------- XEOKIT specific --------------------------
// Move toolbar to the right
.xeokit-toolbar
  display: flex
  flex-wrap: wrap
  justify-content: flex-end

// -------------------------- MOBILE specific --------------------------

@media only screen and (max-width: 679px)
  .ifc-model-viewer--toolbar-container
    padding-right: 15px

  .ifc-model-viewer--focus-warning,
  .ifc-model-viewer--toolbar-container
    .fa-male,
    .fa-cut
      display: none

