<form
  [formGroup]="principalForm"
  (ngSubmit)="onSubmit($event)"
>
  <div class="op-modal--modal-header">
    <button
      class="op-modal--modal-close-button"
      type="button"
      (click)="closeModal.emit()"
      [attr.aria-label]="text.closePopup"
    >
      <span class="icon-close"></span>
    </button>
    <h3 [textContent]="text.title"></h3>
  </div>

  <div class="op-modal--modal-body">
    <op-form-field
      [label]="type"
      required
      [formBinding]="principalControl"
    >
      <op-ium-principal-search
        *ngIf="!isNewPrincipal"
        [type]="type"
        [principalControl]="principalControl"
        slot="input"
        (createNew)="createNewFromInput($event)"
      ></op-ium-principal-search>

      <div
        class="pill"
        *ngIf="isNewPrincipal && type === 'user'"
        slot="input"
      >
        Invite: {{ principalControl?.value.name }}
        <button
          class="op-link"
          (click)="principalControl?.setValue(null)"
        >Change e-mail-address or select an existing user</button>
      </div>

      <div
        class="pill"
        *ngIf="isMemberOfCurrentProject"
        slot="help-text"
      >
        This {{ type }} is already a member of {{ project.name }}.
      </div>

      <div
        class="pill"
        *ngIf="isNewPrincipal && type === 'placeholder'"
        slot="input"
      >
        Create new placeholder: {{ principalControl?.value.name }}
        <button
          class="op-link"
          (click)="principalControl?.setValue(null)"
        >Change name or select an existing placeholder</button>
      </div>

      <div
        class="pill"
        *ngIf="isNewPrincipal && type === 'group'"
        slot="input"
      >
        Create new group: {{ principalControl?.value.name }}
        <button
          class="op-link"
          (click)="principalControl?.setValue(null)"
        >Change name or select an existing group</button>
      </div>
      
      <div
        slot="errors"
        class="op-form-field--error"
        *ngIf="principalControl?.touched && principalControl?.invalid"
      >
        Please select a {{ type }}
      </div>
    </op-form-field>
  </div>

  <div class="op-modal--modal-footer">
    <button
      type="button"
      (click)="back.emit()"
    >Back</button>
    <button>Next</button>
  </div>
</form>
