<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<p><%= t(:notice_account_activated) %></p>
<p><%= t(:label_login) %>: <%= link_to signin_url, signin_url %></p>
