<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= t(:text_work_package_updated, :id => "##{@issue.id}", :author => @journal.user) %>

<ul>
<% @journal.details.each do |detail| %>
  <li><%= @journal.render_detail(detail, :only_path => false) %></li>
<% end %>
</ul>

<%= textilizable(@journal.notes, :only_path => false) %>
<hr />
<%= render :partial => 'issue_details', :locals => { :issue => @issue } %>
