<form class="form -bordered">
  <div class="form--field -required">
    <label class="form--label">Text:</label>
    <div class="form--field-container">
      <div class="form--text-field-container">
        <input type="text" class="form--text-field">
      </div>
    </div>
  </div>

  <hr class="form--separator" />
  <button class="button -primary">Save</button>
  <button class="button">Cancel</button>
</form>
