<form class="form -bordered">
  <fieldset class="form--fieldset">
    <legend class="form--fieldset-legend">
      Various information
    </legend>
    <div class="form--toolbar">
    <span class="form--toolbar-item">
      (<a href="#">Check all</a> | <a href="#">Uncheck all</a>)
    </span>
    </div>
    <div class="form--field -wide-label">
      <label class="form--label">Multiple choices:</label>
      <div class="form--field-container -vertical">
        <label class="form--label-with-check-box">
          <div class="form--check-box-container">
            <input type="checkbox" class="form--check-box">
          </div>
          Apple
        </label>
        <label class="form--label-with-check-box">
          <div class="form--check-box-container">
            <input type="checkbox" class="form--check-box">
          </div>
          Grapefruit
        </label>
      </div>
    </div>
  </fieldset>
</form>
