<form class="form">
  <fieldset class="form--fieldset">
    <legend class="form--fieldset-legend">Wichtige Daten</legend>
    <div class="form--field -required">
      <label class="form--label">Lieblingsstädte:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="text" class="form--text-field" value="Leipzig">
        </div>
        <div class="form--text-field-container">
          <input type="text" class="form--text-field" placeholder="Berlin">
        </div>
        <div class="form--text-field-container">
          <input type="text" class="form--text-field" placeholder="Zürich">
        </div>
        <div class="form--text-field-container">
          <input type="text" class="form--text-field" placeholder="Paris">
        </div>
        <div class="form--text-field-container">
          <input type="text" class="form--text-field" placeholder="Rom">
        </div>
      </div>
    </div>
    <div class="form--field -required">
      <label class="form--label">Geburtsdatum:</label>
      <div class="form--field-container">
        <div class="form--select-container">
          <select class="form--select">
            <option>01</option><option>02</option><option>03</option>
          </select>
        </div>
        <div class="form--select-container">
          <select class="form--select">
            <option>Januar</option>
            <option selected>Februar</option>
            <option>März</option>
            <option>April</option>
            <option>Mai</option>
            <option>Juni</option>
            <option>Juli</option>
            <option>August</option>
            <option>September</option>
            <option>Oktober</option>
            <option>November</option>
            <option>Dezember</option>
          </select>
        </div>
        <div class="form--text-field-container">
          <input type="number" class="form--text-field" placeholder="1984">
        </div>
      </div>
      <div class="form--field-instructions">
        One never lies about one's age.
      </div>
    </div>
    <div class="form--field">
      <label class="form--label">Benzinverbrauch:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="number" class="form--text-field" value="9">
        </div>
        <div class="form--field-affix">Liter</div>
        <div class="form--field-affix">pro</div>
        <div class="form--select-container">
          <select class="form--select">
            <option selected>km</option>
            <option>Meile</option>
          </select>
        </div>
        <div class="form--field-affix">auf</div>
        <div class="form--select-container">
          <select class="form--select">
            <option selected>der Autobahn</option>
            <option>der Stadt</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form--grouping" role="group" aria-labelledby="form-grouping-label">
      <div id="form-grouping-label" class="form--grouping-label">Colors:</div>
      <div class="form--grouping-row">
        <div class="form--field">
          <label class="form--label">Most favorite first:</label>
          <div class="form--field-container">
            <div class="form--text-field-container">
              <input type="text" class="form--text-field" placeholder="Green">
            </div>
          </div>
        </div>
        <div class="form--field">
          <label class="form--label">Most favorite second:</label>
          <div class="form--field-container">
            <div class="form--text-field-container">
              <input type="text" class="form--text-field" placeholder="Blue">
            </div>
          </div>
        </div>
      </div>
      <div class="form--grouping-row">
        <div class="form--field">
          <label class="form--label">Least favorite first:</label>
          <div class="form--field-container">
            <div class="form--text-field-container">
              <input type="text" class="form--text-field" placeholder="Magenta">
            </div>
          </div>
        </div>
        <div class="form--field">
          <label class="form--label">Least favorite second:</label>
          <div class="form--field-container">
            <div class="form--text-field-container">
              <input type="text" class="form--text-field" placeholder="Orange">
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
