<form class="form -wide-labels">
  <section class="form--section">
    <div class="form--field -required">
      <label class="form--label">Text:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="text" class="form--text-field">
        </div>
      </div>
    </div>
    <div class="form--field">
      <label class="form--label">Email:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <input type="email" class="form--text-field" placeholder="a valid email">
        </div>
      </div>
      <div class="form--field-instructions">
        Your personal email address.
      </div>
    </div>
    <div class="form--field -required">
      <label class="form--label">Amount:</label>
      <div class="form--field-container">
        <div class="form--field-affix">
          <strong>€</strong>
        </div>
        <div class="form--text-field-container">
          <input type="number" class="form--text-field">
        </div>
        <div class="form--field-affix">
          per item
        </div>
      </div>
      <div class="form--field-instructions">
        The more, the better
      </div>
    </div>
    <div class="form--field">
      <label class="form--label">Telephone:</label>
      <div class="form--field-container">
        <div class="form--field-affix icon-context icon-phone">
        </div>
        <div class="form--text-field-container">
          <input type="tel" class="form--text-field">
        </div>
      </div>
    </div>
    <div class="form--field -required">
      <label class="form--label">Long text:</label>
      <div class="form--field-container">
        <div class="form--text-field-container">
          <textarea class="form--text-area">El resto della concluían sayo de velarte, calzas de velludo para las fiestas, con sus pantuflos de lo mesmo, y los días de entresemana se honraba con su vellorí de lo más fino.</textarea>
        </div>
      </div>
      <div class="form--field-instructions">
        Write more about anything.
      </div>
    </div>
    <div class="form--field -required -no-label">
      <div class="form--field-container">
        <label class="form--label-with-check-box">
          <div class="form--check-box-container">
            <input type="checkbox" class="form--check-box">
          </div>
          Option 1
        </label>
        <label class="form--label-with-check-box">
          <div class="form--check-box-container">
            <input type="checkbox" class="form--check-box">
          </div>
          Option 2
        </label>
      </div>
      <div class="form--field-instructions">
        Selecting these option might be considered a dangerous operation.
      </div>
    </div>
  </section>
</form>
