<div class="work-package--watchers-lookup">
  <div class="dropdown-wrapper">
    <accessible-by-keyboard execute="addWatcher()">
      <ui-select
              class="inplace-edit--select"
              name="value"
              ng-disabled="locked"
              ng-model="selectedWatcher"
              title="{{ I18n.t('js.watchers.label_search_watchers') }}"
              reset-search-input="true"
              theme="select2">
          <ui-select-match>{{ $select.selected.name }}</ui-select-match>
          <ui-select-choices
                  repeat="wacther.name as watcher in watchers | filter: $select.search">
              <div aria-label="{{ watcher.name }}" ng-bind-html="watcher.name | highlight: $select.search"></div>
          </ui-select-choices>
      </ui-select>
    </accessible-by-keyboard>
  </div>
</div>

