<table <%= placeholder_table_styles %>>
  <tr>
    <td style="color: <%= @color %>;
      background-color: #FFFFFF;
      white-space: nowrap;
      padding: 0 7px;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      border: 0.8px <%= @color %> solid;
      border-radius: 24px;">
      <%= @text %>
    </td>
  </tr>
</table>
