<div>
  <h1><%= t('label_edit_x', x: @storage.name) %></h1>

  <turbo-frame id="<%= dom_id(@storage) %>">
    <%= render(Storages::Admin::Forms::StorageGeneralInfoFormComponent.new(@storage)) %>
  </turbo-frame>
</div>
