<%= error_messages_for 'version' %>

<!--[form:version]-->
<p><label for="version_name"><%=_('Version')%></label> <span class="required">*</span><br/>
<%= text_field 'version', 'name', :size => 20  %></p>

<p><label for="version_description"><%=_('Description')%></label><br/>
<%= text_field 'version', 'description', :size => 60  %></p>

<p><label for="version_effective_date"><%=_('Date')%></label><br/>
<%= date_select 'version', 'effective_date'  %></p>
<!--[eoform:version]-->

