<%= error_messages_for 'version' %>
<div class="box">
<!--[form:version]-->
<p><%= f.text_field :name, :size => 20, :required => true %></p>
<p><%= f.text_field :description, :size => 60 %></p>
<p><%= f.date_select :effective_date, :required => true %></p>
<!--[eoform:version]-->
</div>