---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_id=4262df2b-77bb-49c2-a5df-28355da676d2&client_secret=Vwk8Q%7EJTuPh.pAjvPiWBQBdTFMDK%7EAIwxbj9_axB
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 08 Mar 2024 09:47:52 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"009","RoleInstance":"AM1PEPF00030089"}}'
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives","value":[{"createdDateTime":"2014-07-03T15:53:23Z","description":"","id":"b!kTAW5Yf7f0qq6g_lYINMuB4uOjja01JIjQ_dr7ZjNIH6z0ctGr_6Tp8_tQ7NLb-_","lastModifiedDateTime":"2022-06-03T09:26:04Z","name":"Documents","webUrl":"https://finn.sharepoint.com/Shared%20Documents","driveType":"documentLibrary","createdBy":{"user":{"displayName":"System
        Account"}},"lastModifiedBy":{"user":{"email":"j.ulferts@finn.onmicrosoft.com","id":"b0870935-81a9-4ef3-a144-850121c00bcf","displayName":"Jens
        Ulferts"}},"owner":{"group":{"id":"068eacfd-365f-4cf5-848b-6a1977a314c4","displayName":"Company
        Administrator"}},"quota":{"deleted":0,"remaining":11168733510,"state":"normal","total":18253611008,"used":7084877498}}]}'
  recorded_at: Fri, 08 Mar 2024 09:47:53 GMT
recorded_with: VCR 6.2.0
