---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_id=4262df2b-77bb-49c2-a5df-28355da676d4&client_secret=Vwk8Q%7EJTuPh.pAjvPiWBQBdTFMDK%7EAIwxbj9_axB
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"AADSTS700016: Application
        with identifier ''4262df2b-77bb-49c2-a5df-28355da676d4'' was not found in
        the directory ''OpenProject GmbH''. This can happen if the application has
        not been installed by the administrator of the tenant or consented to by any
        user in the tenant. You may have sent your authentication request to the wrong
        tenant. Trace ID: 46f282b7-d885-4d58-acb8-8bb329c85e01 Correlation ID: bffb3977-30e2-49bc-aa3b-d5fe640495b8
        Timestamp: 2024-03-08 09:52:35Z","error_codes":[700016],"timestamp":"2024-03-08
        09:52:35Z","trace_id":"46f282b7-d885-4d58-acb8-8bb329c85e01","correlation_id":"bffb3977-30e2-49bc-aa3b-d5fe640495b8","error_uri":"https://login.microsoftonline.com/error?code=700016"}'
  recorded_at: Fri, 08 Mar 2024 09:52:35 GMT
recorded_with: VCR 6.2.0
