---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"5","ScaleUnit":"005","RoleInstance":"FR3PEPF00000355"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"IDX14100:
        JWT is not well formed, there are no dots (.).\nThe token needs to be in JWS
        or JWE Compact Serialization Format. (JWS): ''EncodedHeader.EndcodedPayload.EncodedSignature''.
        (JWE): ''EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphertext.EncodedAuthenticationTag''.","innerError":{"date":"2024-03-08T10:12:12","request-id":"ad0aa0d8-97e8-4c7f-9569-f4363f882e4a","client-request-id":"ad0aa0d8-97e8-4c7f-9569-f4363f882e4a"}}}'
  recorded_at: Fri, 08 Mar 2024 10:12:13 GMT
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_id=4262df2b-77bb-49c2-a5df-28355da676d2&client_secret=Vwk8Q%7EJTuPh.pAjvPiWBQBdTFMDK%7EAIwxbj9_axB&refresh_token=0.AQkANr9ETVabwEWIB7vzht0EfyvfYkK7d8JJpd8oNV2mdtIJAK8.AgABAAEAAADnfolhJpSnRYB1SVj-Hgd8AgDs_wUA9P8ntRuLW080vHVlO5D6JSD0duXIRciAK[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"5","ScaleUnit":"005","RoleInstance":"FR3PEPF000002D8"}}'
      X-Ms-Resource-Unit:
      - '1'
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Eric
        Schubert","givenName":"Eric","jobTitle":"Developer","mail":"eschubert.op@outlook.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Schubert","userPrincipalName":"eschubert.op_outlook.com#EXT#@finn.onmicrosoft.com","id":"0a0d38a9-a59b-4245-93fa-0d2cf727f17a"}'
  recorded_at: Fri, 08 Mar 2024 10:12:13 GMT
recorded_with: VCR 6.2.0
