<div>
  <div
      class="work-package--attachments--files"
      ng-show="$ctrl.attachments.length > 0">
    <div class="work-package--details--long-field">
        <span
            class="inplace-edit--read"
            ng-repeat="attachment in $ctrl.attachments track by attachment.name+$index">
          <span class="inplace-editing--trigger-container">
            <span
                class="inplace-editing--trigger-link"
                ng-class="{'-focus': $ctrl.focusing(attachment)}">
              <span class="inplace-editing--container">
                <span class="inplace-edit--read-value">
                  <i class="icon-attachment"></i>
                  <a
                      class="work-package--attachments--filename"
                      ng-href="{{attachment.downloadLocation.href || '#'}}"
                      download
                      ng-focus="$ctrl.focus(attachment)"
                      ng-blur="$ctrl.focus(null)">
                    {{::attachment.fileName || attachment.name}}
                  </a>
                </span>
                <a
                    href=''
                    class="inplace-edit--icon-wrapper"
                    ng-focus="$ctrl.focus(attachment)"
                    ng-blur="$ctrl.focus(null)"
                    ng-click="$ctrl.remove(attachment)"
                    confirm-popup="{{ ::$ctrl.destroyConfirmation }}">

                  <icon-wrapper
                      icon-name="delete"
                      icon-title="{{ ::$ctrl.text.removeFile({fileName: attachment.fileName}) }}">
                  </icon-wrapper>
                </a>
              </span>
            </span>
          </span>
        </span>
    </div>
  </div>

  <div
      ng-show="$ctrl.hasRightToUpload"
      ngf-drop
      ng-model="$ctrl.files"
      ng-model-rejected="$ctrl.rejectedFiles"
      ngf-select
      class="work-package--attachments--drop-box"
      ngf-multiple="true"
      ngf-change="$ctrl.uploadFilteredFiles($files)"
      ngf-max-size="{{::$ctrl.maximumFileSize}}"
      role="link"
      click-on-keypress="[13, 32]">
    <div class="work-package--attachments--label">
      <i class="icon-attachment"></i>
      <p>
        {{ ::$ctrl.text.dropFiles }} <br>
        {{ ::$ctrl.text.dropFilesHint }}
      </p>
    </div>
  </div>
</div>
