<div id="updates">
  <div id="last_updated"><%= date_string_with_milliseconds(@last_update, 0.001) %></div>
  <div id="stories">
    <%= render :partial => "rb_stories/story", :collection => @items[:stories] %>
  </div>
  <div id="tasks">
    <%= render :partial => "rb_tasks/task", :collection => @items[:tasks] %>
  </div>
  <div id="impediments">
    <%= render :partial => "rb_impediments/impediment", :collection => @items[:impediments] %>
  </div>
</div>