<h2><%= l(:caption_rate_history_for, :user => @user.name) %></h2>

<% if @project %>
  <%= render :partial => 'list_project' %>
<% else %>
  <%= render :partial => 'list_default' %>
  <%= render :partial => 'list' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
  <%= stylesheet_link_tag 'costs', :plugin => 'redmine_costs' %>
<% end %>
