<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<div class="search-pagination">
  <p>
    <% if pagination_previous_date %>
      <%= link_to_previous_search_page(pagination_previous_date) %>
    <% end %>
    <% if pagination_next_date %>
      <%= link_to_next_search_page(pagination_next_date) %>
    <% end %>
  </p>
</div>
