
// Full screen toggle indicator on the
// left side of the details container
.wp--details--switch-fullscreen
  width: 20px
  height: 50px
  position: absolute
  left: -12px
  top: calc(50% - 25px)
  background: #eee
  border: 1px solid $light-gray
  color: $body-font-color
  cursor: pointer

  &:hover
    background: #ddd

  // Align icon
  font-size: 10px
  text-align: center
  padding-top: 18px

  span:before
    padding: 0