<div class="op-modal--portal op-ium-invite-user-modal">
  <op-ium-project-selection
    *ngIf="step === Steps.ProjectSelection"
    class="op-modal--modal-container"
    [project]="project"
    [type]="type"
    (save)="onProjectSelectionSave($event)"
    (close)="close()"
  ></op-ium-project-selection>

  <op-ium-principal
    *ngIf="step === Steps.Principal"
    class="op-modal--modal-container"
    [project]="project"
    [principal]="principal"
    [type]="type"
    (save)="onPrincipalSave($event)"
    (back)="goTo(Steps.ProjectSelection)"
    (close)="close()"
  ></op-ium-principal>

  <op-ium-role
    *ngIf="step === Steps.Role"
    class="op-modal--modal-container"
    [role]="role"
    [principal]="principal"
    [type]="type"
    (save)="onRoleSave($event)"
    (back)="goTo(Steps.Principal)"
    (close)="close()"
  ></op-ium-role>

  <op-ium-message
    *ngIf="step === Steps.Message"
    class="op-modal--modal-container"
    [message]="message"
    (save)="onMessageSave($event)"
    (back)="goTo(Steps.Role)"
    (close)="close()"
  ></op-ium-message>

  <op-ium-summary
    *ngIf="step === Steps.Summary"
    class="op-modal--modal-container"
    [project]="project"
    [type]="type"
    [role]="role"
    [message]="message"
    (save)="onSuccessfulSubmission($event)"
    (back)="goTo(this.type === 'placeholder' ? Steps.Role : Steps.Message)"
    (close)="close()"
  ></op-ium-summary>
</div>
