<div class="op-modal--portal op-ium-invite-user-modal">
  <op-ium-project-selection
    *ngIf="step === Steps.ProjectSelection"
    class="op-modal--modal-container"
    [project]="project"
    [type]="type"
    (save)="onProjectSelectionSave($event)"
    (close)="close()"
  ></op-ium-project-selection>

  <op-ium-principal
    *ngIf="step === Steps.Principal"
    class="op-modal--modal-container"
    [principal]="principal"
    [type]="type"
    (save)="onPrincipalSave($event)"
    (back)="goTo(Steps.ProjectSelection)"
    (close)="close()"
  ></op-ium-principal>
</div>
