.op-modal
  // different steps have different height. Force a similar height this way
  min-height: 500px

  // Unfortunately, the op-modal contents has been wrapped once here
  form
    display: flex
    flex-direction: column
    flex-grow: 1

  .op-form-field + .op-form-field
    margin-top: 1rem
