<ng-select
  [formControl]="principalControl"
  [typeahead]="input$"
  [items]="items$ | async"
  [virtualScroll]="true"
  [clearable]="true"
  [clearOnBackspace]="false"
  [clearSearchOnAdd]="false"
  bindLabel="name"
  #ngselect
>
  <!--Selectable option-->
  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
    <div [ngOptionHighlight]="search" class="ng-option-label ellipsis">{{ item.name }}</div>
  </ng-template>

  <!--Nothing found -->
  <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
    <div class="ng-option disabled">
      No results found
    </div>
  </ng-template>

  <!--Invite a new user by email-->
  <ng-template ng-footer-tmp>
    <div *ngIf="canInviteByEmail$ | async">
      <button
        class="button"
        (click)="createNewFromInput()"
      >
        <op-icon icon-classes="icon-mail1"></op-icon>
        Invite new user: {{ $input | async }}
      </button>
    </div>
  </ng-template>

  <!--Create a new group or placeholder by name-->
  <ng-template ng-footer-tmp>
    <div *ngIf="canCreateNewGroupOrPlaceholder$ | async">
      <button
        class="button"
        (click)="createNewFromInput()"
      >
        <op-icon icon-classes="icon-mail1"></op-icon>
        Create new {{ type }}: {{ $input | async }}
      </button>
    </div>
  </ng-template>
</ng-select>
