<ng-select
  [formControl]="principalControl"
  [typeahead]="input$"
  [items]="items$ | async"
  [virtualScroll]="true"
  [clearable]="true"
  [clearOnBackspace]="false"
  [clearSearchOnAdd]="false"
  bindLabel="name"
  #ngselect
>
  <!--Selectable option-->
  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
    <div [ngOptionHighlight]="search" class="ng-option-label ellipsis">{{ item.name }}</div>
  </ng-template>

  <!--Nothing found -->
  <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
    <div class="ng-option disabled">
      No results found
    </div>
  </ng-template>

  <!--Invite a new user by email-->
  <ng-template ng-footer-tmp>
    <div *ngIf="isEmailAndInvitable(ngSelectInput.value) | async">
      <button class="button"
              (click)="setEmailUser(ngSelectInput.value)"
              [disabled]="!inputIsValidEmail(ngSelectInput.value)">
        <op-icon icon-classes="icon-mail1"></op-icon>

        {{this.text.invite}}: {{ngselect.searchInput.nativeElement?.value}}
      </button>
    </div>
  </ng-template>

  <!--Create a new placeholder by name-->
  <ng-template ng-footer-tmp>
    <div *ngIf="type === 'placeholder' && isCreateablePlaceholder(ngSelectInput.value)">
      <button class="button"
              (click)="setEmailUser(ngSelectInput.value)"
              [disabled]="!inputIsValidEmail(ngSelectInput.value)">
        <op-icon icon-classes="icon-mail1"></op-icon>

        {{this.text.invite}}: {{ngselect.searchInput.nativeElement?.value}}
      </button>
    </div>
  </ng-template>
</ng-select>
