<div class="op-form--container"
     *ngIf="(dynamicForm$ | async) as dynamicForm">
  <form [formGroup]="dynamicForm?.form"
        (submit)="saveForm(dynamicForm?.form.value)">
    <formly-form [form]="dynamicForm?.form"
                 [model]="dynamicForm?.model"
                 [fields]="dynamicForm?.formlyFields">
      <ng-template formlyTemplate let-field>
        <op-form-field *ngFor="let field of dynamicForm?.formlyFields"
                       [label]="field.templateOptions?.label"
                       [inlineLabel]="field.templateOptions?.inlineLabel"
                       [required]="field.templateOptions?.required">
          <formly-field [field]="field" slot=input></formly-field>

          <formly-validation-message [field]="field" slot=errors></formly-validation-message>
        </op-form-field>
      </ng-template>
    </formly-form>

    <button type="submit">
      {{text.save}}
    </button>
  </form>
</div>
