<div class="op-form--container" *ngIf="(dynamicForm$ | async) as dynamicForm">
  <form [formGroup]="dynamicForm?.form" (submit)="saveForm(dynamicForm?.form.value)" #ngForm="ngForm">
    <formly-form [form]="dynamicForm?.form" [model]="dynamicForm?.model" [fields]="dynamicForm?.formlyFields">
      <ng-template formlyTemplate let-field>
        <div *ngFor="let field of dynamicForm?.formlyFields">
          <formly-field [field]="field"></formly-field>
        </div>
      </ng-template>
    </formly-form>

    <button type="submit">
      Save
    </button>
  </form>

  <hr>
  VALID: {{dynamicForm?.form.valid}}
  SUBMITTED: {{ngForm.submitted}}

  <pre>
      {{dynamicForm?.form?.value | json}}
  </pre>
</div>
