::ng-deep .ng-dropdown-panel {
  background-color: white;
}

:host ::ng-deep {
  .ng-select {
    padding-bottom: 0;
    .ng-select-container {
      color: inherit;
      min-height: inherit;
      border-top: none;
      padding: 0;
      &::after {
        border-bottom: 0px;
      }

      .ng-value-container {
        padding: 0;
        border-top: 0;
      }

      .ng-arrow-wrapper {
        bottom: 6px;
        .ng-arrow {
          color: inherit;
        }
      }
      .ng-clear-wrapper {
        bottom: 2px;
      }
    }
  }
}
