<% changesets.each do |changeset| %>
    <div class="changeset <%= cycle('odd', 'even') %>">
    <p><%= link_to_revision(changeset, changeset.project,
                            :text => "#{l(:label_revision)} #{changeset.format_identifier}") %><br />
        <span class="author"><%= authoring(changeset.committed_on, changeset.author) %></span></p>
    <div class="changeset-changes">
        <%= textilizable(changeset, :comments) %>
    </div>
    </div>
<% end %>
