<h2><%=h "#{@issue.tracker.name} ##{@issue.id}" %></h2>

<% labelled_tabular_form_for :issue, @issue, :url => {:action => 'edit'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= f.hidden_field :lock_version %>
    <%= submit_tag l(:button_save) %>
<% end %>
