<h3><%=l(:label_history)%></h3>
<div id="history">
<%= render :partial => 'history', :locals => { :journals => @journals } %>
</div>
<br />
<p><%= link_to l(:button_back), :action => 'show', :id => @issue %></p>