.op-ian-center
  //grid-template-columns: 1fr 3fr
  //grid-template-areas: "filters entries"

  &--filters
    grid-area: filters

  &--viewport
    grid-area: entries
    flex: 1

  &--entries
    list-style: none

  &--entry
    display: list-item

  &--max-warning
    margin-bottom: 0
    text-align: center
    font-style: italic
