.op-ian-center
  display: grid
  grid-template-rows: 1fr auto
  height: 100%

  &--content
    height: 100%

  &--viewport
    height: 100%

  &--max-warning
    margin-bottom: 0
    text-align: center
    font-style: italic

  :host
    .-browser-safari &
      // Because of Safari's viewport bug, the address bar overlaps content with height: 100vh
      // Check #38082 before changing it
      height: 100%

  &--loading-indicator
    --container: linear-gradient(to bottom, #ffffff 100%, transparent 0%)
    --container-height: 105px
    --element: linear-gradient(to right, #C0C0C0 100%, transparent 0%)
    --element-height: 20px
    --element-width: 100%
    --element-1-position: 0px 10px
    --element-2-position: 0px 40px
    --element-3-position: 0px 70px
    --blur-width: 50%
    --blur-size: var(--blur-width) var(--container-height)
    &:empty::after
      border-top: 1px dotted #C0C0C0
      border-bottom: 1px dotted #C0C0C0
      content: ""
      display: block
      width: 100%
      height: 105px
      -webkit-transition: all 1s ease-in-out
      -moz-transition: all 1s ease-in-out
      -o-transition: all 1s ease-in-out
      transition: all 1s ease-in-out
      background-image: linear-gradient(100deg, rgba(#ffffff, 0) 0, rgba(#ffffff, .8) 50%, rgba(#ffffff, 0) 100%), var(--element),var(--element),var(--element),var(--container)
      background-size: var(--blur-size),var(--element-width) var(--element-height),var(--element-width) var(--element-height),var(--element-width) var(--element-height),100% 100%
      background-position: -150% 0,var(--element-1-position),var(--element-2-position),var(--element-3-position),0 0
      background-repeat: no-repeat
      animation: loading 3s infinite linear

    @keyframes loading
      to
        background-position: 350% 0, var(--element-1-position), var(--element-2-position),var(--element-3-position), 0 0