<div class="op-ian-center">
  <div class="op-ian-center--content">
    <ng-container *ngIf="(hasNotifications$ | async) as notifications; else noResults">
      <cdk-virtual-scroll-viewport
          itemSize="90"
          class="op-ian-center--viewport"
      >
        <op-in-app-notification-entry
            *cdkVirtualFor="let records of notifications$ | async; templateCacheSize: 0"
            class="op-ian-center--entry"
            [notification]="records[0]"
            [aggregatedNotifications]="records"
        ></op-in-app-notification-entry>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <ng-template #noResults>
      <div class="op-ian-center--loading-indicator"></div>
    </ng-template>
  </div>
  <div class="op-ian-center--footer">
    <p
      class="op-ian-center--max-warning"
      *ngIf="hasMoreThanPageSize$ | async"
      [textContent]="totalCountWarning$ | async"
    >
    </p>
  </div>
</div>
