<div class="op-ian-center">
  <div class="op-ian-center--loading-indicator" *ngIf="!isNoticationsLoaded">
    <op-content-loader>
      <svg:rect x="0" y="0" width="100%" height="5" rx="1" />
      <svg:rect x="0" y="7" width="100%" height="5" rx="1" />
      <svg:rect x="0" y="14" width="100%" height="5" rx="1" />
    </op-content-loader>
  </div>
  <div class="op-ian-center--content">
    <ng-container *ngIf="(hasNotifications$ | async) as notifications; else noResults">
      <cdk-virtual-scroll-viewport
          itemSize="90"
          class="op-ian-center--viewport"
      >
        <op-in-app-notification-entry
            *cdkVirtualFor="let records of notifications$ | async; templateCacheSize: 0"
            class="op-ian-center--entry"
            [notification]="records[0]"
            [aggregatedNotifications]="records"
        ></op-in-app-notification-entry>
      </cdk-virtual-scroll-viewport>
    </ng-container>
    <ng-template #noResults>
      <div class="generic-table--no-results-container" *ngIf="isNoticationsLoaded">
        <span
            class="generic-table--no-results-title"
        >
          <op-icon icon-classes="icon-info1"></op-icon>
          {{ noResultText$ | async }}
        </span>
      </div>
    </ng-template>
  </div>
  <div class="op-ian-center--footer">
    <p
      class="op-ian-center--max-warning"
      *ngIf="hasMoreThanPageSize$ | async"
      [textContent]="totalCountWarning$ | async"
    >
    </p>
  </div>
</div>
