<div class="wp-relations-hierarchy-section">
    <div class="attributes-group--header">
        <div class="attributes-group--header-container">
            <h3 class="attributes-group--header-text">
                {{ ::$ctrl.text.parentHeadline }}
            </h3>
        </div>
    </div>

    <wp-relations-hierarchy-row
            work-package="$ctrl.workPackage"
            related-work-package="$ctrl.workPackage.parent"
            relation-type="parent"></wp-relations-hierarchy-row>
</div>
<div class="wp-relations-hierarchy-section">
    <div class="attributes-group--header">
        <div class="attributes-group--header-container">
            <h3 class="attributes-group--header-text">
                {{ ::$ctrl.text.childrenHeadline }}
            </h3>
        </div>
    </div>

    <wp-embedded-table queryId="5"
                       [query-props]="{ 'columns[]': ['id', 'type', 'subject'], showHierarchies: false }"
                       [configuration]="{ splitViewEnabled: false, columnMenuEnabled: false, contextMenuEnabled: false }">
    </wp-embedded-table>

    <wp-relations-create
            fixed-relation-type="children"
            work-package="$ctrl.workPackage"
            template="add-child"
            ng-if="$ctrl.canModifyHierarchy && $ctrl.canHaveChildren"></wp-relations-create>
</div>
