.datepicker-modal
  position: relative
  z-index: 500
  width: 700px
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25)

  .op-modal--modal-body
    overflow: hidden

  .grid-block
    align-items: center


.datepicker-modal--dates-container
  display: grid
  grid-template-columns: 170px 1fr auto

  .form--date-field
    margin: 2px !important

    &.-current,
    &.-current:hover
      outline: 2px solid var(--primary-color)

  .datepicker-modal--scheduling-action-container
    margin-top: 28px

    .form--label-with-check-box
      padding: 0

  .form--field-inline-action
    .icon-small:before
      vertical-align: text-bottom
    &:hover, &:focus
      text-decoration: none


.datepicker-modal--actions-container
  display: grid
  grid-template-columns: auto auto
  grid-column-gap: 30px
  margin-top: 20px
  justify-content: end
