<div class="spot-modal-overlay spot-modal-overlay_active">
  <div class="spot-modal">
    <div class="spot-modal--header">
      <span class="spot-icon spot-icon_warning"></span>
      <span>Confirm deletion of Work Package</span>
    </div>
    <div class="spot-divider"></div>
    <div class="spot-modal--body spot-container">
      <p class="spot-body-small">Are you sure you want to delete the following work package?
      <p>
      <p class="spot-body-small"> ... </p>
    </div>
    <div class="spot-action-bar">
      <div class="spot-action-bar--right">
        <button name="button" type="button" class="button button_no-margin spot-action-bar--action spot-modal--cancel-button">Cancel</button>
        <button name="button" type="submit" class="button button_no-margin -danger spot-action-bar--action">Continue</button>
      </div>
    </div>
  </div>
</div>
