<form
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit($event)"
>
  <div class="op-modal--modal-header">
    <button
      class="op-modal--modal-close-button"
      type="button"
      (click)="closeModal.emit()"
      [attr.aria-label]="text.closePopup"
    >
      <span class="icon-close"></span>
    </button>
    <h3 [textContent]="text.title"></h3>
  </div>

  <div class="op-modal--modal-body">
    <op-form-field
      label="Invite Message"
      [formBinding]="messageControl"
    >
      <p class="op-form-field--description" slot="description">
        We will send an email to Max Mustermann, to which you can add a personal message here.  An explanation
for the invitation could be useful, or perhaps a bit of information regarding the project to help them get started.
      </p>
      <textarea
        [formControl]="messageControl"
        slot="input"
      ></textarea>
    </op-form-field>
  </div>

  <div class="op-modal--modal-footer">
    <button
      type="button"
      (click)="back.emit()"
    >Back</button>
    <button>Next</button>
  </div>
</form>
