<form
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit($event)"
>
  <op-modal-heading (close)="close.emit()">{{ text.title() }}</op-modal-heading>

  <div class="op-modal--modal-body">
    <op-form-field
      [label]="text.label"
      [formBinding]="messageControl"
    >
      <p class="op-form-field--description" slot="description">
        {{ text.description() }}
      </p>
      <textarea
        class="op-input"
        [formControl]="messageControl"
        slot="input"
        autofocus
      ></textarea>
    </op-form-field>
  </div>

  <div class="op-modal--modal-footer">
    <button
      type="button"
      class="button"
      (click)="back.emit()"
    >{{ text.backButton }}</button>
    <button class="button">{{ text.nextButton }}</button>
  </div>
</form>
