.op-quick-add-menu
  @include breakpoint(680px down)
    display: none

  &--button
    display: flex
    justify-content: center
    align-items: center
    position: relative
    color: var(--button--alt-highlight-font-color)

    > *
      z-index: 1

    &::after
      display: block
      background: var(--button--alt-highlight-background-color)
      border-width: 2px
      border-style: solid
      border-color: var(--button--alt-highlight-background-color)
      border-radius: 50%
      padding: 0.25rem
      width: 26px
      height: 26px
      content: ''
      position: absolute

    &:hover
      color: var(--button--alt-highlight-font-hover-color)

      &::after
        background: var(--button--alt-highlight-background-hover-color)
        border-color: var(--button--alt-highlight-background-hover-color)
