<% if @project && @project.module_enabled?(:costs_module) %>
  <%
    cost_objects_any = false
    possible_cost_objects = issues.inject(issues.first.project.cost_objects) do |intersect, work_package|
    cost_objects_any |= work_package.project.cost_objects.any?
    work_package.project.cost_objects & intersect
  end
%>

    <% unless possible_cost_objects.empty? -%>
      <%= context_menu_entry title: l(:label_cost_object),
                             back_url: back,
                             updated_object_ids: issues.collect(&:id),
                             collection: possible_cost_objects,
                             attribute: 'cost_object',
                             selected: lambda { |cost_object| @work_package && cost_object == @work_package.cost_object },
                             disabled: lambda { |cost_object| !can[:edit] } %>

    <% else -%>
      <li class="folder">
        <a href="#" class="submenu"><%= l(:label_cost_object) %></a>
        <ul>
          <li><%= l(cost_objects_any ? :notice_cost_object_conflict : :notice_no_cost_objects_available)%></li>
        </ul>
      </li>
    <% end -%>
<% end %>
