.op-forum-thread-gap
  margin-left: 19px

  &--branch
    position: relative
    flex-shrink: 0
    width: 20px

    &::before
      content: ""
      position: absolute
      top: 10px
      left: 0
      width: 100%
      height: var(--borderWidth-thin, 1px)
      background-color: var(--borderColor-default)
