<ul>
  <li class="main-item-wrapper">
    <a
      class="op-menu--item-action overview-menu-item"
      href="#"
    >
      Inbox
    </a>
  </li>
  <li class="main-item-wrapper">
    <a
      class="op-menu--item-action overview-menu-item"
      href="#"
    >
      Flagged
    </a>
  </li>
  <li class="main-item-wrapper">
    <a
      class="op-menu--item-action overview-menu-item"
      href="#"
    >
      My comments
    </a>
  </li>
  <li>
    <op-collapsible-menu
      *ngIf="notificationsByReason$ | async"
      [items]="notificationsByReason$ | async"
      title="Unread by Reason"
    ></op-collapsible-menu>
  </li>
  <li>
    <op-collapsible-menu
      *ngIf="notificationsByProject$ | async"
      [items]="notificationsByProject$ | async"
      title="Unread by Project"
    ></op-collapsible-menu>
  </li>
</ul>
