<div class="team-planner--loading-skeleton">
        <op-principal-loading-skeleton
         class="team-planner--loading-skeleton-assignee1"
        ></op-principal-loading-skeleton>
        <op-principal-loading-skeleton
         class="team-planner--loading-skeleton-assignee2"
        ></op-principal-loading-skeleton>
        <op-principal-loading-skeleton
         class="team-planner--loading-skeleton-assignee3"
        ></op-principal-loading-skeleton>
        <op-wp-loading-skeleton 
        class="team-planner--loading-skeleton-wp1"
        ></op-wp-loading-skeleton>
        <op-wp-loading-skeleton 
        class="team-planner--loading-skeleton-wp2"
        ></op-wp-loading-skeleton>
        <op-wp-loading-skeleton
         class="team-planner--loading-skeleton-wp3"
        ></op-wp-loading-skeleton>
</div>