<div class="days">
  <div class="form--field-container">
    <div class="form--text-field-container -xslim">
        <span class="inline-label">
          <%= number_field_tag :value,
                               value,
                               class: 'advanced-filters--text-field -slim',
                               'data-filters-target': 'days',
                               'data-filter-name': filter.name %>
          <label for="value" class="form-label -transparent">days</label>
         </span>
    </div>
  </div>
</div>
