<form class="form">
  <div class="form--field">
    <label for="kurosaki" class="form--label">Kurosaki</label>
    <div class="form--field-container">
      <div class="form--text-field-container">
        <input type="text" placeholder="First name" class="form--text-field" id="kurosaki" >
      </div>
      <div class="form--tooltip-container">
        <span class="tooltip--left" tabindex="0" data-tooltip="First name of the son">
          <i class="icon icon-help1"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form--field">
    <label for="bankai" class="form--label">Bankai</label>
    <div class="form--field-container">
      <div class="form--select-container">
        <select name="bankai" id="bankai" class="form--select">
          <option value="hakka">Hakka no togame</option>
          <option value="tensa">Tensa zangetsu</option>
          <option value="zanka">Zanka no tachi</option>
          <option value="kokujo">Kokujō Tengen Myō'ō</option>
          <option value="tekken">Tekken tachikaze</option>
        </select>
      </div>
      <div class="form--tooltip-container">
        <span class="tooltip--left" tabindex="0" data-tooltip="Ice-type maybe?">
          <i class="icon icon-help"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form--field">
    <label for="kuchiki" class="form--label">Kuchiki</label>
    <div class="form--field-container">
      <div class="form--text-field-container">
        <input type="text" class="form--text-field" placeholder="First name" id="kuchiki">
      </div>
      <div class="form--tooltip-container">
        <span class="tooltip--left" tabindex="0" data-tooltip="First name of a captain">
          <i class="icon icon-help2"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form--field">
    <label for="traitor" class="form--label">Traitor</label>
    <div class="form--field-container">
      <div class="form--text-field-container">
        <input type="password" placeholder="Traitor" id="traitor">
      </div>
      <div class="form--tooltip-container">
        <span class="tooltip--left -multiline" tabindex="0" data-tooltip="Well, major spoiler, so we better hide the output, right? Then again, wouldn't this be according to Keikaku anyway?">
          <i class="icon icon-warning"></i>
        </span>
      </div>
    </div>
  </div>
</form>
