<div class="op-modal--portal">
  <div class="op-modal--modal-container"
       data-indicator-name="modal"
       tabindex="0">
      <div class="op-modal--modal-header">
        <h3 *ngIf="!status"> {{ text.label_test_ee }}</h3>
        <h3 *ngIf="status === 'mailSubmitted'">Confirmation of email-address</h3>
        <h3 *ngIf="status === 'startTrial'">Next steps</h3>
        <a class="op-modal--modal-close-button" *ngIf="showClose">
          <i
              class="icon-close"
              (click)="closeModal($event)"
              [attr.title]="text.close_popup">
          </i>
        </a>
      </div>

      <div class="op-modal--modal-body">
        <div *ngIf="!status">
          <form id="enterprise-trial-form" class="form" [formGroup]="enterpriseTrialForm">
            <div class="form--field -required">
              <label class="form--label">{{ text.label_company }}</label>
              <div class="form--field-container">
                <div class="form--text-field-container">
                  <input type="text"
                         class="form--text-field"
                         formControlName="company"
                         required>
                </div>
              </div>
            </div>
            <div class="form--field -required">
              <label class="form--label">{{ text.label_first_name }}</label>
              <div class="form--field-container">
                <div class="form--text-field-container">
                  <input type="text"
                         class="form--text-field"
                         formControlName="first_name"
                         required>
                </div>
              </div>
            </div>
            <div class="form--field -required">
              <label class="form--label">{{ text.label_last_name }}</label>
              <div class="form--field-container">
                <div class="form--text-field-container">
                  <input type="text"
                         class="form--text-field"
                         formControlName="last_name"
                         required>
                </div>
              </div>
            </div>
            <div class="form--field -required">
              <label class="form--label">{{ text.label_email }}</label>
              <div class="form--field-container" [ngClass]="{ '-required-highlighting': this.errorMsg }">
                <div class="form--text-field-container">
                  <input type="email" class="form--text-field" formControlName="email" (blur)="checkMailField()">
                </div>
              </div>
              <div *ngIf="this.errorMsg" class="form--field-instructions">{{ this.errorMsg }}</div>
            </div>
            <div class="form--field -required">
              <label class="form--label">{{ text.label_domain }}</label>
              <div class="form--field-container">
                <div class="form--text-field-container">
                  <input type="text" class="form--text-field" formControlName="domain">
                </div>
              </div>
            </div>
            <div class="form--field -required -trailing-label">
              <label class="form--label -visible-overflow" for="check-terms-of-service">
                <span>I agree with the
                  <a href="https://www.openproject.com/terms-of-service/" target="_blank">
                    terms of service</a> and the
                  <a href="https://www.openproject.com/legal-notice/" target="_blank">privacy policy</a>.
                </span>
                <span class="tooltip--right"
                      data-tooltip="You already confirmed the terms of service when you created your OpenProject trial.">
                  <i class="icon icon-info1"></i>
                </span>
              </label>
              <div class="form--field-container">
                <div class="form--check-box-container">
                  <input class="form--check-box"
                         id="check-terms-of-service"
                         required type="checkbox"
                         formControlName="general_consent">
                </div>
              </div>
            </div>
            <div class="form--field -trailing-label">
              <label class="form--label"
                     for="receive_newsletter">
                <span>I want to receive the OpenProject
                  <a href="https://www.openproject.com/newsletter/" target="_blank">
                    newsletter</a>.
                </span>
              </label>
              <div class="form--field-container">
                <div class="form--check-box-container">
                  <input type="checkbox"
                         id="receive_newsletter"
                         name="receive_newsletter"
                         formControlName="newsletter_consent">
                </div>
              </div>
            </div>
          </form>
          <p>{{ text.next_step }}</p>
        </div>

        <div *ngIf="status === 'mailSubmitted'">
          <p>We sent you an email. Please click the confirmation link provided in this email.</p>
          <p>
            <span>Status: </span>
            <span *ngIf="!confirmed; else confirmedStatus" class="status--waiting">
              email sent - waiting for confirmation
              <a id="resend-link" href="{{ baseUrl + resendLink }}" target="_blank">{{ text.resend }}</a>
            </span>
            <ng-template #confirmedStatus>
              <span class="status--confirmed">confirmed ✓</span>
            </ng-template>
          </p>
          <p *ngIf="confirmed">Enterprise token: {{ this.token }}</p>
        </div>

        <div *ngIf="status === 'startTrial'">
          <p>Onboarding</p>
        </div>
      </div>

      <div class="op-modal--modal-footer">
        <div *ngIf="!status; else mailSubmitted">
          <button class="confirm-form-submit--continue button -highlight"
                  (click)="onSubmit()"
                  [disabled]="!enterpriseTrialForm.valid"
                  [textContent]="text.button_submit"
                  [attr.title]="text.button_submit"
                  [hidden]="status === 'mailSubmitted'">
          </button>
          <button class="confirm-form-submit--cancel button"
                  (click)="closeModal($event)"
                  [textContent]="text.button_cancel"
                  [attr.title]="text.button_cancel">
          </button>
        </div>
        <ng-template #mailSubmitted>
          <button class="confirm-form-submit--continue button -highlight"
                  (click)="startEnterpriseTrial()"
                  [textContent]="text.button_continue"
                  [attr.title]="text.button_continue"
                  [disabled]="!confirmed">
          </button>
        </ng-template>
      </div>

    </div>
  </div>