<div class="title-container">
  <div  title="Click to edit"
        (accessibleClick)="edit(selectedTitle)"
        (dblclick)="edit(selectedTitle)"
        tabindex="0"
        class="inline-edit">
    <div *ngIf="editing; else notEditable">
      <input type="text"
              aria-required="true"
              (accessibleClick)="onKeyPress($event)"
              [(ngModel)]="selectedTitle"
              [ngClass]="{ '-error': selectedTitle === '' }"/>
    </div>
    <ng-template #notEditable>
      <h2 title="{{ selectedTitle }}" [ngClass]="{ '-disabled': disabled }"> {{ selectedTitle | slice:0:50 }} </h2>
    </ng-template>
  </div>
</div>
