<div class="dropdown dropdown-relative" id="querySelectDropdown">
  <div class="search-query-wrapper">
    <label for="query-title-filter"
           class="hidden-for-sighted"
           [textContent]="text.label" ></label>
    <input type="text"
           class="ui-autocomplete--input"
           name="query-title-filter"
           id="query-title-filter"
           [attr.placeholder]="text.loading">
    <i id="magnifier" class="icon-search"></i>
  </div>
  <p class="query-select-dropdown--no-results"
     hidden
     [textContent]="text.no_results"></p>
</div>
