<button type="submit" class="button -primary">
  <%= op_icon('button--icon icon-checkmark') %>
    <span class="button--text">
      <%= is_creation_form ? t(:button_create) : t(:button_save) %>
    </span>
</button>
