<div [attr.id]="locals.contextMenuId"
     class="dropdown-relative dropdown -overflow-in-view"
     ng-class="{'dropdown-anchor-right': locals.showAnchorRight}">
  <ul class="dropdown-menu "
      role="menu"
      [ngClass]="{'-empty': items.length === 0 }">
    <ng-container *ngFor="let item of items">
      <li *ngIf="item.divider" class="dropdown-divider"></li>
      <li *ngIf="!item.divider">
        <a
          *ngIf="item.href"
          class="menu-item"
          [ngClass]="item.class"
          [class.inactive]="item.disabled"
          [attr.href]="item.href"
          [attr.aria-disabled]="item.disabled"
          [attr.aria-label]="item.ariaLabel || item.linkText"
          [attr.title]="item.title || undefined"
          (click)="handleClick(item, $event)"
        >
          <span *ngIf="item.icon" class="spot-icon spot-icon_{{ item.icon }}"></span>
          <span [textContent]="item.linkText"></span>
          <span *ngIf="item.postIcon" class="spot-icon spot-icon_{{ item.postIcon }} icon-action-menu-post"></span>
          <span *ngIf="item.postIconTitle" [textContent]="item.postIconTitle" class="hidden-for-sighted"></span>
        </a>
        <button
          *ngIf="!item.href"
          class="menu-item"
          [ngClass]="item.class"
          [class.inactive]="item.disabled"
          [attr.aria-disabled]="item.disabled"
          [attr.aria-label]="item.ariaLabel || item.linkText"
          [attr.title]="item.title || undefined"
          (click)="handleClick(item, $event)"
        >
          <span *ngIf="item.icon" class="spot-icon spot-icon_{{ item.icon }}"></span>
          <span [textContent]="item.linkText"></span>
          <span *ngIf="item.postIcon" class="spot-icon spot-icon_{{ item.postIcon }} icon-action-menu-post"></span>
          <span *ngIf="item.postIconTitle" [textContent]="item.postIconTitle" class="hidden-for-sighted"></span>
        </button>
      </li>
    </ng-container>
  </ul>
</div>
