<% html_id = "modal_window_#{SecureRandom.hex(10)}" %>
<div id="<%= html_id %>">
<%
  @issue      = issue      if defined? issue
  @changesets = changesets if defined? changesets
  @journals   = journals   if defined? journals
%>

<% form = OpenProject::Backlogs::IssueForm.new(@issue) %>
<%= OpenProject::Backlogs::IssueEditActions.new(@issue, html_id, form.form_id).render(self) %>
<%= form.render(self) %>
<%= OpenProject::Nissue::JournalView.new(@journals, @issue).render(self) %>
</div>
