.title-container
  margin-left: 20px
  // Ugly way to cover the additional space that the "add" rows need
  // Since they are most of the time invisible the spacings look odd then.
  margin-bottom: -5px

.toolbar-container
  margin-bottom: 0

.toolbar-items
  padding-right: 20px

@media only screen and (max-width: 679px)
  .title-container
    margin-left: 0
    margin-bottom: 0
