<div class="wp-inline-edit--active-field wp-edit-field inplace-edit {{ handler.field.name }}"
     ng-class="{'-error': handler.isErrorenous }">
  <form (click)="handler.stopPropagation($event)"
        (dblclick)="handler.stopPropagation($event)"
        (submit)="handler.handleUserSubmit()"
        role="form"
        tabindex="-1">

    <label [for]="handler.htmlId"
           class="hidden-for-sighted">
      {{handler.fieldLabel}}

      {{handler.errorMessageOnLabel}}
    </label>
    <ng-container *ngComponentOutlet="editFieldComponent"></ng-container>
  </form>
</div>
