<div id="column-context-menu"
     class="dropdown-relative dropdown action-menu"
     ng-class="{'dropdown-anchor-right': column && column.id !== 'id'}">
  <ul class="dropdown-menu">
    <li ng-if="isSortable">
      <a class="menu-item" focus href="" ng-click="sortAscending()">
        <op-icon icon-classes="icon-action-menu icon-sort-ascending"></op-icon>
        <span ng-bind="text.sortAscending"/>
      </a>
    </li>

    <li ng-if="isSortable">
      <a class="menu-item" href="" ng-click="sortDescending()">
        <op-icon icon-classes="icon-action-menu icon-sort-descending"></op-icon>
        <span ng-bind="text.sortDescending"/>
      </a>
    </li>

    <li ng-if="isGroupable">
      <a class="menu-item"
         focus="focusFeature('group')"
         href=""
         ng-click="groupBy()">
        <op-icon icon-classes="icon-action-menu icon-group-by"></op-icon>
        <span ng-bind="text.groupBy"/>
      </a>
    </li>

    <li ng-if="canMoveLeft()">
      <a class="menu-item" focus="focusFeature('moveLeft')" href="" ng-click="moveLeft()">
        <op-icon icon-classes="icon-action-menu icon-column-left"></op-icon>
        <span ng-bind="text.moveLeft"/>
      </a>
    </li>

    <li ng-if="canMoveRight()">
      <a class="menu-item" focus="focusFeature('moveRight')" href="" ng-click="moveRight()">
        <op-icon icon-classes="icon-action-menu icon-column-right"></op-icon>
        <span ng-bind="text.moveRight"/>
      </a>
    </li>

    <li ng-if="canBeHidden()">
      <a class="menu-item" focus="focusFeature('hide')" href="" ng-click="hideColumn()">
        <op-icon icon-classes="icon-action-menu icon-delete"></op-icon>
        <span ng-bind="text.hide"/>
      </a>
    </li>

    <li>
      <a class="menu-item" focus="focusFeature('insert')" href="" ng-click="insertColumns()">
        <op-icon icon-classes="icon-action-menu icon-columns"></op-icon>
        <span ng-bind="text.insert"/>
      </a>
    </li>
  </ul>
</div>
