@import 'elements/_bar'
@import 'elements/_milestone'

.wp-timeline--dummy-controls
  padding: 0.625rem
  background-color: #F8F8F8
  border: 1px solid #EAEAEA


.wp-timeline-header-container.generic-table--sort-header-outer
  padding: 0
  z-index: 100
  margin-left: -2px
  height: $generic-table--header-height

  &:hover
    // Show scroll buttons on hover
    .wp-timeline--scroll-btn
      display: block

.wp-timeline--scroll-wrapper
  border-left: 2px solid $primary-color-dark

  // The scroll wrapper is resized to span the entire table.
  // Without this, scroll is caught by the header.
  pointer-events: none
  position: relative

  // Overflow must be hidden since the width of the column is fixed.
  // Since height is explicitly set, this is effectively
  // overflow-x: hidden / overflow-y: visible
  overflow: hidden

// Scroll slider container
// (To maintain border style)
.wp-timeline--slider-wrapper
  border-left: 2px solid $primary-color-dark

// Scroll slider
.wp-timeline--slider
  position: relative
  height: 1rem
  border-radius: none

  .ui-slider-handle
    position: absolute
    top: 0
    width: 1rem
    height: 100%
    cursor: default
    touch-action: none
    border-radius: none
    background: $primary-color
