.wp-timeline--dummy-controls
  padding: 0.625rem
  background-color: #F8F8F8
  border: 1px solid #EAEAEA


table.generic-table
  .generic-table--sort-header-outer.wp-timeline--header
    padding: 0
    margin-left: -2px
    border-left: 2px solid $primary-color-dark