<h3><%= l(:description_budget_navigation) %></h3>

<%= link_to_if_authorized l(:label_cost_object_new), {:action => 'new', :project_id => @project } %><br />
<%= link_to l(:label_view_all_cost_objects), {:action => 'index'} %><br />
