<div id="work-package-context-menu" class="action-menu dropdown" role="menu">
  <ul class="dropdown-menu">
    <li class="open"
        feature-flag="detailsView">
      <a role="menuitem" focus="isDetailsViewLinkPresent()" ui-sref="work-packages.list.details.overview({workPackageId: row.object.id})">
        <i ng-class="['icon-action-menu', 'icon-table-detail-view']"></i>
        <span ng-bind="I18n.t('js.button_open_details')"/>
      </a>
    </li>
    <li ng-repeat="(action, link) in permittedActions"
        class="{{action}}">
      <a role="menuitem" focus="$index == 0 && !isDetailsViewLinkPresent()" href="" ng-click="triggerContextMenuAction(action, link)">
        <i ng-class="['icon-action-menu', 'icon-' + action]"></i>
        <span ng-bind="I18n.t('js.button_' + action)"/>
      </a>
    </li>
  </ul>
</div>
