<div class="ng-modal-window">
  <div class="ng-modal-inner">
    <div class="modal-header"><i class="icon-close" ng-click="modal.closeMe()"></i></div>

    <h3>Share</h3>

    <div>
      <label class="checkbox-label">
        <input type="checkbox" name="is_public" ng-model="query.isPublic"></input>
        <div class="styled-checkbox"></div>
        Page visible for others
      </label>
    </div>
    <div>
      <label class="checkbox-label">
        <input type="checkbox" name="shown_in_all_projects" ng-model="query.shownInAllProjects"></input>
        <div class="styled-checkbox"></div>
        Show page in all projects
      </label>
    </div>
    <div>
      <button ng-click="saveQuery()">Save</button>
      <button ng-click="modal.closeMe()">Cancel</button>
    </div>

  </div>
</div>
