<% if edit %>
  <div class="macro -embedded-table ck-widget">
    <%= t('js.editor.macro.embedded_table.text') %>
  </div>
<% else %>
  <%= render partial: 'work_packages/me_list_simple', locals: { user_filter: user_filter } %>
<% end %>
