<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h3><%=l(:label_watched_work_packages)%> (<%= Issue.visible.watched_by(user.id).count %>)</h3>
<% watched_issues = Issue.visible.on_active_project.watched_by(user.id).recently_updated.with_limit(10) %>

<%= render :partial => 'issues/list_simple', :locals => { :issues => watched_issues } %>
<% if watched_issues.length > 0 %>
<p class="small"><%= link_to l(:label_work_package_view_all_watched), :controller => '/issues',
																											 :action => 'index',
																											 :set_filter => 1,
																											 :watcher_id => 'me',
																											 :sort => 'updated_at:desc' %></p>
<% end %>
