<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h3><%=l(:label_news_latest)%></h3>

<%= render(:partial => 'news/news',
            :collection => News.find(:all,
                                     :limit => 10,
                                     :order => "#{News.table_name}.created_on DESC",
                                     :conditions => "#{News.table_name}.project_id in (#{@user.projects.collect{|m| m.id}.join(',')})",
                                     :include => [:project, :author])) unless @user.projects.empty? %>