.timeline-element.bar
  position: relative
  height: 1em
  border-radius: 2px
  float: left
  z-index: 50
  cursor: ew-resize

  .leftHandle
    position: absolute
    left: 0
    top: 0
    width: 20px
    max-width: 20%
    height: 100%
    cursor: w-resize

  .rightHandle
    position: absolute
    right: 0
    top: 0
    width: 20px
    max-width: 20%
    height: 100%
    cursor: e-resize
