<ng-content></ng-content>

<p>
  We sent you and email to {{ eeTrialService.trialForm.email }}
  Please check your mails and click the confirmation link provided to start your 14 days trial.
</p>
<p>
  <span>Status: </span>
  <span *ngIf="!eeTrialService.confirmed; else confirmedStatus" class="status--waiting">
      email sent - waiting for confirmation
    <a id="resend-link" (click)="eeTrialService.resendMail()">{{ text.resend }}</a>

    <p *ngIf="eeTrialService.cancelled">
      Sorry, session timed out. Please try to resend mail.
    </p>
  </span>

  <ng-template #confirmedStatus>
    <span class="status--confirmed">confirmed ✓</span>
  </ng-template>
</p>