<div class="op-ifc-viewer--sidemenu">
  <%=
    angular_component_tag 'op-view-select',
                          inputs: {
                            projectId: (@project ? @project.id.to_s : ''),
                            menuItems: [parent_name, name],
                            baseRoute: 'bim.partitioned.list',
                            viewType: 'Bim',
                          }
  %>

  <hr>

  <div class="op-ifc-viewer--tree-panel active" data-qa-selector="op-ifc-viewer--tree-panel"></div>
</div>
