<% html_id = "modal_window_#{SecureRandom.hex(10)}" %>
<div id="<%= html_id %>">
<%
  @work_package = work_package if defined? work_package
  @changesets   = changesets   if defined? changesets
  @journals     = journals     if defined? journals
%>

<% form = OpenProject::Backlogs::WorkPackageForm.new(@work_package) %>
<%= OpenProject::Backlogs::WorkPackageEditActions.new(@work_package, html_id, form.form_id).render(self) %>
<%= form.render(self) %>
<%= OpenProject::Nissue::JournalView.new(@journals, @work_package).render(self) %>
</div>
