@import 'helpers'

.op-new-project-mapping-form
  .ng-placeholder
    @extend .icon-search
    &:before
      @include icon-font-common
      margin-right: 10px

.FormControl-horizontalGroup
    display: flex
    align-items: center
    justify-content: space-between
