<form
  name="sendUserInviteForm"
  (submit)="onSubmit($event)"
  class="op-ium-summary"
>
  <op-modal-header (close)="close.emit()">{{ text.title() }}</op-modal-header>

  <div class="op-modal--body">
    <op-form-field [label]="text.projectLabel">
      <p slot="input">{{ project.name }}</p>
    </op-form-field>
    <div class="op-ium-summary__row">
      <op-form-field [label]="text.principalLabel[type]">
        <p slot="input">{{ principal.name }}</p>
      </op-form-field>
      <op-form-field [label]="text.roleLabel()">
        <p slot="input">{{ role.name }}</p>
      </op-form-field>
    </div>
    <op-form-field
      [label]="text.messageLabel"
      *ngIf="type !== 'placeholder'"
    >
      <p slot="input">{{ message | json }}</p>
    </op-form-field>
  </div>

  <div class="op-modal--footer">
    <button
      type="button"
      (click)="back.emit()"
    >{{ text.backButton }}</button>
    <button>{{ text.nextButton() }}</button>
  </div>
</form>
