<op-scrollable-tabs
  [tabs]="tabs"
  class="op-work-package-tabs"
>
  <ng-container slot="actions" *ngIf="view === 'split'">
    <li class="tab-icon">
      <button
        type="button"
        class="spot-link work-packages--details-fullscreen-icon"
        [attr.title]="text.details.goToFullScreen"
        [attr.aria-label]="text.details.goToFullScreen"
        (click)="switchToFullscreen()"
      >
        <span class="spot-icon spot-icon_to-fullscreen"></span>
      </button>
    </li>
    <li class="tab-icon">
      <button
        type="button"
        class="spot-link work-packages--details-close-icon"
        [attr.title]="text.details.close"
        [attr.aria-label]="text.details.close"
        (click)="close()"
      >
        <span class="spot-icon spot-icon_close"></span>
      </button>
    </li>
  </ng-container>
</op-scrollable-tabs>
