<div id="work-packages-index" ng-controller="WorkPackagesController">

  <div class="toolbar-container">
    <toolbar>
      <selectable-title selected-title="selectedTitle"
                        reload-method="reloadQuery"
                        data-groups="dataGroups"
                        groups="groups">
      </selectable-title>

      <ul>
        <li><button class="button_highlight" with-dropdown dropdown-id="tasksDropdown"><i class="icon-add icon4"></i>New Task<i class="icon-pulldown-arrow1 icon-dropdown"></i></button></li>
        <li>
          <button class="button"
                  ng-click="showFiltersOptions = !showFiltersOptions"
                  ng-class="{active: showFiltersOptions}">
            <i class="icon-pin icon-buttons"></i>Filter
          </button>
        </li>
        <li><button class="button last" with-dropdown dropdown-id="settingsDropdown"><i class="icon-settings"></i><i class="icon-pulldown-arrow1 icon-dropdown"></i></button></li>
      </ul>
    </toolbar>
  </div>

  <div class="dropdown dropdown-relative dropdown-anchor-right" id="tasksDropdown">
    <ul class="dropdown-menu">
      <li><a ng-href="" ng-repeat="(id, obj) in projectTypes">{{obj[1]}}</a></li>
    </ul>
  </div>

  <div options-dropdown class="dropdown dropdown-relative dropdown-anchor-right" id="settingsDropdown">
    <ul class="dropdown-menu">
      <li><a href ng-click="showColumnsModal()">Columns…</a></li>
      <li><a href ng-click="showSortingModal()">Sorting…</a></li>
      <li><a href ng-click="toggleDisplaySums()">Display sums</a></li>
      <li class="dropdown-divider"></li>
      <li><a href ng-click="showSaveModal()">Save</a></li>
      <li><a href ng-click="showSaveModal(true)">Save as</a></li>
      <li><a href ng-click="showExportModal()">Export</a></li>
      <li><a href ng-click="showShareModal()">Share</a></li>
      <li><a href ng-click="showSettingsModal()">Page settings</a></li>
    </ul>
  </div>

  <div class="title-bar" ng-show="showFiltersOptions">
    <div class="title-bar-extras">
      <work-packages-options></work-packages-options>

      <p class="buttons hide-when-print">
        <filter-clear query="query">
      </filter-clear>

      <!-- TODO: serialize permission checks -->
      <!-- User.current.allowed_to?(:save_queries, project, :global => true) -->
        <a href="" ng-click="submitQueryForm()" class="icon icon-save1">Save</a>
      <!-- end -->
    </p>
    </div>
  </div>

  <back-url></back-url>
  <div class="autoscroll">

    <work-packages-table ng-if="rows && columns"
                         project-identifier="projectIdentifier"
                         columns="columns"
                         rows="rows"
                         query="query"
                         group-by="query.groupBy"
                         group-by-column="groupByColumn"
                         count-by-group="workPackageCountByGroup"
                         display-sums="query.displaySums"
                         total-sums="totalSums"
                         group-sums="groupSums"
                         class="list issues"
                         update-results="updateResults()"
                         with-loading="withLoading"
                         update-back-url="updateBackUrl">
    </work-packages-table>

    <table-pagination total-entries="totalEntries"
                      update-results="updateResults()">
    </table-pagination>

    <modal-loading>
    </modal-loading>

    <work-package-context-menu></work-package-context-menu>

  </div>
</div>
