<div class="work-packages--edit-actions">
  <button
    id="work-packages--edit-actions-save"
    class="button -highlight"
    accesskey="3"
    [disabled]="saving"
    type="button"
    (click)="save()"
  >
    <span class="spot-icon spot-icon_checkmark"></span>
    <span class="button--text" [textContent]="text.save"></span>
  </button>
  <button
    id="work-packages--edit-actions-cancel"
    class="button"
    accesskey="7"
    (click)="cancel()"
    type="button"
  >
    <span class="spot-icon spot-icon_close"></span>
    <span class="button--text" [textContent]="text.cancel"></span>
  </button>
</div>
