<wp-embedded-table #embeddedTable
                   [initialLoadingIndicator]="false"
                   [queryProps]="queryProps"
                   [tableActions]="tableActions"
                   [configuration]="{ actionsColumnEnabled: true,
                                      hierarchyToggleEnabled: false,
                                      inlineCreateEnabled: true,
                                      compactTableStyle: true,
                                      columnMenuEnabled: false,
                                      contextMenuEnabled: false,
                                      projectIdentifier: workPackage.project.idFromLink,
                                      projectContext: false }" >
</wp-embedded-table>
