@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  font-weight: bold;
  margin-bottom: $base-line-height / 2;
  padding: $base-line-height / 2;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
