.op-export-options
  margin: 0
  padding: 20px 0
  list-style-type: none
  display: grid
  grid-template-columns: 1fr 1fr 1fr

  &--option
    margin: 20px
    text-align: center

    &-link
      cursor: pointer
      text-decoration: none
      color: var(--body-font-color)
      font-weight: normal
      overflow-wrap: break-word
      word-wrap: break-word
      &:hover, &:active
        text-decoration: none
        color: var(--body-font-color)

    &-label
      display: block
      padding: 10px 0 0 0

  @media screen and (max-width: 480px)
    grid-template-columns: 1fr 1fr

  @media screen and (max-width: 320px)
    grid-template-columns: 1fr

