<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%= link_to t(:label_type_plural), types_path %> &#187; <%= t(:label_type_new) %></h2>

<%= form_for controller.type, :builder => TabularFormBuilder do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
