<%#
  This partial requires the following locals:
    element   a Hash containing the following keys:
      - :name => 'text_box'
      - :text => String (optional): The text that should be displayed within the textbox
      - :width => Integer (optional): The width this partial may consume. If not given, a standard width will be applied
%>