/* This file is used to define colors for ChiliProject. They are kept */
/* separate in order to make it easy for someone to create a new theme. */

#main {background:#f3f3f3;}
#main-menu li a {color: #222222;}
#main-menu li a:hover {color: #222222;}
