/***** Media print specific styles *****/
@media print {
  #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display:none; }
  #main { background: #fff; }
  #content { width: 99%; margin: 0; padding: 0; border: 0; background: #fff; overflow: visible !important;}
	#wiki_add_attachment { display:none; }
  .hide-when-print { display: none; }
	.autoscroll {overflow-x: visible;}
	table.list {margin-top:0.5em;}
	table.list th, table.list td {border: 1px solid #aaa;}
}
