#project-search-results {
  -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing:    content-box; /* Firefox, other Gecko */
  box-sizing:         content-box; /* Opera/IE 8+ */

  /* Fixing select2's positioning errors for results*/
  margin-left: -1px;

  /* Disabling rounded corners and drop shadow on result list */
  -webkit-border-radius: 0;
  -moz-border-radius   : 0;
  border-radius        : 0;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -o-box-shadow     : none;
  box-shadow        : none;
}

/* Hide upper half of select2-select widget */
#project-search-container .select2-choice {
  display: none;
}

/* Indirectly styling size of result list */
.select2-container.select2-select {
  position: static;
  max-width: 350px;
  width:100%;
}

/* make result list longer */
.select2-results {
  max-height: 500px;
}

/* Make no results a bit look like results */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-more-results
{
  background-color: #fff;
  margin: 3px 6px 3px 6px;
}
.select2-results .select2-searching,
.select2-results .select2-more-results
{
  background: url("../images/select2/select2-spinner.gif") no-repeat scroll 100% center #fff;
}


/* Selected elements should be bold, have inverted colors and rounded corners */
.select2-results .select2-highlighted {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius: 5px;

  background-color: #24B3E7;
  font-weight:bold;
}
.select2-results .select2-result-unselectable {
  color: #999;
  background:transparent;
}


/* Shorten overlong project names */
.select2-results .select2-result-label {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


/* Fix search input in IE8 - input was to high */
.select2-search input {
  min-height: 0\9;
}
