.board-list--query-container
  padding: 5px 0
  height: 75vh
  overflow-y: auto

.board-list--container
  border: 1px solid #ccc
  border-radius: 5px

.board-list--action-bar
  width: 100%
  height: 5px
  border-radius: 4px 4px 0 0

.board-list--header
  padding: 5px 10px 5px 15px
  border-bottom: 1px solid #ccc
  display: flex
  align-items: center

  editable-toolbar-title
    flex: 1
    margin-bottom: 0
    margin-right: 0.25rem

wp-embedded-table
  wp-card-view

  height: 100%
  display: block
