<div #loadingIndicator
     class="board-list--container loading-indicator--location">
  <ng-container *ngIf="(query$ | async) as query">
    <input autocomplete="off"
           [ngModel]="query.name"
           (ngModelChange)="rename$.next($event)"
           class="toolbar--editable-toolbar -border-on-hover-only form--text-field"
           name="board_list_name"
           type="text" />

    <wp-embedded-table *ngIf="boardTableConfiguration.isEmbedded && !boardTableConfiguration.isCardView"
                       [queryId]="query.id"
                       [loadedQuery]="query"
                       [queryProps]="columnsQueryProps"
                       [configuration]="boardTableConfiguration">
    </wp-embedded-table>

    <wp-card-view *ngIf="boardTableConfiguration.isCardView"
                  [loadedQuery]="query"
                  [queryProps]="columnsQueryProps"></wp-card-view>
  </ng-container>
</div>
