<div class="detail-panel-description" ng-if="$ctrl.workPackage">
  <div class="detail-panel-description-content">
    <wp-relations
        ng-repeat="relationGroup in $ctrl.relationGroups"
        relation-group="relationGroup"
        button-title="$ctrl.relationTitles[relationGroup.name]"
        button-icon="<i class='icon-hierarchy icon-add'></i>"
    ></wp-relations>

    <!--<wp-relations relation-type="parent"-->
    <!--handler="wpParent"-->
    <!--button-title="{{ I18n.t('js.relation_buttons.change_parent') }}"-->
    <!--button-icon="<i class='icon-hierarchy icon-edit'></i>">-->
    <!--</wp-relations>-->

    <!--<wp-relations relation-type="children"-->
    <!--handler="wpChildren"-->
    <!--button-title="{{ I18n.t('js.relation_buttons.add_child') }}"-->
    <!--button-icon="<i class='icon-hierarchy icon-add'></i>">-->
    <!--</wp-relations>-->
  </div>
</div>
