<form
  [formGroup]="projectAndTypeForm"
  (ngSubmit)="onSubmit($event)"
>
  <op-modal-heading (close)="close.emit()">{{ text.title }}</op-modal-heading>

  <div class="op-modal--modal-body">
    <op-form-field
      label="Project"
      required
    >
      <op-ium-project-search
        [projectFormControl]="projectControl"
        slot="input"
      ></op-ium-project-search>
      
      <div
        slot="errors"
        class="op-form-field--error"
        *ngIf="projectControl?.touched && projectControl?.invalid"
      >
        {{ text.project.required }}
      </div>
    </op-form-field>

    <div class="op-form-field">
      <op-option-list
        [options]="typeOptions"
        [formControl]="typeControl"
      ></op-option-list>

      <div
        *ngIf="typeControl?.touched && typeControl?.invalid"
        class="op-form-field--errors"
      >
        <div class="op-form-field--error">
          {{ text.type.required }}
        </div>
      </div>
    </div>
  </div>

  <div class="op-modal--modal-footer">
    <button class="button">{{ text.nextButton }}</button>
  </div>
</form>
