<work-package-comment work-package="workPackage"
                      activities="activities"
                      autocomplete-path="{{ autocompletePath }}">

  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in activities"
          class="work-package-details-activities-activity"

          ng-init="inf           = info(activity, $index);
                   activityNo    = inf.number;
                   isInitial     = inf.isInitial;
                   currentDate   = inf.date;
                   currentAnchor = inf.anchor">

        <h3 class="activity-date" ng-if="inf.isNextDate" ng-bind="inf.date"></h3>

          <activity-entry work-package="workPackage"
                          activity="activity"
                          activity-no="inf.number"
                          is-initial="inf.isInitial"
                          autocomplete-path="autocompletePath">
          </activity-entry>
      </li>
    </ul>
  </div>
</work-package-comment>
