<work-package-comment work-package="vm.workPackage"
                      activities="vm.activities">

  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in vm.activities"
          class="work-package-details-activities-activity"

          ng-init="inf = vm.info(activity, $index)">

        <h3 class="activity-date" ng-if="inf.isNextDate" ng-bind="inf.date"></h3>

          <activity-entry work-package="vm.workPackage"
                          activity="activity"
                          activity-no="inf.number(vm.isReversed())"
                          is-initial="inf.isInitial()">
          </activity-entry>
      </li>
    </ul>
  </div>
</work-package-comment>
