<work-package-comment work-package="vm.workPackage"
                      activities="vm.activities">


  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in vm.visibleActivities()"
          class="work-package-details-activities-activity"
          ng-init="inf = vm.info(activity, $index); showToggler = vm.showToggler()">

        <h3 class="activity-date"
            ng-class="{'-with-toggler': $first && showToggler}"
            ng-if="$first || inf.isNextDate">
          <span class="activity-date--label" ng-bind="inf.date"></span>
          <accessible-by-keyboard execute="vm.toggleComments()"
                                  ng-if="$first && showToggler"
                                  link-class="activity-comments--toggler button -small -transparent"
                                  link-aria-label="{{ vm.togglerText }}">
            <span ng-bind="vm.togglerText"></span>
          </accessible-by-keyboard>
        </h3>

          <activity-entry work-package="vm.workPackage"
                          activity="activity"
                          activity-no="inf.number(vm.isReversed())"
                          is-initial="inf.isInitial()">
          </activity-entry>
      </li>
    </ul>
  </div>
</work-package-comment>
