<%= render(Primer::Alpha::Dialog.new(title: t('js.label_export'),
                                     id: MODAL_ID)) do |d| %>
  <% d.with_header(variant: :large) %>
  <% d.with_body do %>
    <ul class="op-export-options">
      <% helpers.supported_export_formats.each do |key| %>
        <li class="op-export-options--option">
          <%= link_to projects_path(format: key, **helpers.projects_query_params.except(:page, :per_page)),
                      class: 'op-export-options--option-link' do %>
            <%= helpers.op_icon("icon-big icon-export-#{key}") %>
            <span class="op-export-options--option-label"><%= t("export.format.#{key}") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
