<div class="attributes-group description-group">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text"
          [textContent]="text.bcf"></h3>
    </div>
  </div>

  <div class="bcf--viewpoints">
    <ngx-gallery [options]="galleryOptions"
                 [images]="galleryImages"
                 (previewOpen)="galleryPreviewOpen()"
                 (previewClose)="galleryPreviewClose()">
    </ngx-gallery>
  </div>

  <bcf-add-viewpoint-button [workPackage]="workPackage"></bcf-add-viewpoint-button>
</div>