<div class="relation-row"
     ng-mouseover="$ctrl.showRelationControls = true"
     ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block hierarchy-item">

        <div class="grid-content medium-3 collapse" aria-hidden="true">
            {{ $ctrl.relationType }}
        </div>

        <div class="grid-content medium-5 collapse" wp-single-relation
             ng-if="$ctrl.relatedWorkPackage">
            <a href="{{ singleRelationCtrl.workPackagePath($ctrl.relatedWorkPackage.id) }}"
               aria-label="{{ $ctrl.relationType + ' ' + singleRelationCtrl.getFullIdentifier($ctrl.relatedWorkPackage, true) }}">
                {{ singleRelationCtrl.getFullIdentifier($ctrl.relatedWorkPackage, true) }}
            </a>
        </div>

        <div class="grid-content medium-2 collapse wp-relations-status-field">
            <div wp-edit-form="$ctrl.relatedWorkPackage" ng-if="$ctrl.relatedWorkPackage">
                <div wp-edit-field="'status'"></div>
            </div>
        </div>

        <div class="grid-content medium-2 collapse wp-relations-controls-section">
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                                    execute="$ctrl.showRelationInfo = !$ctrl.showRelationInfo">
                <icon-wrapper icon-name="info1"
                              icon-title="'Info for related workpackage'">
                </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                                    ng-if="$ctrl.relation.remove"
                                    execute="$ctrl.removeRelation($ctrl.relation)"
                                    aria-hidden="false"
                                    class="-shown-in-accessibility-mode">
                <icon-wrapper icon-name="remove"
                              icon-title="{{ ::$ctrl.text.removeButton }}">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>

    <div class="grid-block hierarchy-item" style="border: 1px dotted lightblue; padding:4px;" ng-show="$ctrl.showRelationInfo" ng-init="editDescription = false">
        <div class="grid-content medium-10 collapse">
            <div ng-hide="editDescription">
                {{$ctrl.relatedWorkPackage.relatedBy.description || 'no description set'}}
            </div>
            <div ng-show="editDescription">
                <input type="text" />
            </div>
        </div>
        <div class="grid-content medium-2 collapse" style="text-align: right" ng-hide="editDescription">
            <accessible-by-keyboard execute="editDescription = true">
                <icon-wrapper icon-name="edit"
                              icon-title="'edit description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
        <div class="grid-content medium-2 collapse" style="text-align: right" ng-show="editDescription">
            <accessible-by-keyboard execute="editDescription = false">
                <icon-wrapper icon-name="remove"
                              icon-title="'edit description'">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>

    </div>
</div>
