<div class="relation-row"
     ng-mouseover="$ctrl.showRelationControls = true"
     ng-mouseleave="$ctrl.showRelationControls = false">
    <div class="grid-block hierarchy-item">

        <div class="grid-content medium-3 collapse" aria-hidden="true">
            {{ $ctrl.relation.type }}
        </div>

        <div class="grid-content medium-5 collapse" wp-single-relation
             ng-if="$ctrl.relatedWorkPackage">
            <a href="{{ singleRelationCtrl.workPackagePath($ctrl.relatedWorkPackage.id) }}"
               aria-label="{{ $ctrl.relation.type + ' ' + singleRelationCtrl.getFullIdentifier($ctrl.relatedWorkPackage, true) }}">
                {{ singleRelationCtrl.getFullIdentifier($ctrl.relatedWorkPackage, true) }}
            </a>
        </div>

        <div class="grid-content medium-3 collapse wp-relations-status-field">
            <div wp-edit-form="$ctrl.relatedWorkPackage" ng-if="$ctrl.relatedWorkPackage">
                <div wp-edit-field="'status'"></div>
            </div>
        </div>

        <div class="grid-content medium-1 collapse wp-relations-controls-section">
            <accessible-by-keyboard ng-show="$ctrl.showRelationControls"
                                    ng-if="$ctrl.relation.delete"
                                    execute="$ctrl.removeRelation($ctrl.relation)"
                                    aria-hidden="false"
                                    class="-shown-in-accessibility-mode">
                <icon-wrapper icon-name="remove"
                              icon-title="{{ ::$ctrl.text.removeButton }}">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
</div>
