<div class="autocomplete-select-decoration--wrapper" hidden>
  <%= content_tag :'opce-select-decoration',
                  {},
                  data: {
                      multiple:,
                      "input-name": input_name,
                      "input-id": input_id,
                      "append-to": defined?(append_to) ? append_to : 'body',
                      key:,
                      options: JSON.dump(select_options),
                  } %>

  <!-- Mapped values are being input as hidden fields here -->
</div>
