<opce-collapsible-section-augment initially-expanded="<%= initiallyExpanded %>"
                             section-title="<%= title %>">
</opce-collapsible-section-augment>
<div class="opce-collapsible-section-augment--body" hidden>
  <%= capture(&block) %>
</div>
