<div class="grid--container"
     [style.grid-template-columns]="gridColumnStyle"
     [style.grid-template-rows]="gridRowStyle">

  <div *ngFor="let area of gridAreas; trackBy: identifyGridCellItem;"
       class="grid--area"
       [ngClass] = "{'-drop-target': currentlyDragging && gridAreaDropIds.indexOf(gridAreaId(area)) >= 0}"
       [style.grid-row-start]="area.startRow"
       [style.grid-row-end]="area.endRow"
       [style.grid-column-start]="area.startColumn"
       [style.grid-column-end]="area.endColumn"
       cdkDropList
       [id]="gridAreaId(area)"
       [cdkDropListData]="area"
       (cdkDropListDropped)="drop($event)"
       (dragStart)="dragStart(event)"
       [cdkDropListConnectedTo]="gridAreaDropIds">
    <div class="widget-box"
         cdkDrag
         (cdkDragStarted)="dragStart($event)"
         (cdkDragEnded)="dragStop($event)"
         *ngIf="area.widget"
         style="height: 100%">
      <ndc-dynamic [ndcDynamicComponent]="widgetComponent(area.widget)"
                   [ndcDynamicOutputs]="{}">
      </ndc-dynamic>
    </div>
  </div>
</div>
