<div class="work-package-details-activities-activity-contents"
     tabindex="0"
     aria-label="{{ vm.activityLabelWithComment || vm.activityLabel  }}"
     ng-mouseenter="vm.focus()"
     ng-mouseleave="vm.blur()">
  <div ng-if="vm.userAvatar">
    <img class="avatar" ng-src="{{ vm.userAvatar }}" alt="Avatar" title="{{vm.userName}}" />
  </div>
  <span class="user" ng-if="vm.userActive">
    <a ng-href="{{ vm.userPath }}"
       aria-label="{{ vm.userLabel }}"
       ng-bind="vm.userName">
    </a>
  </span>
  <span class="user" ng-if="!vm.userActive">{{ vm.userName }}</span>
  <span class="date">
    {{ vm.isInitial ? I18n.t('js.label_created_on') : I18n.t('js.label_updated_on') }}
    <op-date-time [date-time-value]="vm.activity.createdAt" /></span>
  <div class="comments-number">
    <activity-link work-package="vm.workPackage"
                   activity-no="vm.activityNo"
                   ></activity-link>
    <div class="comments-icons"
         ng-show="vm.activity._type == 'Activity::Comment' && (vm.focussing() || vm.accessibilityModeEnabled)">
      <accessible-by-keyboard ng-if="vm.userCanQuote"
                              execute="vm.quoteComment()"
                              link-title="{{ I18n.t('js.label_quote_comment') }}">
        <op-icon icon-classes="action-icon icon-quote"
                 icon-title="{{ I18n.t('js.label_quote_comment') }}"></op-icon>
      </accessible-by-keyboard>
      <accessible-by-keyboard ng-if="vm.userCanEdit"
                              execute="vm.editComment()"
                              link-title="{{ I18n.t('js.label_edit_comment') }}"
                              class="edit-activity--{{vm.activityNo}}">
        <op-icon icon-classes="action-icon icon-edit"
                 icon-title="{{ I18n.t('js.label_edit_comment') }}"></op-icon>
      </accessible-by-keyboard>
    </div>
  </div>
  <div class="user-comment wiki">
    <div ng-if="vm.inEdit" class="inplace-edit">
      <div class="user-comment--form inplace-edit--write-value">
        <form name="wp-edit-form-coment"
              ng-submit="vm.handleUserSubmit()"
              role="form"
              field-name="'comment'"
              wp-attachments-formattable
              tabindex="-1">
          <ng-include src="vm.field.template"></ng-include>
        </form>
      </div>
    </div>
    <span ng-if="!vm.inEdit"
          class="message"
          ng-show="vm.activity._type == 'Activity::Comment'"
          bind-unescaped-html="vm.postedComment"/>
    <ul class="work-package-details-activities-messages" ng-if="!vm.isInitial">
      <li ng-repeat="detail in vm.details track by $index">
        <span class="message" ng-bind-html="detail"/>
      </li>
    </ul>
  </div>
</div>
