<div class="toolbar-container">
  <div id="toolbar">
    <div class="title-container">
      <h2><%= link_to l(:label_group_plural), groups_path %> &#187; <%= new_group ? l(:label_group_new) : h(@group) %></h2>
    </div>
  </div>
</div>
