<h2><%= link_to l(:label_group_plural), groups_path %> &#187; <%= h(@group) %></h2>

<% selected_tab = params[:tab] ? params[:tab].to_s : group_settings_tabs.first[:name] %>

<div class="tabs">
<ul>
<% group_settings_tabs.each do |tab| -%>
    <li><%= link_to l(tab[:label]), { :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class => (tab[:name] != selected_tab ? nil : 'selected'),
                                    :onclick => "showTab('#{tab[:name]}'); this.blur(); return false;" %></li>
<% end -%>
</ul>
</div>

<% group_settings_tabs.each do |tab| -%>
<%= content_tag('div', render(:partial => tab[:partial]), 
                       :id => "tab-content-#{tab[:name]}",
                       :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>

<% html_title(l(:label_group), @group, l(:label_administration)) -%>
