<div ng-class="{timeline: !warning, 'tl-under-construction': underConstruction}" >
  <div class="tl-left">
    <div class="tl-left-top tl-decoration"></div>
    <div class="tl-left-main">
      <timeline-table/>
    </div>
  </div>
  <div class="tl-right">
    <div class="tl-right-top tl-decoration"></div>
    <div class="tl-right-main"></div>
  </div>
  <div class="tl-scrollcontainer">
    <!--div class="tl-decoration"></div-->
    <div class="tl-chart" ng-hide="timeline.options.hide_chart" tabindex="0"></div>
  </div>
  <div class="tl-tooltip fade above in">
    <div class="tl-tooltip-inner"></div>
    <div class="tl-tooltip-arrow"></div>
  </div>
</div>
