<h2><%= l(:caption_rate_history) %></h2>
<%
  @rates = HourlyRate.history_for_user(@user)
  @rates_default = @rates.delete(nil)
%>

<%= render :partial => 'hourly_rates/list_default' %>
<%= render :partial => 'hourly_rates/list' %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
  <%= stylesheet_link_tag 'costs', :plugin => 'redmine_costs' %>
<% end %>
