<h2><%= l(:caption_rate_history) %></h2>
<%
  @rates = HourlyRate.history_for_user(@user)
  @rates_default = @rates.delete(nil)
%>

<%= render :partial => 'hourly_rates/list_default' %>
<%= render :partial => 'hourly_rates/list' %>
