<div class="contextual">
<%= link_to l(:label_profile), user_path(@user), :class => 'icon icon-user' %>
<%= change_status_link(@user) %>
</div>

<h2><%= link_to l(:label_user_plural), :controller => 'users', :action => 'index' %> &#187; <%=h @user.login %></h2>

<%= render_tabs user_settings_tabs %>

<% html_title(l(:label_user), @user.login, l(:label_administration)) -%>
