code
  // prevent our styles from overriding the ones from swagger-ui
  // (especially visible when looking at response example values)
  background-color: inherit
  border: inherit
  color: inherit
  font: inherit
  line-height: 1.5

@import "~swagger-ui/dist/swagger-ui.css"
