<table ng-if="attachments.length" class="detail-pane-table attachments-table">
  <thead>
    <tr>
      <td title="{{ I18n.t('js.label_filename')}}">{{ I18n.t('js.label_filename')}}</td>
      <td title="{{ I18n.t('js.label_filesize')}}">{{ I18n.t('js.label_filesize')}}</td>
      <td title="{{ I18n.t('js.label_uploaded_by')}}">{{ I18n.t('js.label_uploaded_by')}}</td>
      <td title="{{ I18n.t('js.label_description')}}">{{ I18n.t('js.label_description')}}</td>
      <td title="{{ I18n.t('js.label_date')}}">{{ I18n.t('js.label_date')}}</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="attachment in attachments"
        attachment="attachment">
      <td attachment-title-cell attachment="attachment"></td>
      <td attachment-file-size attachment="attachment"></td>
      <td attachment-user-cell attachment="attachment"></td>
      <td title="{{ attachment.props.description }}" ng-bind="attachment.props.description"></td>
      <td><date-time date-time-value="attachment.props.createdAt"></date-time></td>
    </tr>
  </tbody>
</table>
