<div class="work-package-details-activities-activity-contents">
  <div class="comments-number"><a ng-href="#{{ currentAnchor }}" ng-bind="'#' + activityNo"></a>
  </div>
  <img class="avatar" ng-src="{{ userAvatar }}" />
  <span class="user"><a ng-href="{{ userPath(userId) }}" name="{{ currentAnchor }}" ng-bind="userName"></a></span>
  <span class="date">{{ I18n.t('js.label_commented_on') }} <date-time date-time-value="activity.props.createdAt"/></date-time>
  <span class="comment wiki">
    <span class="message"
      ng-show="activity.props._type == 'Activity::Comment'"
      ng-bind-html="activity.props.comment"/>
    <ul class="work-package-details-activities-messages">
      <li ng-repeat="detail in activity.props.htmlDetails track by $index">
        <span class="message" ng-bind-html="detail"/>
      </li>
    </ul>
  </span>
</div>
