<div class="relation">
  <h3 ng-click="expand=!expand">
    <i class="icon-pull-content" ng-class="stateClass"></i> {{ title }}
    <span ng-if="!isSingletonRelation">({{ childrenCount }})</span>
  </h3>
  <div class="content" ng-show="expand">
    <div class="workpackages">
      <div ng-if="children">
        <table>
          <thead>
            <tr>
              <td>{{ I18n.t('js.work_packages.properties.subject') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.status') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.assignee') }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="workPackage in children">
              <td>
                <a href="{{ workPackagePath(workPackage.props.id) }}">
                  {{ getFullIdentifier(workPackage) }}
                </a>
              </td>
              <td>{{ workPackage.props.status }}</td>
              <td>
                <a href="{{ userPath(workPackage.embedded.assignee.props.id) }}">
                  {{ workPackage.embedded.assignee.props.name }}
                </a>
              </td>
              <td><!--i title="delete relation" class="delete-item icon-delete" ng-click="removeChild()"></i--></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!children || children.length === 0">
        No child work packages
      </div>
    </div>
    <button class="button"
            title="{{ btnTitle }}"
            ng-bind-html="btnIcon + ' ' + btnTitle"
            ng-click="addChild()">
    </button>
  </div>
</div>
