<div class="relation">
  <h3 ng-click="expand=!expand">
    <accessible-by-keyboard execute="toggleExpand()">
      <i class="icon-pull-content" ng-class="stateClass"></i> {{ title }}
    </accessible-by-keyboard>
  </h3>
  <div class="content" ng-show="expand">
    <div class="workpackages">
      <div ng-if="parent">
        <table>
          <thead>
            <tr>
              <td>{{ I18n.t('js.work_packages.properties.subject') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.status') }}</td>
              <td>{{ I18n.t('js.work_packages.properties.assignee') }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a class="work_package" ng-class="getState(parent)" href="{{ workPackagePath(parent.props.id) }}">
                  {{ getFullIdentifier(parent) }}
                </a>
              </td>
              <td>{{ parent.props.status }}</td>
              <td>
                <a href="{{ userPath(parent.embedded.assignee.props.id) }}">
                  {{ parent.embedded.assignee.props.name }}
                </a>
              </td>
              <td><!--i title="delete relation" class="delete-item icon-delete" ng-click="removeChild()"></i--></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!parent">
        No parent work packages
      </div>
    </div>
  </div>
</div>
