<div class="detail-panel-content" >
  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in activities"
          class="work-package-details-activities-activity"
          ng-init="activityNo = activitiesSortedInDescendingOrder && activities.length - $index || $index + 1;
                   currentDate = (activity.props.createdAt|date:'longDate');
                   currentNote = 'note-' + activityNo">
        <h3 class="activity-date"
            ng-if="currentDate !== (activities[$index-1].props.createdAt | date:'longDate')"
            ng-bind="currentDate"/>
        <div class="work-package-details-activities-activity-contents">
          <div class="comments-number"><a ng-href="#{{currentNote}}" ng-bind="'#' + activityNo"></a>
          <!-- Temporarily deactivated comment / edit actions
          <div class="comments-icons">
            <icon-wrapper icon-name="quote" icon-title="{{I18n.t('js.button_quote')}}"></icon-wrapper>
            <icon-wrapper icon-name="edit" icon-title="{{I18n.t('js.button_edit')}}"></icon-wrapper>
          </div>
          -->
          </div>
          <img class="avatar" ng-src="{{ activity.props.userAvatar }}" />
          <span class="user"><a href name="{{currentNote}}" ng-bind="activity.props.userName"></a></span>
          <span class="date">commented on <span ng-bind="activity.props.createdAt | date:'short'"/></span>
          <span class="comment">
            <span class="message" ng-show="activity.props._type == 'Activity::Comment'">{{activity.props.comment}}</span>
            <ul class="work-package-details-activities-messages">
              <li ng-repeat="detail in activity.props.htmlDetails track by $index">
                <span class="message" ng-bind-html="detail"/>
              </li>
            </ul>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
