<div class="detail-panel-content" >
  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in activities"
          class="work-package-details-activities-activity"
          ng-init="currentDate = (activity.props.createdAt|date:'longDate');
                   currentAnchor = 'note-' + ($index+1)">
        <h3 class="activity-date"
            ng-if="currentDate !== (activities[$index-1].props.createdAt | date:'longDate')"
            ng-bind="currentDate"/>
        <user-activity activity="activity"
                       currentAnchor="currentAnchor">
        </user-activity>
      </li>
    </ul>
  </div>
</div>
