<div class="detail-panel-description">

  <h3>Description</h3>
  <div class="detail-panel-description-content">
    <p>
      <span ng-bind="workPackage.props.description | characters: maxDescriptionLength"
            ng-show="toggleStates.hideFullDescription"/>
      <span ng-bind="workPackage.props.description"
            ng-hide="toggleStates.hideFullDescription"/>
    </p>
  </div>
  <panel-expander ng-if="workPackage.props.description.length > maxDescriptionLength"
                  collapsed="toggleStates.hideFullDescription"
                  expand-text="Show full description"
                  collapse-text="Hide full description">
  </panel-expander>
</div>


<div class="detail-panel-attributes">
  <!-- present attributes -->
  <ul>
    <li ng-repeat="propertyData in presentWorkPackageProperties">
      <label ng-bind="propertyData.label"/>
      <span ng-switch="propertyData.format">
        <user-field ng-switch-when="user" user="propertyData.value"></user-field>
        <span ng-switch-default ng-bind="propertyData.value || '-'"/>
      </span>
    </li>
  </ul>
  <!-- empty attributes -->
  <ul class="work-package-details-overview-tab-empty-attributes"
      slide-toggle collapsed="toggleStates.hideAllAttributes">
      <li ng-repeat="property in emptyWorkPackageProperties">
        <label ng-bind="property"></label>
        <span> - </span>
      </li>
  </ul>
  <panel-expander ng-if="emptyWorkPackageProperties.length"
                  collapsed="toggleStates.hideAllAttributes"
                  expand-text="Show all attributes"
                  collapse-text="Hide empty attributes">
  </panel-expander>
</div>


<div class="detail-panel-latest-activity">
  <h3>Latest activity</h3>
  <ul>
    <li ng-repeat="activity in latestActitivies"
        class="work-package-details-activities-activity"
        ng-init="currentAnchor = 'note-' + ($index+1);
                 activityNo = activities.length - $index;">
      <user-activity activity="activity"
                     activity-no="activityNo"
                     currentAnchor="currentAnchor">
    </li>
  </ul>
</div>
