<div class="detail-panel-description">

  <h3>{{ I18n.t('js.label_description') }}</h3>

  <div class="detail-panel-description-content wiki">
    <span ng-bind-html="workPackage.props.description"/>
  </div>
</div>


<div class="detail-panel-attributes">
  <!-- present attributes -->
  <ul>
    <li ng-repeat="propertyData in presentWorkPackageProperties">
      <label ng-bind="propertyData.label"/>
      <span ng-switch="propertyData.format">
        <user-field ng-switch-when="user" user="propertyData.value"></user-field>
        <span ng-switch-default ng-bind="propertyData.value || '-'"/>
      </span>
    </li>
  </ul>
  <!-- empty attributes -->
  <ul class="work-package-details-overview-tab-empty-attributes"
      slide-toggle collapsed="toggleStates.hideAllAttributes">
      <li ng-repeat="property in emptyWorkPackageProperties">
        <label ng-bind="property"></label>
        <span> - </span>
      </li>
  </ul>
  <panel-expander ng-if="emptyWorkPackageProperties.length"
                  collapsed="toggleStates.hideAllAttributes"
                  expand-text="{{ I18n.t('js.label_show_attributes') }}"
                  collapse-text="{{ I18n.t('js.label_hide_attributes') }}">
  </panel-expander>
</div>


<div class="detail-panel-latest-activity">
  <h3>{{ I18n.t('js.label_latest_activity') }}</h3>
  <ul>
    <li ng-repeat="activity in latestActitivies"
        class="work-package-details-activities-activity"
        ng-init="currentAnchor = 'note-' + ($index+1);
                 activityNo = activities.length - $index;">
      <user-activity activity="activity"
                     activity-no="activityNo"
                     currentAnchor="currentAnchor">
    </li>
  </ul>
  <activity-comment work-package="workPackage"
                    activities="activities"
                    descending="true">
  </activity-comment>
</div>
