<div class="detail-panel-description">
  <div class="detail-panel-description-content">
    <work-package-relation title="Parent"
                           relations="wpParent"
                           button-title="Change Parent"
                           button-icon="<i class='icon-hierarchy icon-edit'></i>">
    </work-package-relation>

    <work-package-relation title="Children"
                           relations="wpChildren"
                           button-title="Add Child"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Related To"
                           relations="relatedTo"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Duplicates"
                           relations="duplicates"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Duplicated by"
                           relations="duplicated"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Blocks"
                           relations="blocks"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Block by"
                           relations="blocked"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Precedes"
                           relations="precedes"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Follows"
                           relations="follows"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>
  </div>
</div>
