<div class="detail-panel-description">
  <div class="detail-panel-description-content">
    <work-package-relations title="{{ I18n.t('js.relation_labels.parent') }}"
                           work-package="workPackage"
                           relations="wpParent"
                           relation-identifier="'parent'"
                           button-title="Change Parent"
                           button-icon="<i class='icon-hierarchy icon-edit'></i>"
                           singleton-relation="true">
    </work-package-relations>

    <work-package-children title="{{ I18n.t('js.relation_labels.children') }}"
                           work-package="workPackage"
                           children="wpChildren"
                           relation-identifier="'children'"
                           button-title="Add Child"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-children>

    <work-package-relations title="{{ I18n.t('js.relation_labels.relatedTo') }}"
                           work-package="workPackage"
                           relations="relatedTo"
                           relation-identifier="'relates'"
                           button-title="Add Related to"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.duplicates') }}"
                           work-package="workPackage"
                           relations="duplicates"
                           relation-identifier="'duplicates'"
                           button-title="Add Duplicates"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.duplicated') }}"
                           work-package="workPackage"
                           relations="duplicated"
                           relation-identifier="'duplicated'"
                           button-title="Add Duplicated by"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.blocks') }}"
                           work-package="workPackage"
                           relations="blocks"
                           relation-identifier="'blocks'"
                           button-title="Add Blocks"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.blocked') }}"
                           work-package="workPackage"
                           relations="blocked"
                           relation-identifier="'blocked'"
                           button-title="Add Blocked by"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.precedes') }}"
                           work-package="workPackage"
                           relations="precedes"
                           relation-identifier="'precedes'"
                           button-title="Add Precedes"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.follows') }}"
                           work-package="workPackage"
                           relations="follows"
                           relation-identifier="'follows'"
                           button-title="Add Follows"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>
  </div>
</div>
