<div class="detail-panel-description">
  <div class="detail-panel-description-content">
    <work-package-relation title="Parent"
                           related-work-packages="wpParent"
                           button-title="Change Parent"
                           button-icon="<i class='icon-hierarchy icon-edit'></i>"
                           singleton-relation="true">
    </work-package-relation>

    <work-package-relation title="Children"
                           related-work-packages="wpChildren"
                           button-title="Add Child"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Related To"
                           related-work-packages="relatedTo"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Duplicates"
                           related-work-packages="duplicates"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Duplicated by"
                           related-work-packages="duplicated"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Blocks"
                           related-work-packages="blocks"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Block by"
                           related-work-packages="blocked"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Precedes"
                           related-work-packages="precedes"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>

    <work-package-relation title="Follows"
                           related-work-packages="follows"
                           button-title="Add Relation"
                           button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relation>
  </div>
</div>
