<slide-toggle data-active="<%= filter.values.first == 't' %>"
              data-container-classes="advanced-filters--filter-value"
              data-input-name="v-<%= filter.class.key %>"
              data-filter-name="boolean">
</slide-toggle>
<div class="advanced-filters--filter-operator" style="visibility: hidden"></div>
