<div class="backlog" id="backlog_<%= backlog.sprint.id %>">
  <div class="header">
    <%= render_backlog_menu backlog %>
    <%= render :partial => "rb_sprints/sprint", :object => backlog.sprint %>
    <div class="velocity"> </div>
  </div>
  <ul class="stories">
    <%= render :partial => "rb_stories/story", :collection => backlog.stories %>
  </ul>
</div>
