<div class="backlog">
  <div class="header">
    <%= render :partial => "menu", :locals => {:backlog => backlog} %>
    <%- if backlog[:sprint] %>
      <%= render :partial => "rb_sprints/sprint", :object => backlog[:sprint] %>
      <div class="velocity"> </div>
    <%- else %>
      <div class="label"><%=l(:label_product_backlog).titleize %></div>
      <a class="add_new_story" href="#">New Story</a>
    <%- end %>
  </div>
  <ul class="stories">
    <%= render :partial => "rb_stories/story", :collection => backlog[:stories] %>
  </ul>
</div>
