<!--
  Normally I'd just wrap a spot-text-field here
  but because Angular is trash we'd increase HTML nesting,
  making it harder to write clean CSS.
-->

<ng-content select="[slot=before]"></ng-content>

<div class="spot-chip-field--values">
  <spot-filter-chip
    class="spot-filter-chip spot-chip-field--value"
    *ngFor="let item of value; index as i"
    (remove)="remove(i)"
    [title]="item"
  ></spot-filter-chip>
</div>

<input
  class="spot-text-field--input"

  [name]="name"
  [disabled]="disabled"
  [placeholder]="placeholder"
  [(ngModel)]="textValue"

  (keydown.enter)="onEnter($event)"
  (keydown.backspace)="onBackspace($event)"
  #input
/>
<ng-content select="[slot=after]"></ng-content>
