<% form_for :project, @project,
            :url => { :action => 'modules', :id => @project },
            :html => {:id => 'modules-form'} do |f| %>
            
<div class=box>
<% Redmine::AccessControl.available_project_modules.each do |m| %>
<p><label><%= check_box_tag 'enabled_modules[]', m, @project.module_enabled?(m) %> <%= m.to_s.humanize %></label></p>
<% end %>
</div>

<p><%= check_all_links 'modules-form' %></p>
<p><%= submit_tag l(:button_save) %></p>

<% end %>
