<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<fieldset class="form--fieldset -with-control" id="project_issue_custom_fields">
  <legend class="form--fieldset-legend"><%=l(:label_custom_field_plural)%></legend>
  <div class="form--fieldset-control">
    <span class="form--fieldset-control-container">
      (<%= check_all_links 'project_issue_custom_fields' %>)
    </span>
  </div>

  <ul class="form--list">
    <% work_package_custom_fields.each do |custom_field| %>
      <li class="form--field -trailing-label">

        <%
          css_classes = custom_field.is_for_all? ? { disabled:  "disabled" } : {}
          css_classes[:lang] = custom_field.name_locale
        %>

        <%= form.collection_check_box :work_package_custom_field_ids,
                                      custom_field.id,
                                      @project.all_work_package_custom_fields.include?(custom_field),
                                      custom_field.name,
                                      css_classes %>
      </li>
    <% end %>
  </ul>
</fieldset>
