<% extend TimelinesHelper %>
<%= render :partial => "projects/form/attributes/project_type_id", :locals => { :form => form } %>
<p><%= form.select :responsible_id, options_for_responsible(project), :include_blank => true %></p>
