<div class="op-toast -error">
  <a href="#" title="close" class="op-toast--close icon-context icon-close"></a>
  <div class="op-toast--content">
    <p>An error occurred, here are the facts:</p>
    <ul>
      <li>Fact 1: You made a mistake</li>
      <li>Fact 2: You <em>really</em> made a mistake</li>
      <li>Fact 3: You <strong>should fix it</strong></li>
    </ul>
    <button class="button">continue editing</button>
  </div>
</div>
