<div class="op-toast -success">
  <a href="#" title="close" class="op-toast--close icon-context icon-close"></a>
  <div class="op-toast--content">
    <p>Successful update. <a href="#">A link to the past</a></p>
  </div>
</div>
