<h3>In progress</h3>
<hr/>

<div class="op-toast -upload">
  <div class="op-toast--content">
    <span>Uploading files...</span>
    <ul class="op-toast--uploads">
      <op-toasters-upload-progress>
        <li>
          <span class="filename">Awesome_Landscape.png</span>
          <progress max="100" value="70">70%</progress>
        </li>
      </op-toasters-upload-progress>
    </ul>
  </div>
</div>

<h3>Uplaod progress done</h3>
<hr/>

<div class="op-toast -upload">
  <div class="op-toast--content">
    <span>Uploading files...</span>
    <div>
      <div>
        <ul class="op-toast--uploads">
          <op-toasters-upload-progress>
            <li>
              <span class="filename">Awesome_Landscape.png</span>
              <span class="upload-completed"><i class="icon-checkmark -success"></i></span>
            </li>
            <li>
              <span class="filename">Awesome_Landscape2.png</span>
              <span class="upload-completed"><i class="icon-close -error"></i></span>
              <p class="op-toast--notice -error">Something went wrong!...</p>
            </li>
          </op-toasters-upload-progress>
        </ul>
      </div>
    </div>
  </div>
</div>
