<%= error_messages_for 'enumeration' %>
<div class="box">
<!--[form:optvalue]-->
<%= hidden_field 'enumeration', 'opt'  %>

<p><label for="enumeration_name"><%=l(:field_name)%></label>
<%= text_field 'enumeration', 'name'  %></p>
<!--[eoform:optvalue]-->
</div>