<h2><%= link_to l(@enumeration.option_name), :controller => 'enumerations', :action => 'index' %> &#187; <%=h @enumeration %></h2>

<% form_tag({:action => 'update', :id => @enumeration}, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% form_tag({:action => 'destroy', :id => @enumeration}) do %>
  <%= submit_tag l(:button_delete) %>
<% end %>