<% html_title t(:label_administration), t("webhooks.plural") %>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { t("webhooks.plural") }
    header.with_breadcrumbs([{ href: admin_index_path, text: t("label_administration") },
                             { href: admin_settings_api_path, text: t("menus.admin.api_and_webhooks") },
                             t("webhooks.plural")])
  end
%>

<%=
  render(Primer::OpenProject::SubHeader.new) do |subheader|
    subheader.with_action_button(scheme: :primary,
                                 aria: { label: I18n.t("webhooks.outgoing.label_add_new") },
                                 title: I18n.t("webhooks.outgoing.label_add_new"),
                                 tag: :a,
                                 href: new_admin_outgoing_webhook_path) do |button|
      button.with_leading_visual_icon(icon: :plus)
      t("webhooks.singular")
    end
  end
%>

<p>
  <%= t('webhooks.outgoing.explanation.text',
        link: link_to(t(:'webhooks.outgoing.explanation.link'), admin_settings_aggregation_path, target: '_blank')).html_safe %>
</p>

<%= render ::Webhooks::Outgoing::Webhooks::TableComponent.new(rows: @webhooks) %>
