<div [formGroup]="form" class="form-container">
  <h2>{{title}}</h2>

  <ng-container *ngFor="let step of steps; let index = index;">
    <div
      *ngIf="step === currentStep"
      class="op-modal--modal-body"
      #stepBody
    >
      <ng-container *ngFor="let field of step.fields; let fieldIndex = index;">
        <!--SELECT TEMPLATE-->
        <op-form-field
          [label]="field.label ? field.label() : ''"
          required
        >
          <ng-select
            *ngIf="field.type === 'select'"
            [formControlName]="field.formControlName"
            [typeahead]="input$"
            [items]="items$ | async"
            [virtualScroll]="true"
            [clearable]="true"
            [clearOnBackspace]="true"
            [clearSearchOnAdd]="false"
            [bindLabel]="field.bindLabel"
            [multiple]="false"
            slot="input"
            #ngselect
          >
            <!--SELECT OPTIONS TEMPLATES-->
            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
              <span [ngOptionHighlight]="search" class="ng-option-label ellipsis">
                {{item.name}}
              </span>

              <span *ngIf="inputIsEmail(ngSelectInput.value)">
                ({{item.email}})
              </span>

              <span *ngIf="item.disabled">
                ({{alreadyMemberMessage}})
              </span>
            </ng-template>

            <!--SELECT NOT FOUND TEMPLATE-->
            <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
              <div class="ng-option ng-option-disabled" *ngIf="!inputIsEmail(ngSelectInput.value)">
                {{noDataFoundFor(searchTerm)}}
              </div>
            </ng-template>

            <!--SELECT INVITE BY EMAIL TEMPLATE-->
            <ng-template ng-footer-tmp>
              <div *ngIf="step.showInviteUserByEmail && inputIsEmail(ngSelectInput.value) && !(items$ | async)?.length">
                <button class="button"
                        (click)="setUserEmail(ngSelectInput.value)"
                        [disabled]="!inputIsValidEmail(ngSelectInput.value)">
                  <op-icon icon-classes="icon-mail1"></op-icon>

                  {{text.invite}}: {{ngSelectInput.value}}
                </button>
              </div>
            </ng-template>
          </ng-select>

          <textarea
            slot="input"
            *ngIf="field.type === 'textarea'"
            [formControlName]="field.formControlName"
          ></textarea>

          <op-option-list
            slot="input"
            *ngIf="field.type === 'option-list'"
            [options]="field.options"
            [formControlName]="field.formControlName"
          ></op-option-list>

          <p
            slot="input"
            *ngIf="field.type === 'summary'"
          >
            {{form.get(field.formControlName).value?.name || form.get(field.formControlName).value}}
          </p>

          <p
            slot="help-text"
            class="description"
            *ngIf="field.description"
            [innerHtml]="field.description()"
          ></p>

          <div
            slot="errors"
            class="op-form-field--error"
            *ngIf="form.get(field.formControlName)?.touched && form.get(field.formControlName)?.invalid"
          >
            {{ field.invalidText }}
          </div>
        </op-form-field>
      </ng-container>

      <!--CONFIRMATION TEMPLATE-->
      <ng-container *ngIf="step.name === 'confirmation'">
        <p class="description"
           *ngIf="step.description">
          {{step.description()}}
        </p>
      </ng-container>
    </div>
  </ng-container>

  <div class="buttons-container">
    <button class="button button-left"
            (click)="previousAction()"
            *ngIf="currentStepIndex !== 0 || currentStep?.previousButtonText">
      {{currentStep?.previousButtonText}}
    </button>

    <button class="button button-right"
            (click)="nextAction(currentStep)"
            *ngIf="currentStep?.nextButtonText">
      {{currentStep?.nextButtonText}}
    </button>
  </div>
</div>
