<div [formGroup]="form" class="form-container">
  <h2>
    {{text.invite}} {{form.get('user')?.value?.name || text.user}} {{text.to}} {{project}}
  </h2>

  <ng-container *ngFor="let step of steps; let index = index;">
    <!--STEP TEMPLATE-->
    <div [ngClass]="['step', 'step' + '-' + step.type]"
         *ngIf="currentStepIndex === index">
      <!--SELECT TEMPLATE-->
      <ng-container *ngIf="step.type === 'select'">
        <label [for]="step.formControlName">{{step.label()}}</label>

        <ng-select [formControlName]="step.formControlName"
                   [typeahead]="input$"
                   [items]="items$ | async"
                   [virtualScroll]="true"
                   required="true"
                   [clearable]="true"
                   [clearOnBackspace]="true"
                   [clearSearchOnAdd]="false"
                   [bindLabel]="step.bindLabel"
                   [multiple]="false"
                   [id]="step.formControlName"
                   #ngselect>
          <!--SELECT OPTIONS TEMPLATES-->
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <span [ngOptionHighlight]="search" class="ng-option-label ellipsis">
              {{ item.name }}
            </span>

            <span *ngIf="inputIsEmail(ngSelectInput.value)">
              ({{item.email}})
            </span>

            <span *ngIf="item.disabled">
              ({{text.alreadyMemberMessage}} {{project}})
            </span>
          </ng-template>

          <!--SELECT NOT FOUND TEMPLATE-->
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
            <div class="ng-option ng-option-disabled" *ngIf="!inputIsEmail(ngSelectInput.value)">
              {{text.noDataFoundFor}} "{{searchTerm}}"
            </div>
          </ng-template>

          <!--SELECT INVITE BY EMAIL TEMPLATE-->
          <ng-template ng-footer-tmp>
            <div *ngIf="step.showInviteUserByEmail && inputIsEmail(ngSelectInput.value) && !(items$ | async)?.length">
              <button class="button"
                      (click)="setUserEmail(ngSelectInput.value)"
                      [disabled]="!inputIsValidEmail(ngSelectInput.value)">
                <op-icon icon-classes="icon-mail1"></op-icon>

                {{text.invite}}: {{ngSelectInput.value}}
              </button>
            </div>
          </ng-template>
        </ng-select>

        <p class="description"
           *ngIf="step.description">
          {{step.description()}}

          <a *ngIf="step.link"
            [href]="step.link.href"
            target="_blank">
            {{step.link.text}}
          </a>
        </p>
      </ng-container>

      <!--TEXTAREA TEMPLATE-->
      <ng-container *ngIf="step.type === 'textarea'">
        <label [for]="step.formControlName">
          {{step.label()}}
        </label>

        <textarea [formControlName]="step.formControlName"
                  [id]="step.formControlName"
                  #textarea>
        </textarea>

        <p class="description"
           *ngIf="step.description">
          {{step.description()}}
        </p>
      </ng-container>

      <!--SUMMARY TEMPLATE-->
      <ng-container *ngIf="step.type === 'summary'">
        <div *ngFor="let step of steps"
             [ngClass]="['summary-field', 'summary-field' + '-' + step.formControlName]">
          <ng-container *ngIf="step.formControlName">
            <p>
              <strong>{{step.summaryLabel}}</strong>
            </p>

            <p>
              {{form.get(step.formControlName).value?.name || form.get(step.formControlName).value}}
            </p>
          </ng-container>
        </div>
      </ng-container>

      <!--CONFIRMATION TEMPLATE-->
      <ng-container *ngIf="step.type === 'confirmation'">
        <p class="description"
           *ngIf="step.description">
          {{step.description()}}
        </p>
      </ng-container>
    </div>
  </ng-container>

  <div class="buttons-container">
    <button class="button button-left"
            (click)="previousAction()"
            *ngIf="currentStep?.previousButtonText"
            [disabled]="!currentStepIndex">
      {{currentStep?.previousButtonText}}
    </button>

    <button class="button button-right"
            (click)="nextAction(currentStep)"
            *ngIf="currentStep?.nextButtonText"
            [disabled]="shouldBeDisabled(currentStep)">
      {{currentStep?.nextButtonText}}
    </button>
  </div>
</div>
