<div class="days">
  <div class="form--field-container">
    <div class="form--text-field-container -xslim">
        <span class="inline-label">
          <%= number_field_tag :value, value, class: 'advanced-filters--text-field -slim' %>
          <label for="value" class="form-label -transparent">days</label>
         </span>
    </div>
  </div>
</div>
