<div class="on-date">
  <div class="form--field-container">
    <div class="form--text-field-container -slim">
      <%= text_field_tag :value, value, id: "on-date-value-#{filter.name}", class: 'advanced-filters--text-field -slim -augmented-datepicker', size: '10' %>
    </div>
  </div>
</div>
