<div class="on-date">
  <div class="form--field-container -visible-overflow">
    <%= angular_component_tag 'op-basic-single-date-picker',
                              inputs: {
                                value: value,
                                id: "on-date-value-#{filter.name}",
                                name: "value"
                              }
    %>
  </div>
</div>
