/* This file is used to define colors for ChiliProject. They are kept   */
/* separate in order to make it easy for someone to create a new theme. */
/*                                                                      */
/* Some default colors are defined in application.css, mostly grays and */
/* logical ones (e.g. errors are red).                                  */

@import url(../../../stylesheets/application.css);

body {
	background:#f3f3f3;
	color:#333;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'lucida grande','lucida sans unicode',tahoma,arial,sans-serif !important;
}

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { color: #444; }

a { color:#226D81; }

#top-menu {	background: #277D94 url(../../../images/sap-logo.png) no-repeat 24px bottom; }
#account { background: #6DABC2 url(../../../images/sap-logo.png) no-repeat 24px 15px; }
#account ul { color:#90C0D1; background:#277D94;}

#account li.open a { background-color:#277D94; }
#account li li { border-color:#5D9DAE #fff #1D5D6E; }
#account li li:first-child {
  border-bottom:1px solid #1D5D6E;
}
#account-nav li a:hover, #account li li a:hover {
  background-color:#2791AD;
}
#nav-search {
  background:#30849c url(../../../images/search-gradient.png) repeat-x left top;
  border:1px solid #194E60;
}

#main {background:#f3f3f3;}

#main-menu { border-right:1px solid #E6E6E6; }
#main-menu a {
  color:#222;
}
#main-menu li a {
  color: #fff;
}
#main-menu li a {color: #222222;}
#main-menu li a:hover {color: #222222;}

#main-menu li li ul.profile-box li a {
	color:#226D81;
}
#main-menu li li ul.profile-box li a:hover {
	background-color:transparent;
}
#sidebar h3 { color: #666; }

* html #sidebar hr { color: #ccc; }

#footer { color: #aaa; }

.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

.highlight { background-color: #FCFD8D;}
.highlight.token-1 { background-color: #faa;}
.highlight.token-2 { background-color: #afa;}
.highlight.token-3 { background-color: #aaf;}

.box {
background-color:#f6f6f6;
color:#505050;
}

legend {color: #484848;}

div.wiki a.new {
    color: #b73535;
}

#content {
	background-color:#fff;
	border:1px solid #e6e6e6;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

}

#content .title-bar {
	background: #277D94;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.title-bar h2 {
	color:#fff;
}

.title-bar .button-large {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#f3f3f3 url(../../../images/gradient-down.png) repeat-x;
	border:1px solid #e5e5e5;
}
.button-large:hover {
	border-color:#6DABC2;
}
.title-bar-extras {
	background-color:#ECF6F9;
	color:#333333;
}

.title-bar-extras ul {
	background:url(../../../images/shadow-down.png) repeat-x top left;
	border-bottom:1px solid #154E5D;
}

.extras-actions { border-top:1px solid #408598; }
.extras-actions a { color:#333333; }

#content table td.subject a {
	color:#226D81;
}

/* Priority Coloring */
.priority-5 td.priority {
	background-color:#FFE5E5;
}
.priority-4 td.priority {
	background-color:#FFEFCF;
}

div.issue {
	background:#E8F4F8;
	border:1px solid #D5E6ED;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
div.issue hr {
	border-style:solid;
	border-width:1px 0;
	border-color:#ddd #fff #fff;
}

#content .meta table td a, #content .meta table th a {
	color:#226D81;
}

#content table.files td a {
	color:#226D81;
}

.journal .wiki {
	background-color:#f8f8f8;
	border:1px solid #f5f5f5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.question .wiki {
	background:#277D94;
	color:#fff;
	margin:0px 10px;
	padding:10px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
blockquote {
	color:#666;
}

.journal-attributes {color: #999999;}

.profile-box {
	background:#f3f3f3;
	border:1px solid #afafaf;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.3);
}

.js-tooltip-inner {
	background:#F7F7F7;
	border:1px solid #c3c3c3;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

/* Menus are assumed to be a <ul> element */
.menu, .menu ul {
	background:#f4f4f4;
	border:1px solid #afafaf;
	-moz-box-shadow:1px 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.3);
}
.menu li {
	border-top:1px solid #fff;
	border-bottom:1px solid #ddd;
}

div#roadmap fieldset.related-issues {
	border:1px solid #E6E6E6;
}

#login-form form {
	background:#ECF6F9;
	border:1px solid #6DABC2;
}
table.progress td.closed {
	background-color:#277D94;
}
#content table.issues tr:hover {
	background:#F3F3F3;
}
#content table.issues tr.context-menu-selection, #content table tr.context-menu-selection td {
	background:#277D94 !important;
}
/* questions */
.question .wiki a {
	color:#fff;
	border-bottom:1px solid #68A4B4;
	text-decoration:none;
}
.question .wiki a:hover {
	border-color:#fff;
}
.question .wiki .contextual a {
	border:0 none;
}
#content table .changeset td a {
	color:#226D81;
}

/* color for blockquotes in questions */
.question blockquote {
	color:#fff;
}

input#rate_amount {
	width:75px;
}

