<div>
  <div class="inline-label">
    <ng-select [(ngModel)]="selectedOption"
               class="wp-inline-edit--field"
               [required]="required"
               [disabled]="inFlight"
               [id]="handler.htmlId"
               [items]="valueOptions"
               bindLabel="name"
               [virtualScroll]="true"
               autofocus
               (keydown)="handler.handleUserKeydown($event, true)"
               [multiple]="true"
               [closeOnSelect]="false">
    </ng-select>
  </div>

  <edit-field-controls [fieldController]="self"
                       *ngIf="!handler.inEditMode"
                       (onSave)="handler.handleUserSubmit()"
                       (onCancel)="handler.handleUserCancel()"
                       [saveTitle]="text.save"
                       [cancelTitle]="text.cancel">
  </edit-field-controls>
</div>
