<%= validation_errors.length > 1 ? l(:error_intro_plural) : l(:error_intro_singular) %>
<ul>
  <%- validation_errors.each_full do |msg| %>
  <li><%= msg %></li>
  <%- end %>
</ul>
<%= l(:error_outro ) %>