<div id="not_configured">
    <%= l(:label_backlogs_unconfigured, {
                :administration => l(:label_administration),
                :plugins => l(:label_plugins),
                :configure => l(:button_configure)
            })
    %>
</div>
