<div
    class="work-packages--details work-packages--new"
    ng-if="$ctrl.newWorkPackage"
>
  <wp-edit-field-group work-package="$ctrl.newWorkPackage"
                       success-state="$ctrl.successState"
                       in-edit-mode="true">
    <div class="work-packages--details-content -create-mode">
      <span class="hidden-for-sighted" tabindex="-1" focus ng-bind="focusAnchorLabel"></span>
      <div has-edit-mode="true"
           wp-edit-form="$ctrl.newWorkPackage"
           wp-edit-form-on-save="$ctrl.refreshAfterSave(workPackage, 'work-packages.list.details.overview')">
        <div class="work-packages--new-details-header">
          <wp-type-status work-package="$ctrl.newWorkPackage"></wp-type-status>
          <div class="hidden-for-accessibility wp--details--switch-fullscreen-wrapper">
             <a ng-click="$ctrl.switchToFullscreen()" class="work-packages-show-view-button wp--details--switch-fullscreen ">
               <span class="icon-context icon-to-fullscreen"></span>
             </a>
          </div>
        </div>
          <wp-single-view work-package="$ctrl.newWorkPackage"></wp-single-view>
      </div>
    </div>

    <div class="work-packages--details-toolbar-container">
      <edit-actions-bar
          on-cancel="$ctrl.cancelAndBackToList()"
      ></edit-actions-bar>
    </div>
  </wp-edit-field-group>
</div>
