<div class="work-packages-show-view-button wp--details--switch-fullscreen hidden-for-accessibility"
     ng-click="$ctrl.switchToFullscreen()">
  <span class="icon-context icon-double-arrow-left"></span>
</div>
<div
    class="work-packages--details"
    ng-if="$ctrl.newWorkPackage"
>
  <div class="work-packages--details-content -create-mode">
    <span class="hidden-for-sighted" tabindex="-1" focus ng-bind="focusAnchorLabel"></span>
    <div has-edit-mode="true"
         wp-edit-form="$ctrl.newWorkPackage"
         wp-edit-form-on-save="$ctrl.refreshAfterSave(workPackage, 'work-packages.list.details.overview')">
      <h2>{{ $ctrl.header }}</h2>
      <wp-subject work-package="$ctrl.newWorkPackage"></wp-subject>
      <wp-single-view work-package="$ctrl.newWorkPackage"></wp-single-view>
    </div>
  </div>

  <div class="work-packages--details-toolbar-container">
    <edit-actions-bar
        on-save="$ctrl.saveWorkPackage()"
        on-cancel="$ctrl.cancelAndBackToList()"
    ></edit-actions-bar>
  </div>
</div>
