<div class="work-packages-list-view--container">
  <div class="toolbar-container">

  <!-- (TABLE + TIMELINE) + DETAILS view -->
  <div class="work-packages-split-view">

    <!-- (TABLE + TIMELINE) and FOOTER vertical split-->
    <div class="work-packages-split-view--tabletimeline-side loading-indicator--location" data-indicator-name="table">

      <!-- TABLE + TIMELINE horizontal split -->
      <wp-table *ngIf="tableInformationLoaded"
                [projectIdentifier]="projectIdentifier"
                [tableState]="tableState"
                class="work-packages-split-view--tabletimeline-content"></wp-table>

      <!-- Footer -->
      <div class="work-packages-split-view--tabletimeline-footer hide-when-print"
           *ngIf="tableInformationLoaded">
      </div>
    </div>

    <!-- Details view -->
    <div class="work-packages-split-view--details-side" ui-view></div>
  </div>
</div>
