<h3 class="widget-box--header">
  <span class="grid--area-drag-handle
               icon
               icon-drag-handle"
        cdkDragHandle></span>

  <i class="icon-context icon-calendar" aria-hidden="true"></i>

  <editable-toolbar-title [title]="widgetName"
                          (onSave)="renameWidget($event)"
                          class="widget-box--header-title">
  </editable-toolbar-title>

  <widget-menu
      [resource]="resource">
  </widget-menu>
</h3>

<div class="grid--widget-content"
     [innerHTML]="description" ></div>
