.spot-breadcrumbs
  @include spot-caption()

  display: flex
  align-items: baseline

  &--crumb
    display: flex
    align-items: center
    flex-shrink: 0
    min-width: 0

    > .spot-icon
      width: $spot-spacing-1-5
      height: $spot-spacing-1-5

    &__shrink
      flex-shrink: 1

    &-action-item
      flex-shrink: 1
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

      &:not(:first-child)
        margin-left: $spot-spacing-0-25


    &-divider
      font-size: 0.5rem
      flex-shrink: 0

    &:not(:first-child)
      margin-left: $spot-spacing-0-25
