.spot-drop-modal-portal
  @media (max-width: $breakpoint-sm)
    display: flex
    position: fixed
    flex-direction: column
    top: 0
    bottom: 0
    z-index: 1001
    justify-content: center
    align-items: center
