.spot-modal
  position: relative
  display: flex
  flex-direction: column
  align-items: stretch
  background: white
  pointer-events: all

  border-radius: $spot-spacing-0-25
  width: 40rem

  max-width: calc(100vw - 2rem)
  max-height: calc(100vh - 2rem)

  overflow-y: auto
  @include styled-scroll-bar

  @media (max-width: 680px), (max-height: 500px)
    width: calc(100vw - 2rem)

  &_wide
    width: 70rem
    min-height: 40vh

  &_fullscreen
    width: 100vw
    height: 100vh

  &--header
    @include spot-subheader-big

    display: flex
    padding: $spot-spacing-1
    position: relative
    align-items: center

    .spot-icon
      width: $spot-spacing-1-5
      height: $spot-spacing-1-5
      margin-right: $spot-spacing-0-5

    &_highlight
      background-color: var(--header-bg-color)
      border-bottom-width: var(--header-border-bottom-width)
      border-bottom-color: var(--header-border-bottom-color)

      *
        color: var(--header-item-font-color)

  &--body
    display: flex
    flex-direction: column
    padding: 1rem
    flex-grow: 1
    flex-shrink: 1
    overflow-y: auto

    &:focus
      outline-style: none

    &_limited-height
      max-height: 50vh

    &_center
      justify-content: center
      align-items: center
      text-align: center

  &--footer
    width: 100%
