.spot-selector-field
  line-height: 1.6rem

  &--label-wrap
    display: grid
    grid-template-columns: auto 1fr
    grid-template-areas: "input label" "description description"

    &_reversed
      grid-template-areas: "label input" "description description"

  &--input
    grid-area: input
    align-self: start
    padding-right: 1rem
    margin-bottom: 0
    margin-top: 0.1rem
    display: flex

    &_reversed
      padding-left: 1rem
      padding-right: 0

  @media #{$spot-mq-mobile}
    &--input_reversed
      // Push input to end of grid
      justify-self: end


  &--label
    grid-area: label
    margin-bottom: 0

  &--description
    margin-bottom: 0

  &--label,
  &--description
    white-space: pre-line
    word-break: break-word
    word-wrap: break-word
