<div class="op-toast -warning">
  <a href="#" title="close" class="op-toast--close icon-context icon-close"></a>
  <div class="op-toast--content">
    <p>This is a warning. You may ignore it, but bad things might happen.</p>
  </div>
</div>
