<div class="tabs">
  <ul>
    <%= render partial: 'timelog/time_entry_tab', locals: { tab_title: l(:label_details),
                                                            tab_path: polymorphic_time_entries_path(@issue || @project),
                                                            tab_selected: (request.path == polymorphic_time_entries_path(@issue || @project)) }%>
    <%= render partial: 'timelog/time_entry_tab', locals: { tab_title: l(:label_report),
                                                            tab_path: polymorphic_time_entries_report_path(@issue || @project),
                                                            tab_selected: (request.path != polymorphic_time_entries_path(@issue || @project)) }%>
  </ul>
</div>
