<div *ngIf="modelCount === 0" class="notification-box -info">
  <div class="notification-box--content">
    <p>
      {{ text.empty_warning }}
      <br/>
      <a *ngIf="canManage"
         [href]="ifcData.manageIFCPath"
         target="_blank"
         [textContent]="text.use_this_link_to_manage">
      </a>
    </p>
  </div>
</div>

<div #ifcViewerContainer
     class="ifc-model-viewer--container xeokit-busy-modal-backdrop">
  <div class="ifc-model-viewer--focus-trap"
       *ngIf="!focused"
       (click)="focus($event, true)">
    <p class="ifc-model-viewer--focus-note" [textContent]="text.regain_focus"></p>
  </div>
  <div class="ifc-model-viewer--toolbar-container"></div>
  <canvas class="ifc-model-viewer--model-canvas"></canvas>
</div>

<canvas class="ifc-model-viewer--nav-cube-canvas"></canvas>
