div.macro-list.plain

  dt > .title
    font-size: $wiki-default-font-size * .9

  dt.macro > .name
    font-size: $wiki-default-font-size * 1.4

  dt.param > .name
    font-size: $wiki-default-font-size * 1.2

  dd.usage,
  dd.examples,
  dd.parameters,
  dd.name,
  dd.description,
  dd.default-value,
  dd.one-of,
  dd.value-type
    padding-left: 1rem
    font-style: italic

  .param-option
    vertical-align: sub
    font-size: $wiki-default-font-size * .8
    color: #0b58a2
