div.macro-error
  background-color: lightsalmon
  padding: 2em 1em

  div.title
    font-size: $wiki-default-font-size * 1.5
    font-weight: bold
    margin-bottom: .5em

  p.info
    margin: 0
    padding: 0

  dl.meta
    margin-top: 1em

  ul.trace
    padding: 0
    margin: 0
    width: 100%

    li.trace-line
      list-style-type: none
      overflow-wrap: break-word
      word-wrap: break-word
      margin: 0
      padding: 0
      max-width: 100%
      font-family: sans-serif
      font-size: $wiki-default-font-size * 0.8
