<div class="op-modal wp-table--configuration-modal">
  <op-modal-heading (close)="closeMe($event)">{{text.title}}</op-modal-heading>

  <div class="op-modal--body">

    <ng-container *ngIf="!!prependModalComponent">
      <ng-container *ngComponentOutlet="prependModalComponent; injector: injector"></ng-container>
    </ng-container>

    <div *ngIf="!!tabPortalHost"
         class="content--tabs scrollable-tabs">
      <ul class="tabrow">
        <li *ngFor="let tab of availableTabs"
            [ngClass]="{ 'selected': currentTab && tab.name === currentTab.name, '-disabled': tab.disableBecause != null }">
          <button
            class="tab-show"
            type="button"
            [ngClass]="{ 'selected': currentTab && tab.name === currentTab.name }"
            [attr.title]="tab.disableBecause || tab.title"
            [textContent]="tab.title"
            (click)="switchTo(tab.name)"
          ></button>
      </ul>
    </div>

    <div class="tab-content" #tabContentOutlet></div>
  </div>
  <div class="op-modal--footer">
    <button class="button -highlight"
            [textContent]="text.applyButton"
            (click)="saveChanges()">
    </button>
    <button class="button"
            [textContent]="text.cancelButton"
            (click)="closeMe($event)">
    </button>
  </div>
</div>
