.timeline-element.relation-line
  position: absolute
  float: left
  background-color: var(--display-blue-scale-5)

.active-selection-mode
  .timeline-element.relation-line
    background-color: var(--display-gray-scale-4) !important
