<op-attachment-list
  class="op-attachments--list"
  *ngIf="hasAttachments"
  [resource]="resource"
  [allowUploading]="allowUploading"
></op-attachment-list>

<input
  #hiddenFileInput
  type="file"
  id="attachment_files"
  name="attachment_files"
  (change)="onFilePickerChanged()"
  hidden
  multiple
/>

<div
  *ngIf="allowUploading && resource.canAddAttachments && hasAttachments"
  class="op-attachments--actions"
>
  <button
    type="button"
    class="spot-link"
    (click)="triggerFileInput($event)"
  >
    <span class="spot-icon spot-icon_attachment"></span>

    Add attachment
  </button>
</div>

<button
  *ngIf="allowUploading && resource.canAddAttachments"
  [attr.aria-label]="text.uploadLabel"
  [ngClass]="{
    'hide-when-print': true,
    'op-attachments--drop-box': true,
    'op-attachments--drop-box_float': hasAttachments
  }"
  type="button"
  (click)="triggerFileInput()"
  (drop)="onDropFiles($event)"
>
  <span
    class="spot-icon spot-icon_attachment op-attachments--drop-box-icon"
  ></span>
  <label
    for="attachment_files"
    class="op-attachments--drop-box-text"
  >
    {{ text.dropFiles }}<br>
    {{ text.dropFilesHint }}
  </label>
</button>
