---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!dmVLG22QlE2PSW0AqVB7UOhZ8n7tjkVGkgqLNnuw2OBb-brzKzZAR4DYT1k9KPXs/items/01AZJL5PNCQCEBFI3N7JGZSX5AOX32Z3LA?$select=id,name,fileSystemInfo,file,folder,size,createdBy,lastModifiedBy,parentReference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"5","ScaleUnit":"005","RoleInstance":"FR3PEPF000002D9"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"IDX14100:
        JWT is not well formed, there are no dots (.).\nThe token needs to be in JWS
        or JWE Compact Serialization Format. (JWS): ''EncodedHeader.EndcodedPayload.EncodedSignature''.
        (JWE): ''EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphertext.EncodedAuthenticationTag''.","innerError":{"date":"2024-01-30T11:56:01","request-id":"bb2f6d5c-3c01-41a8-be44-3d2bb300998e","client-request-id":"bb2f6d5c-3c01-41a8-be44-3d2bb300998e"}}}'
  recorded_at: Tue, 30 Jan 2024 11:56:01 GMT
recorded_with: VCR 6.2.0
