---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!dmVLG22QlE2PSW0AqVB7UOhZ8n7tjkVGkgqLNnuw2OBb-brzKzZAR4DYT1k9KPXs/items/01AZJL5PKU2WV3U3RKKFF2A7ZCWVBXRTEU?$select=id,name,fileSystemInfo,file,folder,size,createdBy,lastModifiedBy,parentReference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1234567890-1
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"007","RoleInstance":"AM4PEPF000278F0"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"CompactToken
        parsing failed with error code: 80049217","innerError":{"date":"2023-09-28T15:13:43","request-id":"74a8934f-4307-47aa-a3c6-a2c38aceac18","client-request-id":"74a8934f-4307-47aa-a3c6-a2c38aceac18"}}}'
  recorded_at: Thu, 28 Sep 2023 15:13:43 GMT
recorded_with: VCR 6.2.0
