---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!dmVLG22QlE2PSW0AqVB7UOhZ8n7tjkVGkgqLNnuw2OBb-brzKzZAR4DYT1k9KPXs/root?$select=id,name,parentReference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"FR2PEPF00000396"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"IDX14100:
        JWT is not well formed, there are no dots (.).\nThe token needs to be in JWS
        or JWE Compact Serialization Format. (JWS): ''EncodedHeader.EndcodedPayload.EncodedSignature''.
        (JWE): ''EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphertext.EncodedAuthenticationTag''.","innerError":{"date":"2024-02-21T15:45:11","request-id":"074f6649-c2a3-44a6-a9e9-6898f9ba126c","client-request-id":"074f6649-c2a3-44a6-a9e9-6898f9ba126c"}}}'
  recorded_at: Wed, 21 Feb 2024 15:45:11 GMT
recorded_with: VCR 6.2.0
