---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Wed, 24 Apr 2024 12:19:21 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/THIS-IS-NOT-A-DRIVE-ID/root/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"002","RoleInstance":"FR3PEPF00000313"}}'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"invalidRequest","message":"The provided drive id
        appears to be malformed, or does not represent a valid drive."}}'
  recorded_at: Wed, 24 Apr 2024 12:19:21 GMT
recorded_with: VCR 6.2.0
