<p>
  <label><%= l(:label_currency) %></label><%= text_field_tag 'settings[costs_currency]', @settings['costs_currency'], :size => 15 %>
</p>

<p>
  <label><%= l(:label_currency_format) %></label><%= text_field_tag 'settings[costs_currency_format]', @settings['costs_currency_format'], :size => 15 %>
  <br /><em><%= l(:help_currency_format) %></em>
</p>
