<% form_tag({ :action => 'edit', :tab => 'users' } ) do %>

  <div class ="box tabular settings">
    <p>
      <%= setting_check_box :users_deletable_by_admins %>
    </p>

    <p>
      <%= setting_check_box :users_deletable_by_self %>
    </p>

  </div>
<%= submit_tag l(:button_save) %>
<% end %>
