<op-autocompleter
  [items]="requests.output$ | async"
  [(ngModel)]="value"
  [trackByFn]="projectTracker"
  [typeahead]="requests.input$"

  placeholder="My placeholder"
  notFoundText="Nothing found"

  bindLabel="name"
  bindValue="id"
>
  <ng-template
    op-autocompleter-label-tmp
    let-item="item"
  >
    This should show if it is actually working, no?
    {{ item.name }}
  </ng-template>

  <ng-template
    op-autocompleter-option-tmp
    let-item="item"
    let-search="searchTerm"
  >
    <div class="ng-option-label">
      <!--Selectable option-->
      <div
        class="ellipsis"
        [ngStyle]="{ 'padding-left.px': item.numberOfAncestors * 20 }"
        [ngOptionHighlight]="search"
      >{{ item.name }}</div>

      <!-- No invite rights -->
      <div
        *ngIf="item.disabled"
        class="ellipsis"
      >{{ text.noInviteRights }}</div>
    </div>
  </ng-template>
</op-autocompleter>
