<op-autocompleter
  [items]="requests.output$ | async"
  bindLabel="name"
  bindValue="id"
  [ngModel]="initialSelection"
  [virtualScroll]="true"
  [trackByFn]="projectTracker"
  [typeahead]="requests.input$"
  (focus)="onFocus()"
  (change)="onModelChange($event)"
  [appendTo]="appendTo"
  [multiple]="multiple"
>
  <ng-template
    op-autocompleter-label-tmp
    let-item="item"
  >
    {{ item.name }}
  </ng-template>

  <ng-template
    op-autocompleter-option-tmp
    let-item="item"
    let-search="searchTerm"
  >
    <div class="ng-option-label">
      <!--Selectable option-->
      <div
        class="ellipsis"
        [ngStyle]="{ 'padding-left.px': item.numberOfAncestors * 20 }"
        [ngOptionHighlight]="search"
      >{{ item.name }}</div>

      <!-- No invite rights -->
      <div
        *ngIf="item.disabled"
        class="ellipsis"
      >{{ text.noInviteRights }}</div>
    </div>
  </ng-template>

  <ng-template
    op-autocompleter-notfound-tmp
    let-searchTerm="searchTerm"
  >
    <div class="ng-option disabled">
      {{ text.noResultsFound }}
    </div>
  </ng-template>
</op-autocompleter>
