<div class="toolbar-container">
  <div class="toolbar">
    <div class="title-container">
        <h2 [textContent]="title">
        </h2>
    </div>
    <ul class="toolbar-items">
      <li class="toolbar-item"
          *ngIf="manageAllowed">
        <a class="button"
           [href]="manageIFCPath">
          <op-icon icon-classes="button--icon icon-settings2"></op-icon>
          <span class="button--text"
                [textContent]="text.manage"
                aria-hidden="true"></span>
        </a>
      </li>
      <li class="toolbar-item hidden-for-mobile">
        <zen-mode-toggle-button></zen-mode-toggle-button>
      </li>
    </ul>
  </div>
</div>

<div class="ifc-model-viewer--container"
     ui-view="viewer">
</div>

<div class="bcf-table--container"
     ui-view="list">
</div>
