@if (hasChartData()) {
  <div class="position-relative mx-auto" style="height:60vh">
    <p [id]="chartDescriptionId" hidden>{{ chartDescription() }}</p>
    <canvas
      baseChart
      role="img"
      [attr.aria-label]="chartLabel"
      [attr.aria-describedby]="chartDescriptionId"
      [data]="lineChartData()"
      [options]="lineChartOptions()"
      [type]="'line'"
    >
      {{ chartDescription() }}
    </canvas>
  </div>
} @else {
  <op-no-results />
}

@if (isDevMode) {
  <hr/>

  <details>
    <summary>Debug</summary>
    <code>
      <pre>{{maxValue() }}</pre>
      <pre>{{lineChartData() | json}}</pre>
    </code>
  </details>
}
