<div *ngIf="(board$ | async) as board"
     class="board--container">

  <div class="toolbar-container">
    <div id="toolbar">
      <div class="board--header-container">
        <div class="wp-show--back-button hide-when-print">
          <accessible-by-keyboard (execute)="goBack()"
                                  linkClass="work-packages-list-view-button button">
            <op-icon icon-classes="button--icon icon-back-up"></op-icon>
          </accessible-by-keyboard>
        </div>
        <h2 class="board--name-header" [textContent]="board.name"></h2>
      </div>
    </div>
  </div>

  <div class="boards-list--container">
    <div class="boards-list--item" *ngFor="let id of board.queries">
      <board-list [queryId]="id"></board-list>
    </div>
  </div>
</div>
