.boards-list--container
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.boards-list--item
  flex: 0 0 25vw

.board--header-container
  display: flex
  align-items: flex-start

.board--name-header
  list-style: none


