.boards-list--container
  display: flex
  flex-direction: row
  flex-wrap: nowrap

  // Make it scrollable
  padding-bottom: 2px
  overflow-y: auto

.boards-list--item
  flex: 0 0 20%
  margin-left: 2rem
  position: relative

  &:first-child
    margin-left: 0

.board--header-container
  display: flex
  align-items: flex-start

.board--name-header
  list-style: none

.boards-list-item-handle
  position: absolute
  font-size: 14px
  left: 0
  top: 20px
  z-index: 100
  opacity: 0
  cursor: grab

  .board--container.-free &
    top: 14px

  &:before
    padding: 0
    color: #888

  .boards-list--item:hover &
    opacity: 1

.boards-list--add-item
  flex: 0 0 230px
  border: 1px dashed #ccc
  border-radius: 5px
  // Same height as board list header
  height: 43px
  margin-left: 30px

  // Center child text
  display: flex
  align-items: center
  justify-content: center

  // Align self at top
  align-self: flex-start

.board--container
  position: relative

  // Changes when container is editable
  &.-editable
  .boards-list--add-item
    cursor: pointer

.boards-filters-container
  margin-bottom: 1rem
