<op-date-picker
  on-change="vm.submit()"
  on-deactivate="vm.deactivate()"
  ng-model="vm.workPackage[vm.fieldName]">

  <input ng-model="vm.workPackage[vm.fieldName]"
         type="text"
         class="wp-inline-edit--field"
         transform-date-value
         ng-blur="vm.onlyInAccessibilityMode(vm.handleUserBlur)"
         ng-required="vm.field.required"
         focus="vm.shouldFocus()"
         focus-priority="vm.shouldFocus()"
         ng-attr-id="{{vm.htmlId}}" />

</op-date-picker>
