<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% new_block ||= local_assigns[:new_block] %>

<% resource = ::API::V3::Overview::OverviewRepresenter.new(overview,
                                                           current_user: current_user,
                                                           embed_links: true) %>

<div id="block_<%= block_name %>"
     ng-cloak
     class="widget-box block-teaser">
  <div class="handle" cg-busy="$ctrl.loadingIndicator">
    <div class="textile-block-body">
      <%= render partial: "textilizable", locals: { block_title: block_title,
                                                    textile: textile,
                                                    block_name: block_name } %>
    </div>
  </div>
</div>

