<div
  class="op-files-tab--file-list-item--content file-name"
>
  <span
    class="spot-icon spot-icon_{{fileLinkIcon.icon}} op-files-tab--color-{{fileLinkIcon.color}}"
  ></span>

  <a
    class="spot-link"
    [textContent]="fileLink.originData.name"
    [title]="text.title.openFile"
    (click)="openLinkedFile(false)"
  ></a>
</div>

<div
  class="op-files-tab--file-list-item--content file-info"
>
  <span
    class="op-files-tab--file-list-item--file-info-timestamp op-files-tab--color-grey"
    [textContent]="infoTimestampText"
  ></span>

  <span
    [textContent]="fileLink.originData.lastModifiedByName"
  ></span>
</div>

<div
  class="op-files-tab--file-list-item--content hover-menu"
>
  <span
    [title]="text.title.openFileLocation"
    (click)="openLinkedFile(true)"
    class="spot-icon spot-icon_folder-open"
  ></span>

  <span
    *ngIf="allowEditing"
    [title]="text.title.removeFileLink"
    (click)="removeFileLink.emit()"
    class="spot-icon spot-icon_remove-link"
  ></span>
</div>
