<div class="work-package--attachments--files" *ngIf="resource" data-qa-selector="op-files-tab--file-link-list">
  <op-storage-information
    *ngIf="showInformationBox"
    [infoIcon]="informationBoxIcon"
    [infoTextHeader]="informationBoxHeader"
    [infoTextContent]="informationBoxContent"
    [buttonText]="informationBoxButton"
  ></op-storage-information>

  <ul
    *ngIf="showFileLinks"
    class="spot-list"
  >
    <li
      *ngFor="let fileLink of fileLinks$ | async; let i = index;"
      class="spot-list--item"
    >
      <op-file-link-list-item
        class="op-files-tab--file-list-item"
        data-qa-selector="op-files-tab--file-list-item"
        [fileLink]="fileLink"
        [resource]="resource"
        [index]="i"
        [allowEditing]="allowEditing"
        (removeFileLink)="removeFileLink(fileLink)"
      ></op-file-link-list-item>
    </li>
  </ul>
</div>
