<span class="spot-icon big spot-icon_{{infoIcon}}"></span>

<div
  class="text-box"
>
  <div
    class="text-box-header"
  >
    <span [textContent]="infoTextHeader"></span>
  </div>
  <div
    class="text-box-content"
  >
    <span [textContent]="infoTextContent"></span>
  </div>
</div>

<div
  class="button-box"
>
  <button
    class="action-button"
    (click)="buttonClickEventEmitter.emit()"
  >
    <span class="spot-icon with-text spot-icon_external-link"></span>
    <span [textContent]="buttonText"></span>
  </button>
</div>
