<div class="work-packages-embedded-view--container loading-indicator--location"
     [ngClass]="{ '-compact-tables': compactTableStyle }"
     [attr.data-indicator-name]="uniqueEmbeddedTableName">
  <!-- TABLE + TIMELINE horizontal split -->
  <wp-table *ngIf="tableInformationLoaded"
            [projectIdentifier]="projectIdentifier"
            [configuration]="configuration"
            class="work-packages-split-view--tabletimeline-content"></wp-table>

  <!-- Footer -->
  <div class="work-packages-split-view--tabletimeline-footer hide-when-print"
       *ngIf="tableInformationLoaded">
    <wp-table-pagination *ngIf="showTablePagination"></wp-table-pagination>
  </div>
</div>
