<span>
  <div ng-repeat="value in vm.field.value" title="{{ value }}" class="custom-option">
    <span ng-if="$first && vm.field.value.length > 2"> {{ I18n.t('js.work_packages.label_table_multiple_values_plural', {value_1: value, number: vm.field.value.length - 1}) }} </span>
    <span ng-if="$first && vm.field.value.length == 2"> {{ I18n.t('js.work_packages.label_table_multiple_values_single', {value: value}) }} </span>
    <span ng-if="$first && vm.field.value.length == 1"> {{ value }} </span>
  </div>

  <div title="I18n.t('js.work_packages.no_value')" ng-if="vm.field.value.length == 0" class="custom-option -empty">
    -
  </div>
</span>