<div class="op-pagination">
  <nav class="op-pagination--pages">
    <ul class="op-pagination--items op-pagination--items_start">
      <li class="op-pagination--item -prev"><a class="op-pagination--item-link">Previous</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">1</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">2</a></li>
      <li class="op-pagination--item op-pagination--item op-pagination--item_current">3</li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">4</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">5</a></li>
      <li class="op-pagination--space">…</li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">34</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">35</a></li>
      <li class="op-pagination--item -next"><a class="op-pagination--item-link">Next</a></li>
      <li class="op-pagination--range" title="(1 - 50/820)">(1 - 50/820)</li>
    </ul>
  </nav>
  <div class="op-pagination--options">
    <ul class="op-pagination--items op-pagination--items_end">
      <li class="op-pagination--label" title="Per page:">Per page:</li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">10</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">20</a></li>
      <li class="op-pagination--item op-pagination--item op-pagination--item_current">50</li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">100</a></li>
      <li class="op-pagination--item"><a class="op-pagination--item-link">200</a></li>
    </ul>
  </div>
</div>
