<ul class="op-work-package-tabs tabrow">
  <li
      *ngFor="let tab of tabs; trackBy:trackByIdentifier"
      uiSref="{{ uiSrefBase }}.tabs"
      [uiParams]="{workPackageId: workPackage.id, tabIdentifier: tab.identifier}"
      uiSrefActive="selected"
  >
    <a
        href=""
        role="button"
        [textContent]="tab.name"
    ></a>
    <op-tab-count
      *ngIf="tab.counter"
      [counter]="tab.counter"
    ></op-tab-count>
  </li>
  <ng-container *ngIf="view === 'split'">
    <li class="tab-icon">
      <accessible-by-keyboard
          (execute)="switchToFullscreen()"
          [linkAriaLabel]="text.details.goToFullScreen"
          [linkTitle]="text.details.goToFullScreen"
          linkClass="work-packages--details-fullscreen-icon"
          spanClass="icon-context icon-to-fullscreen"
      >
      </accessible-by-keyboard>
    </li>
    <li class="tab-icon">
      <accessible-by-keyboard
          (execute)="close()"
          [linkAriaLabel]="text.details.close"
          [linkTitle]="text.details.close"
          linkClass="work-packages--details-close-icon"
          spanClass="icon-context icon-close"
      >
      </accessible-by-keyboard>
    </li>
  </ng-container>
</ul>