---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00000C2C"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000", PoP realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000", nonce="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjREMzlFRkU5OUIyRDhGRTcyMEQzMTI3MjEzQjU2ODVCNUU5Mjc5Q0QifQ.eyJ0cyI6MTczOTM1MTg4MH0.kt3dPPtjBJx9uWX7_Wq8eYING42nz_qYzinWHZPaRiXdTJrCkmifV2BBTbPFqvqqRCB57ULYs8Qo2g_K1X2VMBFN2uMVS31jN1qPKc0wsGtvTS3sPVddu37o74juPCYT5UMhc-VXT0VjV8eEHxu9XbejVsKOG7YUV4kLqaH2D0cSXEe8n_XlpooT5hEEWh948aqHFHihtg8yh6ZtEFyKRWu1JRPINAb81UserbOtXgFBNT05Mb0tjT1ImuQxh1IgGg_6HKPQbhBg_lKcsuHK2GzfF-hq_b6xgWVdNwwgLu5X_HnU6B40YSHhXPvtopGjwRYwmMtIUR46DFAiXg7lDg"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"IDX14102:
        Unable to decode the header ''[PII of type ''Microsoft.IdentityModel.Logging.SecurityArtifact''
        is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'' as Base64Url
        encoded string.","innerError":{"date":"2025-02-12T09:18:37","request-id":"1c749aa9-446f-4fc8-88b8-2e9e471d83d5","client-request-id":"1c749aa9-446f-4fc8-88b8-2e9e471d83d5"}}}'
  recorded_at: Wed, 12 Feb 2025 09:18:37 GMT
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff&client_secret=nB58Q%7EwWf6.4zUIojn2nzkrpzDWlkQtDSWPcLa6R&refresh_token=1.Aa8AvB1v4679fkK2Gw2W3fuBpFS7pbiyXw5OlCedJNusMv9KAU6vAA.AgABAwEAAABVrSpeuWamRam2jAF1XRQEAwDs_wUA9P9fuYdbTREQpkZ8r[...]
