---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/itdoesnotexists9000.sharepoint.com/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff&client_secret=nB58Q%7EwWf6.4zUIojn2nzkrpzDWlkQtDSWPcLa6R
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"AADSTS90002: Tenant
        ''itdoesnotexists9000.sharepoint.com'' not found. Check to make sure you have
        the correct tenant ID and are signing into the correct cloud. Check with your
        subscription administrator, this may happen if there are no active subscriptions
        for the tenant. Trace ID: 2a8d5b96-aa99-443e-a69e-03f02c2e4c00 Correlation
        ID: a1e47b18-9902-42ed-bb50-6478c5aa98cd Timestamp: 2025-04-07 12:35:26Z","error_codes":[90002],"timestamp":"2025-04-07
        12:35:26Z","trace_id":"2a8d5b96-aa99-443e-a69e-03f02c2e4c00","correlation_id":"a1e47b18-9902-42ed-bb50-6478c5aa98cd","error_uri":"https://login.microsoftonline.com/error?code=90002"}'
  recorded_at: Mon, 07 Apr 2025 12:35:26 GMT
recorded_with: VCR 6.3.1
