---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=wrong&client_secret=nB58Q%7EwWf6.4zUIojn2nzkrpzDWlkQtDSWPcLa6R
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"AADSTS700016: Application
        with identifier ''wrong'' was not found in the directory ''MSFT''. This can
        happen if the application has not been installed by the administrator of the
        tenant or consented to by any user in the tenant. You may have sent your authentication
        request to the wrong tenant. Trace ID: 65abb2e7-9ea0-4b11-ba8a-2e2bfcec4200
        Correlation ID: 194e4908-91a7-440c-947d-bf5faf49403f Timestamp: 2025-04-07
        13:25:27Z","error_codes":[700016],"timestamp":"2025-04-07 13:25:27Z","trace_id":"65abb2e7-9ea0-4b11-ba8a-2e2bfcec4200","correlation_id":"194e4908-91a7-440c-947d-bf5faf49403f","error_uri":"https://login.microsoftonline.com/error?code=700016"}'
  recorded_at: Mon, 07 Apr 2025 13:25:27 GMT
recorded_with: VCR 6.3.1
