---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/wrong/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff&client_secret=nB58Q%7EwWf6.4zUIojn2nzkrpzDWlkQtDSWPcLa6R
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"AADSTS900023: Specified
        tenant identifier ''wrong'' is neither a valid DNS name, nor a valid external
        domain. Trace ID: 6d866228-7a7d-4c37-aedc-c219ccd99200 Correlation ID: eaa0b807-04e6-483b-bfaf-e88ab94a8089
        Timestamp: 2025-04-07 12:54:01Z","error_codes":[900023],"timestamp":"2025-04-07
        12:54:01Z","trace_id":"6d866228-7a7d-4c37-aedc-c219ccd99200","correlation_id":"eaa0b807-04e6-483b-bfaf-e88ab94a8089","error_uri":"https://login.microsoftonline.com/error?code=900023"}'
  recorded_at: Mon, 07 Apr 2025 12:54:01 GMT
recorded_with: VCR 6.3.1
