---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff&client_secret=wrong
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff''.
        Trace ID: a6f0383f-bbcb-48f5-a08d-36a574b40d00 Correlation ID: 80ce0729-9980-4683-a4f8-39cfd3e9c96c
        Timestamp: 2025-04-07 13:23:21Z","error_codes":[7000215],"timestamp":"2025-04-07
        13:23:21Z","trace_id":"a6f0383f-bbcb-48f5-a08d-36a574b40d00","correlation_id":"80ce0729-9980-4683-a4f8-39cfd3e9c96c","error_uri":"https://login.microsoftonline.com/error?code=7000215"}'
  recorded_at: Mon, 07 Apr 2025 13:23:21 GMT
recorded_with: VCR 6.3.1
