.op-inset-box
  &--title-container
    display: flex
    align-items: center
    gap: var(--base-size-8, 8px)
    margin-bottom: var(--base-size-8, 8px)
    justify-content: space-between
    // We enforce the height of the small button to avoid different spacings depending on the existence of a copy button in the header
    height: var(--button-height-small, 28px)
