.op-inplace-edit
  &--display-field
    padding: var(--base-size-4) var(--base-size-8)
    border: 1px solid transparent
    border-radius: var(--borderRadius-medium)
    @include text-shortener(false)

    &:hover, &:focus
      border-color: var(--borderColor-default)
      box-shadow: var(--shadow-inset)

    &:not(&_clickable)
      cursor: not-allowed
      &:hover, &:focus
        background-color: var(--bgColor-muted)

  &--dialog
    .op-inplace-edit--display-field
      &:not(&_clickable)
          &:hover, &:focus
            border-color: transparent
            box-shadow: none
