<h4><%= link_to h(document.title), :controller => 'documents', :action => 'show', :id => document %></h4>
<p><em><%= format_time(document.updated_on) %></em></p>

<div class="wiki">
	<%= textilizable(truncate_lines(document.description)) %>
</div>
