<h2><%=l(:label_document_new)%></h2>

<% form_tag({:controller => 'documents', :action => 'new', :project_id => @project}, :class => "tabular", :multipart => true) do %>
<%= render :partial => 'documents/form' %>

<div class="box">
<%= render :partial => 'common/attachments_form'%>
</div>

<%= submit_tag l(:button_create) %>
<% end %>


