<p>
  <%= l(:label_display_entities) %>:
  <%= query_form.check_box :display_cost_entries %> <%= query_form.label :display_cost_entries, l(:label_display_cost_entries) %>
  <%= query_form.check_box :display_time_entries %> <%= query_form.label :display_time_entries, l(:label_display_time_entries) %>
</p>  
