<h2><%=l(:label_issue_new)%>: <%= @tracker.name %></h2>

<% labelled_tabular_form_for :issue, @issue, :url => {:action => 'add_issue'}, :html => {:multipart => true} do |f| %>
    <%= hidden_field_tag 'tracker_id', @tracker.id %>
    <%= render :partial => 'issues/form', :locals => {:f => f} %>    
    <%= submit_tag l(:button_create) %>
<% end %>
