<div class="op-modal--portal ">
  <div class="op-modal--modal-container confirm-dialog--modal loading-indicator--location"
    data-indicator-name="modal"
    tabindex="0">

    <div class="op-modal--modal-header">
      <a class="op-modal--modal-close-button" *ngIf="showClose">
        <i 
        class="icon-close" 
        (click)="closeMe($event)" 
        [attr.title]="text.close_popup">
        </i>
      </a>
    </div>

    <form class="form"
        [ngClass]="options.classes?.form">
        <section class="form--section -inner-scrolling">
          <h3 class="form--section-title" [textContent]="text.title"></h3>
          <div class="modal-inner-scrolling-container">
            <ng-container>
              <p>
                <span [textContent]="text.text"></span>
                <br/>
                <strong>{{options.passedData}}</strong>
              </p>
            </ng-container>
          </div>
        </section>

        <div class="form--space -left-spacing">
          <button class="button" 
                  [ngClass]="options.classes?.button ? options.classes?.button : '-highlight'" 
                  (click)="confirmAndClose($event)" [textContent]="text.button_continue"
                  [attr.title]="text.button_continue">
          </button>
          <button class="button" 
                  (click)="closeMe($event)"
                  [textContent]="text.button_cancel"
                  [attr.title]="text.button_cancel">
          </button>
        </div>
    
    </form>
  </div>
</div>