<ng-container
  *ngIf="(globalNotification$ | async) as notification">
  <div *ngFor="let setting of alerts">
    <!-- TODO: use checkbox component for the enabled input -->
    <input
            [ngModel]="notification[setting]"
            (ngModelChange)="toggleEnabled(setting, $event)"
            type="checkbox"
            id="op-alert-settings-{{ setting }}"
    >
    <label
            for="op-alert-settings-{{ setting }}"
            [textContent]="text[setting]">
    </label>
  </div>
</ng-container>
