.op-labels-list--header,
.op-labels-list--row
  display: grid
  grid-template-columns: 2fr 1fr auto
  grid-template-areas: "name usage actions"

.op-labels-list--header
  grid-template-areas: "name usage ."

@media screen and (max-width: $breakpoint-sm)
  .op-labels-list--row
    grid-template-columns: 1fr
    grid-template-areas: "name" "usage" "actions"
    grid-row-gap: 5px

  .op-labels-list--header
    grid-template-columns: 1fr
    grid-template-areas: "name"
