<p *ngIf="!eeTrialService.status">
  <b>{{ text.become_hero }}</b><br>
  {{ text.you_contribute }}
</p>

<div *ngIf="eeTrialService.status === 'mailSubmitted'">
  <enterprise-trial-waiting></enterprise-trial-waiting>
  <p class="confirmation-hint">{{ text.email_not_received }}
    <a (click)="openTrialModal()">{{ text.try_another_email }}.</a><br>
    {{ text.try_another_email_hint }}
  </p>
</div>

<button *ngIf="!eeTrialService.status" class="button -alt-highlight" (click)="openTrialModal()">
  {{ text.button_trial }}
</button>
