# Outgoing email settings

production:
  delivery_method: :smtp
  smtp_settings:
    address: smtp.somenet.foo
    port: 25
    domain: somenet.foo
    authentication: :login
    user_name: redmine@somenet.foo
    password: redmine
  
development:
  delivery_method: :smtp
  smtp_settings:
    address: 127.0.0.1
    port: 25
    domain: somenet.foo
    authentication: :login
    user_name: redmine@somenet.foo
    password: redmine
