.color-form--hexcode-row
  align-items: flex-end
  width: fit-content

  // Needed for proper alignment of the swatch next to the input. Due to the label
  // being part of the input, we need to do that manually.
  &-swatch
    margin-bottom: 10px
