<button
  class="button -small advanced-filters--toggle"
  type="button"
  (click)="wpFiltersService.toggleVisibility()"
  [class.-active]="visible$ | async"
  *ngIf="showFilterButton"
>
  <span class="spot-icon spot-icon_filter"></span>
  <span [textContent]="filterButtonText"></span>
</button>

<div
  class="work-packages--filters-optional-container"
  [ngClass]="{ '-loaded': loaded }"
>
  <div
    id="query_form_content"
    class="hide-when-print" *ngIf="visible$ | async"
  >
    <op-query-filters
      *ngIf="!!filters"
      [filters]="filters"
      [showCloseFilter]="true"
      (filtersChanged)="replaceIfComplete($event)"
    ></op-query-filters>
  </div>
</div>
