<div class="activity-comment" ng-if="vm.canAddComment">
  <form name="commentForm">
    <label for="add-comment-text" class="hidden-for-sighted">
      {{ $parent.vm.title }}
    </label>
    <textarea id="add-comment-text"
              class="add-comment-text"
              name="add_comment_text"
              ng-model="$parent.vm.activity.comment"
              required
              placeholder="{{ $parent.vm.title }}"
              ng-disabled="$parent.vm.processingComment"
              data-wp_autocomplete_url="{{ $parent.vm.autocompletePath }}">
    </textarea>
    <button class="button"
            ng-click="$parent.vm.createComment()"
            ng-disabled="commentForm.$invalid || $parent.vm.processingComment">
      <i class="icon-yes icon-left"></i>{{ $parent.vm.buttonTitle }}
    </button>
  </form>
</div>
