<div class="inplace-editor type-{{type}} attribute-{{attribute}}" ng-class="{busy: isBusy, preview: isPreview, editable: isEditable}">
  <div class="ined-read-value" ng-class="{ default: placeholderSet, editable: isEditable }" ng-hide="isEditing" ng-switch="type">
    <span class="read-value-wrapper" ng-switch-when="wiki_textarea" ng-bind-html="readValue"></span>
    <span class="read-value-wrapper" ng-switch-default>
      <span ng-if="!isUserLink">
        <span ng-if="attribute == 'version'">
          {{readValue}}
        </span>
        <span ng-if="attribute != 'version.name'" ng-bind="readValue"></span>
      </span>
      <user-field ng-if="isUserLink" user="readValue"></user-field>
    </span>
    <span ng-if="isEditable" class="editing-link-wrapper">
      <accessible-by-keyboard execute="startEditing()">
        <icon-wrapper icon-name="edit" icon-title="{{ editTitle }}">
        </icon-wrapper>
      </accessible-by-keyboard>
    </span>
  </div>
  <div class="ined-edit" ng-if="isEditing">
    <form name="editForm" ng-submit="submit(false)" novalidate>
      <div class="ined-input-wrapper">
        <div class="ined-input-wrapper-inner"
             ng-include src="getTemplateUrl()">
        </div>
        <div class="preview-wrapper" ng-if="isPreview && !isBusy">
          <span ng-bind-html="previewHtml"></span>
        </div>
      </div>
      <div class="ined-errors" ng-show="error" role="alert" ng-bind="error"></div>
      <div class="ined-controls" ng-hide="isBusy">
        <accessible-by-keyboard execute="editForm.$valid && submit(false)" class="ined-edit-save">
          <icon-wrapper icon-name="yes" icon-title="{{ saveTitle }}">
          </icon-wrapper>
        </accessible-by-keyboard>
        <accessible-by-keyboard execute="editForm.$valid && submit(true)" class="ined-edit-save-send">
          <span title="{{ saveAndSendTitle }}">
            <i class="icon-yes"></i>
            <i class="icon-mail"></i>
          </span>
        </accessible-by-keyboard>
        <accessible-by-keyboard execute="discardEditing()" class="ined-edit-close">
          <icon-wrapper icon-name="close" icon-title="{{ cancelTitle }}">
          </icon-wrapper>
        </accessible-by-keyboard>
      </div>
    </form>
  </div>
</div>
