/***** Media print specific styles *****/
@media print
  #top-menu,
  #header,
  #main-menu,
  #sidebar,
  #footer,
  #breadcrumb,
  .contextual,
  .other-formats
    display: none

  #main
    background: #fff
    display: block // For printing in FF

  #content-wrapper
    width: 99%
    margin: 0
    padding: 0
    border: 0
    background: #fff
    overflow: visible !important

  #wiki_add_attachment
    display:none

  .hide-when-print
    display: none

  .autoscroll
    overflow-x: visible

  table.list
    margin-top: 0.5em

    th, td
      border: 1px solid #aaa

  // Sizes from user agent stylesheet
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.17em

  //
  // WORK PACKAGE table
  //
  body
    &.controller-work_packages.action-index,
    &.controller-work_packages.action-show,
    &.controller-work_packages.full-create
      .wp-timeline--slider-wrapper
        display: none !important
      #wrapper
        overflow: visible !important

      #main
        top: 0
        padding: 0
        border: none
        position: relative // For printing in FF
        overflow: visible !important
        display: block // For printing in FF

        #content-wrapper,
        #content
          position: relative // For printing in FF
          margin: 0
          width: 100%
          padding: 10px
          overflow: visible !important
          .work-packages-list-view--container
            display: block
            .work-packages-split-view
              overflow: visible
              display: block // For printing in FF
              .work-packages-split-view--tabletimeline-side
                display: block // For printing in FF
                .work-packages-split-view--tabletimeline-content
                  display: block // For printing in FF

              .work-packages-tabletimeline--table-side
                contain: initial // For printing in Chrome

                .wp-table--hierarchy-aditional-row
                  background-color: transparent // remove highlighting of first row


      .work-packages--list-table-area
        height: 100%
      .work-package-table--container,
      .generic-table--results-container
        overflow: hidden
      .wp-timeline--scroll-wrapper
        border-left-width: 3px
