<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'excel_export', :plugin => 'redmine_additional_formats' %>
<% end %>
<% if User.current.allowed_to? :export_issues, @project, :global => @project.nil? %>
  <%= link_to(l(:export_to_excel), { :controller => "cost_reports" , :action => :index,
                :format => 'xls', :project_id => @project }, :class => "icon icon-export-xls-descr") %>
<% end %>
