<div class="scrollable-tabs -narrow">
  <div class="op-scrollable-tabs--tab-container">
    <ul class="op-tab-row">
    <li class="op-tab-row--tab">
      <a class="op-tab-row--link op-tab-row--link_selected" href="#scrollable-tabs?tab=tab_1">Tab 1</a>
    </li>
    <li class="op-tab-row--tab">
      <a class="op-tab-row--link" href="#scrollable-tabs?tab=tab_2">Tab 2</a>
    </li>
    <li class="op-tab-row--tab">
      <a class="op-tab-row--link" href="#scrollable-tabs?tab=tab_3">Tab 3</a>
    </li>
    </ul>
    <div hidden="true" class="scrollable-tabs--button -left">
      <span class="icon-arrow-left2"></span>
    </div>
    <div hidden="true" class="scrollable-tabs--button -right">
      <span class="icon-arrow-right2"></span>
    </div>
  </div>
</div>
