<div class="inline-label ng-select-container">

  <ng-select #ngSelectInstance
        [(ngModel)]="model"
        [items]="availableOptions"
        [ngClass]="classes"
        [virtualScroll]="true"
        [typeahead]="requests.input$"
        [clearOnBackspace]="clearOnBackspace"
        [clearSearchOnAdd]="clearSearchOnAdd"
        [hideSelected]="hideSelected"
        [appendTo]="appendTo"
        [multiple]="multiple"
        [loading]="isLoading"
        [addTag]="addTag"
        [virtualScroll]="virtualScroll"
        [required]="required"
        [clearable]="clearable"
        [closeOnSelect]="closeOnSelect"
        [openOnEnter]="openOnEnter"
        [disabled]="disabled"
        [name]="name"
        bindLabel="name"
        [placeholder]="placeholder"

        (change)="changed($event)"
        (open)="opened($event)"
        (close)="closed($event)"
        (blur)="blured($event)"
        (focus)="focused($event)"
        (clear)="cleared($event)"
        (keydown)="keydown($event)"
        >

             <ng-content></ng-content>
  </ng-select>
</div>
