.top-menu-help
  &--icon
    border-width: 2px
    border-style: solid
    color: var(--header-item-font-color)
    border-color: var(--header-item-font-color)
    border-radius: 50%
    width: 26px
    height: 26px
    display: inline-flex

  &--dropdown
    left: auto
    right: 0
