.spot-checkbox
  display: inline-flex
  justify-content: center
  align-items: center
  height: $spot-spacing-1_5
  width: $spot-spacing-1_5

  &, *
    box-sizing: border-box

  &--input

  &--fake
    box-sizing: border-box
    display: inline-flex
    justify-content: center
    align-items: center
    height: $spot-spacing-1
    width: $spot-spacing-1
    border-radius: 3px
    border: 1px solid $spot-color-main
