.spot-drop-modal
  position: relative

  &--body
    box-shadow: $spot-shadow-light-mid
    position: absolute
    background: $spot-color-basic-white
    border-radius: 5px
    display: none
    flex-direction: column

  &_opened &--body
    display: flex
