<div class="warning-bar--item">
  <p>
    <strong><%= t('work_packages.sharing.missing_workflow_waring.title') %></strong><br>

    <%= t('work_packages.sharing.missing_workflow_waring.message') %>
    <%= link_to t('work_packages.sharing.missing_workflow_waring.link_message'),
                copy_workflows_path %>
  </p>
</div>
