<div id="mysql-db-warning" class="warning-bar--item">
  <span class="icon3 icon-warning warning-bar--disable-on-hover"></span>
  <p>
    <strong><%= t('mysql_deprecation.notice') %></strong>
    <br/>
    <%= static_link_to :postgres_migration %>
  </p>
</div>
<%= nonced_javascript_tag do %>
  (function() {
    // Hide initially
    var message = document.getElementById('mysql-db-warning');

    try {
      var hidden = window.localStorage.getItem('mysql-db-warning-ignore') === '1';
      if (hidden) {
        message.style.display = 'none';
      }
    } catch (e) {
      console.error('Failed to access your browsers local storage.');
    }

    // Click handler to hide
    var span = message.querySelector('.warning-bar--disable-on-hover');
    span.onclick = function() {
      message.style.display = 'none';
      try {
        window.localStorage.setItem('mysql-db-warning-ignore', '1');
      } catch (e) {
        console.error('Failed to access your browsers local storage.');
      }
    };
  })();
<% end %>
