<div id="pending-migrations-warning" class="warning-bar--item unsupported-browser-warning--pane">
  <p>
    <span class="icon3 icon-warning"></span>
    <strong><%= t(:error_migrations_are_pending) %></strong>
    <br/>
    <%= t(:error_migrations_visit_upgrade_guides) %>:
    <%= static_link_to :upgrade_guides %>
  </p>
</div>
