<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<form id="status_by_form">
<fieldset>
<legend>
<% update_form = remote_function(:url => status_by_version_path(version),
                                 :with => "Form.serialize('status_by_form')",
                                 :method => :get) %>

<%= l(:label_issues_by,
       select_tag('status_by',
                   status_by_options_for_select(criteria),
                   :id => 'status_by_select',
                   :onchange => update_form)).html_safe %>
</legend>
<% if counts.empty? %>
    <p><em><%= l(:label_no_data) %></em></p>
<% else %>
    <table>
    <% counts.each do |count| %>
    <tr>
        <td width="130px" align="right" >
            <%= link_to h(count[:group]), {controller: :work_packages,
                                        action: :index,
                                        project_id: version.project,
                                        set_filter: 1,
                                        status_id: '*',
                                        fixed_version_id: version}.merge("#{criteria}_id".to_sym => count[:group]) %>
        </td>
        <td width="240px">
            <%= progress_bar((count[:closed].to_f / count[:total])*100,
                  :legend => "#{count[:closed]}/#{count[:total]}",
                  :width => "#{(count[:total].to_f / max * 200).floor}px;") %>
        </td>
    </tr>
    <% end %>
    </table>
<% end %>
</fieldset>
</form>
