<div class="op-toast -info">
  <button
    type="button"
    title="close"
    aria-label="close"
    class="op-toast--close"
  >
    <span class="spot-icon spot-icon_close"></span>
  </button>
  <div class="op-toast--content">
    <p><%= t('ifc_models.processing_notice.processing_default') %></p>
    <ul>
      <% unconverted.each do |model| %>
        <li><%= model.title %></li>
      <% end %>
    </ul>
  </div>
</div>
