<div class="toaster-box -info">
  <a href="#" title="close" class="toaster-box--close icon-context icon-close"></a>
  <div class="toaster-box--content">
    <p><%= t('ifc_models.processing_notice.processing_default') %></p>
    <ul>
      <% unconverted.each do |model| %>
        <li><%= model.title %></li>
      <% end %>
    </ul>
  </div>
</div>
