<label
  class="spot-list--item-action"
>
  <spot-checkbox
    [checked]="selected"
    (click)="changeSelection.emit()"
  ></spot-checkbox>
  <span
    class="spot-icon spot-icon_{{fileLinkIcon.icon}} op-files-tab--icon op-files-tab--icon_{{fileLinkIcon.clazz}}"
  ></span>

  <span
    [textContent]="storageFile.name"
    [title]="storageFile.name"
    class="spot-list--item-title op-files-tab--file-list-item-title"
  ></span>

  <span
    *ngIf="showDetails"
    class="op-files-tab--file-list-item-text"
    [textContent]="infoTimestampText"
  ></span>

  <div
    #avatar
    *ngIf="showDetails"
    class="op-files-tab--file-list-item-avatar"
  ></div>
</label>
