<div class="type-form-conf-group type-form-query-group">
  <div class="group-head">
    <span class="spot-icon spot-icon_1_25 spot-icon_drag-handle group-handle"></span>
    <op-group-edit-in-place
      [name]="group.name"
      (onValueChange)="rename($event)"
      class="group-name"
    ></op-group-edit-in-place>
    <button
      class="delete-group clear-button"
      type="button"
      (click)="deleteGroup.emit()"
    >
      <span class="spot-icon spot-icon_1 spot-icon_close"></span>
    </button>
  </div>
  <div class="type-form-query">
    <button
      class="clear-button type-form-query-group--edit-button"
      type="button"
      (click)="editQuery.emit()"
    >
      <span class="spot-icon spot-icon_1_25 spot-icon_edit spot-icon_inline"></span>
      <span>{{ text.edit_query }}</span>
    </button>
  </div>
</div> <!-- END query group -->
