.op-documents-types-list--item
  display: grid
  grid-template-columns: auto auto 1fr auto
  grid-template-areas: "drag-handle name documents-count actions"
  column-gap: var(--stack-gap-condensed)

  &--drag-handle
    align-self: center
    padding-right: var(--stack-gap-condensed)
    cursor: grab
    color: var(--fgColor-muted)

@media screen and (max-width: $breakpoint-sm)
  .op-documents-types-list--item
    grid-template-columns: auto 1fr auto
    grid-template-areas: "drag-handle name actions"
