<%= form_tag({ controller: '/queries', action: 'new' }, id: 'query_form', name: 'queryForm') do %>
  <%= hidden_field_tag('project_id', project.to_param) if project %>

  <work-packages-options></work-packages-options>

  <p class="buttons hide-when-print">
    <filter-clear query="query">
    </filter-clear>

    <% if query.new_record? && User.current.allowed_to?(:save_queries, project, :global => true) %>
      <%= link_to l(:button_save), {}, :onclick => "selectAllOptions('selected_columns'); jQuery('#query_form').submit(); return false;", :class => 'icon icon-save1' %>
    <% end %>
  </p>
<% end %>
