// Legacy macro rendering
macro.legacy-macro
  background: $nm-color-warning-background
  border: 2px dashed $nm-color-warning-border
  padding: 10px 5px

// Macro rendering in CKEditor
.op-ckeditor--wrapper

  .ck-widget.macro
    border: 2px dashed #ccc
    min-height: 50px
    display: flex
    justify-content: center
    align-items: center
    color: #575757
    background: #f8f8f8
