<ul id="work-packages-timeline-mode-selection" class="toolbar-button-group">
  <li>
    <button id="{{ ::vm.buttonId }}"
            class="button timeline-toolbar--button toolbar-icon"
            title="{{ vm.label }}"
            ng-click="vm.toggleTimeline()"
            ng-disabled="vm.disabled || (!vm.isToggle() && vm.isActive())"
            ng-class="{ '-active': vm.isActive() }">
      <op-icon icon-classes="{{ ::vm.iconClass }} button--icon"></op-icon>
    </button>
  </li>
  <li ng-if="vm.isActive()">
    <button id="work-packages-timeline-zoom-out-button"
            class="button timeline-toolbar--button toolbar-icon"
            title="{{ vm.text.zoomOut }}"
            ng-disabled="vm.currentZoom == vm.maxZoomLevel"
            ng-click="vm.updateZoom(1)">
      <op-icon icon-classes="icon-zoom-out button--icon"></op-icon>
    </button>
  </li>
  <li ng-if="vm.isActive()">
    <button id="work-packages-timeline-zoom-in-button"
            class="button timeline-toolbar--button toolbar-icon"
            title="{{ vm.text.zoomIn }}"
            ng-disabled="vm.currentZoom == vm.minZoomLevel"
            ng-click="vm.updateZoom(-1)">
      <op-icon icon-classes="icon-zoom-in button--icon"></op-icon>
    </button>
  </li>
</ul>
