#work-packages-activities-tab-index-component
    #journals-container
        overflow-y: auto
        margin-bottom: 90px // initial margin-bottom, will be increased by stimulus when opening ckeditor
        &.with-input-compensation
            margin-bottom: 340px
    #input-container
        position: absolute
        min-height: 60px
        bottom: 0
        left: 0
        right: 0
        @media screen and (max-width: $breakpoint-md)
            width: 100vw
            margin-left: -15px
