<fieldset class="form--fieldset -collapsible"
          [ngClass]="{'collapsed': to.collapsibleFieldGroupsCollapsed}"
          *ngIf="to?.collapsibleFieldGroups">
  <legend class="form--fieldset-legend"
          title="Show/hide"
          (click)="to.collapsibleFieldGroupsCollapsed = !to.collapsibleFieldGroupsCollapsed">
    <a href="#">
      {{ to.label }}
    </a>
  </legend>

  <div 
    [ngStyle]="{
      'height': to.collapsibleFieldGroupsCollapsed ? 0 : 'auto',
      'visibility': to.collapsibleFieldGroupsCollapsed ? 'hidden' : 'visible',
      'overflow': to.collapsibleFieldGroupsCollapsed ? 'hidden' : 'visible'
    }"
  >
    <ng-container #fieldComponent></ng-container>
  </div>
</fieldset>

<ng-container *ngIf="!to?.collapsibleFieldGroups">
  <div>
    {{ to.label }}
  </div>

  <div>
    <ng-container #fieldComponent></ng-container>
  </div>
</ng-container>