.icon-money {
  background-image: url(../images/money.png);
}

.icon-box {
  background-image: url(../images/box.png);
}

table.deliverable_costs,
table.deliverable_hours {
  width: 100%;
}

table.cost_types {
  text-align: center;
}

.deliverable_costs,
.deliverable_hours {
  text-align: center;
}

tr.cost_entry {
  text-align: center;
  white-space: nowrap;
}

th.currency,
td.currency,
.currency {
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

td.currency span {
  padding: 3px 0;
}

th.units,
td.units {
  text-align: left;
}

table.list td.delete {
  text-align: center;
  vertical-align: middle;
}

td.comment input {
  width: 100%;
}

.tabular div.p {
  clear: left;
  height: 1%;
  margin: 0;
  padding: 5px 0 8px 180px;
}

.editable {
  background-color: #B4D9B3;
}

table.progress td.exceeded { background: #E1B9B9 none repeat scroll 0%; }
