.icon-money {
  background-image: url(../images/money.png);
}

.icon-box {
  background-image: url(../images/box.png);
}

table.deliverable_costs,
table.deliverable_hours {
  width: 100%;
}

table.cost_types,
table.rates {
  text-align: center;
}

.deliverable_costs tr,
.deliverable_hours tr {
  text-align: center;
  vertical-align: top;
}

tr.cost_entry {
  text-align: center;
  white-space: nowrap;
}

th.currency,
td.currency,
.currency {
  text-align: right;
}

td.units,
td.subject,
td.comment {
  text-align: left;
}

table.deliverable_hours td.hours {
  font-weight: normal;
}


td.comment input {
  width: 100%;
}

.tabular div.p {
  clear: left;
  height: 1%;
  margin: 0;
  padding: 5px 0 8px 180px;
}

.inline_editable {
  cursor: pointer;
}

table.progress td.exceeded { background: #E1B9B9 none repeat scroll 0%; }
