#rb .meta {
  display:none;
}
#rb #helpers {
  display:none;
}
/*
  .editor is the classname for field editors of sprint,
  story, task, impediment. These field editors get created
  at runtime whenever any of the above models are edited.
*/
#rb .editors {
  display:none;
}
#rb .ui-dialog .editor {
  display:block;
}
