#rb .meta {
  display:none;
}
#rb #helpers {
  display:none;
}
/*
  .editor is the classname for field editors of sprint,
  story, task, impediment. These field editors get created
  at runtime whenever any of the above models are edited.
*/
#rb .editors {
  display:none;
}
#rb .ui-dialog .editor {
  display:block;
}

/* dialog */
.ui-dialog .ui-dialog-title { float:left; margin-right:0; }
.ui-dialog.ui-widget-content { border:none; }
.ui-dialog .ui-dialog-buttonpane.ui-widget-content { border:none; }

.subject-input {
    width: 99%;
}
