/* BACKLOGS */
#sprints{
  float:left;
  margin-top:10px;
  width:550px;
}
#story_template{
  display:none;
}
.backlog{
  background-color:#FCFCFC;
  border:1px solid #CCCCCC;
  margin:0 0 10px 0;
}
.backlog .header{
  height:22px;
  padding:8px 10px 0 10px;
  position:relative;
}
.backlog.saving .header .spinner,
.backlog.updating .header .spinner{
  background-image:url('../images/indicator.gif');
  display:block;
  height:16px;
  left:8px;
  position:absolute;
  top:8px;
  width:16px;
}
.backlog.saving .header .pureCssMenu{
  display:none;
}
.backlog .header .name{
  font-size:14px;
  font-weight:bold;
  width:300px;
  position:absolute;
  top:5px;
  left:25px;
}
.backlog .header div.name{
  padding:4px;
}
.backlog .header a.new_story{
  cursor:pointer;
  font-size:11px;
  position:absolute;
  right:12px;
  top:11px;
}
.backlog .header input{
  display:none;
}
.backlog.editing .header input{
  font-family:Verdana,sans-serif;
  display:block;
}
.backlog.editing .header input.name{
  font-weight:bold;
  padding-left:0;
}
.backlog .header .actions{
  display:block;
  position:absolute;
  left:7px;
  top:7px;
}
.backlog .header .dates{
  color:#999999;
  display:block;
  font-size:11px;
  height:26px;
  left:340px;
  overflow:hidden;
  position:absolute;
  top:5px;
  width:160px;
}
.backlog .header .dates div.datepicker{
  height:100%;
  padding-top:7px;
  position:absolute;
  text-align:center;
  top:0px;
  width:75px;
}
.backlog .header .dates div.sprint_start_date{
  left:0px;
}
.backlog .header .dates div.effective_date{
  left:82px;
}
.backlog.editing .header input.datepicker{
  height:19px;
  padding:2px 0 0 1px;
  position:absolute;
  top:5px;
  width:68px;
}
.backlog.editing .header input.sprint_start_date{
  left:340px;
}
.backlog.editing .header input.effective_date{
  left:422px;
}
.backlog .header .ui-datepicker-trigger{
  display:none;
}
.backlog .header .points{
  color:#999999;
  display:block;
  font-size:11px;
  height:17px;
  overflow:hidden;
  padding:2px;
  padding-right:3px;
  padding-top:7px;
  position:absolute;
  right:11px;
  text-align:right;
  top:5px;
  width:28px;
}
.backlog .stories{
  list-style:none;
  min-height:26px;
  margin:0;
  padding:0 0 0px 0;
}
.backlog .id{
  display:none;
}
/*PRODUCT BACKLOG SPECIFIC*/
#product_backlog{
  float:right;
  margin-left:10px;
  margin-top:10px;
  width:550px;
/*  background-color: #dcffdc;*/
}
/*DIALOGS*/
#dialogs{
  height:30px;
  left:0;
  position:absolute;
  top:-50px;
  width:100%;
}
#dialogs .move{
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  background-color:rgb(255,191,86);
  border-bottom:2px solid #AEAEAE;
  border-right:2px solid #AEAEAE;
  height:100%;
  font-size:12px;
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
  text-align:center;
  width:350px;
}
#dialogs .move select{
  max-width:175px;
}
.template{
  display:none;
}