/* BACKLOGS */
#sprints{
  float:left;
  margin-top:10px;
  width:550px;
}
.backlog{
  background-color:#FCFCFC;
  border:1px solid #CCCCCC;
  margin:0 0 10px 0;
}
.backlog .header{
  height:22px;
  padding:8px 10px 0 10px;
  position:relative;
}
.backlog.saving .header .spinner,
.backlog.updating .header .spinner{
  background-image:url('../images/indicator.gif');
  display:block;
  height:16px;
  left:8px;
  position:absolute;
  top:8px;
  width:16px;
}
.backlog.saving .header .pureCssMenu{
  display:none;
}
.backlog .header .name{
  font-size:13px;
  font-weight:bold;
  padding-left:15px;
  width:310px;
}
.backlog .header input{
  display:none;
}
.backlog.editing .header input{
  font-family:Verdana,sans-serif;
  display:block;
}
.backlog.editing .header input.name{
  font-weight:bold;
  left:21px;
  padding-left:0;
  position:absolute;
  top:4px;
  width:305px;
}
.backlog .header .actions{
  display:block;
  position:absolute;
  left:6px;
  top:6px;
}
.backlog .header .dates{
  color:#999999;
  display:block;
  font-size:11px;
  height:15px;
  overflow:hidden;
  padding:2px;
  padding-left:3px;
  position:absolute;
  right:45px;
  top:7px;
  width:160px;
}
.backlog .header .dates .datepicker{
  top:2px;
}
.backlog.editing .header input.start_date{
  left:337px;
  position:absolute;
  top:5px;
  width:70px;
}
.backlog .header .dates .effective_date{
  position:absolute;
  right:3px;
}
.backlog.editing .header input.effective_date{
  left:430px;
  position:absolute;
  top:5px;
  width:70px;
}
.backlog .header .points{
  color:#999999;
  display:block;
  font-size:11px;
  height:15px;
  overflow:hidden;
  padding:2px;
  padding-right:3px;
  position:absolute;
  right:11px;
  text-align:right;
  top:7px;
  width:25px;
}
.backlog .stories{
  list-style:none;
  min-height:26px;
  margin:0;
  padding:0 0 0px 0;
}
.backlog .id{
  display:none;
}
/*PRODUCT BACKLOG SPECIFIC*/
#product_backlog{
  float:right;
  margin-left:10px;
  margin-top:10px;
  width:550px;
  background-color: #dcffdc;
}
/*DIALOGS*/
#dialogs{
  height:30px;
  left:0;
  position:absolute;
  top:-50px;
  width:100%;
}
#dialogs .move{
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  background-color:rgb(255,191,86);
  border-bottom:2px solid #AEAEAE;
  border-right:2px solid #AEAEAE;
  height:100%;
  font-size:12px;
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
  text-align:center;
  width:350px;
}
#dialogs .move select{
  max-width:175px;
}
.template{
  display:none;
}