table.printable,
table.printable tr,
table.printable td {
  border: 0 none;
}

table.printable tr th {
  background-color: #fff;
  border-bottom: 2px solid #000;
}

table.printable tr.issue_description {
  margin-bottom: 4px;
}

table.printable tr.issue_description td {
  border-bottom: 1px solid #000;
  padding-bottom: 1em;
}

#main.nosidebar #content {
  /* Fix for custom themes */
  width: auto;
}
