#rb #backlogs_container {
  width:100%;
  min-width: 950px;
}
#rb #owner_backlogs_container {
  float: right;
  width: 49.5%;
  min-width: 470px;
}
#rb #sprint_backlogs_container {
  float: left;
  width: 49.5%;
  min-width: 470px;
}
#rb #owner_backlogs_container .backlog .header > .add_new_story {
  font-size:11px;
  height:28px;
  line-height:31px;
  padding:0;
  position:absolute;
  right:10px;
  text-align:right;
  top:1px;
  width:100px;
}
#rb #backlogs_container .backlog {
  border: 1px solid #E4E4E4;
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

#rb #backlogs_container .backlog .header {
  background-color: #eee;
  height:30px;
  position:relative;
  width:100%;
}
#rb .backlog .header .menu {
  border-right: 1px solid #E4E4E4;
  cursor: pointer;
  height: 30px;
  overflow: visible;

  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
}
#rb .backlog .header .menu.hover,
#rb .backlog .header .menu:hover {
  width:30px;
  z-index:1000;
}
#rb .backlog .header .menu .icon {
  position:absolute;
  top: 7px;
  left: 7px;
  padding: 0;
}
#rb .backlog .header .menu .items {
  display: none;
}
#rb .backlog .header .menu.hover .items,
#rb .backlog .header .menu:hover .items {
  background-color: #EEEEEE;
  border: 1px solid #E4E4E4;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
#rb .backlog .header .menu .item {
  display: block;
  width: 160px;
  height: 24px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
#rb .backlog .header .menu .item.hover,
#rb .backlog .header .menu .item:hover {
  background-color: #999;
}
#rb .backlog .header .menu .item a {
  display:block;
  font-size:12px;
  height:100%;
  padding:6px;
  width:100%;
}
#rb .backlog .header .menu .item.hover a,
#rb .backlog .header .menu .item:hover a {
  color:#FFFFFF;
  text-decoration:none;
}
#rb #backlogs_container .backlog .header .velocity {
  font-size: 12px;
  height: 28px;
  line-height: 31px;
  padding: 0 3px 0 9px;
  position: absolute;
  right: 9px;
  text-align:right;
  top: 0px;
  width: 28px;
}
#rb #backlogs_container .backlog .sprint {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 30px;
  width: auto;
  margin-left: 30px;
  margin-right: 40px;
}
#rb #backlogs_container .backlog .sprint.saving {
  background-image:url('images/ajax.gif');
  background-repeat:no-repeat;
  background-position:center;
}
#rb #backlogs_container .backlog .sprint.error {
  background-image:url('images/error.png');
  background-repeat:no-repeat;
  background-position:center;
}
#rb #backlogs_container .backlog .sprint .id,
#rb #backlogs_container .backlog .sprint .status {
  display: none;
}
#rb #backlogs_container .backlog .sprint .name {
  font-size: 15px;
  line-height: 29px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 0.5em;
}
#rb #backlogs_container .backlog .sprint .sprint_start_date,
#rb #backlogs_container .backlog .sprint .effective_date {
  float: right;
  font-size: 12px;
  height: 28px;
  line-height: 31px;
  width: 6.5em;
  margin-left: 0.5em;
}
#rb #backlogs_container .backlog .stories {
  list-style:none;
  min-height:26px;
  margin:0;
  padding:0 0 0px 0;
  z-index:500;
}
#rb #backlogs_container .stories .story {
  cursor:move;
  display:block;
  font-size:11px;
  height:26px;
  margin:0;
  overflow:hidden;
  position:relative;
  width:100%;
}
#rb #backlogs_container .stories .story.odd {
  background-color: #F6F7F8;
}
#rb #backlogs_container .stories .story.even {
  background-color: #FFF;
}

#rb #backlogs_container .stories .story.saving {
  background-image:url('images/ajax.gif');
  background-repeat:no-repeat;
  background-position:center;
}
#rb #backlogs_container .stories .story.error {
  background-image:url('images/error.png');
  background-repeat:no-repeat;
  background-position:center;
}
#rb #backlogs_container .stories .story.hover,
#rb #backlogs_container .stories .story:hover {
  background-color:rgb(254,248,168);
}
#rb #backlogs_container .stories .story .id {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  padding: 5px 2px 4px 2px;
  width: 2em;
  text-align: right;
  white-space: nowrap;
}
#rb #backlogs_container .stories .story .tracker_id .t {
  float: left;
  padding: 5px 2px 4px 2px;
  text-align: right;
  white-space: nowrap;
}
#rb #backlogs_container .stories .story .subject {
  overflow:hidden;
  margin-left: 4em;
  padding: 5px 2px 4px 2px;
  white-space: nowrap;
  min-height: 1em;
}
#rb #backlogs_container .stories .story .status_id {
  float: right;
  padding: 5px 2px 4px 2px;
  margin-left: 1em;
  width:68px;
}
#rb #backlogs_container .stories .story .story_points {
  float: right;
  padding:5px 3px 4px 2px;
  margin-right: 0.7em;
  width: 28px;
  min-height: 14px;
  text-align:right;
}

#rb #backlogs_container .stories .story .tracker_id .v,
#rb #backlogs_container .stories .story .id .v,
#rb #backlogs_container .stories .story .status_id .v,
#rb #backlogs_container .stories .story .fixed_version_id,
#rb #backlogs_container .stories .story .higher_item_id {
  display:none;
}

.rb_dialog .burndown_chart {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.rb_dialog #charts {
  overflow: hidden;
}

.rb_dialog #charts .axislabel{
  font-weight: bold;
}

/* In-place Sprint Editor */
#rb #backlogs_container .sprint.editing .editors,
#rb #backlogs_container .sprint.editing > .editor {
  display:block;
}
#rb #backlogs_container .sprint.editing label,
#rb #backlogs_container .sprint.editing > *,
#rb #backlogs_container .sprint.editing + .velocity,
#rb #backlogs_container .sprint.editing + .add_new_story {
  display: none;
}
#rb #backlogs_container .backlog .sprint.editing .name.editor {
  height: 21px;
  line-height: 15px;
  margin: 0;
  min-width: 15em;
  width: 57%;
}
#rb #backlogs_container .backlog .sprint.editing .sprint_start_date.editor,
#rb #backlogs_container .backlog .sprint.editing .effective_date.editor {
  height: 23px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  width: 75px;
}
/* In-place Story Editor */
#rb #backlogs_container .stories .story.editing > *,
#rb #backlogs_container .stories .story.editing > .editors label {
  display:none;
}
#rb #backlogs_container .stories .story.editing .editors {
  display: block;
}
#rb #backlogs_container .stories .story.editing select,
#rb #backlogs_container .stories .story.editing input {
  display: inline-block;
  float: none;
  margin: 5px 3px 4px 2px;
  padding: 0;
}
#rb #backlogs_container .stories .story.editing .tracker_id.editor {
  width:55px;
}
#rb #backlogs_container .stories .story.editing .subject.editor {
  min-width: 20em;
  width: 61%;
}
#rb #backlogs_container .stories .story.editing .status_id.editor {
  width: 68px;
  float: right;
}
#rb #backlogs_container .stories .story.editing .story_points.editor {
  float: right;
}
