ul.pureCssMenu ul {
	display: none;
}
ul.pureCssMenu li:hover>ul {
	display: block;
}
ul.pureCssMenu ul {
	position: absolute;
	left: -1px;
	top: 98%;
    z-index:1000;
}
ul.pureCssMenu ul ul {
	position: absolute;
	left: 98%;
	top: -2px;
}
ul.pureCssMenu, ul.pureCssMenu ul {
	margin: 0;
	list-style: none;
	padding: 0 2px 2px 0;
}
ul.pureCssMenu ul {
	border-color: #AAA;
	border-width: 1px;
	border-style: solid;
	background: #fff repeat;
}
ul.pureCssMenu {
	display: block;
	zoom: 1;
	float: right;
}
ul.pureCssMenu ul {
	width: 160.65px;
}
ul.pureCssMenu li {
	display: block;
	margin: 2px 0 0 2px;
	font-size: 0;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
	outline-style: none;
}
ul.pureCssMenu a {
	display: block;
	vertical-align: middle;
	border-width: 0;
	border-color: #65f;
	border-style: solid;
	text-align: left;
	text-decoration: none;
	_padding-left: 0;
	font: normal 11px Verdana;
	color: #444;
	cursor: default;
	background: #fff;
}
ul.pureCssMenu ul a {
	padding: 4px;
}
ul.pureCssMenu span {
	overflow: hidden;
}
ul.pureCssMenu li {
	float: left;
}
ul.pureCssMenu ul li {
	float: none;
}
ul.pureCssMenu ul a {
	text-align: left;
	white-space: nowrap;
}
ul.pureCssMenu li:hover {
	position: relative;
}
ul.pureCssMenu li:hover>a {
	border-color: #650;
	border-style: solid;
	font: normal 11px Verdana;
	color: #fff;
	text-decoration: none;
	background: #4792E6;
}
ul.pureCssMenu li a:hover {
	position: relative;
	border-color: #650;
	border-style: solid;
	font: normal 11px Verdana;
	color: #fff;
	text-decoration: none;
	background: #4792E6;
}
ul.pureCssMenu a:hover ul, ul.pureCssMenu a:hover a:hover ul, ul.pureCssMenu a:hover a:hover a:hover ul {
	display: block;
}
ul.pureCssMenu a:hover ul ul, ul.pureCssMenu a:hover a:hover ul ul {
	display: none;
}

