.meetings div.meeting {padding-bottom: 1em;}
div.meeting_content {padding-bottom: 2em;}
div.meetings_by_date {padding: 1em 0 1em 2em;}
dl.meetings p, div#activity dl.meetings dd, div#activity dl.meetings dt {padding: 0;}
dl.meetings {margin-bottom: 2em;}

div.tabular > div { margin: 0;
                    padding: 5px 0 8px 0;
                    padding-left: 180px; /*width of left column containing the label elements*/
                    height: 1%;
                    clear:left;
                  }