.meetings div.meeting {padding-bottom: 1em;}
div.meeting_content {padding-bottom: 2em;}
div.meetings_by_date {padding: 1em 0 1em 2em;}
dl.meetings p, div#activity dl.meetings dd, div#activity dl.meetings dt {padding: 0;}
dl.meetings {margin-bottom: 2em;}