.cost_types {
  padding-bottom: 3px;
}

.cost_types a.active {
  color: #000;
  font-weight: bold;
}

.report {
  text-align:       center;
  border-collapse:  collapse;
  border:           solid 1px #ccc !important;
  width:            auto !important;
}

.report td, .report th {
  min-width:        90px;
  white-space:      nowrap;
}

.report td {
  border: dotted 1px #ddd;
  color: #666;
  text-align: right;
  padding-right: 5px;
}

.report td:hover {
  color: #000;
  outline: #ccc 1px solid;
  outline-offset: 1px;
}

.report td.empty:hover {
  outline: none;
}

.report th {
  border: dotted 1px #ccc;
  background-color: #e3e3e3 !important;
}

.report th.inner {
  border: solid 1px #ccc;
  background-color: #efefef !important;
}

.report .odd th.inner {
  background-color: #e8e8e8 !important;
}

.report tr:hover .inner {
  background-color: #f5f5c5 !important;
}

.report .top {
  border-top: solid 2px #ccc !important;
}

.report .bottom {
  border-bottom: solid 2px #ccc !important;
}

.report thead .inner, .report tfoot .inner {
  text-align: right;
  padding-right: 5px;
}

.report .result {
  font-size: 120%;
}

.report thead tr:hover .inner, .report tfoot tr:hover .inner {
  background-color: #efefef !important;
}

.report .left {
  text-align: left;
  padding-left: 5px;
}

.report .right {
  text-align: right;
  padding-right: 5px;
}

/* Aligning filter elements at the top. */
.new_cost_query fieldset#filters table td {
  vertical-align:top;
}

/* Overwriting styling for headlines within the query. */
/* TODO: Font-size seems to be a bit odd. Needs some love. */
.new_cost_query fieldset h3 {
  font-size: 1.17em;
  border: none;
}

.group_by {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #900;
  height: 10px;
  width: 10px;
  margin: 1px;
}

.group_by:hover {
  background-color: #EEE;
}

.move {
  height: 25px;
  width: 25px;
}

.sort {
  height: 15px;
  width: 15px;
}

.moveUp {
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(../images/arrow_D_up.gif);
}

.moveDown {
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: url(../images/arrow_D_down.gif);
}

.moveLeft {
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(../images/arrow_D_left.gif);
}

.moveRight {
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(../images/arrow_D_right.gif);
}

.sortUp {
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(../images/arrow_B_up.gif);
}

.sortDown {
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(../images/arrow_B_down.gif);
}

.filter_rem {
  overflow: hidden;
  font-size: 0 !important;
  line-height: 0 !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  height: 16px;
  width: 16px;
  border-style: none;
}

