.cost_types {
  padding-bottom: 3px;
}

.cost_types a.active {
  color: #000;
  font-weight: bold;
}

#content p,
#content label,
#content a,
#content div  {
  font-size: 11px;
  line-height: 16px;
}

.report {
  text-align:       center;
  border-collapse:  collapse;
  border:           solid 1px #ccc !important;
  width:            auto !important;
}

.report td, .report th {
  min-width:        90px;
  white-space:      nowrap;
}

.report td {
  border: dotted 1px #ddd;
  color: #666;
  text-align: right;
  padding-right: 5px;
}

.report tbody th, .report tbody td, .inner {
  max-width: 300px;
  white-space: normal !important;
}

.report td:hover {
  color: #000;
  outline: #ccc 1px solid;
  outline-offset: 1px;
}

.report td.empty:hover {
  outline: none;
}

.report th {
  border: dotted 1px #ccc;
  background-color: #e3e3e3 !important;
  text-align: right !important;
}

.report th.inner {
  border: solid 1px #ccc;
  background-color: #efefef !important;
}

.report .odd th.inner {
  background-color: #e8e8e8 !important;
}

.report tr:hover .inner,
.report tr:hover .bottom,
.report tr:hover .empty,
.report tr:hover .right {
  background-color: #f5f5c5 !important;
}

.report .top {
  border-top: solid 2px #ccc !important;
}

.report .bottom {
  border-bottom: solid 2px #ccc !important;
}

.report thead .inner, .report tfoot .inner {
  text-align: right;
  padding-right: 5px;
}

.report .result {
  font-size: 120%;
  text-align: right;
}

.report thead tr:hover .inner, .report tfoot tr:hover .inner {
  background-color: #efefef !important;
}

.report .left {
  text-align: left !important;
  padding-left: 5px;
}

.report .right {
  text-align: right !important;
  padding-right: 5px;
}

/* Details view*/

.detail-report td {
  text-align: left;
  vertical-align: top;
}

/* Overwriting styling for headlines within the query. */
/* TODO: Font-size seems to be a bit odd. Needs some love. */
.new_report fieldset h3 {
  font-size: 1.17em;
  border: none;
}

.remove-box {
  height: 20px;
  width: 20px;
  background: white;
  float: right;
  padding: 1px 0 0 0;
  display: block;
  margin-top: -5px;
  margin-right: -2px;
}

.filter_rem {
  color: transparent;
  overflow: hidden;
  cursor: pointer;
  background: no-repeat center center transparent;
  height: 18px;
  width: 18px;
  border-style: none;
  display: block;
  margin: 0 0 0 2px;
}

.icon-filter-rem {
  background-image: url(../images/close.gif);
  position: relative;
  float:right;
}

.filter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.inactive-filter {
  background-color: #FCE29A !important;
}

.dependent-filter-label {
  margin-left: 20px;
}

.filter_values {
  white-space: nowrap;
}

.filter_radio_option {
  padding-left: 5px;
  padding-right: 5px;
}

#add_filter_block {
  margin-top: 6px;
}

fieldset#filter-settings table tr.filter:hover {
  background: #aaa;
}

fieldset#filter-settings table tr.filter {
  color: #000;
  background: #ededed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Aligning filter elements at the top. */
fieldset#filter-settings table td {
  vertical-align: top;
  border-spacing: 5px 5px;
  border-color: white;
  border-style: solid;
  border-width: 2px 0px 0px;
  padding: 5px 2px 5px 2px;
}

fieldset#filter-settings table .no-border td {
  border-style: none !important;
}

fieldset#filter-settings table td > label {
  left: 3px;
  top: 3px;
  position: relative;
}

/* ----- group by --- */
.in_row {
  float: left;
  display: block;
  list-style: none;
  border-width: 0px;
}

.group_by_label {
  margin: 0px;
  height: 14px !important;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
  padding: 2px 5px 0 5px;
  color: #fff;
}

.group_by_element {
  background-color: #3F9ED7;
  background-position: 50%;
  background-repeat: no-repeat;
}

.group_by_element:hover {
  background-color: #398AD3;
}

.arrow {
  background-repeat: no-repeat;
  height: 19px !important;
  width: 19px !important;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.arrow_both {
  background-image: url(../images/group_by_arrow_both.png);
}

.arrow_both.arrow_removal_hover {
  background-image: url(../images/group_by_arrow_both_remove.png) !important;
}

.arrow_both.hover_left {
  background-image: url(../images/group_by_arrow_both_hover_left.png);
}

.arrow_both.hover_right {
  background-image: url(../images/group_by_arrow_both_hover_right.png);
}

.arrow_left {
  background-image: url(../images/group_by_arrow_left.png);
}

.arrow_left.arrow_removal_hover {
  background-image: url(../images/group_by_arrow_left_remove.png) !important;
}

.arrow_left.hover {
  background-image: url(../images/group_by_arrow_left_hover.png);
}

.drag_container {
  padding: 5px 0 3px 10px;
  background-color: #ededed;
  border: 1px dotted #CCCCCC;
  margin-bottom: 4px;
  height: 23px;
}

.drag_container select {
    float: right;
    margin-right: 20px;
}

.drag_target {
  min-height: 10px;
}

.drag_container_accept {
  background-color: #F5F5C5;
  /*border: 1px solid #BBBBBB;*/
}

/* -- end group-by -- */

td .drill_down, th .drill_down {
  font-size: 8px;
  display: block;
  float: right;
  font-weight: bold;
  visibility: hidden;
}

td:hover .drill_down, th:hover .drill_down {
  visibility: visible;
}

/*Buttons*/

.buttons .reporting_button {
  background-color: #9a9a9a;
  border: none;
  cursor: pointer;
  margin: 0px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
}

.form_controls {
  margin-top: 6px;
  margin-bottom: 10px;
}

.buttons .reporting_button:hover {
  background-color: #666666;
}

.buttons .reporting_button * em {
  color: white;
  display: block;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
}

.buttons .reporting_button > * {
  display: inline-block;
  margin: 0px;
}

.saved_queries .reporting_button {
  float: left;
  margin: 2px;
}

.buttons .button {
  border: none;
  cursor: pointer;
  margin: 0px;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px;
}

.buttons .apply {
  background-color: #990000;
}

.buttons .apply:hover {
  background-color: #CC0000;
}

.buttons .secondary {
  background-color: #9a9a9a;
}

.buttons .secondary:hover {
  background-color: #666666;
}

.buttons .button span em {
  color: white;
  display: block;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
}

.buttons .button span {
  display: inline-block;
  margin: 3px;
}


.buttons .button-icon {
  padding: 0px 5px 0 16px;
  cursor: pointer;
  background: no-repeat left center;
  border-style: none;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button .icon-save {
  background-image: url(../images/disk.gif);
}

.button .icon-save-as {
  background-image: url(../images/disks.gif);
}

.button .icon-delete {
  background-image: url(../images/delete.gif);
}

.button .icon-clear {
  background-image: url(../images/remove.gif);
}

div.button_form {
  /* TODO IE Compatibility! */
  background-color: white;
  border: 1px solid grey;
  -moz-border-radius: 3px;
  border-radius: 3px;
  left: 100px;
  position: absolute;
  padding: 5px;
}

div.button_form * input#name {
  width: 200px
}

div.button_form * input[type="button"] {
  float: right;
} br { clear: right; }

div.button_form p * {
  margin: 2px;
}

/***** Save and Delete Reports ****/
#save_as_form, #delete_form {
  z-index: 999;
}

/***** Ajax indicator ******/
#ajax-indicator {
  font-family: Verdana, sans-serif;
  position: absolute; /* fixed not supported by IE */
  background-color:#eee;
  border: 1px solid #bbb;
  top:35%;
  left:40%;
  width:20%;
  font-weight:bold;
  text-align:center;
  padding:0.6em;
  z-index:100;
  filter:alpha(opacity=50);
  opacity: 0.5;
  line-height: 10px;
  font-size: 18px;
}

html>body #ajax-indicator { position: fixed; }

#ajax-indicator span {
  background-position: 0% 40%;
  background-repeat: no-repeat;
  background-image: url(../images/loading.gif);
  padding-left: 26px;
  vertical-align: bottom;
}

