/*  STORY STYLES  */
.story{
/*  background-color:#bbf;*/
  display:block;
  height:26px;
  margin:0;
  overflow:hidden;
  position:relative;
  width:100%;
}
.story *{
  font-family: Verdana, sans-serif;
  font-size:11px;
}
.story.closed .subject{
  text-decoration:line-through;
}
.story:nth-child(even){
  background-color:#DEDEDE;
}
.placeholder{
  background-color:#ECECEC;
}
.story:hover{
  background-color:rgb(254,248,168);
}
.story .spinner,
.story .tracker_id,
.story .description,
.story .editor{
  display:none;
}
.story.editing .editor{
  display:block;
}
.story .checkbox{
  display:block;
  margin:0;
  left:10px;
  position:absolute;
  top:7px;
}
.story.saving .checkbox{
  display:none;
}
.story.saving .spinner,
.story.updating .spinner{
  background-image:url('../images/indicator.gif');
  display:block;
  height:16px;
  left:9px;
  position:absolute;
  top:6px;
  width:16px;
}
.story .id{
  background-color:#cfc;
  display:block;
  font-size:9px;
  height:12px;
  left:27px;
  overflow:hidden;
  padding:0px 3px 0px 1px;
  position:absolute;
  text-align:right;
  top:8px;
  width:35px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.story .id * {
  display:inline;
  font-size:8px;
  text-decoration:none;
}
.story div.subject {
  display:block;
  height:15px;
  left:72px;
  overflow:hidden;
  padding:5px 2px 4px 2px;
  position:absolute;
  top:1px;
  width:345px;
  white-space:nowrap;
}
.story.subject_over_sixty div.subject{
  width:333px;
}
.story.subject_over_sixty .elipses{
  display:block;
  left:409px;
  position:absolute;
  top:4px;
}
.story.editing .elipses{
  display:none;
}
.story.editing .subject.editor{
  height:14px;
  left:70px;
  position:absolute;
  top:2px;
  width:345px;
}
.story  > div.status_id {
  display:block;
  height:15px;
  left:427px;
  padding:5px 2px 4px 9px;
  position:absolute;
  top:1px;
  width:68px;
}
.story  > div.status_id .v {
  display:none;
}
.story.editing .status_id.editor{
  left:427px;
  position:absolute;
  top:4px;
  width:75px;
}
.story  > div.points {
  display:block;
  height:15px;
  right:11px;
  overflow:hidden;
  padding:5px 3px 4px 9px;
  position:absolute;
  text-align:right;
  top:1px;
  width:19px;
}
.story.editing input.points.editor{
  height:14px;
  position:absolute;
  right:10px;
  text-align:right;
  top:2px;
  width:25px;
}