/* TASK */
.task{
  
}
.task .id{
  display:inline;
  float:left;
  padding-right:5px;
}
.task .editor{
  display:none;
}
.task.editing .editable{
  display:none;
}
.task .id{
  -moz-border-radius:4px 4px 4px 4px;
  background-color:#FFFFFF;
  font-size:9px;
  height:14px;
  left:2px;
  opacity:0.7;
  overflow:hidden;
  position:absolute;
  text-align:right;
  top:2px;
  width:101px;
}
.task, .placeholder{
  background-color:rgb(255,253,200);
  border:1px solid #CCCCCC;
  cursor:move;
  display:block;
  float:left;
  font-size:10px;
  height:94px;
  margin:10px 0 0 10px;
  padding:2px;
  position:relative;
  width:106px;
}
.task .subject{
  height:28px;
  margin:17px 0 0 3px;
  overflow:hidden;
  padding:2px 5px 2px 2px;
  width:94px;
}
.placeholder{
  background-color:#FFFF00;
  border:1px dashed #333300;
}
.task.blank{
  cursor:pointer;
}
.task .remaining_hours.editable{
  height:15px;
  margin:3px 0 0 3px;
  overflow:hidden;
  padding:1px 2px 2px 3px;
  width:96px;
}
.task.editing .remaining_hours.editor{
  display:block;
  font-family:inherit;
  font-size:10px;
  height:10px;
  left:4px;
  position:absolute;
  top:53px;
  width:96px;
}
.task .assigned_to_id.editable{
  height:14px;
  margin:3px 0 0 3px;
  overflow:hidden;
  padding:2px 2px 2px 3px;
  width:96px;
}
.task .assigned_to_id .v{
  display:none;
}
.task.editing .subject.editor{
  display:block;
  font-family:inherit;
  font-size:10px;
  height:28px;
  left:1px;
  overflow:hidden;
  padding:3px 0 0 1px;
  position:absolute;
  top:0;
  width:99px;
}
.task.editing select.assigned_to_id.editor{
  display:block;
  font-family:inherit;
  font-size:10px;
  left:4px;
  position:absolute;
  top:74px;
  width:102px;
}
.task.saving .indicator{
  background-image:url('../images/indicator.gif');
  display:block;
  height:16px;
  left:3px;
  position:absolute;
  top:1px;
  width:16px;
}
.task.error .indicator{
  background-image:url('../images/warning.png');
}