#col_width input{
  text-align: right;
  width: 20px;
}

/* SPRINT TABLE STYLES */
#taskboard{
  background-color:rgb(254,250,248);
  border:1px solid #CCCCCC;
  margin-bottom:10px;
  margin-right:10px;
}
#taskboard td{
  border-right:1px dotted #CFCFCF;
  border-bottom:1px solid #CFCFCF;
  padding:0 5px 10px 0;
  min-width:125px;
  vertical-align:top;
  width:125px;
}
#taskboard tr:first-child td{
  background-color:rgb(235,235,235);
  border-bottom:none;
  color:rgb(126,126,126);
  font-size:14px;
  font-weight:bold;
  height:30px;
  padding:0;
  padding-bottom:0;
  text-align:center;
  vertical-align:middle;
}
#taskboard tr:last-child td{
  border-bottom:none;
}
#taskboard td:last-child{
  border-right:none;
}
#taskboard td:first-child{
  min-width:137px;
  padding:10px;
  width:175px;
}
#taskboard td.list.hover{
  background-color:#CCCCCC;
}
#taskboard td.story,
#taskboard td.story_column,{
  font-size:11px;
}
#taskboard td.story .story_id{
  -moz-border-radius:4px 4px 4px 4px;
  background-color:#EEEEEE;
  float:left;
  font-size:9px;
  height:14px;
  margin:1px 5px 0 0;
  overflow:hidden;
  padding:0 5px 0 1px;
  text-align:right;
  width:45px;
}
#taskboard td.story.closed .subject{
  text-decoration:line-through;
}
#taskboard td.new_task_button,
#taskboard td.new_task_button_column{
  margin:0;
  min-width:30px;
  padding:0;
  text-align:center;
  vertical-align:middle;
  width:30px;
}
#taskboard td.new_task_button:hover{
  cursor:pointer;
  background-color:#ffffcc;
}
#taskboard tr:hover{
  background-color:#ffffff;
}
#task_template{
  display:none;
}