#rb .task {
  color: #484848;
  line-height: inherit;
}

.contextual #col_width input {
  text-align:right;
  width : 2em;
  margin-top: -1px;
}

#rb #assigned_to_id_options {
  display:none;
}

/*
 swimlane class is used by:
  - #board_header
  - .board

Also use by the Column Width preference to
determine the unit width of the swimlanes.
See RB.Taskboard.initialize()
*/
#rb .swimlane {
  min-width:105px; /* width + (2*margin) + (2*padding) + (2*border) of .issue */
  padding:5px;
  width:105px; /* Must be the same as min-width */
}

/* status labels */
#rb #board_header {
  background-color:#EBEBEB;
  border:1px solid #CCCCCC;
  margin-bottom:0;
  margin-right:10px;
}
#rb #board_header td {
  background-color:#EBEBEB;
  border-right:1px dotted #CFCFCF;
  color:#7E7E7E;
  font-size:14px;
  font-weight:bold;
  height:30px;
  text-align:center;
  vertical-align:middle;
}
#rb #board_header td:first-child {
  min-width:231px;
  padding:10px;
  width:231px;
}
#rb #board_header td:last-child {
  border-right:none;
}

/* shared #impediments and #tasks */
#rb .board {
  background-color:#FCFCFC;
  border:1px solid #CCCCCC;
  border-top:none;
  margin-right:10px;
}
#rb .board tr:hover {
  background-color:#ffffff;
}
#rb .board td {
  border-right:1px dotted #CFCFCF;
  border-bottom:1px dotted #CFCFCF;
  vertical-align:top;
}
#rb .board td:first-child {
  min-width:210px;
  padding:5px;
  width:210px;
}
#rb .board td:last-child {
  border-right:none;
}
#rb .board tr:last-child td {
  border-bottom:none;
}
#rb .board .add_new {
  margin:0;
  min-width:30px;
  padding:0;
  text-align:center;
  vertical-align:middle;
  width:30px;
}
#rb .board .add_new:hover {
  cursor:pointer;
  background-color:#ffffcc;
}
#rb .story,
#rb .label_sprint_impediments {
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;;
  box-shadow: 2px 2px 2px #CCCCCC;;
  background-color:#F8F6A5;
  border:none;
  display:block;
  float:left;
  font-size:10px;
  height:80px;
  margin:5px;
  padding:5px;
  position:relative;
  width:190px;
}
#rb .story .id {
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;
  background-color:#FFFFFF;
  font-size:9px;
  opacity:0.8;
  overflow:hidden;
  padding-bottom:1px;
  padding-right:3px;
  text-align:right;
  width:187px;
}
#rb .story .subject {
  height:63px;
  line-height:13px;
  margin-top:0;
  overflow:hidden;
  padding:2px;
  width:186px;
}
#rb .story.closed .subject {
  text-decoration:line-through;
}

/* item styles used by .task and .impediment */
#rb .issue,
#rb .placeholder {
  background-color:#AFAFAF;
  border:none;
  cursor:move;
  display:block;
  float:left;
  font-size:10px;
  height:80px;
  margin:5px;
  padding:5px;
  position:relative;
  width:85px;
}
#rb .issue {
  -moz-box-shadow: 2px 2px 2px #CCCCCC;
  -webkit-box-shadow: 2px 2px 2px #CCCCCC;
  box-shadow: 2px 2px 2px #CCCCCC;
}
#rb .placeholder {
  background-color:#FFFF00;
  border:1px dashed #333300;
  height:78px;
  width:83px;
}
#rb .issue .id {
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;
  background-color:#FFFFFF;
  font-size:9px;
  height:12px;
  opacity:0.5;
  overflow:hidden;
  padding-bottom:1px;
  padding-right:3px;
  text-align:right;
  width:82px;
}
#rb .issue .id a {
  opacity:1.0;
}
#rb .issue .editable:hover {
  background-color:transparent;
}
#rb .issue .subject.editable {
  height:52px;
  line-height:13px;
  margin-top:0;
  overflow:hidden;
  padding:2px;
  width:81px;
}
#rb .issue.closed .subject.editable {
  text-decoration:line-through;
}
#rb .issue .assigned_to_id.editable {
  font-size:9px;
  height:10px;
  margin-top:2px;
  overflow:hidden;
  padding:2px;
  padding-top:0;
  width:81px;
}
#rb .issue .assigned_to_id .v {
  display:none;
}
#rb .issue .remaining_hours.editable {
  -moz-border-radius:15px 15px 15px 15px;
  -webkit-border-radius:15px 15px 15px 15px;
  border-radius:15px 15px 15px 15px;
  border:2px solid #FFFFFF;
  background-color:#EE0000;
  bottom:-5px;
  color:#FFFFFF;
  font-size:9px;
  height:13px;
  padding-left:5px;
  padding-right:5px;
  position:absolute;
  right:-5px;
}
#rb .issue .blocks {
  display:none;
}
#rb .issue .remaining_hours.editable:empty {
  display:none;
}
#rb .issue .indicator {
  -moz-border-radius:12px 12px 12px 12px;
  -webkit-border-radius:12px 12px 12px 12px;
  border-radius:12px 12px 12px 12px;
  background-color:#FFFFFF;
  background-position:center;
  background-repeat:no-repeat;
  border:2px solid #000000;
  display:none;
  height:16px;
  left:36px;
  padding:2px;
  position:absolute;
  top:38px;
  width:16px;
}
#rb .issue.saving .indicator {
  background-image:url('images/indicator.gif');
  display:block;
}
#rb .issue.error .indicator {
  background-image:url('images/warning.png');
  background-position:2px 0;
  border-color:#CC0000;
  display:block;
}
#rb .issue .editors {
  display:none;
}

/* dialog */

.ui-dialog .ui-dialog-titlebar-close {
  display:none;
}
.ui-dialog .ui-widget-header {
  background:none;
  background-color:#FFFFFF;
  opacity:0.5;
}
.ui-dialog .ui-dialog-title {
  float:right;
  margin-right:0;
}
.ui-dialog.ui-widget-content {
  -moz-box-shadow: 2px 2px 5px #777777;
  -webkit-box-shadow: 2px 2px 5px #777777;
  box-shadow: 2px 2px 5px #777777;
  background:none;
  border:none;
}
.ui-dialog .ui-dialog-buttonpane.ui-widget-content {
  background:none;
  background-color:none;
  border:none;
}

/* item editor */
#task_editor label {
  display:block;
  font-size:11px;
  text-transform:capitalize;
  width:100%;
}
#task_editor .editor {
  font-size:11px;
  margin-bottom:10px;
  width:100%;
}
#task_editor .subject {
  height:65px;
  width:272px;
}
#task_editor .remaining_hours,
#task_editor .blocks {
  width:268px;
}

/* compact view */
#rb .compact .story,
#rb .compact .label_sprint_impediments {
  height:15px;
}
#rb .compact .story .subject {
  display:none;
}
#rb .compact .issue {
  height:21px;
  padding:0;
  width:21px;
}
#rb .compact .issue * {
  display:none;
}
#rb .compact .placeholder {
  background-color:#FFFF00;
  border:1px dashed #333300;
  height:19px;
  width:19px;
}

/* others */
#rb #impediment_template,
#rb #task_template {
  display:none;
}
#rb #preloader {
  left:-500px;
  position:absolute;
}
#rb #spinner {
  background-image:url('images/indicator.gif');
}
#rb #warning {
  background-image:url('images/warning.png');
}
