<ng-container *ngIf="shouldShowGroup()">
  <div class="attributes-group description-group">
    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text"
            [textContent]="text.bcf"></h3>
      </div>
    </div>

    <div class="bcf--viewpoints" *ngIf="galleryImages.length > 0">
      <ngx-gallery [options]="galleryOptions"
                   [images]="galleryImages"
                   (change)="onGalleryChanged($event)"
                   (imagesReady)="selectViewpointInGallery()"
                   (previewOpen)="galleryPreviewOpen()"
                   (previewClose)="galleryPreviewClose()">
      </ngx-gallery>
    </div>

    <button
      type="button"
      *ngIf="viewerVisible && createAllowed"
      class="button"
      (click)="saveViewpoint(workPackage)"
    >
      <span class="spot-icon spot-icon_add"></span>
      <span>{{ text.viewpoint }}</span>
    </button>
  </div>
</ng-container>
