@import '../../app/spot/styles/sass/variables'

.op-non-working-days-list
  .fc-list-event-graphic
    display: none
      
  &--delete-icon
    opacity: 0

  &--add-button
    padding: $spot-spacing-0_5 0

  .fc-list-event
    &:hover
      .op-non-working-days-list--delete-icon
        opacity: 1

  .fc-list-empty
    display: unset !important
    background: inherit

  .fc-list-empty-cushion
    margin: auto !important
