<spot-drop-modal
  [open]="isOpened"
  (closed)="onModalClosed"
>
  <button
    slot="trigger"
    type="button"
    (click)="showDatePickerModal()"
    class="spot-input"
  >{{ dates }}</button>

  <op-single-date-form
    *ngIf="!isMultiDate"
    [value]="dates"
    [changeset]="change"
    slot="body"
  ></op-single-date-form>
  <op-multi-date-form
    *ngIf="isMultiDate"
    [value]="dates"
    [changeset]="change"
    [fieldName]="name"
    slot="body"
  ></op-multi-date-form>
</spot-drop-modal>
