<div class="form--field">
  <%= f.text_area :rows,
                  required: true,
                  label: I18n.t('export_config_rows'),
                  container_class: '-wide' %>
</div>
<div class="form--field-instructions">
  <span class="help">
    <a href="https://github.com/finnlabs/openproject-pdf_export#usage" class="icon icon-help1" onclick="window.open('https://github.com/finnlabs/openproject-pdf_export#usage', '', 'resizable=yes, location=no, width=850, height=800, menubar=no, status=no, scrollbars=yes'); return false;">
      <%= l('help_link_rows_format') %>
    </a>
  </span>
</div>
