<div class="jstElements">
  <div class="help">
    <a href="https://github.com/finnlabs/openproject-pdf_export#usage" class="icon icon-help" onclick="window.open('https://github.com/finnlabs/openproject-pdf_export#usage', '', 'resizable=yes, location=no, width=800, height=800, menubar=no, status=no, scrollbars=yes'); return false;">
      Rows Formatting
    </a>
  </div>
  <span><br><br></span>
</div>