<li
  class="spot-list--item"
  *ngFor="let project of projects"
>
  <label
    class="spot-list--item-action op-project-list--item-action"
    [ngClass]="{ 'spot-list--item-action_disabled': isDisabled(project) }"
  >
    <spot-tooltip
      alignment="top-left"
      [disabled]="!isDisabled(project)"
    >
      <ng-container slot="trigger">
        <spot-checkbox
          *ngFor="let checked of [isChecked(project.href)]"
          [checked]="checked || (includeSubprojects && parentChecked)"
          (change)="changeSelected(project)"
          [disabled]="isDisabled(project)"
          [attr.data-qa-project-include-id]="project.id"
          [attr.data-qa-project-include-checked]="checked ? 1 : 0"
        ></spot-checkbox>
        <div
          class="spot-list--item-title"
          [opSearchHighlight]="searchText" 
        >{{ project.name }}</div>
      </ng-container>

      <p
        slot="body"
        class="spot-body-small"
      >
        <span *ngIf="includeSubprojects && parentChecked">Include all sub-projects is selected.</span>
        <span *ngIf="project.href === currentProjectHref">This is the project you are currently in.</span>
      </p>
    </spot-tooltip>
  </label>

  <ul
    *ngIf="project.children.length"
    op-project-list
    [projects]="project.children"
    [selected]="selected"
    [includeSubprojects]="includeSubprojects"
    [parentChecked]="parentChecked || isChecked(project.href)"
    [searchText]="searchText"
    (update)="updateSelected($event)"
  ></ul>
</li>
