@import '../../../spot/styles/sass/variables'

.op-project-include
  &--include-all
    display: flex
    align-items: center
    cursor: pointer

    &-text
      // A true center aligned text does not look center aligned
      padding-top: 1px
      margin-left: $spot-spacing-0_5
