<div class="top-menu-search">
    <div class="top-menu-search--loading ui-autocomplete--loading" style="display: none">
      <div class="loading-indicator -small">
        <div class="block-1"></div>
        <div class="block-2"></div>
        <div class="block-3"></div>
        <div class="block-4"></div>
        <div class="block-5"></div>
      </div>
    </div>
     <ng-select [items]="results"
                 name="q"
                 id="q"
                [ngClass]="'top-menu-search--input'"
                [class.-expanded]="expanded"
                placeholder="{{text.search}}"
                bindLabel="subject"
                (search)="handleUserInput($event)"
                (open)="resize()"
                (close)="resize()"
                [closeOnSelect]="false"
                (change)="onChange($event)"
                (keyup.enter)="submitNonEmptySearch()"
                [virtualScroll]="true">

        <ng-template ng-header-tmp>
          <div *ngFor="let suggestion of suggestions" tabindex="-1" class="ui-menu-item">
            <div class="ui-menu-item-wrapper">
              <span class="search-autocomplete--search-term"> {{searchTerm}} </span>
              <span class="search-autocomplete--project-scope" title="{{suggestion.projectScope}}"> {{suggestion.text}} ↵ </span>
            </div>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
          <div data-value="item.id" tabindex="-1" class="ui-menu-item">
            <div class="ui-menu-item-wrapper" tabindex="-1">
              <span class="search-autocomplete--wp-id __hl_dot_status_{{item.statusId}}" title="item.status"> #{{item.id}} </span>
              <span class="search-autocomplete--subject"> {{item.subject}} </span>
            </div>
          </div>
        </ng-template>

    </ng-select>
    <a #btn
       id="top-menu-search-button"
       class="top-menu-search--button search-form-normal"
       title="Search"
       accesskey="4"
       tabindex="0"
       role="button"
       [class.-input-focused]="expanded"
       (accessibleClick)="handleClick($event)" >
       <op-icon icon-classes="icon5 icon-search ellipsis"></op-icon>
    </a>
</div>
