// -------------------------- GENERIC --------------------------
.ifc-model-viewer--tree-panel
  padding: 0 15px
  @include varprop(color, main-menu-font-color)

  label
    @include varprop(color, main-menu-font-color)

// -------------------------- XEOKIT specific --------------------------
.xeokit-tabs
  .xeokit-tab
    display: inline

    &.active
      .xeokit-tab-button
        border-bottom: 2px solid white

      .xeokit-tab-content
        display: block

  .xeokit-tab-content
    display: none
    padding: 1.5em 10px
    width: 100%
    height: 100%
    float: left

  .xeokit-tab-button
    background-color: transparent
    color: #ffffff
    display: inline-block
    font-weight: bold
    padding: 0.75em 5px !important
    text-decoration: none

    &:hover
      border-bottom: 2px solid white

    &:focus
      outline: none

  .xeokit-btn-group
    margin-bottom: 10px

    .xeokit-btn
      color: #ffffff
      background-color: transparent
      border: 1px solid #ffffff

.xeokit-objectsTab
  ul
    list-style: none
    padding-left: 1.75em
    li
      border-bottom-left-radius: 0.75em
      border-top-left-radius: 0.75em
      margin: 2px 0
      position: relative
      a
        background-color: #eee
        border-radius: 50%
        color: #000
        display: inline-block
        height: 1.5em
        left: -1.5em
        position: absolute
        text-align: center
        text-decoration: none
        width: 1.5em
        &:active
          top: 1px

      a.plus
        background-color: #ded

      a.minus
        background-color: #eee

      span
        display: inline-block

  .top-right
    font-size: small
    position: fixed
    right: 1em
    top: 1em