<panel-nav route="listDetails"></panel-nav>

<div class="work-packages--details-content">
  <span class="hidden-for-sighted" tabindex="-1" focus ng-bind="focusAnchorLabel"></span>

  <div class="work-packages--details--title">
    <wp-field field-name="'subject'"></wp-field>
  </div>

  <div class="work-package-details-tab" ui-view></div>
</div>

<div class="bottom-toolbar">
  <work-package-details-toolbar work-package='workPackage'></work-package-details-toolbar>
  <edit-actions-bar></edit-actions-bar>
</div>
