<ng-content></ng-content>

<p>{{ text.confirmation_info }}</p>
<p>
  <span>{{ text.label_status }} </span>
  <span *ngIf="!eeTrialService.confirmed; else confirmedStatus" class="status--waiting">
      {{ text.status_waiting }}
    <a id="resend-link" (click)="eeTrialService.resendMail()">{{ text.resend }}</a>

    <p *ngIf="eeTrialService.cancelled">{{ text.session_timeout }}</p>
  </span>

  <ng-template #confirmedStatus>
    <span class="status--confirmed">{{ text.status_confirmed }}</span>
  </ng-template>
</p>