<form name="add_relation_form" class="form">
  <div class="choice">
    <div class="choice--select">
      <ui-select
        id="relation_to_id-{{ handler.relationsId }}"
        name="relation[to_id][{{ handler.relationsId }}]"
        ng-model="$parent.relationToAddId"
        title="{{ I18n.t('js.field_value_enter_prompt', { field: I18n.t('js.relation_labels.' + handler.relationsId) }) }}"
        required
        theme="select2">
        <ui-select-match>{{$select.selected.to_s}}</ui-select-match>
        <ui-select-choices
          refresh-delay="100"
          refresh="autocompleteWorkPackages($select.search)"
          repeat="item.id as item in options">
            <div ng-bind="item.to_s"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="choice--button">
      <button class="button"
              title="{{ btnTitle }}"
              ng-bind-html="btnIcon + ' ' + btnTitle"
              ng-click="handler.addRelation(this)"
              ng-disabled="add_relation_form.$invalid">
      </button>
    </div>
  </div>
</form>
