<div class="work-package-details-activities-activity-contents">
  <div class="comments-number">
    <span ui-sref="work-packages.list.details.activity.details({ activity_no: activityNo })">
      <a name="{{ activityNo }}"
         ng-bind="'#' + activityNo"
         href="#{{ activityNo }}"></a>
    </span>
  </div>
  <img class="avatar" ng-src="{{ userAvatar }}" alt="Avatar" title="{{userName}}" ng-if="userAvatar" />
  <span class="user" ng-if="userActive"><a ng-href="{{ userPath(userId) }}" name="{{ currentAnchor }}" ng-bind="userName"></a></span>
  <span class="user" ng-if="!userActive">{{ userName }}</span>
  <span class="date">
    <a href="{{ revisionPath }}" title="{{ revision }}">
      {{ I18n.t('js.label_committed_at', { revision: formattedRevision }) }}
    </a>
    {{ I18n.t('js.label_at') }}
    <op-date-time date-time-value="activity.props.createdAt"/></op-date-time>
  </span>
  <span class="user-comment wiki">
    <span class="message" ng-bind-html="message"/>
  </span>
</div>
