<div class="detail-panel-description">
  <div class="detail-panel-description-content">
    <work-package-relations title="{{ I18n.t('js.relation_labels.parent') }}"
                         handler="wpParent"
                         button-title="{{ I18n.t('js.relation_buttons.change_parent') }}"
                         button-icon="<i class='icon-hierarchy icon-edit'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.children') }}"
                            handler="wpChildren"
                            button-title="{{ I18n.t('js.relation_buttons.add_child') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.relates') }}"
                            handler="relatedTo"
                            button-title="{{ I18n.t('js.relation_buttons.add_related_to') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.duplicates') }}"
                            handler="duplicates"
                            button-title="{{ I18n.t('js.relation_buttons.add_duplicates') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.duplicated') }}"
                            handler="duplicated"
                            button-title="{{ I18n.t('js.relation_buttons.add_duplicated_by') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.blocks') }}"
                            handler="blocks"
                            button-title="{{ I18n.t('js.relation_buttons.add_blocks') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.blocked') }}"
                            handler="blocked"
                            button-title="{{ I18n.t('js.relation_buttons.add_blocked_by') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.precedes') }}"
                            handler="precedes"
                            button-title="{{ I18n.t('js.relation_buttons.add_precedes') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>

    <work-package-relations title="{{ I18n.t('js.relation_labels.follows') }}"
                            handler="follows"
                            button-title="{{ I18n.t('js.relation_buttons.add_follows') }}"
                            button-icon="<i class='icon-hierarchy icon-add'></i>">
    </work-package-relations>
  </div>
</div>
