.op-wp-info-line
  &--type,
  &--status
    @include text-shortener
    min-width: 25px
    max-width: 66%

  &--status
    display: inline-flex
    align-items: center
    .Label
      line-height: 14px

  &--id
    white-space: nowrap
