.op-work-package-split-view
  height: 100%
  width: 550px
  justify-content: space-around
  border-left: 1px solid var(--borderColor-muted)
  border-top: 1px solid var(--borderColor-muted)
  border-right: 1px solid var(--borderColor-muted)

  border-top-left-radius: var(--borderRadius-medium)
  border-top-right-radius: var(--borderRadius-medium)
