<button class="button -active"><i class="button--icon icon-upload"></i><span class="button--text">Connect</span></button>
<button class="button -active"><i class="button--icon icon-upload"></i></button>
<button class="button -active">Connect</button>
<button class="button -active" disabled>
  <i class="button--icon icon-upload"></i><span class="button--text">Connect</span>
</button>
<br>

<a href="#" class="button -active -with-icon icon-upload">Connect</a>
<a href="#" class="button -active">Click to connect</a>

<input type="submit" class="button -active" value="Submit to connect"/>
<input type="submit" class="button -active" value="Do not connect" disabled />
