<p>
  <strong>Default</strong><br/>
  <%= render(Users::AvatarComponent.new(user: user, size: :default)) %>
</p>
<p>
  <strong>Medium</strong><br/>
  <%= render(Users::AvatarComponent.new(user: user, size: :medium)) %>
</p>
<p>
  <strong>Mini</strong><br/>
  <%= render(Users::AvatarComponent.new(user: user, size: :mini)) %>
</p>
