<div class="form--field -wide-label">
  <div class="form--field-container -vertical">
    <label class="form--label-with-check-box">
      <div class="form--check-box-container">
        <input type="checkbox"
               name="is_public"
               id="show-public"
               ng-model="$ctrl.isPublic"
               ng-change="$ctrl.changed()"
               ng-disabled="!$ctrl.canPublish"
               class="form--check-box"
               focus />
      </div>
      {{ ::$ctrl.text.visibleForOthers }}
    </label>
    <label class="form--label-with-check-box">
      <div class="form--check-box-container">
        <input type="checkbox"
               name="show_in_menu"
               id="show-in-menu"
               ng-model="$ctrl.isStarred"
               ng-change="$ctrl.changed()"
               ng-disabled="!$ctrl.canStar"
               class="form--check-box" />
      </div>
      {{ ::$ctrl.text.showInMenu }}
    </label>
  </div>
</div>

