<div class="ng-modal-window">
  <div class="ng-modal-inner">
    <div class="modal-header">
      <a>
        <i
            class="icon-close"
            ng-click="$ctrl.closeModal()"
            title="{{ ::I18n.t('js.close_popup_title') }}">
        </i>
      </a>
    </div>

    <h3>{{ ::I18n.t('js.label_visibility_settings') }}</h3>

    <query-sharing-form
      on-change="$ctrl.setValues(isStarred, isPublic)"
      is-starred="$ctrl.isStarred"
      is-public="$ctrl.isPublic">
    </query-sharing-form>

    <button class="button -highlight -with-icon icon-checkmark" ng-click="$ctrl.saveQuery()">
      {{ ::I18n.t('js.modals.button_save') }}
    </button>
    <button class="button" ng-click="$ctrl.closeModal()">
      {{ ::I18n.t('js.modals.button_cancel') }}
    </button>
  </div>
</div>
