/* GLOBAL */
#rb {
  background-color:#FFFFFF;
  font-family:Verdana, Arial, sans-serif;
  font-size:1em;
  height:100%;
  margin:0;
  width:100%;
}
#rb a {
  color:#CC0000;
  text-decoration:none;
}
#rb a:hover {
  text-decoration:underline;
}
/* MAIN */
#rb #main {
  display:block;
  height:100%;
  width:100%;
}
#rb .meta {
  display:none;
}
#rb #helpers {
  display:none;
}
/*
  .editor is the classname for field editors of sprint,
  story, task, impediment. These field editors get created
  at runtime whenever any of the above models are edited.
*/
#rb .editors {
  display:none;
}
#rb .ui-dialog .editor {
  display:block;
}
