<div class="generic-table--container" style="height:150px">
  <div class="generic-table--no-results-container">
    <i class="icon-info1"></i>
    <span class="generic-table--no-results-title">
      Nothing to display
    </span>
    <div class="generic-table--no-results-description">
      <p>Either nothing have been created or everything is filtered out.</p>
    </div>
  </div>
</div>
