<%= error_messages_for 'enumeration' %>

<!--[form:optvalue]-->
<%= hidden_field 'enumeration', 'opt'  %>

<p><label for="enumeration_name"><%=_('Name')%></label><br/>
<%= text_field 'enumeration', 'name'  %></p>
<!--[eoform:optvalue]-->

