<h2><%=l(:label_enumerations)%></h2>

<%= start_form_tag({:action => 'update', :id => @enumeration}, :class => "tabular") %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<%= end_form_tag %>

<%= start_form_tag :action => 'destroy', :id => @enumeration %>
  <%= submit_tag l(:button_delete) %>
<%= end_form_tag %>