<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2011-2013 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% for attachment in attachments %>
  <p><%= link_to_attachment attachment, :class => 'icon icon-attachment' -%>
    <%= h(" - #{attachment.description}") unless attachment.description.blank? %>
    <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
    <%= link_to_remote icon_wrapper('icon-context icon-delete', l(:button_delete)),
        :url => { :action => 'destroy_attachment', :attachment_id => attachment.id, :id => project.id },
        :confirm => l(:text_are_you_sure),
        :class => 'delete no-decoration-on-hover',
        :title => l(:button_delete),
  :update => 'page_layout_attachments' %>
  </p>
<% end %>
