<div class="wp-status-button">
  <button class="button"
          has-dropdown-menu
          target="WpStatusContextMenu"
          ng-init="workPackage = $ctrl.workPackage; stateName = $ctrl.stateName"
          locals="workPackage, stateName"
          ng-disabled="$ctrl.isDisabled()"
          aria-label="{{ ::$ctrl.text.explanation }}">

    <span class="button--text"
          aria-hidden="true">TestStatusText</span>
    <div class="wp-status-button--icon-container">
      <op-icon icon-classes="button--icon icon-small icon-pulldown"></op-icon>
    </div>
  </button>
</div>
