<div class="wp-status-button">
  <button class="button"
          has-dropdown-menu
          target="WpStatusContextMenu"
          ng-init="workPackage = $ctrl.workPackage"
          locals="workPackage"
          ng-disabled="$ctrl.isDisabled()"
          aria-label="{{ ::$ctrl.text.explanation }}">

    <span class="button--text"
          aria-hidden="true">{{$ctrl.workPackage.status.name}}</span>
    <op-icon icon-classes="button--icon icon-small icon-pulldown"></op-icon>
  </button>
</div>
