<h2><%=l(:label_summary)%></h2>

<h3><%=@report_title%></h3>
<%= render :partial => 'report', :locals => { :statuses => @statuses,
                                              :rows => @rows,
                                              :data => @data,
                                              :field_name => @field } %>
<br />
<%= link_to l(:button_back), report_project_issues_path(@project) %>

