<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2><%=l(:label_summary)%></h2>

<h3><%=@report_title%></h3>
<%= render :partial => 'report', :locals => { :statuses => @statuses,
                                              :rows => @rows,
                                              :data => @data,
                                              :field_name => @field } %>
<br />
<%= link_to l(:button_back), report_project_issues_path(@project) %>

