<li class="<%= li_css_class %>">
  <%= link_to dynamic_path,
              class: link_css_class,
              title: title,
              aria_label: aria_label do %>
    <%= icon %>
    <%= label %>
  <% end %>
</li>
