<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2017 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<%
  project = form.object
%>

<div class="form--field">
  <% if project && project.persisted? %>
    <% if User.current.impaired? %>
      <%= form.select :responsible_id, project.possible_responsibles.map {|m| [m.name, m.id]}, include_blank: true, container_class: '-wide' %>
    <% else %>
      <% responsible = project.responsible.nil? ? [t('label_none_parentheses'), -1] : [project.responsible.name, project.responsible.id]
         options = { :'data-ajaxURL' => url_for({controller: "/members",
                                                 project_id: project,
                                                 action: "paginate_users" }),
                     :'data-projectId' => project.id,
                     :'data-selected' => [responsible].to_json
                   }
      %>
      <%= javascript_include_tag "autocompleter.js" %>
      <%= javascript_include_tag "project/responsible_attribute.js" %>
      <%= form.select(:responsible_id, options_for_select([]), {container_class: '-wide'}, options) %>
    <% end %>
  <% end %>
</div>
