<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2020 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<%
  project = form.object
  project.build_status unless project.status
%>

<%= form.fields_for :status, project.status do |status_form| %>
  <div class="form--field">
    <%= status_form.select :code,
                           project_options_for_status(project),
                           include_blank: true,
                           container_class: '-wide' %>
  </div>
  <div class="form--field">
    <%= status_form.text_area :explanation,
                              with_text_formatting: true,
                              macros: false,
                              preview_context: project_preview_context(project.status, project),
                              container_class: '-xxwide' %>
  </div>
<% end %>
