<div class="generic-table--container work-package-table--container"
  ng-class="{ '-with-footer': displaySums }">
  <div class="generic-table--results-container"
       wp-virtual-scroll-table>
    <table interactive-table class="keyboard-accessible-list generic-table work-package-table">
      <colgroup>
        <col highlight-col />
        <col highlight-col ng-repeat="column in columns" />
      </colgroup>
      <caption class="hidden-for-sighted">
        <span ng-bind="::text.tableSummary"></span>
        <span id="wp-table-sort-summary"></span>
        <span ng-bind="::text.tableSummaryHints"></span>
      </caption>
      <thead>
        <tr>
          <th sort-header ng-repeat="column in columns"
                          has-dropdown-menu
                          position-relative-to=".generic-table--sort-header-outer"
                          target="columnContextMenu"
                          locals="columns, column"
                          locale="column.custom_field && columns.custom_field.name_locale || locale"
                          header-name="column.name"
                          header-title="column.title"
                          sortable="column.sortable"
                          query="query"
                          ng-class="column.name == 'id' && '-short' ">
          </th>
          <th class="wp-table--details-column -short">
            <div class="generic-table--sort-header-outer">
              <accessible-by-keyboard
                          execute="openColumnsModal()"
                          link-class="wp-table--columns-selection">
                <span class="icon-button icon-columns"></span>
              </accessible-by-keyboard>
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div class="generic-table--header-background"></div>
    <div class="generic-table--footer-background" ng-if="sumsLoaded()"></div>
  </div>
</div>
