@import "src/assets/sass/helpers"

.op-wp-breadcrumb
  @include global-breadcrumb-styles
  height: initial

  &--ellipsed
    max-width: 600px
    @include text-shortener

  &--active-parent-select
    width: 500px

  @media screen and (max-width: $breakpoint-xl)
    margin-top: 0

  ul.op-breadcrumb li wp-breadcrumb-parent
    white-space: initial

  .ng-placeholder
    @include text-shortener
