<div class="spot-modal-overlay spot-modal-overlay_active">
  <div class="spot-modal">
    <div class="spot-modal--header">
      Export
    </div>
    <div class="spot-divider"></div>
    <div class="spot-modal--body spot-container">
      <ul class="op-export-options">
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-atom icon-big"></i>
            <span class="op-export-options--option-label">ATOM</span>
          </a>
        </li>
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-xls icon-big"></i>
            <span class="op-export-options--option-label">XLS</span>
          </a>
        </li>
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-xls-with-descriptions icon-big"></i>
            <span class="op-export-options--option-label">XLS with description</span>
          </a>
        </li>
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-pdf icon-big"></i>
            <span class="op-export-options--option-label">PDF</span>
          </a>
        </li>
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-pdf-descr icon-big"></i>
            <span class="op-export-options--option-label">PDF with description</span>
          </a>
        </li>
        <li class="op-export-options--option">
          <a class="op-export-options--option-link">
            <i class="icon-export-csv icon-big"></i>
            <span class="op-export-options--option-label">CSV</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="spot-action-bar">
      <div class="spot-action-bar--right">
        <button
          type="button"
          class="spot-modal--cancel-button button button_no-margin spot-action-bar--action"
        >Cancel
        </button>
        <button name="button" type="submit" class="button button_no-margin spot-action-bar--action">Close</button>
      </div>
    </div>
  </div>
</div>
