<div>
    <div class="wp-relations-create-button -full-width"
         ng-if="!$ctrl.showRelationsCreateForm">
        <div class="grid-block">
            <div class="grid-content collapse">
                <a class="wp-inline-create--add-link relation-create"
                   ng-click="$ctrl.createNewChildWorkPackage()"
                   href>
                    <i class="icon icon-add"></i>
                    <span>{{ ::$ctrl.text.addNewChild }}</span>
                </a>
            </div>
            <div class="grid-content collapse">
                <a class="wp-inline-create--add-link relation-create -focus-after-save"
                   ng-click="$ctrl.toggleRelationsCreateForm()"
                   href
                   id="hierarchy--add-exisiting-child">
                    <i class="icon icon-add"></i>
                    <span>{{ ::$ctrl.text.addExistingChild }}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="grid-block v-align" ng-if="$ctrl.showRelationsCreateForm">
        <div class="grid-content medium-10">
            <wp-relations-autocomplete
                    work-package="$ctrl.workPackage"
                    selected-wp-id="$ctrl.selectedWpId"
                    selected-relation-type="$ctrl.selectedRelationType"
                    filter-candidates-for="children"
                    focus>

            </wp-relations-autocomplete>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
            <accessible-by-keyboard
                    execute="$ctrl.createRelation()"
                    aria-hidden="false">
                <icon-wrapper icon-name="checkmark"
                              icon-title="{{ ::$ctrl.text.save }}">
                </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard
                    execute="$ctrl.toggleRelationsCreateForm()"
                    aria-hidden="false">
                <icon-wrapper icon-name="remove"
                              icon-title="{{ ::$ctrl.text.abort }}">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>

</div>




