<div class="wp-relations-create">
    <div class="wp-relations-create-button"
         ng-if="!$ctrl.showRelationsCreateForm">
        <div class="grid-block">
            <div class="grid-content collapse wp-inline-create-button medium-6">
                <a class="wp-inline-create--add-link relation-create -focus-after-save"
                   ng-click="$ctrl.toggleRelationsCreateForm()"
                   href
                   id="relation--add-relation">
                    <i class="icon icon-add"></i>
                    <span>{{ ::$ctrl.text.addNewRelation }}</span>
                </a>
            </div>
            <div class="grid-content medium-6">
                <select ng-model="$ctrl.groupRelationsBy"
                        ng-change="$ctrl.groupRelationsByUserInput()"
                        ng-options="option.value as option.label for option in $ctrl.groupOptions"></select>
            </div>
        </div>
    </div>
    <div class="grid-block v-align" ng-if="$ctrl.showRelationsCreateForm">
        <div class="grid-content collapse medium-3">
            <label class="hidden-for-sighted" for="relation-type--select">{{ ::$ctrl.text.relationType }}</label>
            <select class="form--select relationTypeSelect"
                    id="relation-type--select"
                    ng-model="$ctrl.selectedRelationType"
                    ng-options="type.name as type.label for type in $ctrl.relationTypes"
                    focus>
            </select>
        </div>
        <div class="grid-content medium-7">
            <wp-relations-autocomplete
                    work-package="$ctrl.workPackage"
                    selected-wp-id="$ctrl.selectedWpId"
                    selected-relation-type="$ctrl.selectedRelationType">
            </wp-relations-autocomplete>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
            <accessible-by-keyboard
                    execute="$ctrl.createRelation()"
                    aria-hidden="false">
                <icon-wrapper icon-name="checkmark"
                              icon-title="{{ ::$ctrl.text.save }}">
                </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard
                    execute="$ctrl.toggleRelationsCreateForm()"
                    aria-hidden="false">
                <icon-wrapper icon-name="remove"
                              icon-title="{{ ::$ctrl.text.abort }}">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
</div>




