<div>
    <div class="wp-inline-create-button wp-relations-create-button -full-width" ng-if="!$relationsCreateCtrl.showRelationsCreateForm" style="width:100%;padding-right:25px;">
        <div class="grid-block">
            <div class="grid-content collapse">
                <a class="wp-inline-create--add-link relation-create" ng-click="$relationsCreateCtrl.toggleRelationsCreateForm()">
                    <i class="icon icon-add"></i>
                    <span>{{::$relationsCreateCtrl.I18n.t('js.relation_buttons.add_parent')}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="grid-block v-align" ng-if="$relationsCreateCtrl.showRelationsCreateForm || $relationsCreateCtrl.externalFormToggle">
        <div class="grid-content medium-10 collapse">
            <wp-relations-autocomplete
                    work-package="$relationsCreateCtrl.workPackage"
                    selected-wp-id="$relationsCreateCtrl.selectedWpId"
                    selected-relation-type="$relationsCreateCtrl.selectedRelationType"></wp-relations-autocomplete>
        </div>
        <div class="grid-content medium-2 collapse wp-relations-controls-section relation-row">
            <accessible-by-keyboard
                    execute="$relationsCreateCtrl.createRelation()">
                <icon-wrapper icon-name="checkmark"
                              icon-title="{{::$relationsCreateCtrl.I18n.t('js.relation_buttons.save')}}">
                </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard
                    execute="$relationsCreateCtrl.toggleRelationsCreateForm()">
                <icon-wrapper icon-name="remove"
                              icon-title="{{::$relationsCreateCtrl.I18n.t('js.relation_buttons.abort')}}">
                </icon-wrapper>
            </accessible-by-keyboard>
        </div>
    </div>
</div>
