.wide-icon {
  background-position: 0% 40%;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 2px;
  padding-bottom: 3px;
  
}

.single-wide-icon {
  background-position: 20px 40%;
}

.icon-pieces {
  background-image: url(../images/pieces.gif);
}

.icon-pieces-time {
  background-image: url(../images/pieces-time.gif);
}

.icon-ticket {
  background-image: url(../../../images/ticket.png);
}


.filter_values select {
  width: 200px;
}

table.material_budget_items,
table.labor_budget_items,
table.cost_entries {
  width: 100%;
}

table.cost_types,
table.rates {
  text-align: center;
}

.material_budget_items tr,
.labor_budget_items tr,
.cost_entries tr {
  text-align: center;
  vertical-align: top;
}

tr.cost_entry {
  text-align: center;
  white-space: nowrap;
}

th.currency,
td.currency,
.currency {
  text-align: right;
  white-space: nowrap;
}

td.subject,
td.comment {
  text-align: left;
}

table.labor_budget_items td.hours,
td.units {
  font-weight: normal;
  padding-right: .5em;
  text-align: right;
}


td.comment input {
  width: 99%; /* not 100% for IE6 */
}

.tabular div.p {
  clear: left;
  height: 1%;
  margin: 0;
  padding: 5px 0 8px 180px;
}

.inline_editable {
  cursor: pointer;
}

table.progress td.exceeded { background: #E1B9B9 none repeat scroll 0%; }

fieldset#group-by table { border-collapse: collapse; }
fieldset#group-by table td { padding: 0; vertical-align: middle; }
fieldset#group-by tr.filter { height: 2em; }
fieldset#group-by td.add-group-by { text-align: right; vertical-align: top; }
