<%= error_messages_for 'board' %>

<!--[form:board]-->
<div class="box">
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.text_field :description, :required => true, :size => 80 %></p>
</div>
<!--[eoform:board]-->
