<div *ngIf="workPackage"
     class="work-package--single-view">
  <div class="wp-new--subject-wrapper"
       *ngIf="workPackage.isNew">
    <wp-edit-field [workPackageId]="workPackage.id"
                   [wrapperClasses]="'-no-label'"
                   [fieldName]="'subject'"></wp-edit-field>
  </div>

  <div class="wp-info-wrapper">
    <wp-status-button *ngIf="!workPackage.isNew"
                      [workPackage]="workPackage">
    </wp-status-button>
    <attribute-help-text [attribute]="'status'"
                         [attributeScope]="'WorkPackage'"
                         *ngIf="!workPackage.isNew"></attribute-help-text>

    <div class="work-packages--info-row"
         *ngIf="!workPackage.isNew">
      <span [textContent]="idLabel"></span>:
      <span [textContent]="text.infoRow.createdBy"></span>
      <!-- The space has to be in an extra span
      because otherwise the browser would add a second space after it -->
      <span>&nbsp;</span>
      <user-link class="user-link"
                 [user]="workPackage.author"></user-link>.
      <span [textContent]="text.infoRow.lastUpdatedOn"></span>
      <span>&nbsp;</span>
      <op-date-time [dateTimeValue]="workPackage.updatedAt"></op-date-time>.
     </div>

    <wp-custom-actions [workPackage]="workPackage" class="custom-actions"></wp-custom-actions>
  </div>

  <div class="attributes-group -project-context __overflowing_element_container __overflowing_project_context"
       *ngIf="projectContext.field"
       data-overflowing-identifier=".__overflowing_project_context">
    <div class="attributes-group--header">
      <div class="attributes-group--header-container"></div>
    </div>
    <div>
      <p [hidden]="projectContext.href" [textContent]="text.project.required"></p>
      <div class="attributes-key-value"
           [ngClass]="{'-span-all-columns': descriptor.spanAll }"
           *ngFor="let descriptor of projectContext.field; trackBy:trackByName">
        <div class="attributes-key-value--key">
          <wp-replacement-label [fieldName]="descriptor.name">
            {{ descriptor.label }}
            <span class="required"
                  *ngIf="descriptor.field.required && descriptor.field.writable">*</span>
          </wp-replacement-label>
          <attribute-help-text [attribute]="descriptor.name"
                               [attributeScope]="'WorkPackage'"></attribute-help-text>
        </div>
        <div class="attributes-key-value--value-container">
          <wp-edit-field [workPackageId]="workPackage.id"
                         [fieldName]="descriptor.name"></wp-edit-field>
        </div>
      </div>
    </div>
  </div>

  <div class="attributes-group -project-context hide-when-print" *ngIf="!workPackage.isNew && !projectContext.matches">
    <div>
      <p>
        <span [innerHTML]="projectContextText"></span>
        <br/>
        <a [attr.href]="projectContext.href"
           class="project-context--switch-link"
           [textContent]="text.project.switchTo">
        </a>
      </p>
    </div>
  </div>

  <div class="attributes-group description-group">
    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text"
            [textContent]="text.fields.description"></h3>
      </div>
    </div>
    <div class="single-attribute work-packages--details--description">
      <wp-edit-field [fieldName]="'description'"
                     [workPackageId]="workPackage.id"
                     [isDropTarget]="true"
                     [wrapperClasses]="'-no-label'"
                     [displayPlaceholder]="text.description.placeholder">
      </wp-edit-field>
    </div>
  </div>

  <div *ngFor="let group of groupedFields; trackBy:trackByName"
       [hidden]="shouldHideGroup(group)"
       [attr.data-group-name]="group.name"
       [ngClass]="'__overflowing_' + group.id"
       [attr.data-overflowing-identifier]="'.__overflowing_' + group.id"
       class="attributes-group __overflowing_element_container">

    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text"
            [textContent]="group.name"></h3>
      </div>
    </div>

    <ndc-dynamic [ndcDynamicComponent]="attributeGroupComponent(group)"
                 [ndcDynamicInputs]="{ workPackage: workPackage,
                                       group: group,
                                       query: group.query }" >
    </ndc-dynamic>
  </div>
</div>

<div class="work-packages--attachments attributes-group"
     *ngIf="workPackage.canAddAttachments || workPackage.hasAttachments">
  <div class="work-packages--atachments-container">
    <div class="attributes-group--header">
      <div class="attributes-group--header-container">
        <h3 class="attributes-group--header-text" [textContent]="text.attachments.label"></h3>
      </div>
    </div>

    <ndc-dynamic [ndcDynamicComponent]="attachmentListComponent()"
                 [ndcDynamicInputs]="{ resource: workPackage,
                                       selfDestroy: true }">
    </ndc-dynamic>

    <ndc-dynamic [ndcDynamicComponent]="attachmentUploadComponent()"
                 [ndcDynamicInputs]="{ resource: workPackage }">
    </ndc-dynamic>
  </div>
</div>
