<div class="work-packages--edit-actions">
  <button
      id="work-packages--edit-actions-save"
      class="button -alt-highlight"
      accesskey="3"
      ng-disabled="$ctrl.saving"
      ng-click="$ctrl.save()">
    <op-icon icon-classes="button--icon icon-checkmark"></op-icon>
    <span class="button--text" ng-bind="::$ctrl.text.save"></span>
  </button>
  <button
      id="work-packages--edit-actions-cancel"
      class="button"
      accesskey="7"
      ng-click="$ctrl.cancel()">
    <op-icon icon-classes="button--icon icon-close"></op-icon>
    <span class="button--text" ng-bind="::$ctrl.text.cancel"></span>
  </button>
</div>
