<% unless EnterpriseToken.allows_to?(ee_feature) %>
  <span class="form--field -indented">
      <enterprise-banner-bootstrap
        text-message="<%= explanation %>"
        more-info-text="<%= t('js.work_packages.table_configuration.upsale.more-info-text') %>"
        more-info-link="https://www.openproject.org/docs/user-guide/work-packages/work-package-table-configuration/#attribute-highlighting-premium-feature">
    </enterprise-banner-bootstrap>
  </span>
<% end %>
