<% unless EnterpriseToken.allows_to?(ee_feature) %>
  <span class="form--field -indented">
    <%=
    angular_component_tag 'op-enterprise-banner',
                          inputs: {
                            moreInfoText: t('js.work_packages.table_configuration.upsale.more-info-text'),
                            textMessage: explanation,
                            moreInfoLink: 'https://www.openproject.org/docs/user-guide/work-packages/work-package-table-configuration/#attribute-highlighting-premium-feature',
                          }
    %>
  </span>
<% end %>
