<span class="spot-icon big spot-icon_{{infoIcon}}"></span>

<div
  class="text-box"
>
  <div
    class="text-box-header"
  >
    <span [textContent]="infoTextHeader"></span>
  </div>
  <div
    class="text-box-content"
  >
    <span [textContent]="infoTextContent"></span>
  </div>
</div>

<div
  class="button-box"
>
  <button *ngFor="let button of buttons"
          class="button op-files-tab--storage-info-box-button"
          data-qa-selector="op-files-tab--storage-info-box-button"
          (click)="button.action()"
  >
    <op-icon
      icon-classes="button--icon spot-icon spot-icon_external-link"
      class="op-icon--wrapper">
      <i
        class="button--icon spot-icon spot-icon_external-link"
      ></i>
    </op-icon>
    <span
      class="button--text"
    >{{button.label}}</span>
  </button>
</div>
