<span class="spot-icon spot-icon_{{viewModel.iconClass}} op-files-tab--storage-info-icon"></span>

<div
  class="op-files-tab--storage-info-text-box"
>
  <div
    class="op-files-tab--storage-info-text-box-header"
  >
    <span [textContent]="viewModel.header"></span>
  </div>
  <div
    class="op-files-tab--storage-info-text-box-content"
  >
    <span [textContent]="viewModel.content"></span>
  </div>
</div>

<div
  class="op-files-tab--storage-info-button-container"
>
  <button *ngFor="let button of viewModel.buttons"
    class="button op-files-tab--storage-info-button"
    (click)="button.action()"
  >
    <op-icon
      icon-classes="button--icon spot-icon spot-icon_external-link"
      class="op-icon--wrapper">
      <i
        class="button--icon spot-icon spot-icon_external-link"
      ></i>
    </op-icon>
    <span
      class="button--text"
    >{{button.label}}</span>
  </button>
</div>
