<spot-drop-modal
  [opened]="dropModalOpen"
  (closed)="close()"
  [alignment]="alignment"
  class="op-project-list-modal"
>
  <button
    aria-haspopup="true"
    type="button"
    slot="trigger"
    (click)="toggleDropModal()"
  >
    Open drop-modal
  </button>

  <ng-container slot="body">
    <div class="spot-container"
         data-searchable-list-parent="true">
      <ul class="spot-list">
        <li class="spot-list--item">
          <button type="button" class="spot-list--item-action">Random Option 1</button>
        </li>
        <li class="spot-list--item">
          <button type="button" class="spot-list--item-action">Random Option 2</button>
        </li>
        <li class="spot-list--item">
          <button type="button" class="spot-list--item-action">Random Option 3</button>
        </li>
        <li class="spot-list--item">
          <button type="button" class="spot-list--item-action">Random Option 4</button>
        </li>
      </ul>

      <div class="spot-action-bar">
        <div class="spot-action-bar--right">
          <button
            class="spot-button"
            type="button"
          >
            Some action
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</spot-drop-modal>
