<div id="column-context-menu"
     class="action-menu dropdown-relative"
     ng-class="{'dropdown-anchor-right': column && column.name !== 'id'}">
  <ul class="menu">
    <li ng-if="canSort()" ng-click="sortAscending(column.name)">
      <a focus href="">
        <i class="icon-action-menu icon-sort-ascending"></i>
        <span ng-bind="I18n.t('js.work_packages.query.sort_ascending')"/>
      </a>
    </li>

    <li ng-if="canSort()" ng-click="sortDescending(column.name)">
      <a href="">
        <i class="icon-action-menu icon-sort-descending"></i>
        <span ng-bind="I18n.t('js.work_packages.query.sort_descending')"/>
      </a>
    </li>

    <li ng-if="isGroupable" ng-click="groupBy(column.name)">
      <a focus="focusFeature('group')" href="">
        <i class="icon-action-menu icon-group-by2"></i>
        <span ng-bind="I18n.t('js.work_packages.query.group')"/>
      </a>
    </li>

    <li ng-if="canMoveLeft()" ng-click="moveLeft(column.name)">
      <a focus="focusFeature('moveLeft')" href="">
        <i class="icon-action-menu icon-column-left"></i>
        <span ng-bind="I18n.t('js.work_packages.query.move_column_left')"/>
      </a>
    </li>

    <li ng-if="canMoveRight()" ng-click="moveRight(column.name)">
      <a focus="focusFeature('moveRight')" href="">
        <i class="icon-action-menu icon-column-right"></i>
        <span ng-bind="I18n.t('js.work_packages.query.move_column_right')"/>
      </a>
    </li>

    <li ng-if="canBeHidden()" ng-click="hideColumn(column.name)">
      <a focus="focusFeature('hide')" href="">
        <i class="icon-action-menu icon-delete2"></i>
        <span ng-bind="I18n.t('js.work_packages.query.hide_column')"/>
      </a>
    </li>

    <li ng-click="insertColumns()">
      <a focus="focusFeature('insert')" href="">
        <i class="icon-action-menu icon-columns"></i>
        <span ng-bind="I18n.t('js.work_packages.query.insert_columns')"/>
      </a>
    </li>
  </ul>
</div>
