<div class="work-packages--details-toolbar">
  <button class="button" ng-click="editWorkPackage()"><i class="icon-left icon-edit"></i>{{ I18n.t('js.button_edit') }}</button>
  <button class="button dropdown-relative"
          ng-disabled="!(actionsAvailable || pluginActionsAvailable)"
          has-dropdown-menu
          target="DetailsMoreDropdownMenu"
          locals="permittedActions,actionsAvailable,triggerMoreMenuAction">
    {{ I18n.t('js.button_more') }}
    <i class="icon-pulldown-arrow1 icon-edit"></i>
  </button>
<div>
