<div class="dropdown dropdown-relative dropdown-anchor-right dropdown-anchor-top" id="moreDropdown">
  <ul class="dropdown-menu" ng-if="actionsAvailable">
    <li ng-repeat="(action, properties) in permittedActions"
        class="{{action}}">
      <!-- The hrefs with empty URLs are necessary for IE10 to focus these links
      properly. Thus, don't remove the hrefs or the empty URLs! -->
      <a href="" focus="{{ !$index }}"
         ng-class="{{ action }}"
         ng-click="triggerMoreMenuAction(action, properties.link)">
        <op-icon icon-classes="icon-context {{ properties.css.join(' ') }}"></op-icon>
        {{ I18n.t('js.button_' + action) }}
      </a>
    </li>
  </ul>
</div>
