<div class="dropdown dropdown-relative" id="querySelectDropdown">
  <div class="search-query-wrapper">
    <label for="title-filter" class="hidden-for-sighted">{{ I18n.t('js.toolbar.search_query_label') }}</label>
    <input type="search" focus=""
           ng-model="filterBy"
           ng-change="filterModels(filterBy)"
           ng-keydown="handleSelection($event)"
           id="title-filter"><i id="magnifier" class="icon-search"></i>
    </input>
  </div>

  <div class="dropdown-scrollable">
    <div class="query-menu-container" ng-if="group.models" ng-repeat="group in filteredGroups">
      <ul class="query-menu">
        <div class="title-group-header">{{ group.name }}</div>
        <li ng-repeat="model in group.models"
            ng-class="{'selected': model.highlighted }">
          <a ng-click="transitionMethod(model.id)"
             title="{{ model.label }}"
             ng-bind-html="model.labelHtml">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
