<div id="work-package-context-menu" class="action-menu dropdown" role="menu">
  <ul class="dropdown-menu">
    <li class="open detailsViewMenuItem">
      <a role="menuitem" focus ui-sref="work-packages.list.details.overview({workPackageId: row.object.id})">
        <i ng-class="['icon-action-menu', 'icon-view-split']"></i>
        <span ng-bind="I18n.t('js.button_open_details')"/>
      </a>
    </li>
    <li class="openFullScreenView">
      <a role="menuitem" ui-sref="work-packages.show({workPackageId: row.object.id})">
        <i ng-class="['icon-action-menu', 'icon-view-fullscreen']"></i>
        <span ng-bind="I18n.t('js.button_open_fullscreen')"/>
      </a>
    </li>
    <li ng-repeat="action in permittedActions"
        class="{{action.icon}}">
      <a role="menuitem" href="" ng-click="triggerContextMenuAction(action.icon, action.link)">
        <i ng-class="['icon-action-menu', 'icon-' + action.icon]"></i>
        <span ng-bind="I18n.t('js.button_' + action.icon)"/>
      </a>
    </li>
  </ul>
</div>
