<script type="text/template" id="edit-planning-element-template">
  <div class="edit-pe" style="background-color:#ffffff;position:fixed;top:{{= options.top}}px;left:{{= options.left}}px;z-index:1000">
    <span id="asdf">Edit Planning Element:</span>
    <form id="edit-planning-element-form">
      <input type="hidden" name="id" value="{{= model.get('id')}}"></input>
      <div><input name="subject" type="text" value="{{= model.get('subject')}}"></input></div>
      <div><input name="update" type="submit" value="Update"></input></div>
    </form>
  </div>
</script>