<script type="text/template" id="timeline-container-template">
  <div class="tl-toolbar">
    <div class="tl-toolbar-container">
      <a href="javascript://" title="New work package" class="icon icon-add"></a>
    </div>
    <div class="tl-toolbar-container" style="width: 1px; height: 20px; background-color: rgb(0, 0, 0);"></div>
    <div class="tl-toolbar-container">
      <a href="javascript://" title="Zoom out" class="icon tl-icon-zoomout"></a>
    </div>
    <div class="tl-toolbar-container" style="width: 100px; height: 20px;">
      <div id="zoom-slider"></div>
    </div>
    <div class="tl-toolbar-container">
      <a href="javascript://" title="Zoom in" class="icon tl-icon-zoomin"></a>
    </div>
    <div class="tl-toolbar-container">
      <form>
        <select id="zoom-select" name="zooms"></select>
      </form>
    </div>
    <div class="tl-toolbar-container" style="width: 1px; height: 20px; background-color: rgb(0, 0, 0);"></div>
    <div class="tl-toolbar-container">
      <a href="javascript://" title="Reset Outline" class="icon tl-icon-outline"></a>
    </div>
    <div class="tl-toolbar-container">
      <form>
        <!-- TODO: This should be setup in the view render process -->
        <select name="outlines"><option>Show aggregations only</option><option>Expand level 1</option><option>Expand level 2</option><option>Expand level 3</option><option>Expand level 4</option><option>Expand level 5</option><option>Show all</option></select>
      </form>
    </div>
  </div>
  <div class="timeline" style="min-width: 387px;">
    <div class="tl-left">
      <div class="tl-left-top tl-decoration"></div>
      <div class="tl-left-main">
        <table class="tl-main-table">
          <thead>
            <tr>
              <th class="tl-first-column" style="height: 36px;">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tl-project-row tl-first-row tl-last-row">
              <td class="tl-first-column tl-indent-0 tl-collapsed" data-vertical-offset="36" data-vertical-bottom-offset="75">
                <a href="javascript:;">+</a>
                <span class="tl-word-ellipsis">
                  <span>
                    <a href="/projects/{{= model.get('identifier') }}/timelines" class="tl-discreet-link tl-project" data-modal="" title="{{= model.get('name') }}">{{= model.get('name') }}</a>
                  </span>
                </span>
                <div class="tl-invisible" style="height: 15px; width: 15px;"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tl-right"><div class="tl-right-top tl-decoration"></div>
    <div class="tl-right-main"></div>
  </div>
  <div class="tl-scrollcontainer">
    <div class="tl-chart" style="display: block;">
    
    </div>
  </div>

</script>