<%=l(:label_issue)%> #<%= issue.id %> - <%= issue.subject %>
<%=l(:field_author)%>: <%= issue.author.display_name %>
<%=l(:field_assigned_to)%>: <%= issue.assigned_to ? issue.assigned_to.name : "-" %>
<%=l(:field_status)%>: <%= issue.status.name %>

<%= issue.description %>

http://<%= Setting.host_name %>/issues/show/<%= issue.id %>