<table <%= placeholder_table_styles %>>
  <tr>
    <td style="padding: 8px 12px; border: 1px solid #878787; border-radius: 16px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
      <a href="<%= my_reminders_url %>"
         target="_blank"
         style="color: #333333; text-decoration: none; font-size: 14px;white-space: nowrap;">
        <%= I18n.t(:'mail.notification.settings') %>
      </a>
    </td>
  </tr>
</table>
