<% if @user.auth_source %>
<p><%= l(:mail_body_account_information_external, h(@user.auth_source.name)) %></p>
<% else %>
<p><%= l(:mail_body_account_information) %>:</p>
<ul>
    <li><%= l(:field_login) %>: <%=h @user.login %></li>
    <li><%= l(:field_password) %>: <%=h @password %></li>
</ul>
<% end %>

<p><%= l(:label_login) %>: <%= auto_link(@login_url) %></p>
