Um documento foi adicionado no projeto <%= @document.project.name %> (<%= @document.category.name %>):
<%= l(:field_title) %>: <%= @document.title %>

http://<%= Setting.host_name %>/documents/show/<%= @document.id %>