問題 #<%= @issue.id %> が更新されました。
<%= @journal.user.name %>
<% for detail in @journal.details %>
<%= show_detail(detail, true) %>
<% end %>
<%= @journal.notes if @journal.notes? %>
----------------------------------------
<%= render :file => "_issue", :use_full_path => true, :locals => { :issue => @issue } %>