Pour changer votre mot de passe, utilisez le lien suivant:

<%= url_for :only_path => false, :host => Setting.host_name, :controller => 'account', :action => 'lost_password', :token => @token.value %>
