<p><%= l(:mail_body_wiki_content_updated, :id => link_to(h(@wiki_content.page.pretty_title), @wiki_content_url),
  	    														      :author => h(@wiki_content.author)) %><br />
<em><%=h @wiki_content.comments %></em></p>

<p><%= l(:label_view_diff) %>:<br />
<%= link_to @wiki_diff_url, @wiki_diff_url %></p>
