.spot-body
  display: flex
  flex-direction: column

  > .spot-text-field,
  > .spot-list
    margin: $spot-spacing-0_5

    &:first-child
      margin-top: $spot-spacing-1

    &:last-child
      margin-bottom: $spot-spacing-1
