
// Additional styles for CodeMirror (6.x)
// when editing code style snippets
.cm-editor
  border: 1px solid #ddd
  color: var(--codeMirror-fgColor) !important
  background-color: var(--codeMirror-bgColor) !important

.cm-gutters
  background-color: var(--codeMirror-gutters-bgColor) !important

.cm-cursor,
.cm-cursor-primary
  border-left-color: var(--codeMirror-cursor-fgColor) !important
