#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 20 Nov 2025 14:16:56 GMT
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/sites/ymt6d.sharepoint.com:/sites/OPTest:/lists
    body:
      encoding: UTF-8
      string: '{"displayName":"OpenProject Test","description":"A document library
        used in testing the Create List Command","list":{"template":"documentLibrary"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Etag:
      - 830bcf23-ad9c-4a07-806d-5735d4c0ad8c,0
      Location:
      - https://ymt6d.sharepoint.com/_api/v2.0/sites('ymt6d.sharepoint.com')/lists('830bcf23-ad9c-4a07-806d-5735d4c0ad8c')
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Splogid:
      - cf3cdba1-406e-0000-9865-0658610ef55a
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)/$entity","@odata.etag":"830bcf23-ad9c-4a07-806d-5735d4c0ad8c,0","eTag":"830bcf23-ad9c-4a07-806d-5735d4c0ad8c,0","lastModifiedDateTime":"2025-11-20T14:16:57Z","createdDateTime":"2025-11-20T14:16:57Z","description":"A
        document library used in testing the Create List Command","id":"830bcf23-ad9c-4a07-806d-5735d4c0ad8c","name":"OpenProject
        Test","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OpenProject%20Test","displayName":"OpenProject
        Test","parentReference":{"siteId":"ymt6d.sharepoint.com,1099e315-d0c7-47c7-8640-aa9504b70fff,6af246f0-e3be-45ef-b91a-8eca4dcc5d8f"},"list":{"contentTypesEnabled":false,"hidden":false,"template":"documentLibrary"}}'
  recorded_at: Thu, 20 Nov 2025 14:16:57 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/sites/ymt6d.sharepoint.com:/sites/OPTest:/lists/OpenProject%20Test?$expand=drive&$select=id,name,drive
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Etag:
      - '"830bcf23-ad9c-4a07-806d-5735d4c0ad8c,0"'
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Splogid:
      - cf3cdba1-1093-0000-97a9-a5a0120a39ca
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(id,name,drive,drive())/$entity","@odata.etag":"\"830bcf23-ad9c-4a07-806d-5735d4c0ad8c,0\"","id":"830bcf23-ad9c-4a07-806d-5735d4c0ad8c","name":"OpenProject
        Test","drive@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(''830bcf23-ad9c-4a07-806d-5735d4c0ad8c'')/drive/$entity","drive":{"createdDateTime":"2025-11-20T14:16:57Z","description":"A
        document library used in testing the Create List Command","id":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M","lastModifiedDateTime":"2025-11-20T14:16:57Z","name":"OpenProject
        Test","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OpenProject%20Test","driveType":"documentLibrary","createdBy":{"user":{"displayName":"SharePoint
        App"}},"owner":{"group":{"email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb","displayName":"OP
        Test Owners"}},"quota":{"deleted":6642996,"remaining":27487613210244,"state":"normal","total":27487790694400,"used":170841160}}}'
  recorded_at: Thu, 20 Nov 2025 14:16:57 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M/root/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - cf3cdba1-10a0-0000-9865-018724f2a4a9
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M'')/root/permissions","value":[{"id":"T1AgVGVzdCBPd25lcnM","roles":["owner"],"shareId":"T1AgVGVzdCBPd25lcnM","grantedToV2":{"siteGroup":{"displayName":"OP
        Test Owners","id":"3","loginName":"OP Test Owners"}},"grantedTo":{"user":{"displayName":"OP
        Test Owners"}},"inheritedFrom":{}},{"id":"T1AgVGVzdCBWaXNpdG9ycw","roles":["read"],"shareId":"T1AgVGVzdCBWaXNpdG9ycw","grantedToV2":{"siteGroup":{"displayName":"OP
        Test Visitors","id":"4","loginName":"OP Test Visitors"}},"grantedTo":{"user":{"displayName":"OP
        Test Visitors"}},"inheritedFrom":{}},{"id":"T1AgVGVzdCBNZW1iZXJz","roles":["write"],"shareId":"T1AgVGVzdCBNZW1iZXJz","grantedToV2":{"siteGroup":{"displayName":"OP
        Test Members","id":"5","loginName":"OP Test Members"}},"grantedTo":{"user":{"displayName":"OP
        Test Members"}},"inheritedFrom":{}},{"id":"Yzowby5jfGZlZGVyYXRlZGRpcmVjdG9yeWNsYWltcHJvdmlkZXJ8NWRmYjQyNjktZDNlMy00YzcwLTgzZjUtYzQ5MzdmZjZkY2RiX28","roles":["owner"],"shareId":"Yzowby5jfGZlZGVyYXRlZGRpcmVjdG9yeWNsYWltcHJvdmlkZXJ8NWRmYjQyNjktZDNlMy00YzcwLTgzZjUtYzQ5MzdmZjZkY2RiX28","grantedToV2":{"group":{"@odata.type":"#microsoft.graph.sharePointIdentity","displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb"},"siteUser":{"displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"6","loginName":"c:0o.c|federateddirectoryclaimprovider|5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb_o"}},"grantedTo":{"user":{"displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb"}},"inheritedFrom":{}}]}'
  recorded_at: Thu, 20 Nov 2025 14:16:57 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M/root/permissions/T1AgVGVzdCBPd25lcnM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - cf3cdba1-80a9-0000-97a9-a87384f5c1d1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Nov 2025 14:16:58 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M/root/permissions/T1AgVGVzdCBWaXNpdG9ycw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - cf3cdba1-60bb-0000-9865-06a8ac8740ea
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Nov 2025 14:16:58 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M/root/permissions/T1AgVGVzdCBNZW1iZXJz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - cf3cdba1-a0cc-0000-97a9-a84e8f4a86ff
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Nov 2025 14:16:58 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8jzwuDnK0HSoBtVzXUwK2M/root/permissions/Yzowby5jfGZlZGVyYXRlZGRpcmVjdG9yeWNsYWltcHJvdmlkZXJ8NWRmYjQyNjktZDNlMy00YzcwLTgzZjUtYzQ5MzdmZjZkY2RiX28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001378"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - cf3cdba1-c0d6-0000-9865-0719c173d9fa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Nov 2025 14:16:58 GMT
[...]
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/sites/ymt6d.sharepoint.com:/sites/OPTest:/lists/OpenProject%20Test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00001027"}}'
      Splogid:
      - d03cdba1-c00b-0000-9963-75184c6cda71
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 20 Nov 2025 14:16:59 GMT
recorded_with: VCR 6.3.1
