#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=2a513d01-4e57-4c05-99fd-5cea98ec2c9a&client_secret=<CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Fri, 16 Jan 2026 14:24:28 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK/items/01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF?$expand=listItem&$select=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SECRET>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Etag:
      - '"{41E60FC5-40E1-44CD-AC2B-B6522FEF6665},1"'
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"West Europe","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"AM2PEPF0000BE2A"}}'
      Splogid:
      - e595eda1-506e-0000-a47e-72495139f86e
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK'')/items(id,name,listItem())/$entity","@odata.etag":"\"{41E60FC5-40E1-44CD-AC2B-B6522FEF6665},1\"","id":"01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF","name":"Berlin''s
        office Christmas","listItem@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK'')/items(''01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF'')/listItem/$entity","listItem":{"@odata.etag":"\"41e60fc5-40e1-44cd-ac2b-b6522fef6665,1\"","createdDateTime":"2025-12-23T14:10:51Z","eTag":"\"41e60fc5-40e1-44cd-ac2b-b6522fef6665,1\"","id":"40","lastModifiedDateTime":"2025-12-23T14:10:51Z","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OpenProject/Berlin%27s%20office%20Christmas","parentReference":{"id":"0c9632a6-7219-4422-b66f-324a6f61eecd","siteId":"ymt6d.sharepoint.com,1099e315-d0c7-47c7-8640-aa9504b70fff,6af246f0-e3be-45ef-b91a-8eca4dcc5d8f"},"contentType":{"id":"0x012000F2C2A3E43101E445BCBD5F092B9417E8","name":"Folder"},"fields@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK'')/items(''01ANJ53W6FB7TEDYKAZVCKYK5WKIX66ZTF'')/listItem/fields/$entity","fields":{"@odata.etag":"\"41e60fc5-40e1-44cd-ac2b-b6522fef6665,1\"","FileLeafRef":"Berlin''s
        office Christmas","MediaServiceImageTags":[],"id":"40","ContentType":"Folder","Created":"2025-12-23T14:10:51Z","AuthorLookupId":"9","Modified":"2025-12-23T14:10:51Z","EditorLookupId":"9","_CheckinComment":"","LinkFilenameNoMenu":"Berlin''s
        office Christmas","LinkFilename":"Berlin''s office Christmas","ItemChildCount":"8","FolderChildCount":"0","_ComplianceFlags":"","_ComplianceTag":"","_ComplianceTagWrittenTime":"","_ComplianceTagUserId":"","_CommentCount":"","_LikeCount":"","_DisplayName":"","Edit":"0","_UIVersionString":"1.0","ParentVersionStringLookupId":"40","ParentLeafNameLookupId":"40"}}}'
  recorded_at: Fri, 16 Jan 2026 14:24:28 GMT
recorded_with: VCR 6.3.1
