---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=<SHAREPOINT_CLIENT_ID>&client_secret=YgM8Q%7Ezq6FFyZx_YMd%7EElHmktbpjz%7EGFeqqSzaFr
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 05 Mar 2026 14:53:58 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/sites/ymt6d.sharepoint.com:/sites/OPTest:/lists?$expand=drive&$select=id,name,drive
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SECRET>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00002101"}}'
      Splogid:
      - a90afda1-a0b1-0000-b726-62e4758aec4f
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(id,name,drive,drive())","value":[{"@odata.etag":"\"664028af-5a54-484f-8552-00737dd7705e,3\"","id":"664028af-5a54-484f-8552-00737dd7705e","name":"Big
        Beautiful MPF","drive@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(''664028af-5a54-484f-8552-00737dd7705e'')/drive/$entity","drive":{"createdDateTime":"2025-11-21T12:35:58Z","description":"OpenProject
        access-managed document library","id":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-vKEBmVFpPSIVSAHN913Be","lastModifiedDateTime":"2026-02-06T10:01:54Z","name":"Big
        Beautiful MPF","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/Big%20Beautiful%20MPF","driveType":"documentLibrary","createdBy":{"user":{"displayName":"SharePoint
        App"}},"lastModifiedBy":{"user":{"email":"op.owner@ymt6d.onmicrosoft.com","id":"ddbce65c-65fd-42a9-be30-253e244c3f36","displayName":"OP
        Owner"}},"owner":{"group":{"email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb","displayName":"OP
        Test Owners"}},"quota":{"deleted":6922893,"remaining":27487492902046,"state":"normal","total":27487790694400,"used":290869461}}},{"@odata.etag":"\"df897210-689b-48ba-a128-0a6b8662a40a,28\"","id":"df897210-689b-48ba-a128-0a6b8662a40a","name":"OpenProject","drive@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(''df897210-689b-48ba-a128-0a6b8662a40a'')/drive/$entity","drive":{"createdDateTime":"2024-02-02T13:53:33Z","description":"Enabled
        for automatic management","id":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK","lastModifiedDateTime":"[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-RloFm2McZQLb2zll_ZhN-/root/children?$select=id,name,size,webUrl,lastModifiedBy,createdBy,fileSystemInfo,file,folder,parentReference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SECRET>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"003","RoleInstance":"FR1PEPF00002101"}}'
      Splogid:
      - a90afda1-e0de-0000-b726-6c364f5dadcd
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(driveItem)","value":[{"@odata.etag":"\"{81C33EC7-7627-4E7A-B9DC-749F585D8C0C},2\"","createdBy":{"user":{"email":"op.owner@ymt6d.onmicrosoft.com","id":"ddbce65c-65fd-42a9-be30-253e244c3f36","displayName":"OP
        Owner"}},"id":"01ANJ53W6HH3BYCJ3WPJHLTXDUT5MF3DAM","lastModifiedBy":{"user":{"email":"op.owner@ymt6d.onmicrosoft.com","id":"ddbce65c-65fd-42a9-be30-253e244c3f36","displayName":"OP
        Owner"}},"name":"OPTest","parentReference":{"driveType":"documentLibrary","driveId":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-RloFm2McZQLb2zll_ZhN-","id":"01ANJ53W56Y2GOVW7725BZO354PWSELRRZ","name":"OPTest","path":"/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-RloFm2McZQLb2zll_ZhN-/root:","siteId":"1099e315-d0c7-47c7-8640-aa9504b70fff"},"webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OPTest/OPTest","fileSystemInfo":{"createdDateTime":"2026-03-05T14:46:43Z","lastModifiedDateTime":"2026-03-05T14:46:43Z"},"folder":{"childCount":1,"decorator":{"iconColor":"darkGreen"}},"size":451},{"@odata.etag":"\"{8EFFECF0-A0A1-4E51-8CE2-5A8833F3D31D},1\"","createdBy":{"user":{"email":"op.owner@ymt6d.onmicrosoft.com","id":"ddbce65c-65fd-42a9-be30-253e244c3f36","displayName":"OP
        Owner"}},"id":"01ANJ53W7Q5T7Y5INAKFHIZYS2RAZ7HUY5","lastModifiedBy":{"user":{"email":"op.owner@ymt6d.onmicrosoft.com","id":"ddbce65c-65fd-42a9-be30-253e244c3f36","displayName":"OP
        Owner"}},"name":"gadget.gif","parentReference":{"driveType":"documentLibrary","driveId":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-RloFm2McZQLb2zll_ZhN-","id":"01ANJ53W56Y2GOVW7725BZO354PWSELRRZ","name":"OPTest","path":"/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-RloFm2McZQLb2zll_ZhN-/root:","siteId":"1099e315-d0c7-47c7-8640-aa9504b70fff"},"webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OPTest/gadget.gif","file":{"hashes":{"quickXorHash":"cfQbiyIIH+fZYycDtodTPL3OP7g="},"mimeType":"image/gif"},"fileSystemInfo":{"createdDateTime":"2026-03-05T14:46:26Z","lastModifiedDateTime":"2026-03-05T14:46:26Z"},"size":628338}]}'
  recorded_at: Thu, 05 Mar 2026 14:53:59 GMT
recorded_with: VCR 6.4.0
