#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Thu, 09 Oct 2025 13:50:32 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY9jo6leJDqrT7muzvmiWjFW/items/01ANJ53WZVLARJSRFKOFF3HLYZPMPUK6HI%20?$select=id,name,parentReference,webUrl,fileSystemInfo,createdBy,lastModifiedBy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"006","RoleInstance":"FR1PEPF00001FCD"}}'
      Splogid:
      - 9bb6cda1-9036-0000-83a4-a7e3a20f3dac
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html>\r\n    <head>\r\n        <title>The resource
        cannot be found.</title>\r\n        <meta name=\"viewport\" content=\"width=device-width\"
        />\r\n        <style>\r\n         body {font-family:\"Verdana\";font-weight:normal;font-size:
        .7em;color:black;} \r\n         p {font-family:\"Verdana\";font-weight:normal;color:black;margin-top:
        -5px}\r\n         b {font-family:\"Verdana\";font-weight:bold;color:black;margin-top:
        -5px}\r\n         H1 { font-family:\"Verdana\";font-weight:normal;font-size:18pt;color:red
        }\r\n         H2 { font-family:\"Verdana\";font-weight:normal;font-size:14pt;color:maroon
        }\r\n         pre {font-family:\"Consolas\",\"Lucida Console\",Monospace;font-size:11pt;margin:0;padding:0.5em;line-height:14pt}\r\n
        \        .marker {font-weight: bold; color: black;text-decoration: none;}\r\n
        \        .version {color: gray;}\r\n         .error {margin-bottom: 10px;}\r\n
        \        .expandable { text-decoration:underline; font-weight:bold; color:navy;
        cursor:pointer; }\r\n         @media screen and (max-width: 639px) {\r\n          pre
        { width: 440px; overflow: auto; white-space: pre-wrap; word-wrap: break-word;
        }\r\n         }\r\n         @media screen and (max-width: 479px) {\r\n          pre
        { width: 280px; }\r\n         }\r\n        </style>\r\n    </head>\r\n\r\n
        \   <body bgcolor=\"white\">\r\n\r\n            <span><H1>Server Error in
        '/' Application.<hr width=100% size=1 color=silver></H1>\r\n\r\n            <h2>
        <i>The resource cannot be found.</i> </h2></span>\r\n\r\n            <font
        face=\"Arial, Helvetica, Geneva, SunSans-Regular, sans-serif \">\r\n\r\n            <b>
        Description: </b>HTTP 404. The resource you are looking for (or one of its
        dependencies) could have been removed, had its name changed, or is temporarily
        unavailable. &nbsp;Please review the following URL and make sure that it is
        spelled correctly.\r\n            <br><br>\r\n\r\n            <b> Requested
        URL: </b>/_api/v2.0/drives(&#39;b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY9jo6leJDqrT7muzvmiWjFW&#39;)/items/01ANJ53WZVLARJSRFKOFF3HLYZPMPUK6HI<br><br>\r\n\r\n
        \           </font>\r\n\r\n    </body>\r\n</html>\r\n"
  recorded_at: Thu, 09 Oct 2025 13:50:32 GMT
recorded_with: VCR 6.3.1
