#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Tue, 30 Sep 2025 11:51:11 GMT
- request:
    method: patch
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8CfNaHr_0ERYs5kgmEWFrX/items/01ANJ53W5WDLAMJBIRRVD3PK2MNCSGTJVD
    body:
      encoding: UTF-8
      string: '{"name":"I❤️you death star.png"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"006","RoleInstance":"FR1PEPF000041E1"}}'
      Splogid:
      - 33cacaa1-200d-0000-8a5a-695159c898b8
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8CfNaHr_0ERYs5kgmEWFrX'')/items/$entity","@microsoft.graph.downloadUrl":"https://ymt6d.sharepoint.com/sites/OPTest/_layouts/15/download.aspx?UniqueId=c4c01ab6-1185-478d-b7ab-4c68a469a6a3&Translate=false&tempauth=v1.eyJzaXRlaWQiOiIxMDk5ZTMxNS1kMGM3LTQ3YzctODY0MC1hYTk1MDRiNzBmZmYiLCJhcHBfZGlzcGxheW5hbWUiOiJPUCBTZWxlY3RlZCIsIm5hbWVpZCI6IjQwNGUwNTY3LTE5YTEtNGE2NC1iMmQxLWQzYjBjOTlmMmVkOUBlMzZmMWRiYy1mZGFlLTQyN2UtYjYxYi0wZDk2ZGRmYjgxYTQiLCJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAveW10NmQuc2hhcmVwb2ludC5jb21AZTM2ZjFkYmMtZmRhZS00MjdlLWI2MWItMGQ5NmRkZmI4MWE0IiwiZXhwIjoiMTc1OTIzNjY3MSJ9.CkAKDGVudHJhX2NsYWltcxIwQ0lPRzc4WUdFQUFhRmpVeGJrTklkRW80YWtWWFpISTFMVEpmVWsxalFVRXFBQT09CjIKCmFjdG9yYXBwaWQSJDAwMDAwMDAzLTAwMDAtMDAwMC1jMDAwLTAwMDAwMDAwMDAwMAoKCgRzbmlkEgI2NBILCOC0zO-1iMA-EAUaCzIwLjIwLjQxLjMzKix4TUt4eTZwYzRRUWdvMm5QVVBXSSs2QUdTWXNhZGFNdUdCT0JRSjBXelBBPTCBATgBQhChysozDSAAAIpaaVFZyJi4ShBoYXNoZWRwcm9vZnRva2VuegExugENc2VsZWN0ZWRzaXRlc8gBAQ.URpePpCVhRufh_huv6_UUewU33htg4v958irgi8pCAc&ApiVersion=2.0","createdDateTime":"2025-09-23T11:13:24Z","eTag":"\"{C4C01AB6-1185-478D-B7AB-4C68A469A6A3},7\"","id":"01ANJ53W5WDLAMJBIRRVD3PK2MNCSGTJVD","lastModifiedDateTime":"2025-09-30T11:47:41Z","name":"I❤️you
        death star.png","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/Marcello%20AMPF/I%20am%20the%20senat/I%E2%9D%A4%EF%B8%8Fyou%20death%20star.png","cTag":"\"c:{C4C01AB6-1185-478D-B7AB-4C68A469A6A3},4\"","size":331555,"createdBy":{"application":{"id":"404e0567-19a1-4a64-b2d1-d3b0c99f2ed9","displayName":"OP
        Selected"},"user":{"email":"op.admin@ymt6d.onmicrosoft.com","id":"5b5a7dc4-4539-41ba-9fa9-100f0a26acb7","displayName":"Eric
        Schubert"}},"lastModifiedBy":{"application":{"id":"404e0567-19a1-4a64-b2d1-d3b0c99f2ed9","displayName":"OP
        Selected"},"user":{"displayName":"SharePoint App"}},"parentReference":{"driveType":"documentLibrary","driveId":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8CfNaHr_0ERYs5kgmEWFrX","id":"01ANJ53W7XPDQZRCOJK5CJC2M72EB6WKEG","name":"I
        am the senat","path":"/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8CfNaHr_0ERYs5kgmEWFrX/root:/I
        am the senat","siteId":"1099e315-d0c7-47c7-8640-aa9504b70fff"},"file":{"mimeType":"image/png","hashes":{"quickXorHash":"FmcZ5D++Y0ngYq2SasDHZHBiMx4="}},"fileSystemInfo":{"createdDateTime":"2025-09-23T11:13:24Z","lastModifiedDateTime":"2025-09-30T11:47:41Z"},"image":{"height":720,"width":1328},"photo":{},"shared":{"scope":"users"}}'
  recorded_at: Tue, 30 Sep 2025 11:51:11 GMT
recorded_with: VCR 6.3.1
