---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=404e0567-19a1-4a64-b2d1-d3b0c99f2ed9&client_secret=QRB8Q%7Ei.1rID_.MC9FTfRGq-FTE5SgWYsoeLacWf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"<ACCESS_TOKEN>"}'
  recorded_at: Mon, 20 Oct 2025 17:26:47 GMT
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/root/children
    body:
      encoding: UTF-8
      string: '{"name":"INACTIVE PROJECT! f0r r34lz (268)","folder":{},"@microsoft.graph.conflictBehavior":"fail"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Etag:
      - '"{497A2FFA-4551-4DB8-9A7E-EC689C62905F},1"'
      Location:
      - https://ymt6d.sharepoint.com/_api/v2.0/drives('b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v')/items('root')/children('01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7')
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000001E1"}}'
      Splogid:
      - 5a4dd1a1-b030-0000-8a23-6c82768ac6aa
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v'')/root/children/$entity","@odata.etag":"\"{497A2FFA-4551-4DB8-9A7E-EC689C62905F},1\"","eTag":"\"{497A2FFA-4551-4DB8-9A7E-EC689C62905F},1\"","lastModifiedDateTime":"2025-10-20T17:26:48Z","createdDateTime":"2025-10-20T17:26:48Z","id":"01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7","name":"INACTIVE
        PROJECT! f0r r34lz (268)","size":0,"webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/AMPF%20VCR/INACTIVE%20PROJECT!%20f0r%20r34lz%20(268)","cTag":"\"c:{497A2FFA-4551-4DB8-9A7E-EC689C62905F},0\"","commentSettings":{"commentingDisabled":{"isDisabled":false}},"createdBy":{"application":{"displayName":"OP
        Selected","id":"404e0567-19a1-4a64-b2d1-d3b0c99f2ed9"},"user":{"displayName":"SharePoint
        App"}},"lastModifiedBy":{"application":{"displayName":"OP Selected","id":"404e0567-19a1-4a64-b2d1-d3b0c99f2ed9"},"user":{"displayName":"SharePoint
        App"}},"parentReference":{"driveId":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v","driveType":"documentLibrary","id":"01ANJ53W56Y2GOVW7725BZO354PWSELRRZ","path":"/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/root:","sharepointIds":{"listId":"03b7a8ae-9cc8-46b9-9d63-d25b83d1bd6f","listItemUniqueId":"b8815bb8-1f88-4adf-8998-4ae00259ff11","siteId":"1099e315-d0c7-47c7-8640-aa9504b70fff","siteUrl":"https://ymt6d.sharepoint.com/sites/OPTest","tenantId":"e36f1dbc-fdae-427e-b61b-0d96ddfb81a4","webId":"6af246f0-e3be-45ef-b91a-8eca4dcc5d8f"}},"fileSystemInfo":{"createdDateTime":"2025-10-20T17:26:48Z","lastModifiedDateTime":"2025-10-20T17:26:48Z"},"folder":{"childCount":0},"shared":{"scope":"unknown"}}'
  recorded_at: Mon, 20 Oct 2025 17:26:48 GMT
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        char[...]
[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7/permissions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF00000400"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - 5a4dd1a1-505a-0000-8a5a-6f877ce99e69
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#drives(''b%21FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v'')/items(''01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7'')/permissions","value":[{"id":"Yzowby5jfGZlZGVyYXRlZGRpcmVjdG9yeWNsYWltcHJvdmlkZXJ8NWRmYjQyNjktZDNlMy00YzcwLTgzZjUtYzQ5MzdmZjZkY2RiX28","roles":["owner"],"shareId":"Yzowby5jfGZlZGVyYXRlZGRpcmVjdG9yeWNsYWltcHJvdmlkZXJ8NWRmYjQyNjktZDNlMy00YzcwLTgzZjUtYzQ5MzdmZjZkY2RiX28","grantedToV2":{"group":{"@odata.type":"#microsoft.graph.sharePointIdentity","displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb"},"siteUser":{"displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"6","loginName":"c:0o.c|federateddirectoryclaimprovider|5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb_o"}},"grantedTo":{"user":{"displayName":"OP
        Test Owners","email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb"}},"inheritedFrom":{}}]}'
  recorded_at: Mon, 20 Oct 2025 17:26:48 GMT
- request:
    method: post
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7/invite
    body:
      encoding: UTF-8
      string: '{"requireSignIn":true,"sendInvitation":false,"roles":["read"],"recipients":[{"objectId":"f220e557-9477-47d5-94a7-672843be6b0a"}]}'
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Location:
      - https://graph.microsoft.com
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Centr[...]
[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/sites/ymt6d.sharepoint.com:/sites/OPTest:/lists?$expand=drive&$select=id,name,drive
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000001EE"}}'
      Splogid:
      - 5a4dd1a1-0095-0000-8a5a-6f8fb5572447
      Odata-Version:
      - '4.0'
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(id,name,drive,drive())","value":[{"@odata.etag":"\"df897210-689b-48ba-a128-0a6b8662a40a,26\"","id":"df897210-689b-48ba-a128-0a6b8662a40a","name":"OpenProject","drive@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(''df897210-689b-48ba-a128-0a6b8662a40a'')/drive/$entity","drive":{"createdDateTime":"2024-02-02T13:53:33Z","description":"Enabled
        for automatic management","id":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY8Qconfm2i6SKEoCmuGYqQK","lastModifiedDateTime":"2025-10-14T07:40:08Z","name":"OpenProject","webUrl":"https://ymt6d.sharepoint.com/sites/OPTest/OpenProject","driveType":"documentLibrary","createdBy":{"user":{"email":"op.admin@ymt6d.onmicrosoft.com","id":"5b5a7dc4-4539-41ba-9fa9-100f0a26acb7","displayName":"Eric
        Schubert"}},"lastModifiedBy":{"user":{"email":"op.admin@ymt6d.onmicrosoft.com","id":"5b5a7dc4-4539-41ba-9fa9-100f0a26acb7","displayName":"Eric
        Schubert"}},"owner":{"group":{"email":"OPTest@ymt6d.onmicrosoft.com","id":"5dfb4269-d3e3-4c70-83f5-c4937ff6dcdb","displayName":"OP
        Test Owners"}},"quota":{"deleted":5252235,"remaining":27487613326814,"state":"normal","total":27487790694400,"used":172115351}}},{"@odata.etag":"\"7a76be3b-077e-41ef-a9d9-1d7f97080cb0,22\"","id":"7a76be3b-077e-41ef-a9d9-1d7f97080cb0","name":"Shared
        Documents","drive@odata.context":"https://graph.microsoft.com/v1.0/$metadata#Collection(microsoft.graph.list)(''7a76be3b-077e-41ef-a9d9-1d7f97080cb0'')/drive/$entity","drive":{"createdDateTime":"2023-12-10T00:27:16Z","description":"","id":"b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY87vnZ6fgfvQanZHX-XCAyw","lastModifiedDateTime":"2025-09-23T11:10:46Z","name[...]
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/root/children?$select=id,name,size,webUrl,lastModifiedBy,createdBy,fileSystemInfo,file,folder,parentReference&$top=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; odat[...]
[...]
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7/permissions/aTowIy5mfG1lbWJlcnNoaXB8bWVnYW5iQHltdDZkLm9ubWljcm9zb2Z0LmNvbQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000003EA"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - 5b4dd1a1-8075-0000-83a4-aed65dc09aa4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:53 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7/permissions/aTowIy5mfG1lbWJlcnNoaXB8b3AubWVtYmVyQHltdDZkLm9ubWljcm9zb2Z0LmNvbQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000003EA"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - 5b4dd1a1-9083-0000-8a23-64be63fdfdaf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:53 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W72F55ESUKFXBGZU7XMNCOGFEC7/permissions/aTowIy5mfG1lbWJlcnNoaXB8aGVucmlldHRhbUB5bXQ2ZC5vbm1pY3Jvc29mdC5jb20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000003EA"}}'
      Link:
      - <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html",
        <https://developer.microsoft-tst.com/en-us/graph/changes?$filterby=v1.0,Removal&from=2021-09-01&to=2021-10-01>;rel="deprecation";type="text/html"
      Deprecation:
      - Fri, 03 Sep 2021 23:59:59 GMT
      Sunset:
      - Sun, 01 Oct 2023 23:59:59 GMT
      Splogid:
      - 5b4dd1a1-c093-0000-83a4-ac12902d8a24
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:53 GMT
[...]
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W54TBWPP4LD7ZD3IYUX22DZOXER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF00000E74"}}'
      Splogid:
      - 5b4dd1a1-80e2-0000-8a23-63da1bc12e72
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:54 GMT
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W6SH6DCXLOC65FYR7DKFCS4ITTW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF000001E9"}}'
      Splogid:
      - 5b4dd1a1-20f6-0000-8a23-6d6b95db93f2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:55 GMT
[...]
- request:
    method: delete
    uri: https://graph.microsoft.com/v1.0/drives/b!FeOZEMfQx0eGQKqVBLcP__BG8mq-4-9FuRqOyk3MXY-uqLcDyJy5Rp1j0luD0b1v/items/01ANJ53W4V23UUGJYRJZF2H3XVV5XGQ7WD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"FR2PEPF00000E74"}}'
      Splogid:
      - 5c4dd1a1-401f-0000-90c2-c8ffdaa7a707
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 20 Oct 2025 17:26:55 GMT
recorded_with: VCR 6.3.1
