#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/wrong/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=MISSING_SHARE_POINT_TEST_OAUTH_CLIENT_ID&client_secret=MISSING_SHARE_POINT_TEST_OAUTH_CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"invalid_request","error_description":"AADSTS900023: Specified
        tenant identifier ''wrong'' is neither a valid DNS name, nor a valid external
        domain. Trace ID: 0d8e094d-bf49-42ad-8b6e-677ece661300 Correlation ID: 44e3e981-e91a-428d-9583-b7cb9d6a7722
        Timestamp: 2025-08-05 10:04:27Z","error_codes":[900023],"timestamp":"2025-08-05
        10:04:27Z","trace_id":"0d8e094d-bf49-42ad-8b6e-677ece661300","correlation_id":"44e3e981-e91a-428d-9583-b7cb9d6a7722","error_uri":"https://login.microsoftonline.com/error?code=900023"}'
  recorded_at: Tue, 05 Aug 2025 10:04:27 GMT
recorded_with: VCR 6.3.1
