#-- copyright
# OpenProject is an open source project management software.
# Copyright (C) the OpenProject GmbH
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License version 3.
#
# OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
# Copyright (C) 2006-2013 Jean-Philippe Lang
# Copyright (C) 2010-2013 the ChiliProject Team
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
# See COPYRIGHT and LICENSE files for more details.
#++

---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/e36f1dbc-fdae-427e-b61b-0d96ddfb81a4/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default+offline_access&client_id=wrong&client_secret=MISSING_SHARE_POINT_TEST_OAUTH_CLIENT_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Srs:
      - 1.P
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"AADSTS700016: Application
        with identifier ''wrong'' was not found in the directory ''MSFT''. This can
        happen if the application has not been installed by the administrator of the
        tenant or consented to by any user in the tenant. You may have sent your authentication
        request to the wrong tenant. Trace ID: b9b5e557-3dd1-4dc4-9e59-5e74874a6d00
        Correlation ID: d0596f2e-6188-4936-b844-41d86bc0a099 Timestamp: 2025-08-05
        10:04:28Z","error_codes":[700016],"timestamp":"2025-08-05 10:04:28Z","trace_id":"b9b5e557-3dd1-4dc4-9e59-5e74874a6d00","correlation_id":"d0596f2e-6188-4936-b844-41d86bc0a099","error_uri":"https://login.microsoftonline.com/error?code=700016"}'
  recorded_at: Tue, 05 Aug 2025 10:04:28 GMT
recorded_with: VCR 6.3.1
