<div id="query_form_content" class="hide-when-print">
  <query-filters></query-filters>

  <!-- options angular, under construction -->
  <fieldset id="options"
            query-form id="column_options"
            class="header_collapsible collapsible"
            ng-class="{collapsed: !showQueryOptions }">
    <legend title="{{ showQueryOptions && I18n.t('js.work_packages.description_options_hide') || I18n.t('js.work_packages.description_options_show') }}"
            ng-click="showQueryOptions = !showQueryOptions">
      <a href="#">
        <span>{{ I18n.t('js.work_packages.label_options') }}</span>
        <span class="hidden-for-sighted">{{ showQueryOptions ? I18n.t('js.label_expanded') : I18n.t('js.label_collapsed') }}</span>
      </a>
    </legend>

    <div slide-toggle collapsed="!showQueryOptions" class="tabular">
      <div class="horizontal_margin">
        <label for='available_columns' class='header'>
          {{ I18n.t('js.work_packages.query.column_names') }}
        </label>
      </div>
      <div class="horizontal_margin">
        <query-columns></query-columns>
      </div>

      <div class="horizontal_margin">
        <label for='group_by' class='header'>
          {{ I18n.t('js.work_packages.query.group_by') }}
        </label>
      </div>
      <div class="horizontal_margin">
        <select id="group_by"
                name="group_by"
                ng-model="query.groupBy">
          <option value=""></option>
          <option ng-repeat="column in groupableColumns"
                  ng-selected="column.name === query.groupBy"
                  value="{{ column.name }}">{{ column.title }}</option>
        </select>
      </div>
        <div class="horizontal_margin">
          <label for='display_sums' class='header'>
            {{ I18n.t('js.work_packages.query.display_sums') }}
          </label>
        </div>
        <div class="horizontal_margin">
          <input id="display_sums"
                 name="display_sums"
                 type="checkbox"
                 value="1"
                 ng-model="query.displaySums"/>
        </div>
    </div>

  </fieldset>

</div>
