<div id="work-package-context-menu" class="action-menu">
  <ul class="menu">
    <li class="open" feature-flag="detailsView">
      <a focus="isDetailsViewLinkVisible()" href=""
         ui-sref="work-packages.list.details.overview({workPackageId: row.object.id})">
        <i ng-class="['icon-action-menu', 'icon-table-detail-view']"></i>
        <span ng-bind="I18n.t('js.button_open_details')"/>
      </a>
    </li>
    <li ng-repeat="(action, link) in permittedActions"
        ng-click="triggerContextMenuAction(action, link)"
        class="{{action}}">
      <a focus="$index == 0 && !isDetailsViewLinkVisible()" href="" ng-click="deleteWorkPackages()">
        <i ng-class="['icon-action-menu', 'icon-' + action]"></i>
        <span ng-bind="I18n.t('js.button_' + action)"/>
      </a>
    </li>

    <li class="folder priority" ng-hide="hideResourceActions">
      <a href="" class="context_item">TODO Priority</a>
      <i class="icon-pulldown-arrow4 icon-submenu"></i>
      <ul class="sub-menu">
        <li><a href="" class=" disabled">Immediate</a></li>
        <li><a href="" class=" disabled">Urgent</a></li>
        <li><a href="" class=" disabled">High</a></li>
        <li><a href="" class=" disabled">Normal</a></li>
        <li><a href="" class=" disabled">Low</a></li>
        <li><a href="" class=" disabled">Pointless</a></li>
      </ul>
      <div class="submenu"></div>
    </li>
  </ul>
</div>
