<div id="work-package-context-menu" class="action-menu">
  <ul class="menu">
    <li ng-repeat="(action, link) in permittedActions"
        ng-click="triggerContextMenuAction(action, link)"
        class="{{action}}">
        <a focus="{{ $first }}" href
         ng-class="['icon-context', 'icon-' + action]"
         ng-click="deleteWorkPackages()"
         ng-bind="I18n.t('js.button_' + action)">
      </a>
    </li>

    <li class="folder priority" ng-hide="hideResourceActions">
      <a href class="context_item">TODO Priority</a>
      <i class="icon-pulldown-arrow4 icon-submenu"></i>
      <ul class="sub-menu">
        <li><a href class=" disabled">Immediate</a></li>
        <li><a href class=" disabled">Urgent</a></li>
        <li><a href class=" disabled">High</a></li>
        <li><a href class=" disabled">Normal</a></li>
        <li><a href class=" disabled">Low</a></li>
        <li><a href class=" disabled">Pointless</a></li>
      </ul>
      <div class="submenu"></div>
    </li>
  </ul>
</div>
