
<!-- Column headers -->
<grid-area-column-headers class="grid--top-headers"
                          [grid]="this"
                          [style.grid-template-columns]="gridColumnStyle">
</grid-area-column-headers>

<!-- Row headers -->
<grid-area-row-headers class="grid--left-headers"
                       [grid]="this"
                       [style.grid-template-rows]="gridRowStyle">
</grid-area-row-headers>

<div class="grid--container"
     [style.grid-template-columns]="gridColumnStyle"
     [style.grid-template-rows]="gridRowStyle">

  <!-- Grid areas that have a widget in them -->
  <div *ngFor="let area of gridWidgetAreas; trackBy: identifyGridArea;"
       class="grid--area -widgeted"
       [style.grid-row-start]="area.startRow"
       [style.grid-row-end]="area.endRow"
       [style.grid-column-start]="area.startColumn"
       [style.grid-column-end]="area.endColumn"
       cdkDropList
       [id]="gridAreaId(area) + '-widgeted-' + area.guid"
       [cdkDropListData]="area"
       [cdkDropListConnectedTo]="gridAreaDropIds">
    <div class="grid--area-content widget-box"
         cdkDrag
         (cdkDragStarted)="dragStart(area)"
         (cdkDragEnded)="dragStop(area, $event)">
      <div *cdkDragPlaceholder></div>
      <div class="grid--widget-remove"
           (click)="removeWidget(area)">
      </div>
      <ndc-dynamic [ndcDynamicComponent]="widgetComponent(area.widget)"
                   [ndcDynamicOutputs]="{}">
      </ndc-dynamic>
    </div>
    <resizer *ngIf="!currentlyDragging"
             (end)="resize(area, $event)"
             (start)="resizeStart(area)"
             (move)="resizeMove($event)">
    </resizer>
  </div>

  <!-- One grid area per cell (row x columns) -->
  <div *ngFor="let area of gridAreas; trackBy: identifyGridArea;"
       class="grid--area"
       [ngClass] = "{'-drop-target': currentlyDragging,
                     '-resize-target': isResizeTarget(area),
                     '-addable': isAddable(area) }"
       [style.grid-row-start]="area.startRow"
       [style.grid-row-end]="area.endRow"
       [style.grid-column-start]="area.startColumn"
       [style.grid-column-end]="area.endColumn"
       cdkDropList
       [id]="gridAreaId(area)"
       (mouseover)="setMousedOverArea(area)"
       [cdkDropListData]="area"
       (cdkDropListDropped)="drop($event)"
       (cdkDropListEntered)="dragEntered($event)"
       (cdkDropListExited)="dragExited($event)"
       [cdkDropListConnectedTo]="gridAreaDropIds">
    <div class="grid--widget-add"
         *ngIf="isAddable(area)"
         (click)="addWidget(area)">
    </div>
  </div>

  <!-- Grid area to visualize resizing -->
  <div class="grid--area -resizing"
       *ngIf="resizePlaceholderArea"
       [style.grid-row-start]="resizePlaceholderArea.startRow"
       [style.grid-row-end]="resizePlaceholderArea.endRow"
       [style.grid-column-start]="resizePlaceholderArea.startColumn"
       [style.grid-column-end]="resizePlaceholderArea.endColumn">
  </div>

  <!-- Grid area used as a placeholder while dragging -->
  <div *ngIf="dragPlaceholderArea"
       class="grid--area -widgeted"
       [style.grid-row-start]="dragPlaceholderArea.startRow"
       [style.grid-row-end]="dragPlaceholderArea.endRow"
       [style.grid-column-start]="dragPlaceholderArea.startColumn"
       [style.grid-column-end]="dragPlaceholderArea.endColumn">
    <div class="widget-box"
         style="height: 100%">
      <ndc-dynamic [ndcDynamicComponent]="widgetComponent(dragPlaceholderArea.widget)"
                   [ndcDynamicOutputs]="{}">
      </ndc-dynamic>
    </div>
  </div>
</div>
