<div class="work-packages--attachments">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">
        {{ ::I18n.t('js.label_attachments') }}
      </h3>
    </div>
  </div>
  <div data-ngf-drop
       data-ng-model="files"
       data-ng-model-rejected="rejectedFiles"
       data-ngf-select
       class="work-package--attachments--drop-box"
       data-ngf-multiple="true"
       data-ngf-allow-dir="true"
       data-ngf-keep-distinct
       data-ngf-max-size="{{::maximumFileSize}}"
       data-ng-disabled="fetchingConfiguration"
       data-ngf-keep="true"
       data-ngf-change="filterFiles($files)">
    <p data-ng-hide="fetchingConfiguration" class="work-package--attachments--label">{{ ::I18n.t('js.label_drop_files') }}</p>
    <p data-ng-hide="fetchingConfiguration" class="work-package--attachments--hint">{{ ::I18n.t('js.label_drop_files_hint') }}</p>
    <p data-ng-show="fetchingConfiguration" class="work-package--attachments--label">{{ ::I18n.t('js.label_wait') }}</p>
  </div>
  <div class="work-package--attachments--files"
    data-ng-show="files.length > 0">
    <div class="work-package--details--long-field">
      <span class="inplace-edit--read"
            data-ng-repeat="attachment in files">
        <span class="inplace-editing--trigger-container">
          <span class="inplace-editing--trigger-link"
                ng-class="{'-focus': focussing(attachment)}">
            <span class="inplace-editing--container">
              <span class="inplace-edit--read-value" >
                <attachment-icon type="attachment.contentType"></attachment-icon>
                <a class="work-package--attachments--filename -no-decoration"
                   href=""
                   data-ng-focus="focus(attachment)"
                   data-ng-blur="focus(null)"
                   ng-click="true">
                  {{::attachment.name}}
                </a>
                <span class="work-package--attachments--filesize">({{::size(attachment.size)}})</span>
              </span>
              <a href=''
                 class="inplace-edit--icon-wrapper"
                 data-ng-focus="focus(attachment)"
                 data-ng-blur="focus(null)"
                 data-ng-click="remove(attachment)"
                 data-confirm-popup="{{I18n.t('js.text_attachment_destroy_confirmation')}}">

                <icon-wrapper icon-name="delete"
                              data-icon-title="{{::I18n.t('js.label_remove_file',
                                                          { fileName: attachment.name })}}">
                </icon-wrapper>
              </a>
            </span>
          </span>
        </span>
      </span>
    </div>
  </div>
</div>
