<div class="work-packages--attachments">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">
        {{ ::I18n.t('js.label_attachments') }}
      </h3>
    </div>
  </div>
  <div class="work-package--attachments--files"
       data-ng-show="attachments.length > 0">
    <div class="work-package--details--long-field">
      <span class="inplace-edit--read"
            data-ng-repeat="attachment in attachments">
        <span class="inplace-editing--trigger-container">
          <span class="inplace-editing--trigger-link"
                ng-class="{'-focus': focussing(attachment)}">
            <span class="inplace-editing--container">
              <span class="inplace-edit--read-value" >
                <a class="work-package--attachments--filename"
                   data-ng-href="{{attachment._links.downloadLocation.href}}"
                   download
                   data-ng-focus="focus(attachment)"
                   data-ng-blur="focus(null)">
                  {{::attachment.fileName}}
                </a>
              </span>
              <a href=''
                 class="inplace-edit--icon-wrapper"
                 data-ng-focus="focus(attachment)"
                 data-ng-blur="focus(null)"
                 data-ng-click="remove(attachment)"
                 data-confirm-popup="{{I18n.t('js.text_attachment_destroy_confirmation')}}">

                <icon-wrapper icon-name="delete"
                              data-icon-title="{{::I18n.t('js.label_remove_file',
                                                          { fileName: attachment.fileName })}}">
                </icon-wrapper>
              </a>
            </span>
          </span>
        </span>
      </span>
    </div>
  </div>
  <div data-ng-show="hasRightToUpload"
       data-ngf-drop
       data-ng-model="files"
       data-ng-model-rejected="rejectedFiles"
       data-ngf-select
       class="work-package--attachments--drop-box"
       data-ngf-multiple="true"
       data-ngf-change="uploadFilteredFiles($files)"
       data-ngf-max-size="{{::maximumFileSize}}">
    <div class="work-package--attachments--label">
      <i class="icon-attachment"></i>
      <p>
        {{ ::I18n.t('js.label_drop_files') }}
        <br>
        {{ ::I18n.t('js.label_drop_files_hint') }}
      </p>
    </div>
  </div>
</div>
