<div class="work-packages--attachments">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">
        {{ ::I18n.t('js.label_attachments') }}
      </h3>
    </div>
  </div>
  <div data-ngf-drop data-ng-model="files" data-ng-model-rejected="rejectedFiles" data-ngf-select class="work-package--attachments--drop-box"
       data-ngf-multiple="true" data-ngf-change="instantUpload()" data-ngf-max-size="{{::maximumFileSize}}">
    <p class="work-package--attachments--label">{{ ::I18n.t('js.label_drop_files') }}</p>
    <p class="work-package--attachments--hint">{{ ::I18n.t('js.label_drop_files_hint') }}</p>
  </div>
  <div class="work-package--attachments--files" data-ng-show="attachments.length > 0">
    <div class="work-package--details--long-field">
      <span class="inplace-edit--read" data-ng-repeat="attachment in attachments">
        <accessible-by-keyboard
            class="inplace-editing--trigger-container"
            span-class="inplace-editing--container"
            link-class="inplace-editing--trigger-link">
            <span class="inplace-edit--read-value" >
              <span >
                <attachment-icon type="attachment.contentType"></attachment-icon>
                <a class="filename" data-ng-href="{{attachment._links.downloadLocation.href}}" download>{{::attachment.fileName}}</a>
                <span class="filesize">({{::size(attachment.fileSize)}})</span>
              </span>
            </span>
            <span class="inplace-edit--icon-wrapper" data-ng-click="remove(attachment)">
                <icon-wrapper icon-name="delete" title="{{::I18n.t('js.label_remove_file')}}">{{::I18n.t('js.label_remove_file')}}>
                </icon-wrapper>
            </span>
        </accessible-by-keyboard>
      </span>
    </div>
  </div>
</div>

