<div class="work-package-field work-packages--activity--add-comment" ng-show="fieldController.canAddComment">
  <inplace-editor-main-pane>
    <div class="inplace-edit--read" ng-if="!fieldController.isEditing">
      <accessible-by-keyboard
        class="inplace-editing--trigger-container"
        span-class="inplace-editing--container"
        link-class="inplace-editing--trigger-link"
        execute="fieldController.startEditing()">
        <span class="inplace-edit--read-value"
              ng-class="{'-default': fieldController.isEmpty()}">
          <span ng-bind="fieldController.placeholder"></span>
        </span>
        <span class="inplace-edit--icon-wrapper">
            <icon-wrapper icon-name="edit" icon-title="{{ fieldController.editTitle }}">
            </icon-wrapper>
        </span>
      </accessible-by-keyboard>
    </div>
    <div class="inplace-edit--write edit-strategy-comment" ng-show="fieldController.isEditing">
      <form class="inplace-edit--form" ng-if="fieldController.isEditing" name="fieldController.editForm" ng-submit="fieldController.submit()" novalidate>
        <div class="inplace-edit--write-value" ng-include="'/templates/components/inplace_editor/editable/wiki_textarea.html'" ng-click="fieldController.markActive()" tabindex="-1">
        </div>
        <div class="inplace-edit--dashboard">
          <div class="inplace-edit--controls" ng-hide="fieldController.state.isBusy || !fieldController.isActive()">
            <accessible-by-keyboard execute="fieldController.submit()"
                                    ng-disabled="fieldController.isEmpty()"
                                    class="inplace-edit--control inplace-edit--control--save">
              <icon-wrapper icon-name="yes" icon-title="{{ fieldController.saveTitle }}">
              </icon-wrapper>
            </accessible-by-keyboard>
            <accessible-by-keyboard execute="fieldController.discardEditing()" class="inplace-edit--control inplace-edit--control--cancel">
              <icon-wrapper icon-name="close" icon-title="{{ fieldController.cancelTitle }}">
              </icon-wrapper>
            </accessible-by-keyboard>
          </div>
        </div>
      </form>
    </div>
  </inplace-editor-main-pane>
</div>
