<div class="work-package-field">
  <div class="editable-branch" ng-if="vm.isEditable">
    <div inplace-editor
         ined-type="{{ vm.inplaceType }}"
         ined-display-strategy="{{ vm.inplaceDisplayStrategy }}"
         ined-entity="vm.workPackage"
         ined-attribute="{{ vm.field }}"
         ined-attribute-embedded="vm.isEmbedded"
         ined-attribute-title="{{ vm.label }}"
         placeholder="-">
    </div>
  </div>
  <div class="static-branch" ng-if="!vm.isEditable">
    <empty-element ng-if="vm.isEmpty"></empty-element>
    <div class="field-value" ng-if="!vm.isEmpty" ng-bind="vm.value"></div>
  </div>
</div>
