<div class="work-packages--details-toolbar">
  <button class="button"
          accesskey="3"
          ng-click="editWorkPackage()">
    <i class="button--icon icon-edit"></i>
    <span class="button--text" ng-bind="::I18n.t('js.button_edit')"></span>
  </button>
  <span ng-if="!isWatched && displayWatchButton">
    <button class="button"
            ng-click="toggleWatch()">
      <i class="button--icon icon-not-watch"></i>
      <span class="button--text" ng-bind="::I18n.t('js.label_watch')"></span>
    </button>
  </span>
  <span ng-if="isWatched && displayWatchButton">
    <button class="button"
            ng-click="toggleWatch()">
      <i class="button--icon icon-watch-1"></i>
      <span class="button--text" ng-bind="::I18n.t('js.label_unwatch')"></span>
    </button>
  </span>
  <button class="button dropdown-relative"
          ng-disabled="!actionsAvailable"
          has-dropdown-menu
          accesskey="7"
          target="DetailsMoreDropdownMenu"
          locals="permittedActions,actionsAvailable,triggerMoreMenuAction">
    <span class="button--text" ng-bind="::I18n.t('js.button_more')"></span>
    <i class="button--dropdown-indicator"></i>
  </button>
</div>
