<div class="work-packages--details-toolbar" ng-hide="editAll.state && !editAll.allowed">
  <button class="button" accesskey="3" ng-click="editAll.start()" ng-disabled="!editAll.allowed">
    <i class="button--icon icon-edit"></i>
    <span class="button--text" ng-bind="::I18n.t('js.button_edit')"></span>
  </button>
  <button class="button dropdown-relative"
          ng-disabled="!actionsAvailable"
          has-dropdown-menu
          accesskey="7"
          target="DetailsMoreDropdownMenu"
          locals="permittedActions,actionsAvailable,triggerMoreMenuAction">
    <span class="button--text" ng-bind="::I18n.t('js.button_more')"></span>
    <i class="button--dropdown-indicator"></i>
  </button>
</div>
