<div class="work-packages--edit-actions" ng-show="efs.editAll.state && efs.editAll.allowed">
  <button class="button button--icon icon-yes -alt-highlight" accesskey="3" ng-click="efs.save(false)">
    <span class="button--text" ng-bind="::I18n.t('js.button_save')"></span>
  </button>
  <button class="button button--icon icon-send-mail" accesskey="3" ng-click="efs.save(true)">
    <span class="button--text" ng-bind="::I18n.t('js.inplace.button_save_and_send_all')"></span>
  </button>
  <button class="button button--icon icon-close" accesskey="7" ng-click="efs.editAll.cancel()">
    <span class="button--text" ng-bind="::I18n.t('js.button_cancel')"></span>
  </button>
</div>
