@import url(../../../stylesheets/application.css);

body{ color:#303030; background:#e8eaec; }

#top-menu { font-size: 80%; height: 2em; padding-top: 0.5em; background-color: #578bb8; }
#top-menu a { font-weight: bold; }
#header { background: #467aa7; height:5.8em; padding: 10px 0 0 0; }
#header h1 { margin-left: 6px; }
#quick-search { margin-right: 6px; }
#main-menu { background-color: #578bb8; left: 0; border-top: 1px solid #fff; width: 100%; }
#main-menu li { margin: 0; padding: 0; }
#main-menu li a { background-color: #578bb8; border-right: 1px solid #fff; font-size: 80%; padding: 4px 8px 4px 8px; font-weight: bold; }
#main-menu li a:hover { background-color: #80b0da; color: #ffffff; }

#footer { background-color: #578bb8; border: 0; color: #fff;}
#footer a { color: #fff; font-weight: bold; }

#main { font:90% Verdana,Tahoma,Arial,sans-serif; background: #e8eaec; }
#main a { font-weight: bold; color: #467aa7;}
#main a:hover { color: #2a5a8a; text-decoration: underline; }
#content { background: #fff; }
#content .tabs ul { bottom:-1px; }

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; color:#606060; font-family: Trebuchet MS,Georgia,"Times New Roman",serif; }
h2, .wiki h1 { letter-spacing:-1px; }
h4 { border-bottom: dotted 1px #c0c0c0; }

#top-menu a.home, #top-menu a.mypage, #top-menu a.projects, #top-menu a.admin, #top-menu a.help { 
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#top-menu a.home { background-image: url(../../../images/home.png); }
#top-menu a.mypage { background-image: url(../../../images/user_page.png); }
#top-menu a.projects { background-image: url(../../../images/projects.png); }
#top-menu a.admin { background-image: url(../../../images/admin.png); }
#top-menu a.help { background-image: url(../../../images/help.png); }
