@import "src/assets/sass/helpers"

\:host
  display: grid
  grid-template-rows: 32px 1fr
  grid-row-gap: 10px
  background: #F3F3F3
  padding: 8px

.op-quick-add-pane
  &--search
    width: 100%
    line-height: 32px
    height: 32px
    padding: 0 12px 0 42px

  &--results
    overflow: auto
    @include styled-scroll-bar

  &--empty-state
    display: grid
    grid-template-rows: auto 1fr
    grid-row-gap: 12px

  &--empty-state-image
    margin: 0 auto

  &--empty-state-text
    margin: 0 24px
    text-align: center
    line-height: 1.25
