<input
  class="op-quick-add-pane--search"
  [placeholder]="text.placeholder"
  (input)="searchWorkPackages($event.target.value)"
/>

<ng-container
  *ngIf="(isLoading | async) === false; else loadingTemplate"
>
  <ng-container
    *ngIf="(isEmpty | async) === false; else emptyTemplate"
  >
    <div class="op-quick-add-pane--results">
      <ng-container *ngFor="let wp of resultingWorkPackages">
        <wp-single-card
          [workPackage]="wp"
        ></wp-single-card>
    </ng-container></div>
  </ng-container>

  <ng-template #emptyTemplate>
    <div
      class="op-quick-add-pane--empty-state"
    >
      <img [src]="image.empty_state" class="op-quick-add-pane--empty-state-image"/>

      <span
        [innerHTML]="text.empty_state"
        class="op-quick-add-pane--empty-state-text"
      ></span>
    </div>
  </ng-template>
</ng-container>

<ng-template #loadingTemplate>
  <op-content-loader
    class="op-quick-add-pane--loading"
    viewBox="0 0 200 44"
  >
    <svg:rect x="0" y="0" width="50%" height="12" rx="1" />
    <svg:rect x="0" y="16" width="100%" height="12" rx="1" />
    <svg:rect x="0" y="32" width="100%" height="12" rx="1" />
  </op-content-loader>
</ng-template>
