\:host
  background: #F3F3F3
  padding: 8px

.op-quick-add-pane
  &--empty-state
    display: grid
    grid-row-gap: 12px

  &--empty-state-image
    margin: 0 auto

  &--empty-state-text
    margin: 0 24px
    text-align: center
    line-height: 1.25
