<% if @project.module_enabled? :costs_module && @work_package%>
  <%# Only render this partial, if the plugin is enabled for the current project %>
  <style>
    <%# disables core's spent-time as it is not displayed if the user has just the view_own_time_entries permission %>
    .spent-time { display: none }
  </style>

  <% attributes_array = cost_work_packages_attributes(@work_package) %>
  <% (0..(attributes_array.size - 1)).step(2) do |i| %>
    <tr>
      <th>
        <%= attributes_array[i].first %>:
      </th>
      <td>
        <%= attributes_array[i].last %>
      </td>
      <% if i + 1 < attributes_array.size %>
        <th>
          <%= attributes_array[i + 1].first %>:
        </th>
        <td>
          <%= attributes_array[i + 1].last %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
