.widget-box--header
  margin-top: 4px
  border-bottom: none
  padding-bottom: 0
  margin-bottom: 13px

  &.-editable
    margin-top: 0

    .widget-box--header-icon
      line-height: 34px

.widget-box--header-title
  padding-right: 5px
