<%= error_messages_for 'issue_category' %>

<!--[form:issue_category]-->
<p><label for="issue_category_name"><%=_('Name')%></label><br/>
<%= text_field 'issue_category', 'name'  %></p>
<!--[eoform:issue_category]-->

