.tabrow
  display: table
  text-align: left
  list-style: none
  margin: 0
  padding: 0
  line-height: var(--work-package-details--tab-height) - 10px
  height:      var(--work-package-details--tab-height)
  overflow: hidden
  position: relative
  width: 100%
  font-weight: bold
  text-transform: uppercase

  li
    display: table-cell
    box-sizing: content-box
    position: relative
    line-height: 38px
    margin: 0
    padding: 0
    text-align: center
    cursor: pointer



  a
    display: inline-block
    color: #333
    text-decoration: none
    &:hover
      text-decoration: none

  li.tab-icon
    width: 5%
    .icon-context:before
      padding-top: 10px
    &:hover
      border-bottom: 0
  li.selected,
  li:hover
    color: #999
    border-bottom: 2px solid
    a
      color: var(--content-link-color)
    .op-tab-count
      color: var(--content-link-color)
      &:hover
        color: var(--content-link-color)
  li.selected,
  li.selected:hover
    border-bottom-color: var(--content-link-color)
  li:hover
    border-bottom-color: #DDDDDD

  li.-disabled
    cursor: default
    pointer-events: none
    border-bottom-width: 0
    a
      color: var(--tabs-font-color-disabled)

content-tabs
  min-height: 73px
  display: block

.tab-content
  .form--section
    padding: 0
