<p><%= authoring @journal.created_at, @journal.user, :label => :label_updated_time_by %></p>

<%= render :partial => 'diff',
           :locals => { :diff => @diff } %>

<p><%= link_to(l(:button_back), issue_path(@issue)) %></p>

<% html_title "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}" %>
