<%= header_tags %>

<h2>
  <%=h @scenario.name %>
</h2>

<%= form_for :scenario,
            :url  => project_scenario_url(@project, @scenario),
            :html => {:method => 'put'} do |f| %>
  <%= render :partial => 'form',
             :locals => {:f => f, :scenario => @scenario} %>
<% end %>
