<%= header_tags %>

<h2>
  <%= l('timelines.new_scenario') %>
</h2>

<%= form_for :scenario,
            :url  => project_scenarios_url(@project),
            :html => {:method => 'post'} do |f| %>
  <%= render :partial => 'form',
             :locals => {:f => f, :scenario => @scenario} %>
<% end %>
