<div #container
     class="work-package--cards-container -small-font">
  <div class="work-package--card"
       *ngFor="let wp of workPackages; trackBy:trackByHref"
       [attr.data-is-new]="wp.isNew || undefined"
       [attr.data-work-package-id]="wp.id"
       [ngClass]="{ '-draggable': isDraggable }"
       (dblclick)="handleDblClick(wp)">

    <wp-edit-field-group [workPackage]="wp" [inEditMode]="wp.isNew">
      <accessible-by-keyboard *ngIf="wp.isNew"
                              class="work-package-card--inline-cancel-wrapper"
                              linkClass="work-package-card--inline-cancel-button icon icon-close"
                              (execute)="removeNewCard(wp)">
      </accessible-by-keyboard>

      <wp-edit-field [workPackageId]="wp.id"
                     fieldName="subject"
                     class="work-package--card--subject -bold">
      </wp-edit-field>

      <div class="work-package--card--author -italic"
           [hidden]="wp.isNew"
           [textContent]="text.wpAddedBy(wp)">
      </div>

      <div class="work-package--card--additional-info-container">
        <div *ngFor="let column of availableColumns"
             class="work-package--card--additional-info">
            <span [textContent]="column.name + ':'"
                  class="work-package--card--additional-info-attribute"></span>
            <wp-edit-field [workPackageId]="wp.id"
                           [fieldName]="column.id">
            </wp-edit-field>
        </div>
      </div>
    </wp-edit-field-group>
    <user-avatar *ngIf="hasAssignee(wp)"
                 [attr.data-user]="wp.assignee.$href"
                 data-class-list="avatar-mini"
                 class="work-package--card--assignee">
    </user-avatar>
  </div>
</div>
<div class="wp-inline-create-button" *ngIf="!activeInlineCreateWp && canAdd">
  <accessible-by-keyboard linkClass="wp-inline-create--add-link -no-text-select"
                          (execute)="addNewCard()">
    <op-icon icon-classes="icon3 icon-add"></op-icon>
    {{ text.addNewCard }}
  </accessible-by-keyboard>
</div>
