<div class="wp-edit-field inplace-edit"
     ng-if="vm.workPackage"
     ng-class="[
      vm.errorenous && '-error' || '',
      vm.isEditable && '-editable' || '',
      vm.active && '-active' || '',
      vm.fieldName,
      vm.wrapperClasses === undefined ? '-small' : vm.wrapperClasses
     ]">

  <form ng-show="vm.active"
        ng-click="vm.haltUserFormClick($event)"
        ng-dblclick="vm.haltUserFormClick($event)"
        name="vm.fieldForm"
        ng-submit="vm.submit()">

    <label for="{{vm.htmlId}}"
           class="hidden-for-sighted">
      {{::vm.fieldLabel}}
    </label>

    <ng-include src="vm.field.template"></ng-include>

  </form>

  <wp-display-attr attribute="vm.fieldName"
                   schema="vm.workPackage.schema"
                   work-package="vm.workPackage"
                   placeholder="vm.displayPlaceholder"
                   label="vm.fieldLabel"
                   class="-hidden-overflow inplace-edit--read-value"
                   ng-hide="vm.active"
                   ng-class="vm.displayClasses">
  </wp-display-attr>
</div>
