<div class='contextual'></div>
<h2>
  Pdf Export Test
</h2>
<% @configs.each do |c| %>
  <%= link_to c.name, "/projects/#{@project.id}/taskboard_cards/#{c.id}.pdf" %>
  <%= link_to "(edit)", edit_pdf_export_project_taskboard_card_configuration_path(@project.id, c.id) %>
  <br>
<% end %>
<br>
<%= link_to "Create", new_pdf_export_project_taskboard_card_configuration_path(@project.id) %>