<spot-drop-modal
  [open]="opened"
  alignment="bottom-right"
  (closed)="opened = false"
>
  <button
    slot="trigger"
    type="button"
    class="button"
    (click)="toggleOpen()"
  >Include projects</button>

  <ng-container slot="body">
    <form
      (submit)="onSubmit"
      class="spot-body"
    >
      <spot-text-field
        placeholder="Search project..."
        [(ngModel)]="query"
        [ngModelOptions]="{ standalone: true }"
        (input)="searchProjects()"
      >
        <span
          slot="before"
          class="op-icon icon-search"
        ></span>
      </spot-text-field>

      <ul class="spot-list">
        <li
          class="spot-list--item"
          *ngFor="let project of (projects$ | async)"
        >
          <label class="spot-list--item-action">
            <spot-checkbox></spot-checkbox>
            <div class="spot-list--item-title">{{ project.name }}</div>
          </label>
          <ul
            *ngIf="project.children.length"
            class="spot-list"
          >
            <li
              class="spot-list--item"
              *ngFor="let project of (project.children | async)"
            >
              <label class="spot-list--item-action">
                <spot-checkbox></spot-checkbox>
                <div class="spot-list--item-title">{{ project.name }}</div>
              </label>
            </li>
          </ul>
        </li>
      </ul>

      <div class="spot-action-bar">
        <div class="spot-action-bar--left">
          <label>
            <spot-checkbox
              [(ngModel)]="includeSubProjects"
              [ngModelOptions]="{ standalone: true }"
            ></spot-checkbox>
            <div class="spot-list--item-title">Include all sub-projects</div>
          </label>
        </div>
        <div class="spot-action-bar--right">
          <button
            class="spot-button spot-button_outlined spot-button_primary"
            type="button"
            (click)="clearSelection()"
          >
            Clear selection
          </button>
          <button class="spot-button spot-button_primary">
            Apply
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</spot-drop-modal>
