<li
  class="spot-list--item"
  *ngFor="let project of projects; trackBy:trackByProject"
>
  <label class="spot-list--item-action op-project-list--item-action">
    <spot-checkbox
      [checked]="isChecked(project.href)"
      (change)="changeSelected(project.href)"
      [disabled]="project.id === currentProjectID"
    ></spot-checkbox>
    <div class="spot-list--item-title">{{ project.name }}</div>
    <button
      *ngIf="project.children.length"
      class="op-project-list--child-toggle"
      type="button"
      (click)="selectRecursively(project.children)"
    >All</button>
  </label>

  <ul
    *ngIf="project.children.length"
    op-project-list
    [projects]="project.children"
    [(ngModel)]="selected"
  ></ul>
</li>
