<spot-drop-modal
  [open]="opened"
  alignment="bottom-right"
  (closed)="opened = false"
>
  <button
    slot="trigger"
    type="button"
    class="button"
    (click)="toggleOpen()"
  >Include projects</button>

  <ng-container slot="body">
    <div class="spot-drop-modal--header">
      <h1>Projects</h1>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit"
      class="spot-body"
    >
      <spot-text-field
        placeholder="Search project..."
        formControlName="query"
      >
        <span
          slot="before"
          class="op-icon icon-search"
        ></span>
      </spot-text-field>

      <ul
        op-project-list
        [projects]="projects$ | async"
        formControlName="selectedProjects"
      ></ul>

      <div class="spot-action-bar">
        <div class="spot-action-bar--left"></div>
        <div class="spot-action-bar--right">
          <button
            class="spot-button spot-button_outlined spot-button_main"
            type="button"
            (click)="clearSelection()"
          >
            Clear selection
          </button>
          <button class="spot-button spot-button_main">
            Apply
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</spot-drop-modal>
