<spot-drop-modal
  [open]="opened"
  alignment="bottom-right"
  (closed)="opened = false"
>
  <button
    slot="trigger"
    type="button"
    class="button"
    (click)="toggleOpen()"
  >
    Include projects
    <span class="badge -secondary">{{ numberOfProjectsInFilter$ | async }}</span>
  </button>

  <ng-container slot="body">
    <div class="op-project-select--header">
      <h1 class="op-project-select--title">Projects</h1>
      <spot-toggle
        [options]="displayModeOptions"
        [(ngModel)]="displayMode"
      ></spot-toggle>
    </div>
    <form
      (submit)="onSubmit($event)"
      class="spot-body"
    >
      <spot-text-field
        placeholder="Search project..."
        [(ngModel)]="query"
        [ngModelOptions]="{standalone: true}"
      >
        <span
          slot="before"
          class="op-icon icon-search"
        ></span>
      </spot-text-field>

      <ul
        op-project-list
        [projects]="projects$ | async"
        [selected]="selectedProjects"
        (update)="selectedProjects = $event"
      ></ul>

      <div class="spot-action-bar">
        <div class="spot-action-bar--left"></div>
        <div class="spot-action-bar--right">
          <button
            class="spot-button spot-button_outlined spot-button_main"
            type="button"
            (click)="clearSelection()"
          >
            Clear selection
          </button>
          <button class="spot-button spot-button_main">
            Apply
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</spot-drop-modal>
