<% filter_values = filter.values || [] %>

<div class="advanced-filters--filter-value <%= value_visibility %> <%= filter_values.size > 1 ? 'multi-value' : '' %>">
  <%= render partial: 'projects/filters/list/select', locals: { filter: filter, selected_values: filter_values.first, multi_value: false } %>
  <%= render partial: 'projects/filters/list/select', locals: { filter: filter, selected_values: filter_values, multi_value: true } %>
</div>
