---
http_interactions:
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default&client_id=4262df2b-77bb-49c2-a5df-28355da676d2&client_secret=Vwk8Q%7EJTuPh.pAjvPiWBQBdTFMDK%7EAIwxbj9_axB___
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"AADSTS7000215: Invalid
        client secret provided. Ensure the secret being sent in the request is the
        client secret value, not the client secret ID, for a secret added to app ''4262df2b-77bb-49c2-a5df-28355da676d2''.
        Trace ID: 14a966d5-3442-4869-9db3-e6e8629c4200 Correlation ID: e856fa17-a5dd-45d3-baf2-ec1b74695dc5
        Timestamp: 2024-02-29 12:37:10Z","error_codes":[7000215],"timestamp":"2024-02-29
        12:37:10Z","trace_id":"14a966d5-3442-4869-9db3-e6e8629c4200","correlation_id":"e856fa17-a5dd-45d3-baf2-ec1b74695dc5","error_uri":"https://login.microsoftonline.com/error?code=7000215"}'
  recorded_at: Thu, 29 Feb 2024 12:37:10 GMT
recorded_with: VCR 6.2.0
