---
http_interactions:
- request:
    method: get
    uri: https://graph.microsoft.com/v1.0/drives/b!dmVLG22QlE2PSW0AqVB7UOhZ8n7tjkVGkgqLNnuw2OBb-brzKzZAR4DYT1k9KPXs/root/children?$select=id,name,size,webUrl,lastModifiedBy,createdBy,fileSystemInfo,file,folder,parentReference
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ms-Ags-Diagnostic:
      - '{"ServerInfo":{"DataCenter":"Germany West Central","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"FR1PEPF00000BA2"}}'
      Www-Authenticate:
      - Bearer realm="", authorization_uri="https://login.microsoftonline.com/common/oauth2/authorize",
        client_id="00000003-0000-0000-c000-000000000000"
    body:
      encoding: UTF-8
      string: '{"error":{"code":"InvalidAuthenticationToken","message":"IDX14100:
        JWT is not well formed, there are no dots (.).\nThe token needs to be in JWS
        or JWE Compact Serialization Format. (JWS): ''EncodedHeader.EndcodedPayload.EncodedSignature''.
        (JWE): ''EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphertext.EncodedAuthenticationTag''.","innerError":{"date":"2024-02-29T12:38:10","request-id":"d5185685-fc2f-4279-ae6e-6a63258b67ed","client-request-id":"d5185685-fc2f-4279-ae6e-6a63258b67ed"}}}'
  recorded_at: Thu, 29 Feb 2024 12:38:10 GMT
- request:
    method: post
    uri: https://login.microsoftonline.com/4d44bf36-9b56-45c0-8807-bbf386dd047f/oauth2/v2.0/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&scope=offline_access+files.readwrite.all+user.read+sites.readwrite.all&refresh_token=0.Aa8AvB1v4679fkK2Gw2W3fuBpFS7pbiyXw5OlCedJNusMv-sAHQ.AgABAAEAAAAmoFfGtYxvRrNriQdPKIZ-AgDs_wUA9P-Mp5TT3fmzX4h_Z_8H-KOxCYkum88ASW9CO1tuPwkkup84TCH74-BLVZNO9ZTSIDsuVhonDreRsFENTve6MWVBF5khUHFBXlH3XLGlkYC3gukCFk9JKNo24Pwn7v4sm-vYzSL_aY-9jAQYHdRJxMbizrQsy3RcqoAYgkgfLzHZ2mrXe63awdSubmHX1hkKk3tCy1FGx5UMC1z2gV6Un7nQMe8aMP_oHTZtYagj10Hb3J2dwRM6dV4HnWeMpiQ7hZMPd0vVFmpFRN_F21LzDTtMHXqxWc5ySYfRehA4g9biXDqDwpGE1oTQ9oNOeMSkUDjj7NtkfDjPbePsf1dlcHfPrRaO1jAVMu3_RuNjXl3gWRle8HjsZoDQ2upOZyB7--rWhJUvVW_rrkJVaKoNz580kdHzi3W5qvGwZEIsNXB4xZJNQqVKpGUciQNtSxb98-n2FySqudn3Vv-NnFIejSvNgyCFmo1OV_F9IxBPipP2Xh64DXm873u49AovkfKNokrCmrCaq-xITjXTyPWgpPcwYFBLiAUQ-Lpb3876y4GyeEs7Qb-q1uAqlfFWsCsRnGsAA3Wp_MHxQxOm_-dS1FnY3zhnZ0DENIKDPcADFEQZPSCUtHaR5E-Dabt8sQJ0JSHbMFOKQuEEa0zFhllwOOymnCgNcGPS9Yf3nLz6z6U_vB3auh30GWTZmdRJV4R4EX3Wcn0p7W7npAIanEo0-AxAtHwF-jGkq0YjHGZhH46qt3i_4W5MMP4IIBVwTdkSluyPijJr3MeEUd_lYjdnYgHPP-HrEzEh7DU
    headers:
      Authorization:
      - Basic <BASIC_AUTH>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"AADSTS700016: Application
        with identifier ''b8a5bb54-5fb2-4e0e-9427-9d24dbac32ff'' was not found in
        the directory ''OpenProject GmbH''. This can happen if the application has
        not been installed by the administrator of the tenant or consented to by any
        user in the tenant. You may have sent your authentication request to the wrong
        tenant. Trace ID: a0b681be-6bf3-4ed7-9ea8-dbf0cce04700 Correlation ID: 78c735f4-2c64-4957-85bf-f0259b38587f
        Timestamp: 2024-02-29 12:38:10Z","error_codes":[700016],"timestamp":"2024-02-29
        12:38:10Z","trace_id":"a0b681be-6bf3-4ed7-9ea8-dbf0cce04700","correlation_id":"78c735f4-2c64-4957-85bf-f0259b38587f","error_uri":"https://login.microsoftonline.com/error?code=700016"}'
  recorded_at: Thu, 29 Feb 2024 12:38:10 GMT
recorded_with: VCR 6.2.0
