.fc-view-container
  .fc-head
    display: table-footer-group

  .fc-event
    border-radius: 0
    margin-right: 8px
    margin-left: 8px

  .fc-head-container
    border-color: white

  .fc-widget-content
    border-left-color: white

    .fc-day
      border-left: 0
      border-right: 0

  .fc-timeGrid-view .fc-day-grid .fc-row
    min-height: 1em

  .fc-timeGrid-view .fc-day-grid .fc-row .fc-content-skeleton
    padding-bottom: 0

  .fc-time-grid .fc-slats .fc-minor td
    border-top: 0

  .te-calendar--day-sum
    border: none
    background-color: initial
    color: #000000
    text-align: center
    font-size: 1em
    font-weight: bold
