<ng-container *ngIf="activeForWorkPackage">
  <button
    class="button button_flex"
    type="button"
    data-qa-selector="timer-active"
    (click)="stop()"
  >
    <span class="spot-icon spot-icon_stop spot-icon_1_25"></span>
    <span class="button--text">
    {{ elapsed$ | async }}
  </span>
  </button>
</ng-container>
<button
  class="button"
  type="button"
  data-qa-selector="timer-inactive"
  *ngIf="!activeForWorkPackage"
  (click)="start()"
>
  <span class="spot-icon spot-icon_play"></span>
</button>
