<div>
  <h4 [textContent]="text.label_group_by"></h4>
  <form>
    <div class="form--field -full-width">
      <label
          for="selected_grouping"
          [textContent]="text.label_group_by"
          class="form--label hidden-for-sighted">
      </label>
      <div class="form--field-container">
        <div class="form--select-container">
          <select
              (change)="updateGroup($event.target.value)"
              id="selected_grouping"
              name="selected_grouping"
              class="form--select">
            <option [textContent]="text.placeholder"
                    [selected]="currentGroup == null"
                    [value]=""></option>
            <option *ngFor="let group of availableGroups"
                    [textContent]="group.name"
                    [selected]="currentGroup && currentGroup.href === group.href"
                    [value]="group.href"></option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
