<div>
  <form>
    <div>
      <div class="form--field -full-width">
        <div class="form--field-container">
          <label class="option-label">
            <input type="checkbox"
                   (change)="timelineVisible = !timelineVisible"
                   [checked]="timelineVisible"
                   name="display_timelines_switch">
            {{ text.display_timelines }}
          </label>
        </div>
      </div>
      <p [textContent]="text.display_timelines_hint"></p>
    </div>
    <hr/>
    <fieldset *ngIf="timelineVisible"
              class="form--fieldset">
      <legend class="form--fieldset-legend"
              [textContent]="text.labels.title">
      </legend>
      <div class="form--row" *ngFor="let key of availableLabels">
        <div class="form--field">
          <label
            for="modal-timelines-label-{{key}}"
            class="form--label">
            {{ text.labels[key] }}
          </label>
          <div class="form--field-container">
            <div class="form--select-container">
              <select
                id="modal-timelines-label-{{key}}"
                (change)="updateLabels(key, $event.target.value)"
                class="form--select">
                <option *ngFor="let column of availableAttributes"
                        [textContent]="column.name"
                        [value]="column.id"
                        [selected]="labels[key] === column.id"></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
