<spot-drop-modal
  [open]="isOpen"
  (closed)="close()"
>
  <!--input
    #dateInput

    class="spot-input"

    [id]="id"
    [name]="name"
    [value]="initialDate || ''"
    [size]="size"
    [required]="required"
    [disabled]="disabled"

    (click)="open()"
    (focus)="open()"
    (keydown.enter)="enterPressed.emit(dateValue)"
    (keydown.escape)="close()"
    (input)="onInputChange()"

    type="text"
    slot="trigger"
  /-->
  <button
    slot="trigger"
    type="button"
    [disabled]="disabled"
    (click)="open()"
  >{{ value || 'Select a date' }}</button>

  <div
    slot="body"
  >body</div>
</spot-drop-modal>
