<div id="noconfig">
You have not configured Backlogs yet. Please go to Administration > Plugins, then click on the Configure link for this plugin. Once you have set the fields, come back to this page to start using the tool.
</div>