<div id="detail-panel-watchers">
  <div class="notification-box -error" ng-show="watchers.error">
    <div class="notification-box--content">
      <p>{{ ::watchers.text.loadingError }}</p>
    </div>
  </div>
  <div ng-show="watchers.loading">
    <p>{{ ::watchers.text.loading }}</p>
  </div>
  <div ng-hide="watchers.loading || watchers.error">
    <div class="work-package--watchers work-package--details--long-field">
      <work-package-watcher watcher="watcher" ng-repeat="watcher in watchers.watching track by watcher.id"></work-package-watcher>
    </div>
    <work-package-watchers-lookup watchers="watchers.available" ng-show="watchers.available.length"></work-package-watchers-lookup>
  </div>
</div>
