<button type="submit" class="button -highlight">
  <i class="button--icon icon-checkmark"></i>
    <span class="button--text">
      <%= is_creation_form ? l(:button_create) : l(:button_save) %>
    </span>
</button>
