<p class="icon icon-example-works"><%= l(:text_say_goodbye) %></p>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "example.css", :plugin => "sample_plugin", :media => "screen" %>
<% end %>
