<div class="detail-panel-content" >
  <div class="detail-activity">
    <ul class="work-package-details-activities-list">
      <li ng-repeat="activity in activities"
          class="work-package-details-activities-activity"
          ng-init="currentDate = (activity.props.createdAt|date:'longDate');
                   currentNote = 'note-' + ($index+1)">
        <h3 class="activity-date"
            ng-if="currentDate !== (activities[$index-1].props.createdAt | date:'longDate')"
            ng-bind="currentDate"/>
        <div class="work-package-details-activities-activity-contents">
          <div class="comments-number"><a ng-href="#{{currentNote}}" ng-bind="'#' + ($index+1)"></a>
          <!-- Temporarily deactivated comment / edit actions
          <div class="comments-icons">
            <icon-wrapper icon-name="quote" icon-title="{{I18n.t('js.button_quote')}}"></icon-wrapper>
            <icon-wrapper icon-name="edit" icon-title="{{I18n.t('js.button_edit')}}"></icon-wrapper>
          </div>
          -->
          </div>
          <img class="avatar" src="images/avatar_logout.png" />
          <span class="user"><a href name="{{currentNote}}" ng-bind="activity.props.userName"></a></span>
          <span class="date">commented on <span ng-bind="activity.props.createdAt | date:'short'"/></span>
          <span class="comment">
            <ul class="work-package-details-activities-messages">
              <li ng-repeat="message in activity.props.messages track by $index">
                <span class="message" ng-bind="message"/>
              </li>
            </ul>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
