<div class="detail-panel-description">

  <h3>Description</h3>
  <div class="detail-panel-description-content">
    {{ workPackage.props.description }}
  </div>
</div>

<div class="panel-toggler" ng-click="toggleStates.hideFullDescription = !toggleStates.hideFullDescription">
  <fieldset>
    <legend align="center">
      <span ng-if="!toggleStates.hideFullDescription">
        <i class="icon-arrow-right5-2"></i>
        Hide full description
      </span>
      <span ng-if="toggleStates.hideFullDescription">
        <i class="icon-arrow-right5-3"></i>
        Show full description
      </span>
    </legend>
  </fieldset>
</div>

<div class="detail-panel-attributes" slide-toggle collapsed="toggleStates.hideFullDescription">
  <ul>
    <li><label>Status</label>{{ workPackage.props.status }}</li>
    <li><label>Priortiy</label>{{ workPackage.props.priority }}</li>
    <li><label>Date</label>{{ workPackage.props.startDate }} - {{ workPackage.props.dueDate }}</li>
    <li><label>Responsible</label><img class="avatar" ng-src="{{ workPackage.props.responsibleAvatar }}" /><span  class="user"><a href="#">{{ workPackage.props.responsibleName }}</a></span>
    <span class="role">{{ workPackage.props.responsibleRole }}</span>
    </li>
    <li><label>Assignee</label><img class="avatar" ng-src="{{ workPackage.props.assigneeAvatar }}" /><span   class="user"><a href="#">{{ workPackage.props.assigneeName }}</a></span>
      <span class="role">{{ workPackage.props.assigneeRole }}</span>
    </li>
    <li><label>% Done</label>{{ workPackage.props.percentageDone }} %</li>
  </ul>
</div>

<div class="panel-toggler" ng-click="toggleStates.hideAllAttributes = !toggleStates.hideAllAttributes">
  <fieldset>
    <legend align="center">
      <span ng-if="!toggleStates.hideAllAttributes">
        <i class="icon-arrow-right5-2"></i>
        Hide all attributes
      </span>
      <span ng-if="toggleStates.hideAllAttributes">
        <i class="icon-arrow-right5-3"></i>
        Show all attributes
      </span>
    </legend>
  </fieldset>
</div>

<div class="detail-panel-latest-activity" slide-toggle collapsed="toggleStates.hideAllAttributes">
  <h3>Latest activity</h3>
  <ul>
    <li ng-repeat="activity in latestActitivies"
        class="work-package-details-activities-activity"
        ng-init="currentNote = 'note-' + ($index+1)">
      <div class="work-package-details-activities-activity-contents">
        <div class="comments-number"><a ng-href="#{{currentNote}}" ng-bind="'#' + ($index+1)"></a>
        </div>
        <img class="avatar" ng-src="{{ activity.props.userAvatar }}" />
        <span class="user"><a href name="{{currentNote}}" ng-bind="activity.props.userName"></a></span>
        <span class="date">commented on <span ng-bind="activity.props.createdAt | date:'short'"/></span>
        <span class="comment">
          <ul class="work-package-details-activities-messages">
            <li ng-repeat="message in activity.props.messages track by $index">
              <span class="message" ng-bind="message"/>
            </li>
          </ul>
        </span>
      </div>
    </li>
  </ul>
</div>
