<ng-container [formGroup]="formGroup.control">
  <div class="op-form--section-header">
    <h5 [textContent]="text.title"></h5>
  </div>

  <op-checkbox-field
    *ngFor="let workday of localeWorkdays; let i = index"
    formArrayName="workdays"
    [control]="controlForLocalWorkday(workday)"
  >
    <input
      slot="input"
      type="checkbox"
      [formControlName]="indexOfLocalWorkday(workday)"
    />
    <p slot="description"
       [textContent]="workday">
    </p>
  </op-checkbox-field>

  <op-pause-reminders></op-pause-reminders>
</ng-container>
