.new-board--section
  min-width: 850px
  padding: 5px

.menu-block-item
  padding-top: 20px
  position: relative
  right: 40
  color: var(--primary-color-dark)

.new-board--section .menu-blocks--container .menu-block
  justify-items: normal;
  padding: 5px

.new-board--section .menu-blocks--container
  grid-template: repeat(auto-fit, 220px)/repeat(auto-fit, 400px);