<%= error_messages_for 'tracker' %>
<div class="box">
<!--[form:tracker]-->
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.check_box :is_in_chlog %></p>
<p><%= f.check_box :is_in_roadmap %></p>
<!--[eoform:tracker]-->
</div>
