<% if footer = registration_footer %>
  <div class="spot-modal--footer spot-action-bar">
    <div class="spot-action-bar--right">
      <span class="registration-footer"><%= footer %></span>
    </div>
  </div>
<% end %>
