<div class="spot-action-bar">
  <div class="spot-action-bar--right">
    <% if footer = registration_footer %>
      <span><%= footer %></span>
    <% end %>
    <%= styled_button_tag t(:button_create), class: 'button_no-margin -highlight -with-icon icon-checkmark spot-action-bar--action' %>
  </div>
</div>
