<section class="form--section">
  <p>
    <%= format_text user_consent_instructions(consenting_user), { target: '_blank' } %>
  </p>

  <label class="form--label-with-check-box -required -no-ellipsis">
    <div class="form--check-box-container">
      <input type="checkbox" name="consent_check" class="form--check-box" required="required" />
    </div>

    <p><%= consent_checkbox_label %></p>
  </label>
</section>
