<spot-drop-modal
  [opened]="opened"
  alignment="bottom-right"
  (closed)="opened = false"
  class="op-show-changes-modal"
>
  <button
    slot="trigger"
    type="button"
    class="button"
    (click)="toggleOpen()"
    [title]="text.toggle_title"
    data-qa-selector="show-changes-button"
  >
  <span class="spot-icon spot-icon_baseline"></span>
    {{ text.toggle_title }}
  
    <span *ngIf="!opened" class="spot-icon spot-icon_pulldown"></span>
    <span *ngIf="opened" class="spot-icon spot-icon_pulldown-up"></span>
  </button>

  <ng-container slot="body">
    <div class="op-show-changes-modal--header">
      <span class="op-show-changes-modal--description spot-body-small">{{ text.header_description }}</span>
    </div>
    <form
      (submit)="onSubmit($event)"
      class="spot-container op-show-changes-modal--body"
    >
      <spot-form-field
      [label]="text.show_changes_since"> 

      <div slot="input">
        <select class="op-show-changes-modal--filter"
        (change)="filterChange($event.target.value)"
          >
          <option
            *ngFor="let availableValue of showChangesAvailableValues"
            [value]="availableValue.value">
            {{availableValue.title}}
          </option>
        </select>
        <span class="op-show-changes-modal--filter-description"
        >  {{ dropDownDescription }} </span>
      </div>
      </spot-form-field>


      <spot-form-field
      [label]="text.time"
      *ngIf="filterSelected"
      class="op-show-changes-modal--time"> 

       <input
          slot="input"
          (change)="timeChange($event.target.value)"
          type="time"
          class="op-show-changes-modal--time-input"/>

          <div
            slot="input"
            class="op-show-changes-modal--time-help spot-body-small"
          >
            <span class="">{{text.timeZone}}</span>

            <spot-tooltip
            class="op-show-changes-modal--time-tooltip"
            [alignment]="tooltipPosition"
            [disabled]="false"
            [light]="true">
        
              <span class="spot-icon spot-icon_help1" slot="trigger"></span>
            
              <span slot="body" class="spot-body-small op-show-changes-modal--time-tooltip-body">{{ text.help_description }}</span>
       
            </spot-tooltip>
          </div>

      </spot-form-field>

      <div class="spot-action-bar">
  
        <div class="spot-action-bar--right">
          <button
            class="button spot-action-bar--action"
            type="button"
            (click)="clearSelection()"
          >
            {{ text.clear }}
          </button>
          <button
            [disabled] ="!filterSelected"
            class="button -highlight spot-action-bar--action"
          >
            {{ text.apply }}
          </button>
        </div>
      </div>
    </form>
  </ng-container>

</spot-drop-modal>
