<p>
  <strong>Default</strong><br/>
  <%= render(OpTurbo::FrameComponent.new(model)) %>
</p>
<p>
  <strong>Context</strong><br/>
  <%= render(OpTurbo::FrameComponent.new(model, context: context)) %>
</p>
