<div class="attributes-key-value--key"><%= key %></div>
<div class="attributes-key-value--value-container">
  <div class="attributes-key-value--value -text">
    <span><%= value %></span>
  </div>
</div>
