<div class="attributes-key-value--key"><%= attribute_key %></div>
<div class="attributes-key-value--value-container">
  <div class="attributes-key-value--value -text">
    <span><%= attribute_value %></span>
  </div>
</div>
