<div class="attributes-group">
  <%= group_header %>

  <div class="attributes-key-value">
    <% attributes_key_value.each do |attribute_key_value| %>
      <%= attribute_key_value %>
    <% end %>
  </div>
</div>
