:host
  max-width: 100%
  width: 100%

.op-table
  margin-bottom: 1rem

  select
    padding-right: 1rem

.op-reminder-settings-table-date-alerts
  &--time
    height: 32px
    width: auto
    min-width: 100%
    padding: 4px 22px 4px 12px
    margin: auto

.op-table--cell--date-alerts
  border: 1px solid #cccccc
  text-align: center
  padding: 12px 16px
