<table
  class="op-table"
  *ngIf="showTable$ | async"
>
  <thead>
    <tr>
      <th class="op-table--cell--cell_heading"></th>
      <ng-container
        *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue"
      >
        <th class="op-table--cell op-table--cell_heading">{{ item.key }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.mentioned_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td><input type="checkbox" disabled checked /></td>
      </ng-container>
    </tr>
  </tbody>
</table>

<op-notification-setting-inline-create
  *ngIf="userId"
  [userId]="userId"
  (selected)="addRow($event)"
  data-qa-selector="notification-setting-inline-create"
></op-notification-setting-inline-create>