<table
  class="op-table"
  *ngIf="showTable$ | async"
>
  <thead>
    <tr>
      <th class="op-table--cell op-table--cell_heading"></th>
      <ng-container
        *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue"
      >
        <th class="op-table--cell op-table--cell_heading">{{ item.key }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.mentioned_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell"><input type="checkbox" disabled checked /></td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.involved_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].involved"
            (change)="update({ involved: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.watched_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell"><input type="checkbox" disabled checked /></td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.work_package_created_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].workPackageCreated"
            (change)="update({ workPackageCreated: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.work_package_processed_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].workPackageProcessed"
            (change)="update({ workPackageProcessed: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.work_package_scheduled_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].workPackageScheduled"
            (change)="update({ workPackageScheduled: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.work_package_prioritized_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].workPackagePrioritized"
            (change)="update({ workPackagePrioritized: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading">{{ text.work_package_commented_header }}</th>
      <ng-container *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue">
        <td class="op-table--cell" *ngIf="item.value[0]">
          <input
            type="checkbox"
            [checked]="item.value[0].workPackageCommented"
            (change)="update({ workPackageCommented: $event.target.checked }, item.value[0]._links.project.href)"
          />
        </td>
      </ng-container>
    </tr>
    <tr>
      <th class="op-table--cell op-table--cell_soft-heading"></th>
      <ng-container
        *ngFor="let item of (groupedNotificationSettings$ | async) | keyvalue"
      >
        <td class="op-table--cell" *ngIf="item.value[0]">
          <button
            type="button"
            class="op-link"
            (click)="removeProjectSettings(item.value[0]._links.project.href)"
          >Remove Project Settings</button>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<op-notification-setting-inline-create
  *ngIf="userId"
  [userId]="userId"
  (selected)="addRow($event)"
  data-qa-selector="notification-setting-inline-create"
></op-notification-setting-inline-create>