<label for="work-packages-list-view-button"
       ng-attr-accesskey="{{ isActive() ? undefined : '8' }}"
       class="hidden-for-sighted">

  {{ text.label }}
</label>
<button id="work-packages-list-view-button"
        ng-disabled="isDisabled()"
        class="button"
        title="{{ text.label }}"
        ng-click="openListView()"
        ng-class="{ '-active': isActive() }">
  <i class="icon-view-list button--icon"></i>
  <span class="hidden-for-sighted">{{ text.label }}</span>
</button>
