<h2><%=l(:label_news_new)%></h2>

<% labelled_tabular_form_for :news, @news, :url => { :action => "add_news" } do |f| %>
<%= render :partial => 'news/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>