<h2><%=l(:label_version_new)%></h2>

<%= start_form_tag :action => 'add_version', :id => @project  %>
  <%= render :partial => 'versions/form' %>
  <%= submit_tag l(:button_create) %>
<%= end_form_tag %>

