<h2><%=l(:label_confirmation)%></h2>
<div class="box">
<center>
<p><strong><%= @project.name %></strong><br />
<%=l(:text_project_destroy_confirmation)%></p>

<p>
    <%= start_form_tag({:controller => 'projects', :action => 'destroy', :id => @project}) %>
    <%= hidden_field_tag "confirm", 1 %>
    <%= submit_tag l(:button_delete) %>
    <%= end_form_tag %>
</p>
</center>
</div>