<h2><%=_('Project members')%></h2>

<% members = @members.group_by {|m| m.role } %>
<% members.each do |role, member| %>
<h3><%= role.name %></h3>
<ul>
<% member.each do |m| %>
<li><%= link_to m.user.display_name, :controller => 'account', :action => 'show', :id => m.user %> (<%= format_date m.created_on %>)</li>
<% end %>
</ul>
<% end %>
