<div data-qa="op-form--container"
     *ngIf="form && isStandaloneForm">
  <form [formGroup]="form"
        (submit)="submitForm(form)"
        class="op-form">
    <formly-form [form]="form"
                 [model]="innerModel"
                 [fields]="fields"
                 (modelChange)="onModelChange($event)"
                 class="op-fieldset">
    </formly-form>

    <div class="op-form--submit"
         *ngIf="handleSubmit">
      <button type="submit"
              class="button -highlight"
              [disabled]="inFlight">
        {{text.save}}
      </button>
    </div>
  </form>
</div>

<!-- When used as a FormControl, the Dynamic Form doesn't need a wrapping form -->
<!-- TODO: Issue: sharing the form as an ng-template between this two HTML blocks doesn't work because
     the nested OpFormFieldComponent doesn't find the injected FormGroupDirective. --->
<div data-qa="op-form--container"
     *ngIf="form && !isStandaloneForm">
  <formly-form [form]="form"
               [model]="innerModel"
               [fields]="fields"
               (modelChange)="onModelChange($event)"
               class="op-fieldset">
  </formly-form>
</div>




