<div data-qa="op-form--container"
     *ngIf="form && isStandaloneForm">
  <form [formGroup]="form"
        (submit)="submitForm(form)"
        class="op-form">
    <formly-form [form]="form"
                 [model]="model"
                 [fields]="fields"
                 (modelChange)="onModelChange($event)"
                 class="op-fieldset">
      <ng-template formlyTemplate let-field>
        <op-form-field *ngFor="let field of fields"
                       [label]="field.templateOptions?.label"
                       [noWrapLabel]="field.templateOptions?.noWrapLabel"
                       [required]="field.templateOptions?.required">
          <formly-field [field]="field" slot=input></formly-field>

          <formly-validation-message
            class="op-form-field--error"
            [field]="field"
            slot="errors"
          ></formly-validation-message>
        </op-form-field>
      </ng-template>
    </formly-form>

    <div class="op-form--submit">
      <button type="submit"
              class="button -highlight"
              *ngIf="handleSubmit"
              [disabled]="inFlight">
        {{text.save}}
      </button>
    </div>
  </form>
</div>

<!-- When used as a FormControl, the Dynamic Form doesn't need a wrapping form -->
<!-- TODO: Issue: sharing the form as an ng-template between this two HTML blocks doesn't work because
     the nested OpFormFieldComponent don't find the injected FormGroupDirective. --->
<div data-qa="op-form--container"
     *ngIf="form && !isStandaloneForm">
  <formly-form [form]="form"
               [model]="model"
               [fields]="fields"
               (modelChange)="onModelChange($event)"
               class="op-fieldset">
    <ng-template formlyTemplate let-field>
      <op-form-field *ngFor="let field of fields"
                     [label]="field.templateOptions?.label"
                     [noWrapLabel]="field.templateOptions?.noWrapLabel"
                     [required]="field.templateOptions?.required">
        <formly-field [field]="field" slot=input></formly-field>

        <formly-validation-message [field]="field" slot=errors></formly-validation-message>
      </op-form-field>
    </ng-template>
  </formly-form>
</div>




