<opce-collapsible-section-augment initially-expanded="true"
                             section-title="My section title">

</opce-collapsible-section-augment>
<div class="opce-collapsible-section-augment--body" hidden>
  <p><strong>Initially expanded</strong></p>
</div>

<opce-collapsible-section-augment section-title="My closed section title">
</opce-collapsible-section-augment>
<div class="opce-collapsible-section-augment--body" hidden>
  <p><strong>Initially closed</strong></p>
</div>
