<div class="advanced-filters--filter-value <%= value_visibility %>">
  <%= angular_component_tag autocomplete_options[:component],
                            inputs: {
                              inputName: 'value',
                              multiple: true,
                              multipleAsSeparateInputs: false,
                              inputValue: filter.values,
                              hiddenFieldAction: "change->filter--filters-form#autocompleteSendForm"
                              # Set on the template as there is a timing issue where the
                              # angular component is not yet ready in the DOM and hence
                              # the action can't be registered on the input field at the time
                              # of the #connect lifecycle hook of the filter--filters-form
                              # Stimulus controller.
                            }.merge(autocomplete_options.except(:component)),
                            class: 'form--field',
                            data: {
                              'filter-autocomplete': true,
                              'filter--filters-form-target': 'filterValueContainer',
                              'filter-name': filter.name
                            }
  %>
</div>
