<label class="advanced-filters--filter-value"
       data-filters-target="filterValueContainer"
       data-filter-name="<%= filter.name %>">
  <%= angular_component_tag 'spot-switch',
                            inputs: {
                              name: "v-" + filter.class.key.to_s,
                              checked: filter.values.first == 't',
                              filterName: 'boolean',
                            }
  %>
</label>
<div class="advanced-filters--filter-operator" style="visibility: hidden"></div>
