<button class="button -primary"><i class="button--icon icon-add"></i><span class="button--text">Create</span></button>
<button class="button -primary"><i class="button--icon icon-add"></i></button>
<button class="button -primary">Create</button>
<button class="button -primary" disabled>
  <i class="button--icon icon-add"></i><span class="button--text">Create</span>
</button>
<br>

<a href="#" class="button -primary -with-icon icon-add">Create</a>
<a href="#" class="button -primary">Click to create</a>

<input type="submit" class="button -primary" value="Submit to create"/>
<input type="submit" class="button -primary" value="Do not create" disabled />
