<button class="button"><i class="button--icon icon-watched"></i><span class="button--text">Watch</span></button>
<button class="button"><i class="button--icon icon-watched"></i></button>
<button class="button">Watch</button>
<button class="button" disabled>
  <i class="button--icon icon-watched"></i><span class="button--text">Watch</span>
</button>
<br>

<a href="#" class="button -with-icon icon-watched">Watch</a>
<a href="#" class="button">Click to watch</a>

<input type="submit" class="button" value="Submit to watch"/>
<input type="submit" class="button" value="Do not watch" disabled />
