<button class="button -primary"><i class="button--icon icon-checkmark"></i><span class="button--text">Apply</span></button>
<button class="button -primary"><i class="button--icon icon-checkmark"></i></button>
<button class="button -primary">Apply</button>
<button class="button -primary" disabled>
  <i class="button--icon icon-checkmark"></i><span class="button--text">Apply</span>
</button>
<br>

<a href="#" class="button -primary -with-icon icon-checkmark">Apply</a>
<a href="#" class="button -primary">Click to apply</a>

<input type="submit" class="button -primary" value="Submit to apply"/>
<input type="submit" class="button -primary" value="Do not apply" disabled />
