<button class="button -highlight"><i class="button--icon icon-checkmark"></i><span class="button--text">Apply</span></button>
<button class="button -highlight"><i class="button--icon icon-checkmark"></i></button>
<button class="button -highlight">Apply</button>
<button class="button -highlight" disabled>
  <i class="button--icon icon-checkmark"></i><span class="button--text">Apply</span>
</button>
<br>

<a href="#" class="button -highlight -with-icon icon-checkmark">Apply</a>
<a href="#" class="button -highlight">Click to apply</a>

<input type="submit" class="button -highlight" value="Submit to apply"/>
<input type="submit" class="button -highlight" value="Do not apply" disabled />
