<h3>Tiny</h3>

<button class="button -tiny"><i class="button--icon icon-star"></i></button>
<button class="button -tiny"><i class="button--icon icon-star"></i><span class="button--text">Tiny</span></button>
<button class="button -tiny">Tiny</button>
<button class="button -tiny -with-icon icon-star">Tiny</button>

<h3>Small</h3>

<button class="button -small"><i class="button--icon icon-star"></i></button>
<button class="button -small"><i class="button--icon icon-star"></i><span class="button--text">Small</span></button>
<button class="button -small">Small</button>
<button class="button -small -with-icon icon-star">Small</button>

<h3>Default</h3>

<button class="button"><i class="button--icon icon-star"></i></button>
<button class="button"><i class="button--icon icon-star"></i><span class="button--text">Default</span></button>
<button class="button">Default</button>
<button class="button -with-icon icon-star">Default</button>

<h3>Large</h3>

<button class="button -large"><i class="button--icon icon-star"></i></button>
<button class="button -large"><i class="button--icon icon-star"></i><span class="button--text">Large</span></button>
<button class="button -large">Large</button>
<button class="button -large -with-icon icon-star">Large</button>
