<button class="button -transparent"><i class="button--icon icon-forums"></i><span class="button--text">Comment</span></button>
<button class="button -transparent"><i class="button--icon icon-forums"></i></button>
<button class="button -transparent">Comment</button>
<button class="button -transparent" disabled>
  <i class="button--icon icon-forums"></i><span class="button--text">Comment</span>
</button>
<br>

<a href="#" class="button -transparent -with-icon icon-forums">Comment</a>
<a href="#" class="button -transparent">Click to comment</a>

<input type="submit" class="button -transparent" value="Submit to comment"/>
<input type="submit" class="button -transparent" value="Do not comment" disabled />
