<span class="inplace-editing--trigger-container">
  <span class="inplace-editing--trigger-link"
        focus-within="'.inplace-edit--icon-wrapper'">
    <span class="inplace-editing--container">
      <span class="inplace-edit--read-value">
        <op-icon icon-classes="icon-context icon-attachment"></op-icon>
        <a
            class="work-package--attachments--filename"
            ng-href="{{ ::attachment.downloadLocation.href || '#' }}"
            download>

          {{ ::attachment.fileName || attachment.name }}
        </a>
      </span>
      <a
          href=""
          class="inplace-edit--icon-wrapper"
          ng-click="$ctrl.workPackage.removeAttachment(attachment)"
          confirm-popup="{{ ::$ctrl.text.destroyConfirmation }}">
        <op-icon icon-classes="icon-delete" icon-title="{{ ::$ctrl.text.removeFile({fileName: attachment.fileName}) }}"></op-icon>
      </a>
    </span>
  </span>
</span>
