<div class="work-package--attachments--files">
  <ul class="form--selected-value--list"
      *ngFor="let attachment of workPackage.pendingAttachments">
    <wp-attachment-list-item [attachment]="attachment" [workPackage]="workPackage"></wp-attachment-list-item>
  </ul>
  <ul class="form--selected-value--list"
      *ngFor="let attachment of workPackage.attachments.elements">
    <wp-attachment-list-item [attachment]="attachment" [workPackage]="workPackage"></wp-attachment-list-item>
  </ul>
</div>
