<span class="inplace-editing--trigger-container">
  <span class="inplace-editing--trigger-link"
        focus-within="'.inplace-edit--icon-wrapper'">
    <span class="inplace-editing--container">
      <span class="inplace-edit--read-value">
        <i class="icon-context icon-attachment"></i>
        <a
            class="work-package--attachments--filename"
            ng-href="{{ ::attachment.downloadLocation.href || '#' }}"
            download>

          {{ ::attachment.fileName || attachment.name }}
        </a>
      </span>
      <a
          href=""
          class="inplace-edit--icon-wrapper"
          ng-click="$ctrl.workPackage.removeAttachment(attachment)"
          confirm-popup="{{ ::$ctrl.text.destroyConfirmation }}">
        <icon-wrapper
            icon-name="delete"
            icon-title="{{ ::$ctrl.text.removeFile({fileName: attachment.fileName}) }}">
        </icon-wrapper>
      </a>
    </span>
  </span>
</span>
