<spot-drop-modal
  [opened]="opened"
  (closed)="opened = false"
  class="op-exclusion-info"
>
  <span
    tabindex="0"
    role="button"
    class="op-exclusion-info--icon"
    (click)="toggleOpen($event)"
    (keydown.enter)="toggleOpen($event)"
    (keydown.space)="toggleOpen($event)"
  >
    <svg info-icon size="small" aria-hidden="true"></svg>
  </span>

  <ng-container slot="body" class="op-exclusion-info--modal">
    <div class="op-exclusion-info--modal">
      <div class="spot-drop-modal--header">
        <div class="spot-drop-modal--header-title">
          {{text.modalTitle}}
        </div>
      </div>
      <div class="spot-drop-modal--content">
        {{text.modalContent}}
      </div>
      <div class="spot-action-bar">
        <div class="spot-action-bar--left">
          <button
            (click)="toggleOpen($event)"
            class="button">
            {{text.buttonClose}}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</spot-drop-modal>
