.boards--listing-group
  display: flex

.boards--listing-item
  flex: 0 0 auto
  width: 200px
  height: 200px
  margin: 10px
  background: #f1f1f1
  border: 1px solid #ccc
  display: flex
  align-items: center
  justify-content: center

  a:hover
    text-decoration: none
    font-weight: bold

  &.-new
    background: #24689F

    a, i:before
      color: white
