<div class="toolbar-container">
  <div class="toolbar">
    <div class="title-container">
      <h2>Title of the page</h2>
    </div>
    <ul class="toolbar-items">
      <li class="toolbar-item">
        <a href="#" class="button -primary">An important button</a>
      </li>
      <li class="toolbar-item">
        <button class="button">Normal button</button>
      </li>
      <li class="toolbar-item">
        <button class="button">
          <i class="button--icon icon-star"></i>
          <span class="button--text">Favourite button</span>
        </button>
      </li>
    </ul>
  </div>
</div>
