<div class="toolbar-container">
  <div class="toolbar">
    <div class="title-container">
      <h2>Dragonball Z characters</h2>
    </div>
    <ul class="toolbar-items">
      <li class="toolbar-item">
        <select name="attribute">
          <option value="" selected></option>
          <option value="super">Super</option>
        </select>
      </li>
      <li class="toolbar-item">
        <input type="text" name="race" placeholder="Race">
      </li>
      <li class="toolbar-item">
        <input type="number" id="level" placeholder="Level">
      </li>
      <li class="toolbar-item">
        <select>
          <option value="" selected></option>
          <option value="vegeta">Vegeta</option>
          <option value="kakarotto">Kakarotto</option>
          <option value="gohan">Gohan</option>
          <option value="piccolo">Piccolo</option>
          <option value="oob">Boo</option>
        </select>
      </li>
      <li class="toolbar-item -icon-only">
        <a href="#" class="button -primary" aria-label="Add" title="Add">
          <i class="button--icon icon-add"></i>
          <span class="button--text">Add</span>
        </a>
      </li>
    </ul>
  </div>
  <p class="subtitle">now with extremely long subtitle: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequatur doloribus suscipit nemo temporibus deserunt alias incidunt doloremque officia rerum, nobis fuga, recusandae voluptatibus voluptatem tenetur repellendus itaque et. Eum.</p>
</div>
