<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) 2012-2023 the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>
<% breadcrumb_paths(nil) %>

<% require 'octicons'%>
<% icons = %w[
   op-arrow-in
   op-attachmentadd
   op-backlogs
   op-baseline
   op-bcf
   op-boards
   op-book-edit
   op-budget
   op-calendar-alert
   op-cart
   op-columns-left
   op-columns-right
   op-copy-to-project
   op-cost-reports
   op-custom-fields
   op-enterprise-addons
   op-file-atom
   op-file-bcf
   op-file-check
   op-file-comment
   op-file-csv
   op-file-doc
   op-file-download
   op-file-edit
   op-file-form
   op-file-presentation
   op-file-sheet
   op-file-text
   op-file-xls-descriptions
   op-glossar
   op-grid-menu
   op-group
   op-hierarchy
   op-ifc
   op-inbox-in
   op-indent
   op-input-disabled
   op-installation-services
   op-kebab-vertical
   op-link-add
   op-list-select-all
   op-logo-gitlab
   op-logo-google-plus
   op-logo-nextcloud
   op-logo-openproject
   op-logo-slack
   op-mail-sent
   op-mark-nextcloud
   op-mention-comment
   op-move
   op-no-hierarchy
   op-outdent
   op-pdf-description
   op-pdf
   op-person-accountable
   op-person-assigned
   op-person-missing
   op-person-remove
   op-phone
   op-printer
   op-read-all
   op-relation-follows
   op-relation-new-child
   op-relations
   op-reload
   op-resizer-bottom-right
   op-resizer-vertical-lines
   op-save
   op-server-key
   op-shortcuts
   op-sort-by
   op-stopwatch-start
   op-stopwatch-stop
   op-team-planner
   op-triangle-delta
   op-view-cards
   op-view-fullscreen
   op-view-list
   op-view-modal
   op-view-split-modal
   op-view-split
   op-view-timeline
   op-work-packages
   op-xls-relations
   op-xls] %>

<% icons.each do |icon| %>
  <%= render(Primer::Beta::Octicon.new(icon: icon)) %>
  <div class="mb-3"></div>
<% end %>
