<div class="toolbar-container">
  <div class="toolbar">
    <div class="title-container">
      <h2>Dragonball Z characters</h2>
    </div>
    <ul class="toolbar-items">
      <li class="toolbar-item toolbar-input-group">
        <div>
          <label for="name">Name</label>
        </div>
        <select name="name">
          <option value="" selected></option>
          <option value="vegeta">Vegeta</option>
          <option value="kakarotto">Kakarotto</option>
          <option value="gohan">Gohan</option>
          <option value="piccolo">Piccolo</option>
          <option value="oob">Boo</option>
        </select>
      </li>
      <li class="toolbar-item toolbar-input-group">
        <div>
          <label for="haircolor">Hair color</label>
        </div>
        <select name="haircolor">
          <option value="" selected></option>
          <option value="black">black</option>
          <option value="green">green</option>
          <option value="red">red</option>
          <option value="yellow">yellow</option>
          <option value="grey">grey</option>
        </select>
      </li>
    </ul>
  </div>
  <p class="subtitle">now with extremely long subtitle: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequatur doloribus suscipit nemo temporibus deserunt alias incidunt doloremque officia rerum, nobis fuga, recusandae voluptatibus voluptatem tenetur repellendus itaque et. Eum.</p>
</div>
