<% sort_first_row = sort_first_row || false %>

<script type="text/javascript">
//<![CDATA[
var table_date_header = $$('#sortable-table th').first();
sortables_init();
<% if sort_first_row %>
  if (table_date_header.childElements().size() > 0) {
    ts_resortTable(table_date_header.childElements().first(), table_date_header.cellIndex);
  }
<% end %>
//]]>
</script>