.op-storage-list
  display: grid
  grid-template-columns: 1fr 180px 100px 240px
  grid-template-areas: "name user provider time" "host user provider time"

  @media screen and (max-width: $breakpoint-md)
    grid-template-columns: 1fr
    grid-template-areas: "name" "host" "user" "time"
    grid-row-gap: 5px

@media screen and (max-width: $breakpoint-md)
  .PageHeader
    border-bottom: 0px
    padding-bottom: 0px
  .Box-header
    .op-storage-list
      grid-row-gap: 0px
