<div class="request-for-confirmation--modal">
  <div class="onboarding--start-modal">
    <div class="onboarding--top-menu">
      <span class="icon-context icon-attention"></span>
      <h2 ng-bind="::text.title"></h2>
    </div>
    <div class="ngdialog-body onboarding--main">
      <p ng-bind="::text.text"></p>
    </div>
    <div class="onboarding--footer">
      <button class="request-for-confirmation--submit-button button -highlight"
              ng-click="confirmAndClose()"
              ng-bind="::text.button_continue"
              ng-attr-title="::text.button_continue">
      </button>
    </div>
  </div>
</div>
