.controller-workflows
  #content-body
    overflow-x: scroll

  turbo-frame#workflow-table
    width: 100%

  #workflows-status-matrix-form-component
    display: contents

  sub-header
    position: sticky
    left: 0
    background: var(--body-background)

#workflow_form
  .generic-table--results-container
    position: relative
    overflow: visible

  .generic-table--container
    overflow: visible

  .workflow-table.generic-table
    // Let space for the turned header
    margin-left: 30px
    width: calc(100% - 30px)

    .workflow-table--current-status
      font-weight: var(--base-text-weight-bold)
      text-transform: uppercase
      font-size: 0.875rem

    td:first-child:not(:has(.workflow-table--turned-header)),
    th:first-child
      position: sticky
      left: -1rem
      background: var(--body-background)
      z-index: 2
      box-shadow: 0 2px 4px rgba(0,0,0,0.08)
      padding-top: 16px

    th:first-child
      z-index: 3

    thead th:first-child
      box-shadow: none

    tbody
      span.workflow-table--turned-header
        white-space: nowrap
        transform: rotate(270deg) translateX(-50%)
        position: absolute
        top: 50%
        left: 0px
        transform-origin: 0 0
        text-transform: uppercase
        font-weight: var(--base-text-weight-bold)
        max-width: 220px
        @include text-shortener

    .generic-table--sort-header-outer:hover
      background: none

#workflow_summary
  td:first-child:not(:has(.workflow-table--turned-header)),
  th:first-child
    position: sticky
    left: 0
    background: var(--body-background)
    z-index: 2
    box-shadow: 0 2px 4px rgba(0,0,0,0.08)

  th:first-child
    z-index: 3

.workflow-save-bar
  position: fixed
  bottom: 0
  left: var(--main-menu-width)
  right: 0
  background: var(--body-background)
  z-index: 100

.workflow-status-dialog-body
  min-height: 480px
