<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2 class="page-layout-only"><%=l(:label_member_plural)%></h2>
<h3><%=l(:label_member_plural)%></h3>

<% if @project.members.count > 0 && users_by_role(50).any? %>
  <div class="members overview" id="users_per_role">
    <p>
      <%= render :partial => "members",
                :locals => { :users_by_role => users_by_role(50),
                             :count_users_by_role => count_users_by_role } %>
    </p>
    <p>
      <% if users_by_role(50).any?{ |role, users| users.count < count_users_by_role[role] } %>
        <%= link_to(l(:'project_page.all'), { :controller => 'my_projects_overviews',
                                              :action => 'show_all_members',
                                              :id => project.id },
                                              :class => "all" ) %>
      <% end %>
    </p>
  </div>
<% end %>
