<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<h3><%=l(:label_news_latest)%></h3>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<% if recent_news.any? && authorize_for('news', 'index') %>
  <div class="news overview">
    <%= render :partial => 'news/news', :collection => recent_news %>
    <p>
      <%= link_to l(:label_news_view_all),
                  {:controller => 'news',
                  :action => 'index',
                  :project_id => project},
                  :class => 'button -highlight' %>
    </p>
  </div>
<% end %>
