<h2 class="page-layout-only"><%=l(:label_news)%></h2>
<h3><%=l(:label_news_latest)%></h3>
<% if @news.any? && authorize_for('news', 'index') %>
  <div class="news box">
    <%= render :partial => 'news/news', :collection => @news %>
    <p><%= link_to l(:label_news_view_all), :controller => 'news', :action => 'index', :project_id => @project %></p>
  </div>
<% end %>
