<h2 class="page-layout-only"><%=l(:label_subproject_plural)%></h2>
<h3><%=l(:label_subproject_plural)%></h3>
<% if @subprojects.any? %>
<div class="subprojects overview">
  <p><%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ") %></p>
</div>
<% end %>
