<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h2 class="page-layout-only"><%=l(:label_subproject_plural)%></h2>
<h3><%=l(:label_subproject_plural)%></h3>
<% if childprojects.any? %>
  <div class="subprojects overview">
    <p>
      <%= childprojects.collect{ |p| link_to(h(p), project_url(p)) }.join(", ").html_safe %>
    </p>
  </div>
<% end %>
