<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<h3><%=l(:label_work_package_view_all_watched)%> (<%= WorkPackage.where(project_id: @project.id).visible.watched_by(@user.id).count %>)</h3>
<% watched_work_packages = WorkPackage.where(project_id: @project.id).visible.on_active_project.watched_by(@user.id).recently_updated.with_limit(10) %>

<%= render :partial => 'work_packages/list_simple', :locals => { :work_packages => watched_work_packages } %>
<% if watched_work_packages.length > 0 %>
<p class="small"><%= link_to l(:label_work_package_view_all_watched), :controller => '/work_packages',
                                                              :action => 'index',
                                                              :set_filter => 1,
                                                              :watcher_id => 'me',
                                                              :sort => 'updated_on:desc' %></p>
<% end %>
