---
title: Icons
---

<%= include_spot_assets %>

# Icons

Icons are used as visual indicators or small illustrations. They provide additional context when necessary.

<span class="spot-icon spot-icon_add"></span>
<span class="spot-icon spot-icon_accountable"></span>
<span class="spot-icon spot-icon_add-link"></span>
<span class="spot-icon spot-icon_contacts"></span>
<span class="spot-icon spot-icon_edit"></span>

## Design notes

Icons should generally not be used on its own without a label, especially on interactive elements, where their function might be ambiguous. 

There are notable examples: if the meaning of the button is abundantly clear without a label and space is limited (or repetitive elements), an icon-only interactive element is possible (for example, the "Mark as read" button on each notification element).

However, icon-only buttons or links should never be used for critical primary functions like Save, Confirm, Remove and Delete. 

## Usage

Icons are a CSS class only. To use them, apply the `spot-icon` BEM block on a generic inline element like `span`.

## Options

There are four pre-defined dimensions for icons: 12×12, 16×16, 20×20 and 24×24. 

The default size is 16×16.

<button class="button">
  Add work package
  <span class="spot-icon spot-icon_add"></span>
</button>

<a href="#" class="spot-link">
  <span>This is a spot-link</span>
  <span class="spot-icon spot-icon_add"></span>
</a>

## Available icons

<%
icons = JSON.parse File.read(Rails.root.join('frontend/src/app/spot/icon-font/icons.json'))
%>

<div class="icons">
<% icons.each do |name| %>
<div class="icons--icon">
  <div class="icons--preview">
    <span class="icons--preview-icon spot-icon spot-icon_<%= name %>"></span>
  </div>
  <div class="icons--name"><%= name %></div>
</div>
<% end %>
</div>;

<style>
.icons {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
}

.icons--icon {
  border-radius: 2px;
  border: 1px solid #eeeeee;
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 120px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 80px;
  max-width: 180px;
  text-align: center;
  padding: 0.5rem;
}

.icons--preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons--preview-icon {
  font-size: 3rem;
}

.icons--name {
  font-weight: bold;
  margin-top: 0.5rem;
}
</style>
