<div class="box">
<h2><%=_('Please login') %></h2>

<%= start_form_tag :action=> "login" %>
<p><label for="login"><%=_ 'Login' %>:</label><br/>
<%= text_field_tag 'login', nil, :size => 25 %></p>

<p><label for="user_password"><%=_ 'Password' %>:</label><br/>
<%= password_field_tag 'password', nil, :size => 25 %></p>

<p><input type="submit" name="login" value="<%=_ 'Log in' %> &#187;" class="primary" /></p>
<%= end_form_tag %>
</div>