<center>
<div class="box login">
<h2><%=l(:label_password_lost)%></h2>

<%= start_form_tag %>

<p><label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label><br/>
<%= text_field_tag 'mail', nil, :size => 40 %></p>

<p><center><%= submit_tag l(:button_submit) %></center></p>

<%= end_form_tag %>
</div>
</center>