<div class="work-packages-embedded-view--container loading-indicator--location"
     [ngClass]="{ '-hierarchy-disabled': !configuration.hierarchyToggleEnabled,  '-compact-tables': compactTableStyle }"
     [attr.data-indicator-name]="uniqueEmbeddedTableName">
  <ng-container *ngIf="tableInformationLoaded">
    <!-- TABLE + TIMELINE horizontal split -->
    <wp-table [projectIdentifier]="projectIdentifier"
              [configuration]="configuration"
              class="work-packages-split-view--tabletimeline-content"></wp-table>

    <!-- Footer -->
    <div class="work-packages-split-view--tabletimeline-footer hide-when-print">
      <wp-table-pagination [hideForSinglePageResults]="true"></wp-table-pagination>
    </div>
  </ng-container>
  <div class="notification-box -error" *ngIf="error">
    <span [textContent]="error.message || error"></span>
  </div>
</div>
