.op-share-wp-modal-body
  &--user-row
    display: grid
    grid-template-columns: auto 1fr
    grid-template-areas: "avatar user_details"
    grid-column-gap: 10px

    &_manageable
      display: grid
      grid-template-columns: 20px auto 1fr auto auto
      grid-template-areas: "selection avatar user_details button remove"
      grid-column-gap: 10px

  &--header
    display: grid
    grid-template-columns: 1fr auto
    grid-template-areas: "counter actions"
    grid-column-gap: 10px
