<div class="op-baseline-legends">
  <span class="op-baseline-legends--filter">{{ text.time_description }}</span>
  <div class="op-baseline-legends--details hidden-for-mobile">
    <span class="spot-icon spot-icon_add op-baseline-legends--details-icon-added"></span>
    <span class="">{{text.now_meets_filter_criteria()}}</span>
    <span class="spot-icon spot-icon_minus1 op-baseline-legends--details-icon-removed"></span>
    <span class="">{{text.no_longer_meets_filter_criteria()}}</span>
    <span class="spot-icon spot-icon_arrow-left-right op-baseline-legends--details-icon-changed"></span>
    <span class="">{{text.maintained_with_changes()}}</span>
  </div>
</div>