<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2018 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>
<div class="tabs">
  <ul>
    <% tabs.each do |tab| %>
      <li><%=
    position_span = you_are_here_info(tab[:name], tab != selected_tab)
    caption = case tab[:label]
    when Proc
      tab[:label].call
    else
      t(tab[:label])
    end
    link_to(position_span + caption, { tab: tab[:name] },
                                       id: "tab-#{tab[:name]}",
                                       class: "tab-show #{(tab == selected_tab ? 'selected' : '')}",
                                       data: { name: tab[:name] }) %></li>
    <% end %>
  </ul>
  <div class="tabs-buttons" style="display:none;">
    <button class="tab-left icon-context icon-arrow-left4"></button>
    <button class="tab-right icon-context icon-arrow-right5"></button>
  </div>
</div>

<%= content_tag 'div',
                render(partial: selected_tab[:partial], locals: { tab: selected_tab } ),
                id: "tab-content-#{selected_tab[:name]}",
                class: 'tab-content' %>
