.op-empty-state
  overflow: auto
  position: relative
  border-left: 2px solid #eee
  border-top: 2px solid #eee
  padding: 0

  &--content
    text-align: center
    width: 100%
    top: 35%
    position: absolute

    &--text
      white-space: nowrap
      color: var(--gray-dark)
      font-size: larger

    &--image
      margin-bottom: 15px