@import "src/assets/sass/helpers"

.op-baseline-modal

  &--header
    display: flex
    justify-content: space-between
    align-items: start
    flex-direction: column
    margin: $spot-spacing-1 $spot-spacing-1 0 $spot-spacing-1
    width: 265px
    color: $spot-color-basic-gray-2

  &--enterprise-title
    color: $spot-color-feedback-warning-dark
    @include spot-body-small (bold)

