<div
    ng-if="$ctrl.workPackage.canAddAttachments"
    ngf-drop
    ng-model="$ctrl.workPackage.attachments.pending"
    ng-model-rejected="$ctrl.rejectedFiles"
    ngf-select
    class="work-package--attachments--drop-box"
    ngf-multiple="true"
    ngf-change="$ctrl.workPackage.uploadAttachments()"
    ngf-max-size="{{ ::$ctrl.maxFileSize }}"
    click-on-keypress="[13, 32]">
  <div class="work-package--attachments--label">
    <i class="icon-attachment"></i>
    <p>
      {{ ::$ctrl.text.dropFiles }} <br>
      {{ ::$ctrl.text.dropFilesHint }}
    </p>
  </div>
</div>
