<div class="toolbar-container">
  <div class="toolbar">
    <div class="title-container">
      <h2 [textContent]="text.title"></h2>
    </div>
    <ul class="toolbar-items">
      <li class="toolbar-item form--field-inline-buttons-container">
        <ng-container *ngFor="let facet of availableFacets">
          <button
            type="button"
            class="button form--field-inline-button"
            [class.-active]="facet === (activeFacet$ | async)"
            (click)="activateFacet(facet)"
          >
                <span
                  class="button--text"
                  [textContent]="text.facets[facet]"
                >
                </span>
          </button>
        </ng-container>
      </li>
      <li class="toolbar-item">
        <button
          type="button"
          class="button"
          (click)="markAllRead()"
        >
          <op-icon icon-classes="button--icon icon-yes">
          </op-icon>
          <span
            class="button--text"
            [textContent]="text.mark_all_read"
          >
          </span>
        </button>
      </li>

      <li class="toolbar-item">
        <a
          class="button"
          [href]="myNotificationSettingsLink"
          target="_blank"
        >
          <op-icon icon-classes="button--icon icon-settings">
          </op-icon>
          <span
            class="button--text"
            [textContent]="text.my_settings"
          >
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
