<fieldset id="filters" *ngIf="filters && filters.current" class="advanced-filters--container">
  <legend [textContent]="text.selected_filter_list"></legend>

  <a *ngIf="showCloseFilter"
     [attr.title]="text.close_form"
     class="advanced-filters--close icon-context icon-close"
     (click)="closeFilter()">
  </a>

  <ul class="advanced-filters--filters">
    <li id="filter_search"
        class="advanced-filters--filter --without-operator">
      <label for="filter-by-text-input"
             class="advanced-filters--filter-name"
             [textContent]="text.filter_by_text"
             [attr.title]="text.filter_by_text">
      </label>

      <div class="advanced-filters--filter-value">
        <wp-filter-by-text-input (filterChanged)="filtersChanged.emit($event)">
        </wp-filter-by-text-input>
      </div>
    </li>

    <li class="advanced-filters--spacer"></li>

    <ng-container *ngFor="let filter of filters.current; trackBy: trackByName ; let index = index">
      <li id="filter_{{filter.id}}"
          query-filter
          [filter]="filter"
          (deactivateFilter)="deactivateFilter($event)"
          (filterChanged)="filtersChanged.emit(filters)"
          [hidden]="isHiddenFilter(filter)"
          class="advanced-filters--filter">
      </li>
    </ng-container>

    <li class="advanced-filters--spacer" *ngIf="isSecondSpacerVisible"></li>

    <li class="advanced-filters--add-filter">
      <!-- Add filters -->
      <label for="add_filter_select" aria-hidden="true" class="advanced-filters--add-filter-label">
        <op-icon icon-classes="icon-add icon4"></op-icon>
        {{ text.label_filter_add }}:
      </label>
      <label for="add_filter_select" class="hidden-for-sighted">
        {{ text.label_filter_add }}
        {{ text.open_filter }}
        {{ text.close_filter }}
      </label>

      <div class="advanced-filters--add-filter-value">
        <select class="advanced-filters--select"
                id="add_filter_select"
                [ngModel]="filterToBeAdded"
                (ngModelChange)="onFilterAdded($event)">
          <option [textContent]="text.please_select" value="" disabled></option>
          <option *ngFor="let filter of remainingFilters"
                  [textContent]="filter.name"
                  [ngValue]="filter">
          </option>
        </select>
      </div>

      <div class="advanced-filters--add-filter-info"
           *ngIf="eeShowBanners">
        <div class="notification-box">
          <div class="notification-box--content">
            {{ text.upsale_for_more }}
            <a href="https://www.openproject.org/enterprise-edition/?op_edtion=community-edition&op_referrer=wp-filter#filters"
               target='blank'
               [textContent]="text.upsale_link"></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</fieldset>
