<%#-- copyright
OpenProject is a project management system.

Copyright (C) 2012-2013 the OpenProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= form_tag({:controller => '/my', :action => "first_login", :back_url => @back_url }, {:method => :put}) do %>
  <h3><%=l(:label_ui, :app_title => Setting.app_title)%></h3>
  <div class="box tabular">
    <%= render :partial => "users/impaired_settings" %>
  </div>

  <%= submit_tag l(:button_save) %>
<% end %>
