@import "src/assets/sass/helpers"

$ian-bg-color: #F9F9F9
$ian-bg-hover-color: #F1F8FF
$subject-font-size: 14px

.op-ian-item
  background: $ian-bg-color
  margin: 0 0 10px 0
  padding: 5px 10px
  font-size: 0.9rem
  border: 1px solid var(--content-default-border-color)
  border-radius: 2px
  // This needs to be set in the itemSize of
  // the virtual scroller
  height: 80px

  &_expanded
    height: auto
    display: grid
    grid-template-rows: auto 1fr
    grid-gap: 0.5rem

  &:hover
    background: $ian-bg-hover-color

  &--row
    @include unset-button-styles
    width: 100%
    display: grid
    grid-template-columns: 50px 1fr 200px 15% 15%
    grid-template-rows: auto $subject-font-size 1fr
    grid-template-areas: "project project project project project" "title title status date buttons" "actors reason reason reason reason"
    grid-gap: 0.5rem
    align-items: center

    @media screen and (max-width: 679px)
      grid-template-columns: 50px 1fr 15% 15%
      grid-template-areas: "project project date date" "title title title title" "actors reason reason reason"

    &_unexpandable
      cursor: default


  &--indicator
    width: 10px
    height: 10px
    margin-right: 0.5rem
    display: block
    background: var(--primary-color)
    border-radius: 50%

    &_read
      background: #AFAFAF

  &--work-package-subject
    font-weight: bold
    &.-read
      font-weight: normal

  &--project
    grid-area: project
    font-size: 0.8rem
    @include text-shortener

  &--project-link
    color: var(--gray-dark)
    // Set line-height to show underline
    // which is otherwise swallowed by overflow
    line-height: 1.1

  &--reason,
  &--date
    color: #7f7f7f

  &--reason-count
    background: #7f7f7f
    color: white
    @include indicator-bubble

  &--title
    grid-area: title
    font-size: $subject-font-size
    @include text-shortener

  &--reason
    grid-area: reason
    @include text-shortener
    max-width: 100%

  &--date
    grid-area: date
    @include text-shortener(false)
    white-space: nowrap
    max-width: 100%
    @media screen and (max-width: 679px)
      justify-self: end


  &--actors
    grid-area: actors
    @include text-shortener

  &--status
    grid-area: status

  &--buttons
    grid-area: buttons
    text-align: right
    align-items: end

  &--button
    margin: 0
