<div
  class="op-ian-item"
  [class.op-ian-item_expanded]="notification.expanded"
  [class.op-ian-item_read]="notification.readIAN === true"
  attr.data-qa-selector="op-ian-notification-item-{{notification.id}}"
  [attr.data-qa-ian-read]="notification.readIAN === true || undefined"
>
  <button
    type="button"
    class="op-ian-item--row"
    [class.op-ian-item--row_unexpandable]="unexpandable"
    (click)="showDetails()"
  >
    <ng-container *ngIf="workPackage$ && (workPackage$ | async) as workPackage; else workPackageLoading">
      <div
        class="op-ian-item--top-line"
      >
        <div class="op-ian-item--status">
          <op-in-app-notification-status [status]="workPackage.status"></op-in-app-notification-status>
        </div>

        <a
          class="op-ian-item--work-package-id-link"
          [attr.title]="workPackage.subject"
          uiSref="work-packages.show"
          [uiParams]="{workPackageId: workPackage.id}"
          [textContent]="'#' + workPackage.id"
          (click)="resourceLinkClicked.emit(workPackage)"
        >
        </a>

        <div
          *ngIf="project"
          class="op-ian-item--project"
        >
          - <a
          class="op-ian-item--project-link" [href]="project.showUrl"
          [textContent]="project.title"
          (click)="projectClicked($event)"
          target="_blank"
        ></a> -
        </div>

        <div
          class="op-ian-item--reason-wrapper"
        >
        <span
          class="op-ian-item--reason"
          *ngFor="let item of translatedReasons | keyvalue; let first = first; let last = last"
        >
          {{ item.key }}<ng-container *ngIf="!last && first !== last">, </ng-container>
        </span>
        </div>

        <span
          class="op-ian-item--reason-count"
          [textContent]="aggregatedNotifications.length"
        ></span>

        <div class="op-ian-item--buttons">
          <i
            *ngIf="!notification.readIAN"
            class="op-ian-item--button icon-mark-read"
            (click)="markAsRead($event, aggregatedNotifications)"
          >
          </i>
        </div>
      </div>

      <div
        class="op-ian-item--middle-line"
      >
        <span
          [ngClass]="'op-ian-item--work-package-type __hl_inline_type_' + workPackage.type.id"
          [textContent]="workPackage.type.name">
        </span>
        <span
          [textContent]="workPackage.subject"
          class="op-ian-item--work-package-subject"
          [class.-read]="notification.readIAN"
        >
        </span>
      </div>

      <div
        class="op-ian-item--bottom-line"
      >
        <div
          class="op-ian-item--date"
          [title]="fixedTime"
          [textContent]="relativeTime$ | async"
        ></div>
        <op-principal-list
          class="op-ian-item--actors"
          [principals]="actors"
        ></op-principal-list>
      </div>
    </ng-container>

    <ng-template #workPackageLoading>
      <span
        *ngIf="workPackage$"
        class="op-ian-item--middle-line"
        [textContent]="text.loading"
      ></span>
    </ng-template>
  </button>
</div>
