name: eslint
on:
  pull_request:
    branches:
      - dev
      - release/*
    paths:
      - '**.html'
      - '**.js'
      - '**.ts'

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: opf/action-eslint@v2
        with:
          reporter: github-pr-check
