<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title><%=h html_title %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'jstoolbar' %>
<!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
    </style>
<![endif]-->

<!-- page specific tags --><%= yield :header_tags %>
</head>
<body>
<div id="top-menu">
    <div id="account">
        <% if User.current.logged? %>
            <%=l(:label_logged_as)%> <%= User.current.login %> -
            <%= link_to l(:label_my_account), { :controller => 'my', :action => 'account' }, :class => 'myaccount' %>
            <%= link_to l(:label_logout), { :controller => 'account', :action => 'logout' }, :class => 'logout' %>
        <% else %>
            <%= link_to l(:label_login), { :controller => 'account', :action => 'login' }, :class => 'signin' %>
            <%= link_to(l(:label_register), { :controller => 'account',:action => 'register' }, :class => 'register') if Setting.self_registration? %>
        <% end %>
    </div>
    <%= link_to l(:label_home), home_url, :class => 'home' %>
    <%= link_to l(:label_my_page), { :controller => 'my', :action => 'page'}, :class => 'mypage' if User.current.logged? %>
    <%= link_to l(:label_project_plural), { :controller => 'projects' }, :class => 'projects' %>
    <%= link_to l(:label_administration), { :controller => 'admin' }, :class => 'admin' if User.current.admin? %>
    <%= link_to l(:label_help), Redmine::Info.help_url, :class => 'help' %>
</div>
      
<div id="header">
    <div id="quick-search">
        <% form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
        <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
        <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
        <% end %>
        <%= render :partial => 'layouts/project_selector' if User.current.memberships.any? %>
    </div>
    
    <h1><%= h(@project ? @project.name : Setting.app_title) %></h1>
    
    <div id="main-menu">
        <ul>
            <% Redmine::MenuManager.allowed_items(:project_menu, User.current, @project).each do |item| %>
            <% unless item.condition && !item.condition.call(@project) %>
                <li><%= link_to l(item.name), {item.param => @project}.merge(item.url) %></li>
            <% end %>
            <% end if @project && !@project.new_record? %>
        </ul>
    </div>
</div>

<%= tag('div', {:id => 'main', :class => (has_content?(:sidebar) ? '' : 'nosidebar')}, true) %>
    <div id="sidebar">        
        <%= yield :sidebar %>
    </div>
    
    <div id="content">
            <%= content_tag('div', flash[:error], :class => 'flash error') if flash[:error] %>
            <%= content_tag('div', flash[:notice], :class => 'flash notice') if flash[:notice] %>
        <%= yield %>
    </div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
	
<div id="footer">
    Powered by <%= link_to Redmine::Info.app_name, Redmine::Info.url %> <%= Redmine::VERSION %> &copy 2006-2007 Jean-Philippe Lang
</div>
</body>
</html>
