@import 'helpers'

.op-assignee-board-header
  display: flex

  op-principal
    align-self: center
    padding-right: 5px

  .editable-toolbar-title--fixed
    @include board-header-editable-toolbar-title
